<script>
	import { Column, Grid, Row, Tile } from 'carbon-components-svelte';
	import Sidebar from '$lib/sidebar.svelte';
	import Header from '$lib/header.svelte';
</script>

<div class="wrpr">
	<Tile>
		<div class="readable-text">
			American “Maps of movement” embrace all manner of cartography that enabled or illuminates the
			historical movements of human beings, goods, and other mappable phenomena across, around, and
			from the Americas. They are powerful tools for the studying the history of geographical
			mobility and routemaking as well as economic, social, cultural, intellectual, and political
			life. From sea charts used by maritime explorers to road maps used by motorists to visit
			national parks, maps of movement document the detail and pattern of routes; the pace and
			character of various modes of travel; the imprint of transportation and routes of travel on
			settlement and migratory patterns; the role of commercial marketing and civic boosterism in
			geographical movement; and the role mapping and geographical study have played in
			understanding the earth's surface. American maps of movement have both enabled mobility and
			shaped conceptions of American landscapes and their possibilities.
		</div>
	</Tile>
	<Tile>
		<div class="readable-text">
			Mapping Movement in American History and Culture is a publication of the Newberry Library's
			Hermon Dunlap Smith Center for the History of Cartography. This online archive and companion
			to the study, interpretation, and educational use of American maps of movement features more
			than five hundred high-resolution images of maps drawn from the extensive collections of the
			Newberry Library dating from the sixteenth to the twenty-first century. The archive is fully
			searchable by a variety of topics, including mode and context of travel, map format and genre,
			authors and publishers, geographic area, subject, and date. Accompanying thematic essays and
			image captions by leading scholars in their fields offer a variety of perspectives on the
			history and technology of American travel, transportation, commerce, and communications.
		</div>
	</Tile>
	<Tile>
		<div class="readable-text">
			The production of this site was made possible by a major grant from the Preservation and
			Access Division of the National Endowment for the Humanities, an independent agency of the
			United States Government.
		</div>
	</Tile>
	<Tile>
		<div class="readable-text">
			The editors are deeply appreciative of the intellectual and technical guidance and generous
			and patient support provided by the Northwestern University Advanced Media Production Studio
			(NUAMPS), a professional production team within Northwestern University Information Technology
			(NUIT), Academic & Research Technologies, who undertook the site design, technical
			development, and image capture and processing.
		</div>
	</Tile>

	<h3>How to Use this Site</h3>
	<Tile>
		<div class="readable-text">
			At present thirteen essay modules have been published, with ten more to be added by autumn
			2016. These essays are accessible by clicking on the “essays” button at the top of any page in
			the site. Each of these essays references ten map items from the archive. These are accessible
			from a thumbnail gallery at top right on the essay’s landing page. Clicking on one of these
			thumbnails opens a selection page, with a caption prepared by the essay’s author and a gallery
			of images for the selection, which may include more than one image (for example, of the front
			and back of the selected map). Clicking on any thumbnail or “full metadata” button in the
			gallery opens a high-resolution image that can be panned and zoomed as desired and opened to a
			full-screen image. Clicking on the linked elements of the metadata provides a “back door” to
			the browsing function of the archive. For example, by clicking on “tourism” under Context of
			Travel will take you to a gallery of all maps in the archive associated with tourism.
		</div>
	</Tile>
	<Tile>
		<div class="readable-text">
			It is also possible to browse the archive direct by clicking the “browse” button at the top of
			any page. At first this will open a gallery of all images in the archive. However, browsing
			can be refined by subject, topic, date range, author and publisher by selecting the
			appropriate terms in the menu provided at right. Experimentation with this browsing menu will
			allow you to create browsing galleries associating two or more attributes (for example,
			“tourism” maps published by “Rand McNally & Co.” before 1900). Comments and questions may be
			addressed to: smithctr@newberry.org.
		</div>
	</Tile>
	<h3>Credits and Acknowledgments</h3>
	<div class="acks">
		<Grid padding>
			<Row>
				<Column>
					<Tile>
						All essays in Mapping Movement in American History and Culture were subject to
						double-blind peer review. The editors are grateful for the conscientious work of many
						peer reviews, who must remain nameless.
					</Tile>
				</Column>
			</Row>
			<Row>
				<Column sm={1} md={4} lg={8}>
					<h4>Coeditors:</h4>
					<Tile>James R. Akerman, The Newberry Library (Project Director)</Tile>
					<Tile>Peter Nekola, The Newberry Library</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>Project Advisors:</h4>
					<Tile>Michael P. Conzen, University of Chicago</Tile>
					<Tile>Gerald A. Danzer, University of Illinois at Chicago</Tile>
					<Tile>Ronald Grim, Boston Public Library</Tile>
					<Tile>Jo Guldi, Brown University</Tile>
					<Tile>David Rumsey, Cartography Associates</Tile>
					<Tile>Susan Schulten, University of Denver</Tile>
				</Column>
			</Row>
			<Row>
				<Column>
					<h3>
						Many departments of the Newberry Library cooperated in the creation of this resource,
						including:
					</h3>
				</Column>
			</Row>
			<Row>
				<Column sm={1} md={4} lg={8}>
					<h4>The Newberry Library, Department of Digital Images and Services:</h4>
					<Tile>Jennifer Thom</Tile>
					<Tile>Catherine Gass</Tile>
					<Tile>John Powell</Tile>
					<Tile>Adam Strohm</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>The Newberry Library, Department of Collection Services:</h4>
					<Tile>Linda Ballinger</Tile>
					<Tile>Patrick Morris</Tile>
					<Tile>Jessica Grzegorski</Tile>
					<Tile>Graham Greer</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>The Newberry Library, Editorial Staff:</h4>
					<Tile>Will Gosner</Tile>
					<Tile>Anne E. Cullen</Tile>
					<Tile>Jarrett P. Dunning</Tile>
					<Tile>Kristin Emery</Tile>
					<Tile>Andrew Epps</Tile>
					<Tile>Douglas Knox</Tile>
					<Tile>Maisie O'Malley</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>Editorial Assistants:</h4>
					<Tile>Daniel Greenberg</Tile>
					<Tile>Daniel Jacobs</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>The Newberry Library, Department of Conservation Services:</h4>
					<Tile>Lesa Dowd</Tile>
					<Tile>Linda Kinnaman</Tile>
					<Tile>Barbara Korbel</Tile>
					<Tile>Kaytee Meade</Tile>
					<Tile>Virginia Meredith</Tile>
					<Tile>Becky Saiki</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>The Newberry Library, Department of Information Technology:</h4>
					<Tile>Drin Gyuk</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>This project could not have been undertaken without the support of:</h4>
					<Tile>James Grossman</Tile>
					<Tile>Daniel Greene</Tile>
					<Tile>David Spadafora</Tile>
					<Tile>Diane Dillon</Tile>
					<Tile>D. Bradford Hunt</Tile>
				</Column>
			</Row>
			<Row>
				<Column>
					<h3>
						This project also owes much to the tireless work of the Newberry Library Special
						Collections and General Reading Room Staff.
					</h3>
				</Column>
			</Row>
			<Row>
				<Column sm={1} md={4} lg={8}>
					<h4>Additional materials appear in the archive through the courtesy of:</h4>
					<Tile>Arthur and Janet Holzheimer</Tile>
					<Tile>The British Library</Tile>
					<Tile>The Milwaukee Public Library</Tile>
					<Tile>The United States Army Corps of Engineers</Tile>
				</Column>
				<Column sm={1} md={4} lg={8}>
					<h4>
						The following contributors gifted materials for the project to the Newberry Library:
					</h4>
					<Tile>James R. Akerman</Tile>
					<Tile>Gerald A. Danzer</Tile>
					<Tile>Ralph E. Ehrenberg</Tile>
					<Tile>Peter Nekola</Tile>
				</Column>
			</Row>
		</Grid>
	</div>
</div>

<style lang="scss">
	:global(.wrpr > .bx--tile) {
		background-color: var(--colorLight) !important;
	}
</style>
