<script>
	import bibs from '$data/bibs.json';
	import NumberedList from '$lib/numberedlist.svelte';
	let bibsFlatted = Object.values(bibs)
		.map((f) => f)
		.flat();
	let bibsDeduped = [...new Set(bibsFlatted)].sort((a, b) => (a > b ? 1 : -1));
</script>

<h2 class="footer-header">Full Bibliography</h2>
<NumberedList list={bibsDeduped} />
