/* NEWBERRY VARIABLES */

html {
	--parkGreen: #20543e;
	--tile: #925840;
	--sapphire: #4051a3;
	--lake: #7ec4e2;
	--mulberry: #ad2b5a;
	--lavender: #cdb8d1;
	--midnight: #111a2a;
	--midnight-dark: #0f1724;
	--midnight-light: #162236;
	--sand: #eadcc9;
	--sand-dark: #dbc4a3;
	--granite: #eaebe7;
	--granite-dark: #dadcd5;

	--angleDegs: 210deg;
	--angleDegsReversed: 150deg;
	--distance: 40vw;
	--colorLightOne: var(--sand);
	--colorLightTwo: var(--granite);
	--colorDark: var(--midnight);
	--colorSplash: var(--parkGreen);
}

/* THEMES */

html {
	/* LIGHT */
	--brand-light: var(--parkGreen);

	--text-1-light: var(--midnight);
	--text-2-light: var(--midnight-dark);
	--text-3-light: var(--midnight-light);

	--surface-1-light: var(--sand);
	--surface-2-light: var(--granite);
	--surface-3-light: var(--sand-dark);
	--surface-4-light: var(--granite-dark);

	/* DARK */
	--brand-dim: var(--sapphire);

	--text-1-dim: var(--granite);
	--text-2-dim: var(--granite-dark);
	--text-3-dim: var(--sand);

	--surface-1-dim: var(--midnight);
	--surface-2-dim: var(--midnight-light);
	--surface-3-dim: var(--midnight-dark);
	--surface-4-dim: var(--mulberry);
}

/* DEFAULT */

:root {
	--brand: var(--brand-light);

	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--text-3: var(--text-3-light);

	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
}

/* FONTS */

@font-face {
	font-family: 'flecha';
	src: url('/fonts/FlechaM-Regular.woff');
}
@font-face {
	font-family: 'styrene';
	src: url('/fonts/StyreneB-Regular-Web.woff');
}
@font-face {
	font-family: 'signifier';
	src: url('/fonts/signifier-regular.woff2');
}

h1,
h2,
h3 {
	font-family: 'flecha';
	color: var(--brand);
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 32px;
}
h4,
h5,
h6,
dt {
	font-family: 'styrene';
	color: var(--brand);
}

body,
html {
	font-family: 'signifier';
}

/* THINGS THAT USED TO BE MIXINS */

.wedgie,
body {
	background: linear-gradient(
		var(--angleDegs),
		var(--surface-1) 0vw,
		var(--distance),
		var(--surface-2) var(--distance) 100vw
	);
	background-attachment: fixed !important;
}
.prose a,
.llines {
	color: inherit !important;
	text-decoration: none;
	background: linear-gradient(to right, var(--text-3), var(--text-3)),
		linear-gradient(to right, var(--text-2), var(--text-2));
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}
.prose a:hover,
.prose a:focus,
.llines:hover,
.llines:focus {
	background-size: 0 0.1em, 100% 0.1em;
}

/* ELEVATIONS */

.backgrounds {
	z-index: var(--layer-1);
}
html,
body {
	z-index: var(--layer-2);
}
header {
	z-index: var(--layer-3);
}
.titlebar {
	z-index: var(--layer-4);
}
.miradiv {
	z-index: var(--layer-5);
}

/* GLOBALS */

body,
.content,
.prose,
header {
	position: relative;
}

.no-lines {
	text-decoration: none;
	color: inherit;
}

/* MARKDOWN */

.prose p:not(:is(h3) + p) {
	margin-top: var(--size-7);
}

.prose :is(h2, h3, h4) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
}

.prose :is(ol, ul, dl) {
	list-style-type: none;
	padding-left: var(--size-6);
}

.prose :is(ol, ul) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}
