<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Navigating the Coasts and Seas</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> JOHN CLOUD </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">Introduction</p>
				<p class="body-text">
					The very essence of coast-wise and maritime navigation is evoked in the engraved plate of
					a volcano with an oared boat and sailing ships from the 1820 edition of Abraham Rees’s
					Cyclopaedia in the holdings of the Newberry Library. It was based on an original sketch
					from life in 1797, but it possesses an air of timelessness; people in boats and ships,
					powered by oars and the wind, passing Mount Vesuvius busily going somewhere along a coast
					of a great sea. Yet, as a modern library, the Newberry collections span only the last 900
					to 1,000 years, as they consist of written words and maps and books and sketches on
					parchment, vellum, paper, or the like. The world they present is not timeless at all.
				</p>
				<p class="body-text">
					Before 1,000 years ago, all the oceans and seas of the planet had been explored, except
					the great Southern Ocean surrounding the continent of Antarctica. The shores and many of
					the islands of the Arctic Ocean had been explored and inhabited by peoples using
					magnificently creative technologies to survive in such a challenging environment. People
					had explored the vast reaches of the Pacific Ocean and had populated isolated rocks and
					whole archipelagoes of islands. Migration and trade routes along continental coasts, and
					between continents, had transformed cultures and linked peoples across vast distances into
					networks of trade, and war, and empire. How could people have done this, before “maps” in
					the forms we currently know them, had existed?
				</p>
				<p class="body-text">
					A very long time ago humans everywhere mastered the wandering cosmography of the Sun and
					Moon and planets against the fixed stars, as they experienced them. They noticed the
					patterns of seasonal weather; they knew the systems of tides, even if they didn’t
					necessarily understand them. They saw patterns of migration in the movement of animals,
					fish, and birds, and derived much from those patterns. They recognized ocean currents and
					consistent wind patterns, and gave them names. In general they talked about all these
					matters and remembered the talk, so that generations and millennia of human explorations
					were condensed into layered narratives and accumulated geographies.
				</p>
				<p class="body-text">
					Around 800 CE, Irish monks and Viking warrior-farmers established settlements on Iceland,
					which until that moment had been the largest uninhabited land mass on the planet, apart
					from Antarctica. It is unclear exactly how they navigated to and from Iceland, but they
					recorded the stories of their migration in written chronicles, with words in ink on
					parchment. From about that moment, the era of modern libraries like the Newberry could
					begin. Shortly thereafter came the era so often labeled the Age of Exploration, although
					what that really meant was the Age of Western European Exploration and Empire. We are
					quite familiar now with the narratives, and their counter-narratives. We are less familiar
					with the nascent almanacs and ephemerides, the manuals the positions of specific celestial
					bodies calculated in advance, like the fifteenth century Portuguese Regiment of the Sun,
					which allowed mariners possessing the manuals and requisite instruments on their ships to
					calculate their latitudes daily with remarkable precision, for the era.
				</p>
				<p class="body-text">
					And an even more interesting set of stories unfolds when we advance to the cusp between
					the seventeenth and eighteenth centuries, the times of Edmond Halley and Isaac Newton,
					when the techniques of nascent modern science were applied to the ancient arts and skills
					of navigation. This essay is an illustrated introduction to these stories, including a
					small set of the myriad actors and institutions that addressed earthly position and
					navigation between positions systematically. Along the way they invented whole classes of
					instruments and associated tables and techniques, and they standardized time, the
					implications of which have transformed both human society and human perceptions of the
					cosmos. Hence, we begin this essay on marine navigation not with a nautical chart, but
					rather a chart which would forever structure all subsequent nautical charts and mappings
					of every kind.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Many Returns of Edmond Halley</h2>
				<p class="body-text">
					Edmond Halley (1656-1742) for whom Halley’s Comet was named, was a giant in the history of
					scientific observation, and also the visualization of conclusions derived from such
					observations. Notice, to begin, that what we call the Atlantic Ocean Halley divided into
					two basins, western and southern. The western basin, also called the North Atlantic, had
					been traversed for many centuries at that point, and the use of magnetic compasses had
					become ubiquitous. It had been apparent since their beginnings that compasses did not
					generally point accurately toward true north, and the patterns of variation also became
					gradually known. It was Christopher Columbus, in his first voyage, who first observed the
					change in magnetic variation switch from west to east of true north. The southern ocean,
					or South Atlantic, was known primarily only along the edge of Africa and along specific
					cross-ocean trade routes related to the great commerce in human slaves between western
					Africa and the New World. In 1698, and 1699-1700, Halley commanded the Royal Navy ship
					Paramour in explorations of the southern ocean, in what was the very first British
					scientific voyage. The patterning of compass magnetic variations (variations east and west
					from true north) that Halley discovered, he presented in 1701 in his first, and the very
					first, use of isogonic lines in Western cartography. “Isogonic” lines link areas in which
					a certain value is the same. Contours of elevation on a hiking map, or contours of depths
					of the ocean bottom offshore from a beach are similar to Halley’s isogonic lines of equal
					degrees of magnetic deviation east and west from true north. This particular chart of
					magnetic variation is from the revised second edition of Halley’s chart, published in
					1732. The earth’s magnetic field changes very slowly and steadily, a process called
					“secular variation,” and the variation had changed enough by decades later that Halley
					updated his chart.
				</p>
				<p class="body-text">
					Halley’s revised magnetic variation chart was published in the 1732 edition of The English
					Pilot, which was begun by John Seller, Sr. (1630-1697) in 1675. Seller, as a bookseller
					and printer, atlas compiler, and Hydrographer to the King, was a giant in the
					establishment of printed aids to nautical navigation, beginning in 1669 with his treatise
					Practical Navigation: or, An introduction to that whole art. Containing I. Several
					definitions in geometry, astronomy, geography, and navigation. 2. A new and exact
					kalender, etc. The English Pilot in some form has been continuously in print to the
					present day. The 1732 edition contained, besides the revised magnetic variation chart,
					Halley’s "A Correct Map of the Coast of New England." The continental and island shore
					lines are shown in an equirectangular projection called the plate carré, which has
					significant distortions, but for relatively small areas, such as offshore from New
					England, the distortions are manageable. Some areas of the ocean display soundings, from
					the old French word “sonder,” meaning to measure. The numbers on the water referring to
					the water depth at that spot, derived from sounding the bottom with lead weights on ropes
					marked by increments of length. There is a compass rose in the approximate center of the
					ocean expanse. The compass rose is closely related to the wind rose; both are devices
					tracing back centuries, to assist in plotting ships’ courses relative to the 32-point
					“rose,” or divisions of the 360-degree circle. Shallow shoal areas, such as the Georges
					Bank east of Cape Cod, are marked and sounded, as these were extremely important fishing
					grounds, essential to commerce on both sides of the Atlantic. Boston, the most important
					harbor in eastern North America at the time, is shown in great detail in an inset map in
					the upper left corner. Notice as well what is not presented: any indication of Native
					American lands or waters, nor any French land or sea claims.
				</p>
				<p class="body-text">
					Much transpired between the last chart and the next one, principally a series of wars
					between France and Great Britain, with and against Native Americans as well, in complexly
					changing alliances, and the American Revolution, and the beginnings of the Industrial
					Revolution. Through it all, complex trade across the Atlantic involving raw materials,
					finished commodities, slaves, immigrants, and currencies, drove societies on all sides of
					the ocean basin.
				</p>
			</section>
			<section>
				<h2 class="section-header">The American Progression</h2>
				<p class="body-text">
					In 1796, Edmund Blunt the Elder (1770-1862), who had been a bookseller in Newburyport,
					Massachusetts, became a book publisher, printing his first edition of The American Coast
					Pilot, which was modeled on (and partially stolen from) The English Coast Pilot, a
					publication related to The English Pilot, and basically addressing the divisions between
					coast-wise and maritime navigation discussed at the beginning of this essay. Blunt formed
					an alliance with a Captain Lawrence Furlong, about whom little is known, except for the
					obvious fact that Furlong was a master mariner, with detailed and accurate knowledge of
					the North American coast from Labrador to the Caribbean. Blunt’s work was extraordinarily
					successful, and new improved editions followed quickly. Sometime around 1800, Blunt began
					a partnership with Nathaniel Bowditch (1773-1838) who was a mathematical prodigy and
					master of navigational sciences born into an ancient seafaring family in Salem,
					Massachusetts. They schemed to create a new, improved edition of another British
					navigational authority, The New Practical Navigator, being an Epitome of Navigation, which
					had been written by John Hamilton Moore (1738-1807), who was a skilled British
					mathematician and innovator in navigational techniques. Furlong’s American Coast Pilot was
					primarily addressed to coast-wise navigation along the American coast, and the intricacies
					of sailing in and out of complex harbor channels, etc. Moore’s Epitome of Navigation was a
					general treatise on celestial navigation, determining latitude and longitude at sea by
					reference to astronomical positioning, and particularly to improved methods to determine a
					ship’s longitude, by use of tables of the projected positions of the Moon at specific
					future times and dates as experienced at the Royal Observatory at Greenwich. These were
					presented in The Nautical Almanac and Astronomical Ephemeris, established in 1767 by the
					Astronomer Royal Nevil Maskelyne (1732-1811). By knowing Greenwich Time at a specific
					instant, and knowing as well the local time at the same instant, the time difference
					between Greenwich and the local position could be translated easily into a difference in
					longitude between Greenwich and the local position. Unfortunately, the calculations
					involved in creating the tables were difficult, and subject to numerous errors, which then
					translated into errors in position. Nathaniel Bowditch was a mathematical savant, who
					could spot errors and do calculations in his head. Bowditch also figured out tables to
					simplify or eliminate many of the numerous corrections and adjustments which had to be
					made to the apparent lunar positioning in order to determine longitude accurately.
				</p>
				<p class="body-text">
					All this culminated in 1802, with Blunt’s publication of Bowditch’s New American Practical
					Navigator, which was recognized almost immediately as a major contribution to ocean
					navigation. Each succeeding edition of “the Bowditch” as it has become known, introduced
					new materials, especially maps and charts, such as this 1807 Chart of the Atlantic Ocean.
					Like Halley’s chart from nearly a century earlier, the chart features a compass rose in
					the approximate center of the Western Ocean, or North Atlantic. The chart also has some
					arrows showing consistent ocean current direction, and a great arc, named as “The Trade
					Wind” which is more accurately described as the course of the Gulf Steam flowing from the
					south and then east towards the coast of northwestern Europe. The chart also shows the
					track of a ship’s voyage from Boston Harbor into and along the great arc, and then
					directly east to the Portuguese island of Madeira, southwest of the Iberian Peninsula.
					That journey was accompanied by a complete journal of the process of navigating from
					Boston to Madeira, written to illustrate most or all of the navigational techniques
					presented by Bowditch. In that era, there were copyright laws in force in both Great
					Britain and the United States, although they varied from our present legal conceptions of
					copyright a good deal. But in any case, a way of making the case that a new edition of
					somebody else’s book didn’t violate copyrights to the book was to make additions and
					improvements to it. The original British editions of Moore’s New Practical Navigator
					taught his navigational techniques through a journal of a voyage from London to the island
					of Tenerife, in the Canary Islands off the coast from the western Sahara in Africa.
					Bowditch’s version voyaged from Boston to Madeira, and hence was “new, and improved!”
				</p>
				<p class="body-text">
					The 1807 edition of “the Bowditch” also includes illustrations of the three major
					instruments of navigation as used in the western tradition in that era: (1) The mariners
					compass, with its 32-point divisions, known as the compass rose, here mounted on gimbals
					in a box, to compensate for the rocking movements of the ship; (2) equipment to determine
					the speed of the ship, consisting of an hourglass for timing, and a spool on which line
					can be wound, and a “log”, which when thrown overboard off the back end of the ship
					attached to the line, will tend to stay in the same place in the water, while ship moves
					forward and the line runs out, until the moment the hourglass empties. The length of the
					line unrolled during the time of the hourglass can then be converted into an estimate of
					the speed of the ship; and (3) two versions of the general class of angle-measuring
					instruments called, generally, quadrants. Isaac Newton (1642-1727) actually devised the
					concept for a celestial angle measuring device using double-reflecting mirrors, a
					description of which he gave to Edmond Halley. This was not published until after Halley’s
					death in 1742, by which time a British mathematician, John Hadley (1682-1744), and an
					American optician and inventor, Thomas Godfrey (1704-1749) had, about 1730, independently
					invented their own versions of the instrument. Well into the next century, the instruments
					were commonly known as Hadley’s quadrants. In the Bowditch image, the instrument on the
					left is described as a quadrant, although it is more properly an octant, as its curved arc
					represents an eighth, or forty-five degrees, of a circle. The instrument in the right is a
					sextant, with an arc of sixty degrees, or a sixth of a circle. With this general class of
					instrument, it is possible to measure the angle between two celestial objects reasonably
					accurately, by night, from the deck of a moving ship, which is an extraordinary
					achievement. This triad of instrument systems for determining the direction, speed, and
					position of a ship became universal in the western traditions of navigation until the
					twentieth century and the advent of radio systems and electronic instruments. Even now, in
					the absence of electronics, the triad still works well.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Era of Powered Craft</h2>
				<p class="body-text">
					The next major development in coast-wise and maritime navigation is actually one of the
					most important developments on this subject in human history: Ship propulsion by non-human
					power. Until about the 1780s, all coast-wise and maritime navigation involved boats and
					ships like those in Plate One, propelled by human labor, and/or wind and currents. With
					the invention of steam engines, originally designed for very terrestrial work in mines and
					quarries, it soon became clear that propulsion of boats and ships by engines would
					transform travel over water. After many failed or unsatisfactory attempts, inventors on
					both sides of the Atlantic Ocean developed successful steam-powered craft in the 1780s.
					Steamboats began in coast-wise navigation, as the early ones weren’t capable of voyaging
					on the open ocean. Rapid improvements in all aspects of the ships’ design, as well as
					improvements in engines, soon changed this. The steamboat presented in Rees’s Cyclopaedia
					in 1819 was designed for use in relatively shallow and relatively calm water, as in a lake
					or on canals, or coastal waters, indicated by the flat keel and propulsion by paddle
					wheel, which limits contact with shallows, rocks and other underwater impediments to
					navigation. The craft appears to be a passenger-carrying vessel, with cabins with lots of
					windows and a fenced deck for sightseeing. Notice the hybrid nature of the vessel,
					combining the latest technology, a steam engine, with square sails for sailing with the
					wind, the very oldest type of sail. Below the boat are two different steam engine designs,
					both of which turn the energy released in steam into revolutions of a giant wheel, from
					which different applications can take off power for different purposes.
				</p>
				<p class="body-text">
					Steamships could travel when there was no wind, and could be driven directly into the
					wind, which had never before been possible. Further, without the need for sails, or at
					least needing fewer, steamships could travel more upright in the water, not heeling over
					as sailing ships must. The result of all these changes was that steamships quickly became
					the most important tool in producing maritime charts and other aids for all types of
					coast-wise and maritime vessels. The best conditions for hydrography are when the sea and
					winds are calm. Sailing vessels cannot function then, but steamships can travel and serve
					as platforms for work efficiently. Their very efficiency created much more detailed charts
					of coastal features, since steamships could “hug the coast” while traditional sailing
					ships stayed much further offshore from the coast to have a margin of safety. The American
					Pacific Coast was the first major section of coast surveyed and mapped expressly to
					accommodate steamships. At the same time, steamships require fuels and clean fresh water
					for steam, the search for which constrained ships’ crews and their schedules in ways never
					imagined before the transition to powered craft. But the change, once it began, became
					almost total. Today powered craft completely dominate world navigation, with human and
					wind-powered craft confined to small and especially recreational craft, and to the boats
					of the poor and marginal.
				</p>
				<p class="body-text">
					In essence, the published coast pilots were expert detailed verbal descriptions of
					specific places along the coast, and how to enter and exit them, and important issues and
					concerns while doing so. The new practical navigators were sets of tools and techniques,
					and useful charts and tables, to help navigators establish their positions accurately and
					precisely. The “modern” system of nautical charts, which actually began along the North
					Sea coasts in the fifteenth, sixteenth, and seventeenth centuries, was a fusion of the two
					approaches. The foundation for the charting was a rigorous geodetic network of
					triangulated stations along the coast, which served as the positional framework for
					mapping out on the water. Nearshore positions in a boat could be determined geometrically
					in relation to sets of signal flags and other markers. At the same time the crews of the
					boats were sighting the angles between themselves and sets of the flags, others could take
					lead-line soundings to establish the water depth at that spot. All of this data could then
					be checked and correlated, and charts prepared, with horizontal positioning from the
					signal flag work, and vertical water depths through the soundings, all controlled by the
					relative accuracy of the geodetic network “backbone.” The accurate horizontal positioning
					this made possible then aided the production of accurate visual profiles and coastal views
					of landforms and harbor entrances to assist and warn mariners.
				</p>
				<p class="body-text">
					In 1807, Ferdinand Hassler (1770-1843), a Swiss immigrant scientist, successfully
					persuaded President Thomas Jefferson to use this technique for the American Survey of the
					Coast, authorized by Congress. The Survey’s early history was rocky and contentious, but
					by about 1834 Hassler’s system was deployed in force. Once four years later, in 1838, the
					Coast Survey commissioned a commercial printer to produce the very first chart of the
					Survey of the Coast, New Haven Harbor. This harbor chart is very provisional compared to
					charts of a decade later, but Hassler’s methods are clearly displayed. Hassler pioneered
					working simultaneously on mapping the topography of the land, and the hydrography of the
					waters, tying them both together through the same sets of signal flags mounted along the
					shore. The spider webs of lines of number in the harbor are the lines of travel of the
					hydrographic boats, with the position of the numbers representing the horizontal positions
					of the boats, and the numbers themselves represent the depths of the water at precisely
					those spots. The marshes, woodlands, farmed fields, and houses on the land were positioned
					by the same triangulation process as used for the hydrography, and topography and
					hydrography ultimately controlled horizontally by the master geodetic network Hassler
					established. There were two systems for vertical heights and depths, both based on the
					tidal systems of the harbor. The legend reports “the greatest tide observed in two
					Lunations,” or two complete lunar months, which gives some indication of the length of
					their fieldwork at the harbor. Heights on the land were based on a level of mean high
					tide, so that everything above that level was “land”, at least most of the time. The
					hydrographic depths were based on the level of mean low tide, so that depths mapped were
					at least that deep, most of the time. With a few changes and improvements, Hassler’s
					methodologies displayed in the New Haven Harbor chart continued for most of the next
					century, until airplanes and aerial photography, and boats equipped with sonar depth
					finder changed nautical charting again.
				</p>
				<p class="body-text">
					On first glance, the Travelers Pocket Map of Ohio with its canals, roads and distances, by
					stage & steam boat routes (New York, 1833), may seem anomalous in an essay on coast-wise
					and maritime navigation, but it is closely related to what came before, and reflects the
					fresh transformations in travel by boat and ship underway. All steam engines required fuel
					for their boilers and clean water for steam. The engines were made primarily of iron and
					steel, and slowly more and more ships were “iron-bottomed” too. Close available stocks of
					firewood and iron ore and coal were rapidly depleted, leading to a relentless search for
					these resources ever farther away. The “inland seas” of the Great Lakes, in particular,
					offered ships access to vast stores of metal ores, coal, chemicals and salts necessary to
					the Industrial Revolution. But there were choke-points on the waterways, particularly
					rapids and waterfalls, like Niagara Falls. The solution was to build canals around
					obstructions, and canals to supply more direct access to sources of bulk commodities, and
					link them to river transport, and ever larger steam ships on the Great Lakes. All these
					systems ultimately were connected to the maritime shipping systems previously developed.
					Hence it made perfect commercial sense for Edmund Blunt the Elder, the publisher of the
					American Coast Pilot and the New American Practical Navigator, to publish a guide to roads
					and canals in Ohio, and the shipping routes of bordering Lake Erie, and to do so in the
					form of a small, convenient pocket-sized volume. Blunt also published The Stranger’s Guide
					to the City of New-York (London, 1818), a volume which still tantalizes and delights.
				</p>
			</section>
			<section>
				<h2 class="section-header">The World Nearing Whole</h2>
				<p class="body-text">
					By the middle of the nineteenth century, Western ships and their crews were sailing and
					steaming in all oceans and almost all coasts, except for the shores of Antarctica. Popular
					and scientific interest in these voyages was high, and a number of geographical societies
					and important geographic journals were established. In 1851, the American Geographical and
					Statistical Society was founded in New York City (“statistical” was later dropped from its
					title). In 1854, August Petermann founded Petermanns Geographische Mitteilungen, a journal
					of geography and cartography, in Gotha, Thuringia, in what later was to be central
					Germany. Petermann and his craftsmen were experts in lithography and especially
					chromo-lithography, the art of lithographing in co-registered color. Their skills quickly
					made Petermanns the premier geographic journal on the planet. An examination of a single
					annual volume for the year 1859 yields three maps that convey the frontiers of maritime
					navigation in that year, in multiple senses. The maps are stratified by the three bands of
					latitude they present: The tropics, the broad temperate zone, and the Arctic.
				</p>
				<p class="body-text">
					The tropical map presents a historic political and legal framework unfamiliar to most
					Americans: The great archipelago of islands constituting American Polynesia. The context
					is this: by the 1840s, American supplies of phosphate rock, a relatively scarce yet
					critical chemical material used in gunpowder and for fertilizer, were running out. Bird
					guano, deposited over eons on exposed rocks and islands in the oceans, became a substitute
					for mined deposits of phosphate rock. Many of these rocks and islands were located in
					extremely remote places, which is in part why they were favorable sites for nesting birds.
					In 1856, Congress passed the Guano Islands Act, which stated: “Whenever any citizen of the
					United States discovers a deposit of guano on any island, rock, or key, not within the
					lawful jurisdiction of any other Government, and not occupied by the citizens of any other
					Government, and takes peaceable possession thereof, and occupies the same, such island,
					rock, or key may, at the discretion of the President, be considered as appertaining to the
					United States.” Only three years later, many dozens of such rocks and islands and keys in
					the Caribbean Sea and Pacific Ocean had been claimed as territories of the United States,
					and hence a broad curvy line encircles a portion of the vast archipelago of islands and
					reefs straddling the Equator. Note that this 1859 conception of American Polynesia did not
					include American Samoa, which is a portion of the Samoa cluster of islands in the center
					of the map directly south of the boundary of American Polynesia. American claims to Samoa
					came later, between 1887-1889, in a great crisis between the United States and the British
					and German Empires.
				</p>
				<p class="body-text">
					In 1859, the United States and Great Britain were involved in contention and disputes over
					territorial claims in the great band of temperate latitudes, on the Pacific coast at the
					boundary zone between Washington Territory in the United States, and the Colony of British
					Columbia in Canada, then still claimed by Great Britain as British territory. The
					terrestrial portion of the boundary between the nations was mutually agreed to be the 49th
					Parallel of latitude, but agreements dissolved at the Pacific water’s edge. Great Britain
					and the United States agreed that all of Vancouver Island was British, although it
					extended south of the 49th Parallel. But there are a myriad of islands in between
					Vancouver Island and the mainland of the continent; to whom would they belong? The Haro
					Archipelago, or San Juan Islands, was at stake. As the map in Petermanns clearly reveals,
					the rival national boundary claims are actually two major ship routes in between the
					Strait of Juan de Fuca on the south, and the Georgia Strait on the north. Hence, the
					national claims to territory on land were based on different pathways of ships in the
					water around the land. Eventually Great Britain acceded to the American claims, and the
					San Juan Islands are part of the state of Washington in the United States.
				</p>
				<p class="body-text">
					Moving now to the Arctic, we can examine a map and another inset map defining one of the
					most celebrated tragedies of exploration in the nineteenth century. For centuries,
					European explorers had searched for a conjectured “Northwest Passage” which would lead
					from the western Atlantic Ocean further northwest to enter the Pacific Ocean, allowing
					travel by water at temperate latitudes, with minimal disruptions and hazards from ice.
					None of their explorations were successful, although in the effort they “discovered” major
					portions of what is now Canada, almost all of which had already been explored and settled
					by native Athabascan, Micmac, Algonquin, Iroquois, and Inuit and other peoples.
					Eventually, Sir John Barrow, who was Second Secretary of the British Admiralty from 1804
					until 1845, proposed that Great Britain should search for a much more northerly Northwest
					Passage, which would link the more northern Atlantic Ocean to the Arctic Ocean,
					essentially going over the top of most of Canada, and then onto the Pacific Ocean through
					the Bering Strait. Eventually Barrow settled on Sir John Franklin to command the
					expedition to find the passage. He commanded the officers and men of two ships, HMS Terror
					and HMS Erebus, which had been built for duty exploring the fringes of Antarctica, and
					were well equipped for Arctic service. Each had a steam engine designed and built for
					British railroads, along with steam-heat for the crew, and ships’ libraries with more than
					a thousand books. They departed England in May, 1845. Apart from Franklin and the captain
					of the other ship, and an assistant surgeon and two ice-masters, none of the other 129 men
					had any experience at all in the Arctic. Off they steamed, and then they disappeared.
					After two years had passed, the British public, and also Mrs. Franklin, urged the
					Admiralty to send teams to search for the party and learn their fate. The search for the
					fate of Sir John Franklin became one of the cultural touchstones of the era. Many
					expeditions were launched, and over time, clues were found. The 1859 Petermanns map
					indicate the major findings as of that date, although the “search for Sir John Franklin”
					continued well into the twenty-first century, and is still in progress. The map on the
					left shows the known route of the expedition until it turned back south. The two dotted
					paths were the speculative routes necessary so that ships’ survivors could have arrived on
					the small islands in McClintock Sound where significant remains and clues were found. The
					map on the right, at a much larger scale, shows the final area and its context. It also
					demonstrates that waves of searchers managed to ignore native Inuit place names, if they
					even knew them in the first place, and instead they littered the landscape with their own
					names.
				</p>
				<p class="body-text">
					Less than three decades after Franklin steamed off to his dreadful fate, another Arctic
					expedition disappeared into the white void for two years, but returned as a triumphant
					success. The differences between the two expeditions include better luck and better
					provisions, but also the changes underway in the very purposes and goals of exploration by
					ship in extreme Arctic and Antarctic environments. In 1872, the Austro-Hungarian North
					Pole Expedition, which was privately funded by several wealthy noble families in
					Austria-Hungary, steamed into the Arctic Ocean in summer aboard a small fleet of ships,
					the main one of which was the Tegetthoff, a three-masted schooner with a powerful steam
					engine. The two leaders, Captain Karl Weyprecht and Julius von Payer, were skilled
					scientists, and the small crew included many specialists in meteorology, astronomy,
					geodesy, and terrestrial magnetism. The Tegetthoff sailed north, discovering the Franz
					Josef Archipelago of Arctic islands before the ship was caught in pack ice. For almost two
					years, the ship was stuck in the ice, although the pack ice moved, as they were able to
					measure by determining their positions astronomically. In May, 1874, the party determined
					to abandon the ice-locked ship and return south over the ice, with sledges carrying small
					boats to be used once they reached the margins of the ice pack. They actually accomplished
					this, and on August 14, 1874, they reached the open ocean. On September 3, they reached
					the Russian mainland, having sailed and rowed across more than a hundred miles of the open
					Arctic Ocean. They returned to Vienna, the capital of the Austro-Hungarian Empire, as
					heroes. Members of the expedition published many reports on various scientific
					observations from the voyage, and their productivity was a spur towards the creation of a
					great collaborative scientific project, the International Polar Year, in 1882-83. The
					voyage of the Tegetthoff was in many ways the beginnings of modern polar science.
				</p>
				<p class="body-text">
					A related application of maritime navigation to the earth sciences can be seen in Otto
					Krümmel’s pioneering map of the Sargasso Sea, at the center of the North Atlantic
					Subtropical Gyre, published in Petermanns in 1891. The Sargassum Sea is named for
					Sargassum, a genus of brown algae, and especially Sargassum bacciferum, which grows in
					abundance in the lens of warm water pushed in on top of permanently colder water below by
					the actions of the subtropical gyre which surrounds the Sea. A look back at Bowditch and
					Blunt’s 1807 chart showing “The Trade Wind,” compared to Krümmel’s map, shows the
					relationship between an arm of the gyre and the Sargasso Sea. The dense Sargassum drifts
					in the Sargasso Sea serve as nurseries for the larvae of both American and European eel
					species, and as protective habitat for young endangered loggerhead sea turtles, as well as
					many other sea creatures. On the map, the dark cross-hatched strands which are largely
					vertical or horizontal represent the mappings that the great German scientist Alexander
					von Humboldt made of what he called “Fucusbänke,” the long windrow-like concentrations of
					Sargassum as he found them. Krümmel, by contrast, mapped his own perceptions of the
					distribution of Sargassum in tints of vivid green “by the aid of steam,” as the
					Proceedings of the Royal Geographical Society reported on Krümmel’s 1891 publication in
					Petermanns. By this, they refer to Krümmel’s main data source, which were the logs of many
					German steam ships that recorded the presence and densities of Sargassum as they steamed
					across the Atlantic. Krümmel synthesized the mass of data to make the first reasonably
					accurate map of the Sargasso Sea. His enterprise was published in 1891; in a certain sense
					it is an early example of maritime crowdsourcing.
				</p>
			</section>
			<section>
				<h2 class="section-header">Sound in the Water like Light in the Air</h2>
				<p class="body-text">
					Ferdinand Hassler’s Survey of the Coast became the US Coast Survey, and in 1878 was
					renamed the US Coast and Geodetic Survey, although the Survey was clearly “geodetic” from
					the beginning. The Survey began working cooperatively with the Kingdom of Hawaii in 1871,
					long before the “annexation” of the Kingdom into the United States. But the Survey’s
					mandate included mapping the territorial waters of the nation, so from about 1900 on,
					first the Survey, and now NOAA, the National Oceanic and Atmospheric Administration, has
					produced nautical charts of the Hawaiian Island, which is really a great arced archipelago
					of volcanic islands and fringing coral reefs. The 1934 version of the Survey’s chart of
					the Hawaiian Islands displays many features of the profound changes in mapping and
					navigational technologies that were introduced in the early twentieth century.
				</p>
				<p class="body-text">
					In 1901, the Submarine Signal Company was formed to produce underwater bells for the US
					Light Service, to produce horizontally transmitted sound to warn ships of approaching
					dangers. In 1910, the company hired the brilliant inventor-engineer Reginald Fessenden,
					who devised oscillators to magnify the sounds and their ranges. Following the disaster of
					the sinking of the Titanic in 1912, Fessenden and other scientists at the company explored
					using pulses of underwater sound to reflect off icebergs and return to the transmitting
					ship, thereby providing warnings of an iceberg ahead. They discovered, though, that the
					sound would also reflect off the ocean bottom and return to the transmitting ship. Given
					accurate knowledge of the speed of sound transmission through sea water, which is itself a
					complex subject, they realized it would be possible to estimate the depth of the water to
					the bottom below. After the First World War, Herbert Dorsey invented the fathometer, the
					first precise depth finding device. Dorsey joined the Coast and Geodetic Survey, and by
					the late 1920s, the Survey was using fathometers to measure deep water depths rapidly and
					accurately, thereby completely eliminating the need for stopping a Survey ship for
					lead-line soundings of the bottom. The fathometers worked as the ship steamed ahead. The
					pronounced patterning of lines of numbers on the Hawaiian nautical chart represents the
					tracks followed by the Survey ships as they steamed in uniform configurations around the
					main set of islands, or steamed toward and back from isolated islands, such as Palmyra
					Island, south of the main set of Hawaiian Islands. Note as well the influence of radio on
					the Hawaiian chart. The chart shows two radio beacon stations, represented by red circles,
					one on Kauai and one on Oahu. Navy and commercial ships and planes with directional radio
					equipment could “fly the beam” broadcast by the radio beacon to determine their positions
					relative to the stations from far out of sight of the islands.
				</p>
			</section>
			<section>
				<h2 class="section-header">Conclusion</h2>
				<p class="body-text">
					We began this essay on navigating the coasts and oceans of Earth with an engraving of
					human and wind-powered boats offshore from the volcano Vesuvius, and brought it along to
					the stage of a now historic marine chart of the Hawaiian Islands, which used sonar signals
					to determine water depths, the now universal standard for sounding. At this very moment,
					the premier long-distance deep sea voyaging canoe Hōkūle‘a, built by the members of the
					Polynesian Voyaging Society, having left the waters of the Pacific Ocean, crossed the
					Indian Ocean past the Cape of Good Hope of Africa into the Atlantic Ocean, where it is
					visiting ports of call in South and later North America, before crossing the Atlantic to
					Europe, to stop in Portugal and into the Mediterranean Sea to Italy, to the very places
					where the great sea voyages—in the Western tradition—began. The crew of the Hōkūle‘a
					navigate entirely by what many Westerners consider non-instrument wayfinding, bereft of
					all the technologies described and illustrated in this essay. But another way to describe
					their work is that the dome of the sky and the changing waters around them have become
					their instrument. Hōkūle‘a, or the Star of Gladness, refers to the star called Arcturus,
					which is at times a zenith star for the Hawaiian Islands, meaning directly overhead.
					Hōkūle‘a “works” in navigation in relation to the sidereal Star Compass, which is a mental
					construct. In the Star Compass, the visual horizon is divided into thirty-two “houses”
					along the horizon, each of the houses separated from the others by 11.25 degrees of arc,
					forming the complete circle of 360 degrees. But this 32-part division is exactly the same
					as the compass rose, previously discussed, without the use of the compass! So now we come,
					literally, full circle! People can navigate well or badly, and everyone gets lost at
					times, but even so, there are many ways to navigate.
				</p>
			</section>
		</article>
	</div>
</Essay>
