<h1>Moving Pictures: Maps and Imagination in Eighteenth-Century Anglo-America</h1>
<p><em>by: </em><span class="author">(.+)</span></p>

<article>
	<section>
		<p class="body-text">
			In March 1775, William Mylne packed his bags and headed north. A Scottish engineer whose
			bridges had a bad habit of falling down, Mylne tried to start over as a farmer in Georgia only
			to fail at that as well. Hoping for better opportunities in a northern city, Mylne struck out
			across South Carolina on horseback. Coming to a crossroads, the rider consulted a map to
			decide which road to take.
		</p>
		<blockquote class="body-text">
			“I had rode about twenty miles when the road parted in two, I took out a map I had of this
			province to examine which to take, the crumpling of the paper startled the horse, who leaped
			out fairly below me. After I got up I saw him galloping through the woods; at a mile’s
			distance he came out again to the road, a traveller catched him and brought him back. My
			saddle bags in his career had come of[f], I now thought I should be obliged to return as the
			few shirts I had were there. I went into the woods, tracing the tract he had taken as near as
			I could, by the greatest good fortune after an hours search I found them. I now proceeded on
			my journey to Georgetown, which I reached in two days and a half, most of the land all the way
			very indifferent, being pine barren except in some places where there were indigo
			plantations.” (Mylne, 61)
		</blockquote>
		<p class="body-text">
			Mylne’s sad but amusing anecdote belongs near the beginning of a long strain of American humor
			based on travelers getting lost in strange places while struggling to follow a map. It also
			highlights how the eighteenth century witnessed a transition in the ways Europeans made, used,
			and thought about maps of North America. Mylne’s journey revealed the humor involved in a
			culture coming to grips with the distance between the imagined landscapes of maps and the
			lived reality of travel in late colonial America. But the transition was more than just a
			funny story. As Anglo-Americans changed the way they related maps to movement, they set the
			stage for centuries of American mapping to come.
		</p>
		<p class="body-text">
			The eighteenth century marked several important shifts in mapmaking and map use in England and
			its American colonies. Earlier views of cartographic history have marked this century as the
			era when science began its triumph over art in the production of maps in a perfect symbol for
			the larger Age of Reason and Enlightenment. The fanciful decorations of early modern maps
			seemingly vanished as mapmakers increasingly became “cartographers,” that is, devotees of the
			idea that a map’s value and beauty lay in its “objective” depiction of physical and human
			geography in as scientifically “accurate” a manner as possible, or according to the “Newest
			and most exact Observations,” as one mapmaker put it (Herman Moll, below). More recently, as
			scholars of the Enlightenment period have come to identify not a single “Age of Reason”
			descending like a curtain across the minds of Europeans, they have likewise come to revise
			their view of Enlightenment maps. Maps still can be seen as exemplars of Enlightenment, but
			the Enlightenment is not what it used to be. Recent studies have begun to emphasize multiple
			Enlightenments, loosely held together by new ideals of truth that crossed national (and
			sometimes cultural, racial, and gendered) borders but that were always everywhere conditioned
			by local and regional systems of belief. (Harley, 191; Edney, 1999, 165-6; Withers, 1999).
		</p>
		<p class="body-text">
			Eighteenth-century maps were central to these Enlightenment contests and thus reflect the age
			that produced them. In this new idea of Enlightenments, the seemingly blank and plain maps of
			the 1700s come alive with new meanings. In this new light, the maps reemerge as places of
			contest and struggle. Across their seemingly plain surfaces, one can trace contests of
			authority and definition, of legitimation and denial. Indeed, plainness itself was a conscious
			rhetorical move in service of ideological and political aims rather than a self-evident
			necessity. (Edney 1999, 169) In their multiple and not even internally consistent approaches
			to the idea of geographic “truth,” these Enlightenment maps represent a distinct phase within
			the larger history of Euro-American mapmaking quite apart from the earlier so-called
			“artistic” maps of the early modern period and the later, professionalized “scientific”
			cartography of the 1800s. (Edney, 1999, 166)
		</p>
		<p class="body-text">
			Maps of North America are a particularly good source to study the tensions of Enlightenment
			mapping. While the distance between ideal and reality was always great in mapmaking, the
			American gap was perhaps larger than most. Even in Europe, Europeans struggled with the
			ongoing delays between the development of new ideals of “truth” in mapmaking and the
			techniques of measuring the earth required to reach those ideals. But in Europe and elsewhere,
			these mapmakers managed to find new forms of data gathering better suited to the emerging
			politics of the idealized Enlightenment map, supplementing traditional narrative accounts of
			travel and exploration with the techniques of triangulation on land and astronomical
			observation at sea and combined these with the constant corroboration of written sources.
			(Edney, 1999) They did this in France, in Russia, in China, and in the Pacific bringing a new
			idea of mapmaking to the problems of mapping the world (Mapp, 2011, 166-201).
		</p>
		<p class="body-text">
			In North America, however, these new techniques were not easily applied, leaving these new
			ideals of mapmaking to rely on the same old narratives of travelers that they had for
			centuries. In a continent where trained surveyors were few and far between, it is unsurprising
			that, aside from coastal surveys, mapmakers relied heavily on the traditional sources of
			geographic information—travel accounts from the various inhabitants of the continent. The
			tension between mapmakers’ ambitions and the reality of mapping in British North America is
			what makes eighteenth-century American maps so interesting. Numerous voices and conceptions of
			geography competed for representation on printed maps. Each mapmaker had to reconcile the
			personalized, subjective movement-based origins of their information with the Enlightenment
			mandate to present a more universalized, depersonalized and therefore supposedly “accurate”
			map of the continent. Each mapmaker and their cadre of artists of engravers had to privilege
			certain kinds of information and discard others without any defined guidelines. Every map of
			North America in the eighteenth century was therefore an experiment and an improvisation. The
			eighteenth century was not a simple journey from crude to refined. It was instead an era in
			which new conceptions of what a map should be interacted and conflicted with the realities of
			what a map could be. And out of those tensions rose new ways in which mapmakers and their
			audiences interacted through the medium of the map.
		</p>
		<p class="body-text">
			Some interesting features of eighteenth-century maps stand out due to the unique tensions of
			the era. One is the persistence of human movement within the features of the map. Despite map
			printers’ desire to market their maps as impersonal, universal, and “accurate,” the very real
			human motions that generated the mapmakers’ main archive of information still presented
			themselves throughout the era. Likely in response, mapmakers developed strategies to deflect
			the readers’ attention away from this aspect of the map’s creation, in particular encouraging
			readers to quickly move past the facts of the map’s creation and to instead indulge in the
			visual pleasures of imagining travel through North America. This coaching by mapmakers in turn
			helped spur the map-reading public to use their imaginations to envision movements bigger than
			those of individual travelers and to see whole processes of history unfolding across their
			lines. In other words, through various rhetorical and design strategies, eighteenth-century
			mapmakers helped train their audiences to see maps not as the result of past travels, but as
			tools of the reader’s vision to encourage future movements, both imagined and real. It was a
			visual fiction that, at least in the case of poor William Mylne, did not always match up to
			reality, but that nonetheless represents a powerful-yet-underexplored feature of
			eighteenth-century mapmaking.
		</p>
		<p class="body-text">
			Published maps were not always so disconnected from the human movements that informed them. In
			the seventeenth century, maps of individual travel were printed and received wide circulation;
			the singularity of the journey was not a liability in an age of exploration. These maps of the
			Americas, particularly larger-scale regional maps, tended to make very clear the relationship
			between the printed map and individual movement. In an age of early settlement and
			colonization, the individual journey was often the fastest path to new geographic information.
			European mapmakers relied on singular journeys for their maps, and atlases of the Americas and
			did very little to disguise the nature of their sources. These maps tended to focus on the
			individual traveler and highlighted the limitations of such a singular view of the landscape.
			John Smith’s map of the Chesapeake serves as an example: Smith placed himself prominently in
			the map and marked with little crosses the limits of his own journeys, highlighting to the
			map’s audience that they were seeing and hearing only what Smith saw and heard: some of it
			firsthand, some through verbal reports, but no more or less than Smith himself had
			encountered.
		</p>
		<p class="body-text">
			John Lederer’s 1672 A Map of the Territory of Virginia likewise offers another excellent
			example of the published personal map of discovery. The geography of this map could in no way
			be separated from the individual’s particular experiences. A young, German scholar, Lederer
			undertook a long journey southwest from the colony of Virginia in 1670. The map’s main purpose
			was to provide readers with a visual itinerary of Lederer’s trip. Although the dotted lines
			used to mark Lederer’s movements were not the most visually striking image on the map, they
			nonetheless provided the map with its overall shape. Rivers and mountains frame the trail and
			the map’s lettering aligns itself to Lederer’s route. The map offers almost no information
			beyond what Lederer experienced personally. In all, the map provided a fairly accurate record
			of Lederer’s experience but not the topography, showing the southern Piedmont as a landscape
			glimpsed only along the corridors Lederer traveled. Given the mapmaker’s great difficulty
			translating Native geographic knowledge into European terms, it is unsurprising that the map
			was as limited as it was. (Hollis, 158-163)
		</p>
		<p class="body-text">
			The path shaped the entire map. Centered on Lederer’s route, the map became blank at the
			edges, save for the known parts of Virginia in the lower right-hand corner. The Appalachian
			Mountains form a horizon beyond which lay nothing but emptiness (filled with the compass rose
			and legend). Eastern Carolina hardly appeared at all, despite being well known since at least
			the late-1500s maps of John White. But Lederer did not travel there, so the region did not
			appear on the map. As he did in his text, Lederer provides a hint of the massive (and
			fictional) Lake Ushury in the map’s upper left. Lederer claimed he could see the other side of
			the lake, but thought not to include that edge in his map, teasing its audience with the
			prospect of a vast inland waterway. The effect is to reinforce the idea that these were
			landscape features only glimpsed by a single traveler.
		</p>
		<p class="body-text">
			Lederer’s map thus reveals the itinerant nature of its production. Much like following a
			blazed trail, the traveler could only record his journey by following the precise order of the
			landmarks. To leave one out would be to get hopelessly lost. Rivers, lakes, villages—these
			could only be mapped as points along a path, not as defined expanses of territory. Anything
			that the map attempted to record beyond the traveler’s line of sight was based on verbal or
			other accounts of landscape lodged in the memories of other (primarily Native American)
			informants and occasionally drawn or retold to the mapmaker. Mostly these involved the
			landscape impressions and knowledge of Native travelers, whose concepts of landscape never
			easily fit with European ones and allowed only rudimentary “pidgin” cartographies which easily
			bore the marks of their creation. (Belyea, 140; Paulett, 23)
		</p>
		<p class="body-text">
			Traditionally, historians of cartography have consigned maps such as Lederer’s to a pre-modern
			era that favored description and personal experience over accurate measurement (Cumming, 1-2).
			But, this does not mean Lederer’s map was crude. It conveyed a richness of movement and the
			experience of a traveler. It did not measure distances accurately and it invented landscape
			features. Existing at the intersection of Lederer’s travel narrative and landscape
			portraiture, the map worked as something of a panorama—a moving picture through which the
			reader could better visualize Lederer’s experience.
		</p>
		<p class="body-text">
			Such maps of movement remained important well into the eighteenth century. Indeed, their
			frequency likely increased as European travelers became more and more common across the face
			of North America, driven by the expansion of European colonization in the Americas. (Edney
			1999, 176). In particular, the trade between Indians and Europeans increased as the century
			wore on, creating new travelers and new sources of geographic information. The Indian trade
			provided mapmakers access to large reserves of human knowledge created by the movement of
			private traders, public agents, and untold thousands of Indian diplomats and informants. As
			France and Great Britain in particular jostled with each other for claims over eastern North
			America, they relied on the complex webs of personal, official, and economic relationships
			provided by the exchange of European manufactured goods for Native manufactured deerskins.
			Navigating this region, marked by the complex politics of Native America, proved tricky at all
			times. Traders thus relied on a set sequence of paths and places in order to best ensure safe
			passage and predictable futures. The sequence of places was the crucial safeguard against
			getting lost along the way. (Paulett, 2-4)
		</p>
		<p class="body-text">
			The individual map of movement continued as a form through the eighteenth century but
			surviving examples are rare. A reprinted edition of George Hunter’s 1730 map of his travel to
			the Cherokees reveals the changing relationship between movement, mapping, and the map-reading
			public. Hunter was a surveyor who accompanied Sir Alexander Cumming on a diplomatic mission to
			enhance South Carolina’s (and Cumming’s own) standing among the Cherokees while at the same
			time diminishing the influence of the Virginia colony in that region. The map shows the
			party’s route along South Carolina’s primary trading path. The path followed the Santee River,
			across the headwaters of the Savannah River, and across the mountains to the Overhills
			Cherokees of present-day eastern Tennessee. Along the way, Hunter made note of village names
			and recorded some information about more distant areas (likely gained from traders). (Cumming,
			228)
		</p>
		<p class="body-text">
			Hunter’s map was typical of the traveler’s sense of geography, in which the physical and human
			geography of South Carolina were important only as far as they aligned with the trading paths.
			The creeks running into the Santee River are presented as slashes perpendicular to the river,
			recorded in the order in which the traveler encountered them. Hunter marked distance with
			verbal notes, creating an itinerary of places between the starting point and the end point but
			based on impression more than precise measurement. In many ways, Hunter’s map functioned like
			a modern subway system map where stations are arranged in straight lines so that the rider
			knows which station will come next. The sequence of places mattered a great deal, but the
			topography beyond the path was little known. (Most of Hunter’s notes about areas beyond the
			path come from the vague “reports” he cites in the map’s legends.) To lose the path was
			therefore to risk getting lost in a large region. For this reason, Hunter’s “Journal of the
			Road” in the lower left exactly reproduces the same sequence of places going up to the
			Cherokees as returning. To find one’s way back to Charleston, one simply had to retrace one’s
			steps. Closer analysis of this map would no doubt reveal even more about the experience of
			travel in colonial America. The travelers’ experience also explains why their accounts of the
			interior resulted in a similar linearity when they were included on more “professional” and
			“scientific” maps of the 1700s.
		</p>
		<p class="body-text">
			But while the frequency of such mapping episodes increased, the printed map of travel was
			becoming less favored in printing offices. Unlike Lederer’s map which was widely printed in
			its original form and widely copied by other, eighteenth-century maps of travel like Hunter’s
			survived mostly as manuscripts in various archives. Hunter’s map, for example, was not
			publicly available until this print of the original manuscript was made available in 1917.
			This object therefore reveals not just the experience of travel but of how eighteenth-century
			Anglo-American map practices were increasing the distance between the individual map of travel
			and the printed map of popular consumption. Maps such as Hunter’s were still the most common
			and immediate source for geographic information about the American interior. However,
			published maps were increasingly taking ideological and formal steps to diminish the idea of
			movement within their gridlines. Surveyors like Hunter recognized this new relationship, as
			well, marking significant crossroads with surveyor’s notes on longitude and latitude. The
			traveler was learning to see the landscape with an eye towards compilation and collation
			rather than description.
		</p>
		<p class="body-text">
			The map therefore reveals that “Enlightenment” mapmaking was more an exercise in treating the
			same information differently rather than a shift in the techniques of mapmaking. The
			eighteenth century increasingly emphasized not just the pursuit of knowledge but emphasized
			the management and control of knowledge. Increasingly, the printed maps of America came not
			from individual travelers but from the shops of self-appointed “expert” compilers. Here
			emerged the familiar form of the eighteenth-century map—the increasingly “plain” chart that
			was every bit as dependent on complex human interactions as earlier maps but that nonetheless
			tried to mask this dependence for numerous intellectual, political, and economic reasons.
			Rather than recognize their maps as the product of individuals’ limited range of vision,
			mapmakers emphasized the accuracy and collaborative nature of their maps. By assuring their
			audiences of the complete accuracy of their works, mapmakers could then use their maps in new
			ways: as settings in which European viewers could imagine the marches of historical figures
			and across which Europeans could plan future movements. The human movements that produced
			these maps (still completely necessary) were hidden from view. The result was a growing
			culture of map reading, where Anglo-American audiences could imagine themselves gazing from
			above at all manner of important events. As Britain increasingly sought to claim and control
			its American possessions, its citizens found comfort in this power of maps to impart a sense
			of order and control. (Nobles, 13-19)
		</p>
		<p class="body-text">
			Herman Moll, perhaps most prominent among early eighteenth-century British mapmakers, reveals
			the sleights of hand being invented to separate the map from the supposedly unreliable travel
			accounts that were the map’s main sources of information. His 1720 A New Map of the North
			Parts of America claimed by France was an exercise in the increasingly conscious political
			decisions that underlay supposedly disinterested maps. Moll used his map to advocate his own
			personal point of view and made no efforts to hide his authorship. He wanted Britain to take
			greater interest in its American colonies and confronted them with nightmare images of
			invading Frenchmen to accomplish this task. But he relied on the supposed accuracy of his map
			to sell his point. Accuracy was becoming a political stance within British colonial politics
			and became a rhetorical tool long before accurate measurement became reality (Edney 2004,
			324-325; Edney 2011, 277-278).
		</p>
		<p class="body-text">
			Key to this posture of accuracy was managing the unruly interplay of source material,
			mapmaker, and audience. Here on view are the unsteady and negotiable conflicts in this new age
			of Enlightenment managerial mapmaking. Moll was clear and careful to name his sources right
			under the map’s title. “A Great part of this Map,” he informed his readers, “is taken from ye
			Original Draughts of Mr. Blackmore, the Ingenious Mr. [Richard] Berisford now Residing in
			Carolina, Capt. [Thomas] Nairn and others never before Publish’d, the South West Part of
			Louisiana is done after a French Map Publish’d at Paris in 1718.” Moll claimed the authority
			of numerous observations preferred by an audience that by 1720 was increasingly trusting the
			repeated experimentation of the Scientific Revolution and its culture of public witnessing
			over the older claims to personal authority that marked early modern Europe. (Jacob and
			Stewart, 89-92) By listing these men by name, Moll could assure his readers that the map was
			“laid Down according to the Newest and Most Exact Observations By H. Moll Geographer.” Moll,
			of course, did not have any special knowledge. His major sources of information were the same
			Indian trading networks that produced itinerary maps like Hunter’s and his map thus included
			the linear trade geography even as it reached for a claim to accuracy beyond the capabilities
			of an individual observer. (Paulett, 14-17, 29-31)
		</p>
		<p class="body-text">
			What Moll had instead of special knowledge was a new idea emerging in the
			eighteenth-century—the authority of “reasoned judgment” by which self-appointed individuals
			could claim and tame the supposedly base and untrustworthy information coming from the mouths
			and pens of Indians, traders, and agent. Eighteenth-century scientists based their authority
			in their ability to see beyond variable individual observations and to discover the “truth” of
			underlying forms. The educated scientist took myriad individual observations, ruminated on
			them, exercised their “reason” to discern between truth and dangerous imagination, and then
			hired artisans to translate their authoritative vision into a printed product. (Daston and
			Gallison, 58-60, 97-98, 223-227). For a mapmaker such as Moll, this idea of trained judgment
			meant he could list his sources but assure his readers that the observations were his and his
			alone.
		</p>
		<p class="body-text">
			Moll’s map, however, does not demonstrate the confidence of a reasoned observer. In fact, it
			is marked by deflection and distraction in the way that it encourages the reader to quickly
			turn away from the method of its creation and to imagine instead the ways in which the reader
			might use the map. Turning the subjective impressions of American informants into a seemingly
			concrete and stable image of the continent in the map’s title, Moll used the legends and
			notations on his map to present his readers with images of invading Frenchmen and heroic
			Englishmen as a means of helping plan the future movement of English settlers across the
			continent. But, not trusting his readers fully, Moll prominently placed helpful instructions
			to assist his readers in the proper interpretation of the map’s information:
		</p>
		<blockquote class="body-text">
			“NB The French Dominions are inserted on purpose, that those Noblemen, Gentlemen, Merchants
			&c. who are interested in our Plantations in those Parts, may observe whether they agree with
			their Proprieties, or do not justly deserve ye Name of Incroachments; and this the more to be
			observed, because they do thereby Comprehend within their Limits ye Cherakeys and Iroquois, by
			much ye most powerfull of all ye Neighbouring Indian Nations, the old Friends and Allies of
			the English, who ever esteemed them to be the Bulwark and Security of all their Plantations in
			North America.” (Moll, 1720)
		</blockquote>
		<p class="body-text">
			Twice, Moll insisted that looking at his map was the same as “observing” the actual American
			landmass and that his map provided at one glance a full view of the whole populated continent,
			filled with English settlements, French “incroachments,” and Native peoples.
		</p>
		<p class="body-text">
			Moll then drew a literal line (the Tropic of Cancer) straight from the map title all the way
			to the lower right corner to further instruct his readers in the map’s use. Ostensibly
			explaining to his readers how to correct for the Mercator projection’s distortion of northern
			distances, he made sure to demonstrate the issue with the example of planning an overland
			march from New York City to a Susquehanna fort in western Pennsylvania, conveniently located
			on the supposed boundary between French and English claims. The imagination of the compiler
			was to be mistrusted and swept away with reason. However, Moll’s exhortations to his readers
			to use their imagination reveals an interesting new role for maps in the eighteenth century.
			This was more than envisioning the travels of someone like Lederer; this was encouraging
			readers to imagine future travels and future plans with the assistance of the map.
		</p>
		<p class="body-text">
			The presentation of movement and the relationship between mapmaker and audience continued to
			be informed by the political context of individual mapmakers, despite their claims to
			supposedly disinterested authority. A side-by-side comparison of two maps created at the same
			time using almost identical sources reveals how the shape of the map was still an ongoing
			experiment throughout the 1700s. By the mid-eighteenth century, mapmakers were taking
			advantage of the increasing number of information options to selectively create their maps and
			the selection is clear on comparison of Lewis Evans’s 1755 A General Map of the Middle British
			Colonies in America and Joshua Fry and Peter Jefferson’s A Map of the Inhabited Part of
			Virginia from the same year. Despite their different titles, both maps show a similar stretch
			of territory at a similar scale, particularly in regards to the Ohio Valley. The overlap is no
			accident and in fact the three mapmakers exchanged information with each other. The
			differences in the two maps’ appearances therefore resulted not from access to different
			information but in the political purposes behind them. Both Pennsylvania (Evans’s home) and
			Virginia (Fry and Jefferson’s) were extremely interested in the Ohio Valley in the 1750s, as
			Pennsylvania and Virginia waged a furious diplomatic battle for the alliance of the Ohio
			Valley Indians, since Indian sales were preferred by the British crown as the surest method of
			transferring land rights from Indians to Europeans.
		</p>
		<p class="body-text">
			The two maps look very different, reflecting the political strategies of the respective
			colonies. Evans’s map details a dense network of roads, rivers, and villages west of the
			Allegheny Mountains, carefully drawn and shaded across the middle of the map. Fry and
			Jefferson, however, depict only thin strings of mountains and a virtually empty Ohio Valley.
			The contrast between the Evans and Fry-Jefferson maps reveals that eighteenth-century maps
			were more than a contest between “crude” and “accurate” information, or even between European
			and non-European ideas of mapmaking. While these were all components of the complex production
			of maps, the cartographic contest of 1755 also reveals that maps were frequently a contest of
			different kinds of European mapmaking traditions, each source of information either
			consciously or unconsciously selected to suit the political interests of the mapmakers.
		</p>
		<p class="body-text">
			Printed in Pennsylvania (one of the earliest American-printed maps), Evans’s map reflected the
			local political interest. While deeply mistrustful of traders’ accounts, Evans nonetheless
			went to great lengths to present their movements as part of his map. The General Map relied
			heavily on the information of traders in order to secure that colony’s rights to the Ohio
			Valley. Pennsylvania had since its founding maintained a strong connection to the Indians of
			Susquehannah Valley, the Lenni Lanape (Delawares) and Shawnees in particular. As those groups
			migrated westward in the early 1700s, Pennsylvania believed it had the inside track to
			claiming potentially valuable Ohio lands through the mechanism of Indian trade and diplomacy.
		</p>
		<p class="body-text">
			Evans apparently felt the need to publish a map of movement that could nonetheless meet the
			new standards of “truth-in-nature” that gave maps their scientific authority in the 1700s.
			Printed in America rather than in London, Evans perhaps felt freer to experiment with form and
			content and this map, famous as it is, deserves much closer investigation as a Tristam
			Shandy-like experiment in defining what a map could be before anyone really knew what a “map”
			was. Evans, considering himself a man of science, mistrusted traders’ accounts but relied on
			them nonetheless. In the eighteenth century, most genteel observers cast a jaundiced eye at
			the political motivations of lower classes, believing them incapable of acting out of anything
			beyond crass selfishness (Wood, 104-106). Traders were in particular seen as suspicious in the
			1700s because of their decision to live so much of their lives among Indians. Their geographic
			reports were likewise mistrusted (somewhat ironically) because traders were the only Europeans
			to see most of the Ohio Valley firsthand and they had an obvious motivation to shape those
			reports to suit their own self-interest. (Klinefelter, 41) Traders’ words, doubly tarnished by
			low births and Indian associations, would have come under heavy scrutiny.
		</p>
		<p class="body-text">
			Forced to rely on “untrustworthy” traders, Evans did his best to correct the traders’
			impressions of distances across the Allegheny Mountains. (Klinefelter, 44-45). Regardless of
			their political motivations, traders likely did tend to distort mileages because travelers
			through mountainous terrain could only describe the experience of distance rather than the
			precise measurement of distance (and some mountainous roads clearly felt longer than flatter
			roads of a similar distance). But Evans, in his desire to draw links between Philadelphia and
			the banks of the Ohio River, needed to emphasize trader impressions of those areas west of the
			mountains since the human connections of the trade were key to Pennsylvania’s land claims.
			Evans’s own survey trips required diplomatic authorization to travel through Indian lands and
			he required verbal descriptions (and probably visual descriptions) from traders as to what lay
			beyond the range of his own surveys.
		</p>
		<p class="body-text">
			The result was an obvious traders’ geography of the Ohio Valley marked everywhere by human
			movement. The Valley is criss-crossed with trading paths connecting a dense network of
			important Indian villages which a traveler would have encountered. These were the significant
			spaces of the valley, important nodes in the network of human exchanges that underwrote
			Pennsylvania’s claims to the region. By depicting roads and villages reconstructed from verbal
			accounts, Evans’s map provided a sense, however dim, of how moving through these places might
			have felt to the travelers of the Ohio Valley.
		</p>
		<p class="body-text">
			But the mapmaker also made great efforts to distance his printed map from the human
			communication networks that underwrote it. Evans moved most of the information that in another
			map might have appeared as legends into a published companion book. Evans’s Geographical,
			Historical, Political, Philosophical and Mechanical Essays. The First, Containing an Analysis
			of a General Map of the Middle British Colonies in America detailed the informants he
			consulted in the production of his map, as well as his techniques for “correcting” and
			corroborating them. The published book functions as a lengthier example of how mapmakers
			instructed their audiences to “read” their maps. The preface justifies the map as a way to
			increase the public’s ability to see and become acquainted with “these remoter Parts, where
			the Country is yet a wilderness.” (Evans, iii) Evans in the Analysis also disparages the
			imagination of the mapmaker, invoking it in places where he discussed observer error (Evans,
			iv., 3, 12). But he nonetheless encourages his readers to imagine themselves traveling through
			these landscapes. The Analysis describes the experience of rivers like the Schuykill, letting
			Evans’s readers know that, for example, “Schuylkill is a fine Branch, up which the Tide runs
			about five Miles above Philadelphia, where there is an impassable Fall; and three Miles higher
			up another not much better. Thence to Reading is a fine gliding Current easily set against, as
			the Bottom is gravelly and even.” (Evans, 21-22) The book provides lengthy descriptions of
			traveling over roads, through mountains, and along rivers, functioning as a sort of travel
			guide, carefully compiled by the author and provided to fire the imagination of the reader
			through rich descriptions of moving through these spaces, but always with Evans as the guide,
			exhorting readers to see the landscape in his own favored way.
		</p>
		<p class="body-text">
			The Fry and Jefferson map, on the other hand, takes a much different approach to mapping the
			Ohio Valley, even though the mapmakers consulted with Evans and had access to much of the same
			information. Fry and Jefferson, however, likely had less access to Pennsylvania traders and
			Ohio Valley Indians, since Virginians were largely outsiders to the human networks of the
			region. Virginians suffering from the constant uncertainty of the tobacco economy had great
			interest in the valley and desired to speculate in lands as a way of creating more stable
			wealth in the 1700s. (Holton, 3-6) Seizing on the colony’s ancient charter claims, Virginians
			began asserting their rights to the Ohio territories in the 1740s and 1750s. The problem was
			that the old charter claims did not hold up as well as the policy of land sales from Indians.
			Lacking the well-developed trading networks of Pennsylvania, Virginians had to find other ways
			to assert their authority over the Ohio Valley lands (which mostly involved some variety of
			swindle).
		</p>
		<p class="body-text">
			Fry had access to a particular information network linked to the Virginia militia and the
			agents of land speculators. Stationed at Winchester in the western part of the colony in the
			early 1750s, Fry mostly learned about the Ohio lands from militia rangers and Indian scouts.
			When he did travel to the Ohio Valley, he did so as part of a diplomatic mission devoted to
			securing land rights for Virginia speculators. Fry thus learned of the Ohio lands mostly from
			those who spent very little time living and traveling through the region. (Cumming, 28-29)
		</p>
		<p class="body-text">
			The result was a starkly blank map that reflected Virginians’ desire for the Ohio lands, not
			its peoples. Whether through ignorance or specific intention, Fry and Jefferson’s map provided
			almost no indication of the very real human presence on the western side of the mountains.
			Where Evans showed a region crossed by numerous pathways linking a web of villages and
			peoples, Fry and Jefferson indicated a blankness waiting to be sold to settlers—a perfect
			speculator’s map, in other words. Gone were Evans’s detailed legends highlighting the human
			knowledge that had made his map possible. Fry and Jefferson simply left the Ohio Valley as a
			blank unknown, awaiting settlement. In contrast to Lederer, however, who depicted the
			Appalachian ranges as a barrier to knowledge, Fry and Jefferson grid over the blank interior—a
			future landscape that awaited the easy incorporation into existing knowledge systems,
			presently unknown but easily knowable.
		</p>
		<p class="body-text">
			But while Fry and Jefferson’s map was not so great at recording the dense tracks of
			informants, it did reveal a new sort of movement emerging in eighteenth-century maps—the
			imagined movement of future journeys. Across the empty Ohio, Fry and Jefferson included a
			table of mileages between prominent Virginia towns and the significant sites of fortification
			and conflict at the edge of the Ohio Valley: Winchester, Fort Necessity, Fort Duquesne. Fry
			and Jefferson thus drew lines to the edge of the Valley but left unmapped the continuation of
			those lines into the dense human networks mapped by Evans. Unlike Evans, who carefully shaped
			his readers’ impressions of an existing landscape through both his map and his Analysis, Fry
			and Jefferson tantalized readers with a supposedly unknown land—one that readers were then
			free to fill in with their own imagined future journeys.
		</p>
		<p class="body-text">
			While Fry and Jefferson did not explicitly attempt to fire their readers’ imaginations,
			continuing innovations in both map form and content throughout the later decades of the 1700s
			reveal that mapmakers were designing their charts around an imagining public. One of the
			Newberry’s copies of Henry Mouzon’s 1775 An Accurate Map of North and South Carolina indicates
			greater cultural changes surrounding mapmaking and especially map reading than simply the more
			accurate measurement of physical features. Its form is as important as its content as examples
			of changing Anglo-American map use. This cloth-backed version of the Mouzon map was meant to
			be folded and housed on bookshelves or in saddlebags, the form indicating that maps were
			becoming both more common and more portable, meant for frequent consultation but not for
			permanent display. (Although, as William Mylne learned, these folding maps did not always
			travel very well.) In contrast to the enormous wall maps and grand atlases still being
			produced in the 1700s, maps like Mouzons indicate other values for their readers—the desire to
			imagine movements in private reflection for practical reasons or even just for personal
			entertainment.
		</p>
		<p class="body-text">
			The eighteenth century was the early age of the popular map in Anglo-American culture. As the
			imperial desire for more maps led to more mapping, the advancing availability of print also
			allowed for wider distribution of these maps. The result was that an audience of map consumers
			grew up around the shops of London and Philadelphia and increasingly used maps as a way of
			visualizing the real-time events across the Atlantic. While someone like Moll needed to
			explain to his readers how to envision movement across the map, later productions assumed the
			audience knew. And this allowed them greater freedom to provide lively images of colonists
			moving across the land. A map such as Mouzon’s was of only limited use in traversing the
			landscape, but it was of great utility in granting the reader the illusion that they might
			know the landscape at a distance.
		</p>
		<p class="body-text">
			We know that Mouzon’s map in fact had two prominent figures use it for this purpose. Both
			George Washington and the Comte de Rochambeau owned copies of Mouzon’s map, with Washington’s
			map being a cloth-backed folding map similar to the one held by the Newberry (Cumming, 33).
			Generals and military planners of course relied on maps before the American Revolution, but
			what is of note here is that neither Washington nor Rochambeau were directly involved in the
			southern campaigns. Washington of course as commander of the Continental forces had oversight
			but he spent almost the entire war in the northern colonies. His generals and lieutenants
			planned the campaigns of the South. Washington and Rochambeau, however, used Mouzon’s map to
			make sense of their subordinates’ reports and to “observe” at a distance the movements of
			British armies across the landscape. In this sense, Washington and Rochambeau were just two
			more consumers and readers of maps, using their charts to imagine the past and future
			movements of armies otherwise invisible to their own eyes.
		</p>
		<p class="body-text">
			That such prominent figures were both consumers and users of maps indicates why the culture of
			map reading in the eighteenth century is worth further investigation. During the century, maps
			increasingly offered the larger viewing public access to the same perspective as generals and
			heads of state. More than just military planning, the increasingly available maps provided an
			increasingly map-literate public the ability to follow military movements from far away. The
			appearance of illustrated campaign maps in popular magazines during the 1700s indicates that
			these spurs to the imagination were growing more popular with the reading public. (Lehman,
			341-344) More than simple aids to military planning, maps were increasingly part of a public
			imagination of war in the second half of the 1700s.
		</p>
		<p class="body-text">
			In addition to the visualized movements of armies across maps, the increased imagination of
			cartography could seemingly show readers other, slower movements of people across space and
			time. Three maps from the years of the American Revolution help demonstrate some of the ways
			in which Anglo-Americans were using their maps to do more than just recount the movements of
			explorers. They were using their maps to cultivate a particular culture of viewership that
			would have profound implications for how post-Revolutionary Americans envisioned their place
			in North America. John Stuart’s 1780 update of William de Brahm’s 1757 map of South Carolina
			revealed a nascent sense of maps as documents of social development. A 1775 map of the early
			days of the Revolution revealed a popular culture increasingly using maps to explain the
			events of the world. And a 1777 map of Charleston can be read as evidence of increasing
			efforts on the part of mapmakers to cater to the fantasy of travel.
		</p>
		<p class="body-text">
			In 1757, a German military engineer named William de Brahm immigrated to the colony of
			Georgia, bringing with him a thorough education in scientific cartography. De Brahm made his
			first printed work that same year, publishing a map of the South Carolina and Georgia
			coastlines that has long been heralded for its “accurate” plotting of the tricky intra-coastal
			waterways and sea islands of the southeastern lowcountry. The interior, however, was far less
			engaging. Dismissing the information of non-cartographically-trained surveyors and informants,
			De Brahm mostly left the interior of his map blank, with rivers and roads trailing off into
			nothing. He did, as a service to Carolina promoters, show the locations of several recently
			created townships in the Carolina Piedmonts, divided into the neat little rectangles that the
			South Carolina government envisioned as key to new settlements in the interior.
		</p>
		<p class="body-text">
			Twenty-three years later, an updated version of the map revealed much more of the two
			colonies. No doubt hoping to take advantage of reader interest in the southern Revolutionary
			campaigns, John Stuart, Britain’s Superintendent for Indian Affairs for the southern colonies,
			updated De Brahm’s original map. Stuart had access to the records of surveyors and to printed
			maps such as Mouzon’s and so he filled De Brahm’s empty map with roads, counties, towns, and
			every other detail that war-curious readers might need to track the movements of armies across
			the region. The original township squares of De Brahm’s map still appeared, but had been
			overrun with new details and colored over in order to show county divisions. The effect was
			quite remarkable. In addition to showing readers where armies might be marching, Stuart also
			gave readers brightly colored “evidence” of how far settlement had pushed in the years since
			De Brahm’s original version appeared. The contrast is somewhat exaggerated, since De Brahm’s
			map excluded much information from the backcountry as unreliable. But Stuart’s map had the
			effect of demonstrating how far Carolinians had pushed outwards from the small little squares
			of an earlier map.
		</p>
		<p class="body-text">
			By including the older township squares, Stuart introduced a time component to his map. While
			it could be an example of eighteenth-century mapmaking thrift, with the printer simply
			re-using older engraved plates, the effect remained the same. South Carolina’s history of
			settlement and growth could unfold in the reader’s imagination as backcountry settlers spread
			out from the old township centers and filled the entire page with towns, courthouses,
			churches, and the other marks of “civilization” that an eighteenth-century reader would
			appreciate.
		</p>
		<p class="body-text">
			It is also an example of the kinds of map-based thinking and planning that would characterize
			Anglo-Americans’ expansion across the Appalachians. While earlier eighteenth-century colonial
			planners had believed in social engineering through precise town planning, these schemes had
			largely been associated with failed Utopian settlements such as the Margravate of Azilia and
			the Trustees charity colony of Georgia. However, maps such as Stuart’s indicated that
			Anglo-Americans had begun to believe that better mapping might lead to better success.
			Stuart’s map thus existed as part of a culture of map-based thinking that would also lead to
			the Northwest Ordinance of 1787 which believed that a harmonious American society could
			develop along clearly marked lines on a map.
		</p>
		<p class="body-text">
			The element of witnessing history in miniature appeared on other maps of the late 1700s. A
			1775 London map titled “The Seat of War in New England” made this function of maps clear to
			its audience. Depictions of battle scenes were nothing new by 1775, not even in New England
			(one calls to mind John Seller’s image of fighting during King Philip’s War on his 1675 “Mapp
			of New England”). However, “The Seat of War” offered more than just the illustration of a
			dramatic episode. Like the Stuart map, this map indicated that slower, larger processes shaped
			human actions. In this instance, the long lines of troop movements and supply lines were the
			real story of the conflict rather than single, dramatic episodes, interesting and carefully
			depicted as they were here. Published to demonstrate the early conflicts of the American
			Revolution between April and June of 1775 provided readers with the opportunity to recreate
			for themselves an almost moving image of the Battles of Lexington and Concord and Bunker Hill.
			The map is a simple map of western Massachusetts, with roads and villages prominently marked.
			But, along these routes, the mapmaker has drawn (in profile) armed soldiers, horses, and
			artillery moving along the routes towards Lexington and Boston. The inset map of Boston
			likewise adds human drama to the mapped image, as explosions and clouds of smoke billow around
			the scene of Bunker Hill.
		</p>
		<p class="body-text">
			The combination of maps, cartoons, and narratives of war allowed for a new kind of imagination
			to take place. The reader could take the bird’s-eye-view of events and see more than any
			individual could. Unlike heroic paintings such as Benjamin West’s “The Death of General
			Wolfe”, the reader could claim a super-human perspective on events and “see” how things
			unfolded across space and time. From this perch, they could then perhaps understand the causes
			of notable successes or failures (as with the British attempts to curb the rebellion in 1775).
			The development of eighteenth-century maps therefore may have played some role in the
			development of a historical consciousness in that century.
		</p>
		<p class="body-text">
			This represented a remarkable change from the journey maps of someone like Lederer. There, the
			map was constrained to a single person’s perspective. The trader maps, linked as they were to
			the personal memories of a collected body of informers, were variable and changing. But as the
			surveys improved and the “background” of physical terrain became more and more fixed, the maps
			of the later eighteenth century gave readers’ minds more freedom to roam about the landscape.
			A reader could “see” more than ever and this perhaps explains, in an age of democratizing
			knowledge and political power, why maps became such popular objects. They became a means of
			travel in and of themselves rather than records of another person’s movement across
			landscapes.
		</p>
		<p class="body-text">
			The stylistic innovations of Joseph F.W. Des Barres provide further indication of a
			potentially changing culture of map reading. Like Evans, Des Barres was an outsider to the
			London printing houses that dominated the Anglo-American map trade and, like Evans, this gave
			Des Barres perhaps more freedom to experiment with map forms and creation processes,
			experimentation that resulted in the publication of Des Barres’s Atlantic Neptune atlas
			between 1774 and 1782. Des Barres in particular took advantage of Britain’s interest in the
			Revolutionary era to earn his funding directly from Parliament, given the military uses to
			which his elaborate coastal charts could be put (Hornsby, 164). The maps themselves were the
			result of Surveyor General of the Northern District Samuel Holland’s coastal surveys of
			America and the publication was made possible by the enlistment of unnamed engravers and
			artists in London, so it is difficult to say with certainty that Des Barres was the sole
			visionary behind the maps. But whoever shaped the vision, there is little doubt that the
			American Neptune represents a different relationship to the movements and imaginations of
			source material, compiler/cartographer, and reader in the 1700s.
		</p>
		<p class="body-text">
			The Atlantic Neptune used new visual approaches to create a visual separation between the
			information of humans and the supposedly fixed and unchanging landscape upon which humans
			operated. Des Barres and his artists included numerous legends and verbal descriptions right
			on the faces of their maps but, unlike earlier mapmakers, they isolated the text from the
			cartographic information. Whereas someone like Moll typically inserted their legends within
			the map’s grid lines and placed no borders around them, Des Barres isolated his legends within
			medallions drawn off-grid. The effect is a trompe l’oeil where the human knowledge appears as
			pieces of writing laid across the map, resting above it but not embedded within it (see maps
			in Hornsby, 138, 166, 189).
		</p>
		<p class="body-text">
			The Newberry’s collection of the Atlantic Neptune maps provides numerous examples of this
			technique but the 1777 map of Charleston, South Carolina, is a particularly striking example.
			Like the rest of the atlas, the map is primarily a nautical chart of the environs of
			Charleston, South Carolina, including sand bars and depth measurements. In this, it was much
			of a piece with Des Barres nautical charts of the northeastern North American coastline that
			formed the bulk of the Atlantic Neptune. Some land features (plantations, roads) are marked on
			the map but are blended together under a uniform brown wash. The meeting of water and land is
			the central feature of this map, save for a colorful inset in the map’s upper left.
		</p>
		<p class="body-text">
			Here, Des Barres went for an artistic touch over and above those provided elsewhere in the
			atlas. Rather than the usual harbor scenes with boats in the middle distance that
			characterized much of the trompe l’oeil insets in his other maps, this Charleston map included
			an untitled landscape view of the town as seen from the southern bank of the Ashley River. It
			was a bucolic, pastoral scene of livestock herders tending a few cattle resting on the sandy
			banks of the river. Keeping to form, the engraver did include a small sailing vessel (a
			“petiaugua” or local sailing vessel common along southeastern shores and associated with local
			exchange) but the view is from land rather than from a sea approach. The harbor of Charleston
			itself, one of the busiest in North America, has almost no ships. The hard work of rice,
			Carolina’s largest export, is missing from the scene entirely. The image therefore stands in
			sharp contrast to the bustling commercial scenes common to eighteenth-century cartouches (see
			the Fry-Jefferson or De Brahm maps for comparison).
		</p>
		<p class="body-text">
			The image is clearly meant to be read as almost completely separate from the map. This image
			is not linked to the map in any way. It was set off at an angle to the map’s grid, a bit of
			illusion to highlight the separation between the cartographic vision and the traveler’s
			vision. The map allows two views. One view is the cartographic: its precise delineation of a
			complex hydrography, measured and enumerated at all necessary points, authenticated from the
			most professional naval surveys (as the title indicates). The other view is that of the
			traveler, happening upon a restful scene after a trip overland. The two views are separated on
			this map as Des Barres makes a claim for the “proper” relationship between cartography and
			movement: maps can bring you to your destination, where you can then enjoy the local scenery.
			In 1777, Des Barres foreshadowed the tourist map and the complex relationship between
			cartography and movement that would help define the future United States as a country of
			movers and travelers.
		</p>
		<p class="body-text">
			These few examples from the years of the American Revolution point the way towards new areas
			of investigation. The nineteenth century has long been recognized as the age when North
			Americans spent their efforts turning their grand ambitions into transcontinental realities.
			By examining the particular circumstances around late colonial maps in the British colonies,
			one has the chance to witness that continental ambition forming. North Americans became
			map-loving people around the same time that the United States gained independence. Much about
			that shape and direction of the country could be gleaned from the map-based thinking that
			surrounded its formation.
		</p>
	</section>
	<footer>
		<h4 class="essay-gallery">Essay Gallery</h4>

		<p class="periphera">Territory of Virginia, 1672</p>
		<p class="periphera">Territorial Claims, North America, 1720</p>
		<p class="periphera">Charecke Nation and the Path to Charles Town, 1730</p>
		<p class="periphera">British Colonies in America, 1755</p>
		<p class="periphera">The Most Inhabited Part of Virginia, 1755</p>
		<p class="periphera">The Carolinas and their Indian Frontiers, 1775</p>
		<p class="periphera">South Carolina and Part of Georgia, 1757</p>
		<p class="periphera">South Carolina and Part of Georgia, 1780</p>
		<p class="periphera">The Seat of War in New England, 1775</p>

		<p class="body-text">Harbour of Charles Town, 1777</p>
	</footer>
</article>
