<div slot="title">
	<h1>American Railroad Maps, 1828-1876</h1>
</div>
<div slot="author">
	<em>by: </em>
	<span class="author">GERALD A. DANZER</span>
	<em>with</em>
	<span class="author">JAMES R. AKERMAN</span>
</div>

<article slot="body">
	<section>
		<p class="body-text">
			Nineteenth-century railroad maps occupy a pivotal, transformative place in the history of
			North American transportation and travel cartography, not unlike the railroads they mapped.
			Railroads enjoyed an outsized place in the history and mythology of Western expansion during
			the nineteenth century. In the United States the completion of the transcontinental railroad
			in 1869, for example, is even today viewed as an event that not only brought two coasts closer
			to each other, but which also bound together a nation broken by a destructive civil war, and
			pointed its fractured people towards a future of union, progress, and prosperity. Samuel
			Bowles journeyed across the continent in 1865 to prepare a guide for those who would follow
			the transcontinental route. Significantly, Bowles’ The Pacific Railroad—Open: How to Go. What
			to See (Boston, 1869) described the completion of the transcontinental route in cartographic
			terms, as “the unrolling of a new map…a revelation of new empire, the creation of a new
			civilization.” Bowles’ imaginary map embodied a vision of unity and progress, but in reality,
			railroad maps of many varieties, while echoing these major themes, also served more mundane
			purposes. Indeed, the specific goals of these utilitarian devices created a new cartography.
		</p>
		<p class="body-text">
			All maps, of course, are rhetorical in nature, selecting, portraying, centering, and phrasing
			in a way to achieve their purposes. But few have done so in a more striking way than
			nineteenth-century American railroad maps. A decade after Bowles announced the prospect of
			epic journeys from the Atlantic to the Pacific, the Rand McNally Company, a newcomer to map
			publishing, looked at railroad cartography in a different light. A pamphlet published in 1879
			by this Chicago printing firm specializing in on railroad work, explained how railroad
			officials realized the importance of map design in structuring a map to achieve their
			purposes. An experienced draughtsman played a key role in railroad cartography because “the
			‘designing’ of a good map involves the exercise of tact and ingenuity” in addition to the
			considerable skills that went into the drawing of any map. “The majority of railroad maps have
			some ‘peculiar design’ hidden under the careful pencil of the draughtsman.…The various
			friendly interests must be shown to best advantage, and the rival interests disposed of in a
			manner that ‘no fellow can find out’” (quoted in Modelski, Railroad Maps of North America,
			xix; see Maps 5, 9, and 10). Railroad mapping, in other words, often involved manipulating
			geography for commercial advantage.
		</p>
		<p class="body-text">
			On the other hand, certain types of railroad maps often demanded high levels of accuracy and
			consistency. The “blueprints” which guided the construction of a railroad landscape drawn by
			engineers and surveyors demonstrate close attention to topography and precise measurement. The
			operation of any railroad also depended on trustworthy maps. In 1854 the Board of Directors of
			the Sacket’s Harbor and Saratoga Rail Road, then under construction, questioned whether the
			railroad grades shown on the engineering maps they had commissioned (see Map 1 for a similar
			example) were too steep to economically haul freight in a competitive market. The maps, in the
			words of the committee, raised the question “if the road when done would be good for nothing?”
			(Report of the Committee to Investigate the Affairs of the Company, 1854). Given the capital
			resources at risk, these types of railroad maps deserve a high level of confidence as guides
			to past geographies. We thus have two ideal types of railroad maps, those willfully distorted
			contrasted with those made to be as accurate as possible. But there are many stations between
			these two terminals.
		</p>
		<p class="body-text">
			As documents of the place of movement in American history and culture, railroad maps have at
			least three major strengths. First, and most straightforwardly, they assist us in
			reconstructing past geographies. Nineteenth-century examples are superb records of the
			evolution and growth of the nation’s transportation network during a period of rapid
			expansion. At the smallest map scales, some (Maps 2, 5, 7, and 9) provide an excellent
			overview of the projected and actual growth of the national rail network, its relationship to
			other forms of transportation, and to economic and political history. At larger scales (Maps
			1, 3, 4, 6, and 8) we gain a more intimate sense of their influence upon local and regional
			landscapes and events. Second, as we have seen, they are remarkable windows into the
			rhetorical nature and instrumental nature of maps, and by extension into the commercial and
			economic history of American railroads. Third, and more broadly, they illustrate the many
			roles that transportation and cartography played in the spatial transformations of American
			society that followed from the emergence of the United States as a transcontinental nation
			with an industrial economy. A modern reader of nineteenth-century railroad maps needs only to
			put on the shoes, so to speak, of those people who conceived, built, financed, operated, rode,
			used, administered, regulated, or benefited by the trains to see how much maps were part of
			this story.
		</p>
		<p class="body-text">
			Four keys are required to unlock the secrets of these old documents. First, the reader needs
			to place the document at hand into the proper category. This is not always easy, because any
			map might be used in a variety of ways. But start with the apparent intent: “Why was this map
			made?” The second key relates the map under consideration to the land itself. Here other maps,
			such as topographic maps, should be consulted to enrich our understanding of the geography
			behind the railroad map. Pictures, drawings, diagrams, sketches and the like are also useful
			in this respect. Indeed, a site visit, if possible, might also bring rich rewards. Third,
			other documents will need to be consulted to construct a historical context for the map. Here
			secondary sources will be helpful and dry statistics should not be overlooked. A map sometimes
			brings these dry bones to life. Indeed, by combining data and observations drawn from the map
			itself, and combining it with other information, a researcher is on the way to integrating the
			cartography into the general narrative. Finally, the fourth key unlocks the door by bringing
			insights garnered from the history of cartography to bear on the map. These perspectives
			remind the reader of the nature of maps, their advantages and limitations, their factual
			appearance and yet highly rhetorical structure, their selective nature and inevitable
			distortions, indeed, how purpose, intent, and argument shape their context and appearance.
		</p>
		<p class="body-text">
			The history of American railroad mapping is complex, and it may be useful to organize our
			appreciation of it through the suggestion of a general chronology (see the railroad timeline)
			and a typology.
		</p>
	</section>
	<section>
		<h2 class="section-header">Beginnings</h2>
		<p class="body-text">
			The earliest American railroad maps, made roughly from the late 1820s to the early 1850s,
			illustrate early efforts to finance and construct railroads. Most were of limited geographical
			extent. These early routes were concentrated in the Atlantic states, though construction of
			outliers beyond the Appalachians, such as the Louisville, Cincinnati, and Chesterton Rail
			Road, accelerated in the 1840s. General maps from this period (Map 2) show that railroads
			competed with and were often conceived as connections to canals, waterways, and turnpikes.
			Perhaps of greatest interest to the researcher are the more detailed maps made by the
			surveyors of these early rail routes (Map 1). These detail the obstacles that terrain and
			finance presented to advocates of this new technology. General maps of the national
			transportation system made as accompaniments to guides for travelers and migrants were fairly
			common by the 1840s, and interest in rail travel was sufficiently well developed in the
			eastern states to support the publication of detailed maps and guides to specific routes (Map
			3).
		</p>
	</section>
	<section>
		<h2 class="section-header">Flowering</h2>
		<p class="body-text">
			The 1850s were a pivotal period in American railroad and railroad map history. In the eastern
			states and in much of the Midwest the rail network expanded rapidly and had begun to shoulder
			aside the dependence of travelers and many shippers on canals and waterways (Map 7). The
			acquisition of the Oregon Country and former Mexican lands from Texas to California by the
			late 1840s pushed the federal government to promote the extension of the national railroad
			network into the Great Plains and thence to the Pacific. Congress acted decisively in two
			ways. First, it established the practice (which would continue into the early 1880s) of
			granting fledgling railroad companies large tracts of federal land, the sale of which would
			support railroad construction and promote the settlement and development of the regions the
			railroads served (Map 4). Second, Congress authorized a massive exploration of the
			Trans-Mississippi West by the War Department to determine the best possible routes for a
			transcontinental railroad. These Pacific Railroad Surveys (1853-55) (Maps 5-6) mark the
			beginning of a great era of systematic scientific exploration of the West, stalled, if only
			temporarily, by the Civil War. These surveys set the stage for the actual construction of
			several transcontinental routes in the 1860s-1880s, a period of great vigor in railroad
			expansion. We find the first examples in this decade of railroad maps designed specifically to
			promote the activities of and points-of-view of specific railroads and regional interests
			(Maps 4-5), a process that would accelerate in the decades after the Civil War.
		</p>
	</section>
	<section>
		<h2 class="section-header">Continental and Market Expansion</h2>
		<p class="body-text">
			The decade immediately following the Civil War saw the realization and extension of the
			ambitious plans made before the war. The first transcontinental railroad was completed in
			1869, and additional transcontinental routes were underway by the centennial year of 1876.
			Some rail investment went to the reconstruction of southern railroads destroyed and disrupted
			by war (Map 8), but the greatest growth took place on in the Trans-Mississippi West. Fueled by
			the stimulus of the federal land grants, railroads were now playing a major role in the
			migration to and settlement of the Great Plains (Map 9), and the mountains and Pacific coast
			beyond. Speculation, fierce competition, the high costs of rail construction among these
			railroads resulted in several spectacular financial failures among railroad companies, notably
			the bankruptcy of the Northern Pacific Railroad in 1873, but other railroads, such as the
			Pennsylvania Railroad (Map 10), thrived by absorbing or working cooperatively with their
			rivals. Cartographically, this was a period of great experimentation and innovation in the
			design and use of maps in railroad advertising and promotion (Maps 9-10). These innovations
			were spearheaded by new publishers specializing in the field such as Rand McNally.
		</p>
		<p class="body-text">
			Another way of thinking about railroad cartography is to arrange the entire corpus of such
			materials into categories according to their purpose. In developing such a classification
			morphology naturally emerges because purpose directly influences the structure, form, and
			format of the maps. We might posit five broad categories of maps: (1) Initial maps, those used
			before a railroad is put into operation; (2) Working maps used to keep the trains running; (3)
			Promotional maps published to bring a particular railroad to the attention of the general
			public; (4) Travelers’ maps produced by commercial publishers that treated all railroads
			equally; and (5) Booster maps produced by states, cities, and towns in the railroad age which
			promoted the interests of the sponsoring organization. Most railroad maps would fit into one
			of these categories, but a stubborn minority might resist easy pigeonholing: News maps or maps
			of abandoned routes, for example. And then there are general maps of many types produced
			during the railroad age which used the tracks to give shape to the American landscape on a
			national, regional, state, and local level.
		</p>
	</section>
	<section>
		<h2 class="section-header">Initial Maps</h2>
		<p class="body-text">
			All railroads started with an idea, and as such owe their conception to a mental map. To
			convey the idea to others, however, paper came into play. At first it might have been a sketch
			on the back of an envelope but as the proposal took shape and the project attracted some
			support, a civil engineer or a surveyor was often hired to head a team to compile an accurate
			survey. The data gathered by these efforts usually appeared in a printed report, often
			summarized by a map (Map 1). Profiles illustrating the grade and elevation of the route
			normally accompanied the map. Employing a large enough scale to portray necessary details, the
			mapmaker, often the engineer in charge of the effort, focused on the right-of-way, excluding
			most details beyond the immediate vicinity of the proposed route. Sometimes several
			alternative routes were presented to compare costs involved in initial construction versus the
			operating expenditures expected down the road. More bridges, for example, might reduce grades
			and straighten routes, but they were expensive to erect.
		</p>
		<p class="body-text">
			The initial survey provided only a general idea for a route. The actual process of
			construction required more detailed plans. Construction plans on paper seldom survived the
			rough use in the field and the continual process of revision, however. Although multiple
			copies might have been made at the time, they were usually not printed because they were so
			large and unwieldy. The usually smaller initial surveys were better suited than construction
			documents to attract investors or to inform the general public about the route and how it
			fitted into the territory. Sometimes they were hand colored and transformed into attractive
			presentation copies. Copies could also be folded and tipped into a prospectus or an annual
			report and hence enjoyed a greatly enhanced chance of survival.
		</p>
		<p class="body-text">
			Thus the initial survey maps often saw double duty, addressing the engineering concerns for
			which they were made, but also persuading investors to take up stock in the company. Later,
			companies with some resources at hand would produce more elaborate prospectus maps, often to
			solicit financial support from the towns located along the right-of-way. These maps usually
			covered much more territory on each side of the route, perhaps suggesting branch lines or even
			an alternative route if enough financial assistance was forthcoming from towns originally left
			off the main line. Once a railroad was built and in operation, however, financial interests
			sought maps from independent sources such as Henry Varnum Poor (Map 7). Prospectus maps often
			addressed the general public as well, especially when the prospective railroad hoped to sell
			stock or bonds to cities and towns along the way. Connecting the trackage with a potentially
			supportive community became an essential purpose of these maps.
		</p>
		<p class="body-text">
			Two additional types of initial survey maps should be noted, both of which are most clearly
			noted in the early proposals for a transcontinental railroad. Individual promoters saw
			railroads as a means of advancing national power and economic progress. One type of survey map
			projected individual railroads developing into a national system, embodying the vision of a
			contemporary school of political economy. (Map 2). Edwin F. Johnson’s propagandistic “Map of
			the Proposed Northern Route” for the transcontinental railroad in 1853 (Map 5) would fall into
			this category.
		</p>
		<p class="body-text">
			The maps produced by the various Pacific Railroad Surveys (Map 6) constitute a second special
			type of initial map. Conceived on a much broader canvas than the typical railroad survey,
			these efforts, following four wide pathways from the Mississippi Valley to the Pacific Ocean,
			gathered data on the history, botany, zoology, geology, ethnography, and paleontology of the
			Great West, and produced maps more akin to those published by scientific expeditions than
			engineering surveys. Funded by the US Government, these surveys underscored the developmental
			nature of much of the railroad building in the United States, especially on the Western
			routes. These tracks did not tap existing economic resources but provided a means to create
			them. In a real sense, the Pacific Railroad Surveys penetrated distant lands and opened up new
			visions of what America was and what it could become.
		</p>
	</section>
	<section>
		<h2 class="section-header">Working Maps for Internal Use</h2>
		<p class="body-text">
			Once the tracks were set in place and the trains started running, a variety of maps
			facilitated their operation. Each task required a special type of map. Depot agents selling
			tickets needed a picture of the entire line and its various connections. Trackage maintenance
			supervisors, on the other hand, needed detailed, large-scale maps to plan their work. Railroad
			archives are sometimes crowded with plans, blueprints, diagrams, and the like for specific
			structures such as stations, bridges, and freight-houses. These were kept in the main office
			in case they would be needed at a later date.
		</p>
		<p class="body-text">
			Large-scale track charts, usually in manuscript form, were often bound into large trackage
			atlases. Copies sent to the main office may not have been used very often and were soon out of
			date. Working documents in the field, however, seldom survived because they were literally
			worn out by continual revision and constant use. When they do survive, these detailed maps are
			very useful in reconstructing railroad corridors of the past, especially as they incorporate
			notes and images on the surrounding landscape (Map 8).
		</p>
		<p class="body-text">
			All railroads were major landowners, and most had special land departments in charge of buying
			additional parcels, selling others, and generally looking after the company’s real estate.
			These offices depended on surveys, subdivisions, boundary maps, and plats of railroad and
			adjacent properties of various types. Legal necessities dictated carefully maintained files of
			these documents, occasionally augmented by specially created display maps if a legal dispute
			should lead to court.
		</p>
		<p class="body-text">
			From the start, railroad companies published maps addressed primarily to stockholders,
			prospective purchasers of the company’s bonds, and public officials who might be in a position
			to advance the interests of this particular railroad. Many of these maps took up large sheets
			to be displayed as wall maps or folded into annual reports. Presentation copies were often
			hand colored and pasted onto canvas to hang on rollers, or folded within ornate covers. These
			maps almost always showed the entire route over which the particular company operated trains
			and often placed the company’s trackage into a wide geographical context indicating connecting
			routes. Eventually, travelers could expect to find this type of a wall map exhibited in all
			passenger depots.
		</p>
		<p class="body-text">
			These system maps had cousins in the legal files in the main offices of a railroad company. As
			a railroad built branch lines, purchased other railroads, or secured operating rights over
			other lines, maps became a convenient way of visualizing these legalities. Although prosaic in
			appearance, these maps clarified who owned which segments of the system, how far operating
			rights extended, or which parts of the railroad’s real estate secured loans and mortgages. In
			addition, managers sometimes required special maps such as those made in response to natural
			disasters such as floods, or traffic flow maps made to help plan future improvements.
		</p>
	</section>
	<section>
		<h2 class="section-header">Promotional Maps</h2>
		<p class="body-text">
			Railroads in the United States were almost always private concerns, conceived, financed,
			built, and operated by joint-stock companies. Their success depended on attracting patronage
			from the general public. It is not surprising, therefore, that advertising to encourage use of
			particular routes by passengers and shippers appeared at an early date, especially in
			newspapers. Because the earliest trains ran between a limited number of places, notices placed
			in each newspaper along the way would reach almost the entire supporting public. Posters,
			broadsides, and leaflets also reached out to this audience, often employing graphic
			embellishments to attract attention.
		</p>
		<p class="body-text">
			Maps, however, did not seem to fit into these early railroad promotional materials for several
			reasons. First, there was little need for a map showing the route from Boston to Lowell, for
			example, only twenty-six miles away. Maps were also costly to produce and took up expensive
			space, especially in newspapers where one paid by the line. Moreover, if one wanted to use an
			illustration to attract attention, drawings of locomotives puffing smoke and pulling cars
			would be better than a map.
		</p>
		<p class="body-text">
			Maps did not usually appear on company-sponsored publications until the 1850s and 1860s. The
			emergence of maps to promote and facilitate travel by rail came first as supplemental
			information on travel guides that centered their attention on canals, steamboat routes, and
			turnpikes. The 1834 “Map of the Railroads and Canals, Finished, Unfinished, and in
			Contemplation in the United States” produced by William Morris for the Railroad Journal is a
			case in point. One of the earliest comprehensive transportation maps of the nation, it
			emphasized canals. Eleven profiles at the edges of the map show the elevations of canals and
			only three feature railroads, usually as an extension of a canal. There is no map on the
			earliest surviving separately published piece of American railroad advertising, also published
			in 1834, a handbill promoting New York’s Mohawk & Hudson Railroad, a short line providing
			passengers more direct access from Albany to the Erie Canal. But as the length of the railroad
			lines increased and as branch lines and connecting routes multiplied, maps, especially simple
			ones, became useful features on advertisements. Timetables became necessary as railroads
			increased the frequency of their daily operations. As railroads expanded their destinations or
			points of connection, maps became desirable timetable supplements.
		</p>
		<p class="body-text">
			With the growth of America’s railroad network, the increasing wealth of the railroad
			companies, and the stimulus of heightened competition, railroad maps became more elaborate.
			Advances in printing press design and paper manufacturing were accompanied by the introduction
			of lithography, wax engraving, and knowledge of ways to shape maps to the advantage of
			particular routes. Technological advances, acuity in designing maps for advertising purposes,
			and consumer needs for informative guides to rail travel all came together in the 1860s to
			create a revolution in the industry’s advertising. The result was the railroad map as we have
			come to know it. These often enthusiastic expressions of nationalism, American progress, and
			prosperity became classic Americana, trophies for map collectors and scholars, and loaded with
			imagery and data for historians and historical geographers. Rand McNally in Chicago perfected
			the type, but other firms around the country also supplied the market.
		</p>
		<p class="body-text">
			In 1874 the Chicago firm produced its first railroad promotion map on a grand scale for the
			Chicago, Milwaukee, and St. Paul Railway (CM&StP). The 13½ x 17½ inch sheet was folded so that
			the verso contained ten sections, six of which were devoted to the tabular timetables which
			had become standard railroad fare. One panel advertised the ease of connections to New York
			and points east, highlighting the convenience of using one of the company’s own “superior
			palace sleeping cars” which would switch lines in Chicago so passengers from the East would
			have no need to change trains on their way to the inviting scenery pictured on the two cover
			panels: Views of the Wisconsin Dells. The remaining panel featured a map of the “Business
			District of Chicago,” pointing out the various railroad terminals in the city for passengers
			wanting to make other connections. The front side of Rand McNally’s sheet featured a colorful
			map of the CM&StP and its connecting routes, with the company’s tracks marked by bold, dark
			lines. All the stations are labeled on the map, placed at an angle with the names repeated in
			alphabetical order in columns flanking the map.
		</p>
		<p class="body-text">
			The classic Rand McNally production of this era might be the “General Map of the Pennsylvania
			Railroad,” which was tipped into a pamphlet given away at the Centennial Exposition in
			Philadelphia (Map 9). It pictures the United States railroad system in its entirety with an
			inset world map centered on the Los Angeles meridian.
		</p>
		<p class="body-text">
			A special type of promotional map issued by land-grant railroads accompanied the companies’
			efforts to sell lands to farmers and ranchers. Often called “settlers’ maps,” these resembled
			time-tables in that one side would feature an attractive state or regional map showing the
			location of the real estate while the panels on the verso would describe and picture the land
			in very favorable terms. In place of time tables, a detailed text provided specific directions
			on how to reach the area, select a farm, purchase the land, and get started in a new location
			(Map 10).
		</p>
		<p class="body-text">
			The Illinois Central, the nation’s first major land-grant railroad, pioneered in developing
			settlers’ maps of various types (Map 4). Many of these were published in foreign languages for
			distribution overseas or in ethnic neighborhoods in America cities. Railroads without land
			grants such as the older eastern companies also sought to attract factories and businesses to
			their service areas, setting up development offices to promote economic expansion which would
			benefit the lines down the road. Maps showing available sites for manufacturing facilities or
			lots for sale in business districts also often appeared under railroad sponsorship.
		</p>
	</section>
	<section>
		<h2 class="section-header">Commercial Maps for Public Affairs and Travelers’ Aids</h2>
		<p class="body-text">
			Commercial publishers issued “railroad maps” before individual companies used cartography to
			reach the general public. Morris’s 1834 “Map of the Railroads and Canals…in the United States”
			might be the patriarch of this type of map, but it probably served more in the area of public
			affairs than aiding travelers, alerting the nation to the emergence and availability of a
			nascent transportation system rather than helping travelers get from one place to another.
			General guides for travelers published by New York- and Philadelphia-based publishers such as
			H. S. Tanner, Samuel Augustus Mitchell, John Disturnell, and J.G. Colton included similar maps
			of the transportation system from the late 1830s. Some of the various railroad guides
			(collections of timetables for various routes) that appeared around 1840 began to include maps
			of individual lines as well as a comprehensive national map when the competition between these
			publications intensified in the 1850s.
		</p>
		<p class="body-text">
			After the completion of the transcontinental railroad in 1869, a map publisher’s catalogue was
			not considered complete without an entry for a large-size national railroad map. Gaylord
			Watson published several such items in New York in the 1870s, the most elaborate of which was
			the huge (thirty-five by fifty-seven inches) hand-colored “Centennial American Republic and
			Railroad Map of the United States” (1875), an expensive wall decoration similar to the one the
			Pennsylvania Railroad was giving away for free (Map 9). Watson’s sheet included the complete
			text of the Declaration of Independence, a view of the national capitol, and a portrait of
			George Washington, among other national symbols, while the Pennsylvania Railroad made a
			corresponding point by simply including a world map as an inset.
		</p>
		<p class="body-text">
			Passengers had been served by a variety of local compilations of timetables since the 1840s
			but these were dwarfed by the Travellers Official Railway Guide, which began its long
			publishing career in New York in 1868. This guide aimed to be national in scope and included
			many maps. Soon afterward Rand, McNally entered the field, ensuring that maps would become a
			regular feature in these comprehensive railroad guides, eventually appearing alongside almost
			every timetable, and pushing the size of these volumes to over a thousand pages.
		</p>
	</section>
	<section>
		<h2 class="section-header">Booster Maps</h2>
		<p class="body-text">
			Because the United States was so large and its railroads so numerous, national railroad maps
			had only limited value to prospective passengers. More typically, commercial railroad maps
			focused on one region, a particular state, or even a particular vacation spot such as Niagara
			Falls. Here the field was soon dominated by free booster maps given away to prospective
			visitors or settlers by particular cities, states, and attractions. Such maps tended to
			emphasize the accessibility by rail and centrality of the sponsoring institution or
			destination, even when these locations were geographically marginal. Edward D. Mansfield’s
			pamphlet, Exposition of the Natural Position of Mackinaw City (1857), included an early
			example, a large foldout “Map illustrating the Canada and Northern Pacific and Other Proposed
			Railroads” produced by John Disturnell in New York. Mansfield assured his readers that
			Mackinaw City was “the most reliable point for investment and settlement now available in the
			West or North.” Although a few railroad maps of this type appeared before 1876, the golden age
			of the travel brochure and the booster pamphlet accompanied by one or more railroad maps, lay
			ahead, reaching into the twentieth century.
		</p>
		<p class="body-text">
			When telling the story of the United States between 1828 and 1876, railroads take the center
			stage. As Michel Chevalier toured the United States in 1834 he marveled at the prospect of a
			nation crisscrossed by railroads. Everywhere he traveled Americans talked about railroads.
			“The benefits of the invention are so palpable to their practical good sense that they
			endeavor to make an application of it everywhere and to everything, rightly or wrongly,” he
			told his countrymen in France. He even produced a map to bolster his argument that the
			Americans were constructing a national railroad system (Map 2), something he wanted France to
			emulate.
		</p>
		<p class="body-text">
			Near the end of our period, George H. Daniels issued a prospectus for a new railroad, complete
			with an initial map. To put the weight of recent history behind The Chicago & Pacific Railroad
			(1873), Daniels quoted Schuyler Colfax, the recent Vice-President of the United States: “All
			experience in this rapidly-growing country has proven that the locomotive is not only the
			civilizer, but the developer of our States and Territories,” the Indiana politician concluded.
			As the railroads invite immigration, he continued, “villages and cities spring up, agriculture
			and mechanic arts thrive, water-power is utilized, manufactures are established, resources are
			developed, business is literally created,” and, we might add, one can see it all on the maps,
			if one has eyes to see. One map will not do. Every railroad has its own history and its own
			cartographic record. Each line must be seen as part of a larger national transportation
			system. In the end, as the Pennsylvania Railroad realized in 1876, one even needed a world map
			to tell the whole story.
		</p>
	</section>
	<aside>
		<h2 class="section-header">Further Reading</h2>
		<p class="body-text">
			Any study of American railroads is burdened by an immense storehouse of primary source
			material found in the archives of individual companies. These often include records of other
			lines taken over by the major trunk lines. Thus a document from a small entity such as the New
			Orleans, Jackson, and Great Northern Rail Road (NOJ&GNRR: Map 8) is found in the Illinois
			Central Railroad archives in the Newberry Library. Sometimes there are detailed finding aids
			to guide research in these collections, but the best way to get into them is a conversation
			with the curator. In some cases the annual reports to stockholders, read in sequence, will
			also provide helpful guidance. If one wants to develop an archival context for a particular
			map, consulting the relevant annual reports might be a useful place to start.
		</p>
		<p class="body-text">
			Most readers, however, will not want to spend the time and energy needed for primary research
			and will turn to secondary sources. Once again, the literature is enormous, divided into books
			and articles. Again, taking the Rothas track book as an example, one would consult general
			histories of the Illinois Central Railroad, which eventually acquired the NOJ&GNRR. Two such
			studies by Stover (1955) and Frey (1988) would bring Thomas D. Clark’s 1936 book on A Pioneer
			Southern Railroad: From New Orleans to Cairo to your attention. This monograph tells the story
			of how ten smaller lines eventually were combined to create a southern route for the Illinois
			Central Railroad. Chapter four is devoted to the NOJ&GNRR.
		</p>
		<p class="body-text">
			Articles are another useful secondary source but they are much more difficult to find, locate,
			and procure by interlibrary loan. Again, a research librarian would be helpful in suggesting
			bibliographies and search engines based on the histories of railroads in general as well as
			guides to state history, business concerns, and the like. In the case of the NOJ&GNRR such as
			search led to “A Strategic Railroad: The New Orleans, Jackson and Great Northern in the Civil
			War” Louisiana History, 11:2 (Spring 1973) by Lawrence F. Estaville. Our search (in World Cat)
			also led to a special assemblage of source materials at the University of Texas, Austin: the
			Natchez Trace Railroad Collection that contains a rare map of the railroad “and its
			connections” dated 1856. Another “find” using the same finding aid was an on-line copy of the
			railroad’s Annual Report, dated January 1866, available through the New Orleans Public
			Library.
		</p>
		<p class="body-text">
			Sometimes one gets lucky. While researching this particular map we developed a habit of
			looking for our New Orleans railroad in the index of any book we picked up. Wow! There it was
			on page 117 of the Historical Atlas of the North American Railroad (2010) by Derek Hayes,
			featuring a map with the very same title as the one in Texas, but assigned a later date of
			about 1873. So, as you continue searching, more questions present themselves and new leads to
			follow keep appearing. Research never ends. Its root meaning is “to search again.” See the
			“Going Further” section of the module on "Railroad Maps, 1876-Present" for some additional
			suggestions.
		</p>
	</aside>

	<footer>
		<h4 class="footer-header">Bibliography</h4>

		<p class="periphera">
			Akerman, James R, et al. 1993. Two by Two: Twenty-two Pairs of Maps from the Newberry Library
			Illustrating 500 Years of Western Cartographic History. Chicago: Newberry Library.
		</p>
		<p class="periphera">
			Board of Directors of the Sacket’s Harbor and Saratoga Rail Road. 1854. Report of the
			Committee to Investigate the Affairs of the Company.
		</p>
		<p class="periphera">
			Bowles, Samuel. 1869. The Pacific Railroad – Open: How to Go. What to See. Boston: Fields,
			Osgood & Co.
		</p>
		<p class="periphera">
			Challis, David M., and Andy Rush. 2009. “The Railways of Britain: An Unstudied Map Corpus.” In
			Imago Mundi, v. 61, no. 2, 186-214.
		</p>
		<p class="periphera">
			Chandler, Alfred D., Jr. 1956. Henry Varnum Poor: Business Editor, Analyst, and Reformer.
			Cambridge, MA: Harvard University Press.
		</p>
		<p class="periphera">
			Chevalier, Michel. 1839. Society, Manners and Politics in the United States: Being a Series of
			Letters on North America. Boston: Weeks, Jordan & Co.
		</p>
		<p class="periphera">
			Colyer, E. 1856. Map Shewing the Connections and Intersections of the New Orleans Jackson, and
			Great Northern Rail Road.
		</p>
		<p class="periphera">
			Conzen, Michael, and Diane Dillon. 2007. Mapping Manifest Destiny. Chicago: Newberry Library.
		</p>
		<p class="periphera">
			Cupper, Dan. 1996. The Pennsylvania Railroad: Its Place in History 1846-1996. The Pennsylvania
			Railroad Technical & Historical Society.
		</p>
		<p class="periphera">
			Daniels, George H. 1873. The Chicago & Pacific Railroad. Chicago: H.B. Horton.
		</p>
		<p class="periphera">
			Estaville, Lawrence E., Jr. Spring 1973. “A Strategic Railroad: The New Orleans, Jackson, and
			Northern in the Civil War. In Louisiana History, v. 14, no. 2.
		</p>
		<p class="periphera">
			Frey, Robert L, ed. 1988. Encyclopaedia of American Business History and Biography: Railroads
			in the Nineteenth Century. New York: Facts on File.
		</p>
		<p class="periphera">
			Guild, William. 1847. A Chart and Description of the Boston and Worcester and Western
			Railroads. Boston: Bradbury & Guild.
		</p>
		<p class="periphera">
			Hayes, Derek. 2010. Historical Atlas of the North American Railroad. Berkeley, CA: University
			of California Press.
		</p>
		<p class="periphera">
			Lomazzi, Brad S. 1995. Railroad Timetables, Travel Brochures, & Posters: A History and Guide
			for Collectors. Spencertown, NY: Golden Hill Press.
		</p>
		<p class="periphera">
			Mansfield, Edward D. 1857. Exposition of the Natural Position of Mackinaw City. Cincinnati:
			Wrightson & Co.
		</p>
		<p class="periphera">
			Middleton, William D., et al, eds. 2007. Encyclopedia of North America Railroads. Bloomington:
			University of Indiana Press.
		</p>
		<p class="periphera">
			Modelski, Andrew M. 1984. Railroad Maps of North America: The First Hundred Years. Washington,
			DC: Library of Congress.
		</p>
		<p class="periphera">
			Modelski, Andrew M. 1975. Railroad Maps of the United States: A Selective Annotated
			Bibliography of Original 19th-century Maps in the Geography and Map Division of the Library of
			Congress. Washington, DC: Library of Congress.
		</p>
		<p class="periphera">Mohawk & Hudson Railroad. 1834. Promotional handbill.</p>
		<p class="periphera">
			Morris, William. 1834 “Map of the Railroads and Canals, Finished, Unfinished, and in
			Contemplation in the United States.” New York: Cammeyer & Clark.
		</p>
		<p class="periphera">
			Musich, Jerry. 2006. “Mapping a Transcontinental Nation, Nineteenth- and Early Twentieth
			Century American Rail Travel Cartography.” In Cartographies of Travel and Navigation, edited
			by James R. Akerman, 97-150, 316-321. Chicago: University of Chicago Press.
		</p>
		<p class="periphera">
			Ogilby, John. 1675. Britannia. In facsimile, 1970. Amsterdam: Theatrum Orbis Terrarum.
		</p>
		<p class="periphera">
			Perris, William. 1858. A New and Complete Rail Road Map of the United States. New York.
		</p>
		<p class="periphera">
			Rand McNally and Company. 1874. Chicago, Milwaukee and St. Paul Railway. Chicago: Rand McNally
			& Co.
		</p>
		<p class="periphera">
			Searles, William H., et al. 1880. Field Engineering: A Handbook of the Theory and Practice of
			Railway Surveying, Location, and Construction. Twenty-second edition by Philip Kissam, 1949.
			New York: John Wiley & Sons.
		</p>
		<p class="periphera">
			Stover, John F. 1999. The Routledge Historical Atlas of the American Railroads. New York:
			Routledge.
		</p>
		<p class="periphera">
			Stover, John F. 1955. History of the Illinois Central Railroad. New York: Macmillan.
		</p>
		<p class="periphera">
			United States. 1861. Reports of Explorations and Surveys, to ascertain the most practicable
			and economical route for a railroad from the Mississippi River to the Pacific Ocean.
			Washington, DC: Government Printing Office.
		</p>
		<p class="periphera">
			Watson, Gaylord. 1875. Centennial American Republic and Railroad Map of the United States and
			of the Dominion of Canada. New York: Gaylord Watson.
		</p>
		<p class="periphera">
			Woodward, David. 1977. The All-American Map: Wax Engraving and Its Influence on Cartography.
			Chicago: University of Chicago Press.
		</p>

		<small class="end-bib">View Bibliography</small>
	</footer>
	<footer>
		<h4 class="essay-gallery">Essay Gallery</h4>

		<p class="periphera">Survey of the Boston and Albany Railroad, 1828</p>
		<p class="periphera">Vision for a U.S. Railroad Network, 1836</p>
		<p class="periphera">Guidebook to the Boston and Worcester and Western Railroads, 1847</p>
		<p class="periphera">Illinois Central Railroad, Land Grant Maps, 1854</p>
		<p class="periphera">Proposed Northern Rail Route to the Pacific, 1854</p>
		<p class="periphera">Survey for a Pacific Railroad near the 35th Parallel, 1853-54</p>
		<p class="periphera">Railroads in the United States, 1854</p>
		<p class="periphera">Track Book, NOJ&GN RR, ca. 1872</p>
		<p class="periphera">Pennsylvania Railroad Promotional Map, 1876</p>
		<p class="periphera">AT&SF Lands for Sale in Kansas, 1873</p>
	</footer>
</article>
