<h1>Maps of Trails and Roads of the Great West</h1>
<p><em>by: </em><span class="author">(.+)</span></p>

<article>
	<section>
		<p class="section-header">The Spanish Entrada</p>
		<p class="body-text">
			The earliest trails of the Great West of North America were those blazed by Indians, and many
			of them, such as the Comanche Trail across Texas and New Mexico, followed the even older
			seasonal migration routes buffalo and other wild game. As demonstrated by the archeological
			remains of trade goods uncovered in the region (parrot feathers, pottery, textiles, seeds,
			foodstuffs, etc.), interconnected networks of Indian pathways stretched northward from the
			empires of the Mayas and Aztecs in southern and central Mexico into the Greater Southwest of
			what are now northern Mexico, New Mexico, Arizona, Utah, and Colorado and back, well before
			the coming of Europeans. Yet other systems of east-west trails linked the peoples of the Great
			Plains with those of the Greater Southwest and the Pacific Coast. While less demanding tracks
			over the land and the availability of water and sustenance were key to the establishment of
			these courses, there is, regrettably, no surviving print record of any route maps that may
			have been made by Indian travelers of these traces.
		</p>
		<p class="body-text">
			When Europeans and, later, Euro-Americans initially came to the West, they regularly journeyed
			along the traces pioneered by the Indians. Spanish travelers were the first to come. Within
			the decade after the conquest of the Aztec Empire by Hernando Cortés in 1521, they began
			moving northward from Mexico City, seeking more fortune and glory for their God, their king,
			and for themselves. Specifically, they searched for the mines that were the sources of the
			silver and gold of the Aztecs and then for more Aztec- and Inca-like civilizations, such as
			the rumored Seven Cities of Cibola and their riches of gold and turquoise. Toward achieving
			the latter of those ends, the entradas of Pánfilo de Narváez and Alvar Núñez Cabeza de Vaca in
			1527-1537, Fray Marcos de Niza and Francisco Vázquez de Coronado in 1539-1542, and Hernando de
			Soto and Luis de Moscoso in 1539-1543, followed the Indian trails of what is now the
			southwestern United States, chronicling and mapping their travels along the way.
		</p>
		<p class="body-text">
			In 1598, Juan de Onate led a large party of military and settlers northward from Chihuahua via
			El Paso del Norte along the Rio Grande to take formal possession of New Mexico. In July, he
			founded his first capital at the Tewa village of Ohkay Owingeh (Pueblo of San Juan). This
			capital was moved to the new village of Santa Fe in 1610. Onate explored and mapped New
			Mexico, especially to the west to find an overland route to California, until he was replaced
			as governor in 1608. Thereafter, in the seventeenth and eighteenth centuries, the Spanish
			turned the old Indian trails stretching northward from Mexico City into El Camino Real (“the
			royal road”), connecting Mexico City via El Paso with Santa Fe and Taos in New Mexico in the
			north and via Tubac in Arizona with Los Angeles and San Francisco in Alta California in the
			northwest. Soldiers, immigrants, trade, and vital communications regularly traveled, locally
			and over longer distances, on these first European roads into the West. Alexander von
			Humboldt’s derroterro or route map, “Carte de la Route qui méne depuis la Capitale de la
			Nouvelle Espagne jusqu’à S. Fe du Nouveau Mexique…”, published in Paris in 1811, fully details
			El Camino Real from Mexico City.
		</p>
		<p class="body-text">
			At about the same time as Daniel Boone was leading British settlers from Virginia through the
			Cumberland Gap in the Appalachian Mountains on the Cumberland or Wilderness Trail (which was
			eventually surpassed by canals and riverboats) west onto the Kentucky frontier in the 1770s,
			several Spanish parties were trying to find a way between Santa Fe and Los Angeles and San
			Francisco. The Domínguez-Escalante Expedition, under the leadership of frays Atanasio
			Domínguez and Silvestre Vélez de Escalante and accompanied by the soldier-engineer and
			cartographer Bernardo de Miera y Pacheco, in 1776-1777 penetrated into south central Utah
			before returning to Santa Fe. A product of this exploration was Miera’s important manuscript
			map, the “Plano de la Provincia Interna del Nuevo Mexico…”, completed in Santa Fe in 1777 and
			in several copies in 1778 and 1779. It documented the expedition’s traverses and much of what
			was known by the Spanish about the Southwest at the time. It also first revealed the larger
			eastern part of what would come to be known as the Old Spanish Trail and pioneered by the
			Domínguez-Escalante Expedition.
		</p>
		<p class="body-text">
			Until the 1850s, the Old Spanish Trail was the major pack train trade route between Santa Fe
			and Los Angeles and San Francisco. Textiles made by Indian and Spanish weavers from the wool
			of New Mexican sheep were carried to California and traded for horses and mules that were then
			led back to Santa Fe to be sold. There was also a more localized trade in Indian (Ute and
			Paiute) slaves by Spanish, Mexican, and later Mormon traders along the New Mexico-Utah part of
			the trail. The Old Spanish Trail in its maximum extent has been delineated clearly on the
			significant “A New Map of Texas Oregon and California…” by Samuel Augustus Mitchell, published
			in Philadelphia in 1846.
		</p>
		<p class="body-text">
			Beginning in the 1821, the Santa Fe Trail linked much of the older Spanish-Mexican trail
			network, which the Americans would inherit a quarter of a century later, to the expanding
			United States. It became a major artery for trade, migration, and the military, reaching from
			Santa Fe eastward to central Missouri and Kansas until it was fully eclipsed by railroads
			1880. The importance and popularity of the Santa Fe Trail is attested to by its prominence on
			many on many of the maps of the West of the day, including this map of 1846 by Samuel Augustus
			Mitchell.
		</p>
		<p class="body-text">
			Near the end of the Mexican War of Independence from Spain (1810-1821), the Spanish government
			issued the first impresarial grant of land in Texas to the American Moses Austin to found a
			colony. The Austin Grant colonists, the “Old Three Hundred,” settled along the Brazos River in
			southeast Texas in 1822. Moses’ son, Stephen F. Austin, spent much of 1822-1823 in Mexico City
			to have the grant confirmed by the new government in 1823. As part of the approval, he agreed
			to produce and up-to-date map of the new Mexican state of Coahuila y Tejas, as it came to be
			called in 1824. Austin finished his map in 1829 and sent a copy in Spanish to the Mexican
			government as promised. He also had it published by H.S. Tanner of Philadelphia in 1830 as a
			“Map of Texas with Parts of Adjoining States”.
		</p>
		<p class="body-text">
			Austin’s map not only provided Mexico with the most comprehensive rendering of Texas to date,
			but it also publicized the new Mexican state to the world at large. It indicated old and new
			settlements and the roads connecting them as well as emphasizing the region’s rivers and
			coastal harbors such as Galveston Bay. Indian tribes were located, and the map advertised
			“immense herds of buffalo” and “immense droves of wild horses.” Spanish-introduced free-range
			cattle also are mentioned. Clearly, this important map was intended to promote Texas and to
			lure US settlers to “Austin’s Colony,” which is one of only two with “Dewitt’s Colony” given
			prominence on it. The unexpected rapid influx of US settlers, legally and illegally, to the
			Austin and other impresario grants caused the Mexican government to impose ever greater
			restrictions on immigration to Texas that ultimately led to the Texas Revolution in 1835-1836
			and the founding of the independent Republic of Texas. Austin’s map is a classic early example
			of immigrant cartography of the type that helped to open up not only Texas but the whole of
			the West to settlement.
		</p>
		<p class="body-text">
			Throughout the nineteenth century, particularly commercial cartography production related to
			these and other trails became somewhat formulaic. The state and territorial maps picturing the
			routes appeared in a rapidly growing number of national atlases. The same maps were also left
			as single sheet flat maps or made into pocket maps. The use of pocket maps dates back to at
			least the second half of the seventeenth century, and this form was created essentially to
			satisfy the demand created by increasingly mobile middle-class Europeans. These Europeans
			needed the convenience of maps that could be carried with them on their trips to help them get
			where they were going and to tell them what it was like there and along the way. Pocket maps
			were constructed from the flat maps that were sectioned with the sections then affixed to
			cloth or canvas backings, and were folded along the gaps between the sections to fit in more
			confined spaces such as the pockets of travelers’ coats. Over time, the sizes of the maps when
			folded were in part governed by the whims of fashion and the subsequent changing
			configurations of pockets. Many late nineteenth century varieties were labeled “vest pocket
			maps.” The folded maps often were fitted with titled covers made of leather or other more
			rigid materials. The backings and covers prolonged the maps’ lives by allowing them to be
			consulted continually during travel. In due course, the use and increased popularity of
			pockets maps crossed the Atlantic to the Americas with European empires and their journeyers.
		</p>
	</section>
	<section>
		<h2 class="section-header">The Coming of the Americans</h2>
		<p class="body-text">
			Over the course of the nineteenth century, and especially after the Mexican-American War
			(1846-1848), the United States realized its “Manifest Destiny” to expand from the shores of
			the Atlantic Ocean to the Pacific and beyond. Consequently, more and more people, US and
			European settlers streamed across the Mississippi River, lured by land for the taking, to find
			their fortunes and futures in the West. In addition to the Santa Fe Trail, numerous other
			overland trade and immigrant routes were opened up to various parts of the Great West. These
			new roads functioned not only to bring people to the frontier, but to supply their new
			settlements as well.
		</p>
		<p class="body-text">
			The Oregon Country was a huge piece of territory, disputed over by Great Britain, Russia,
			Spain, and the United States, that included not only the present state of Oregon, but also
			Washington, Idaho, and parts of Montana and British Columbia. Its climate, rivers rich with
			fish and fur, timber resources, and potential farm lands invited settlement. The initial parts
			of the 2,000 mile wagon road known as the Oregon Trail that connected Independence, Missouri
			to the Willamette Valley in Oregon were laid out my mountain men and traders (following Indian
			trails) prior to 1840. Approximately 400,000 people eventually used the Oregon Trail during in
			the 1840s-1860s.
		</p>
		<p class="body-text">
			In the 1820s-1840s, the British Hudson’s Bay Company developed its York Factory Express Route
			from its York Factory on Hudson’s Bay to its Fort Vancouver in Oregon, upstream from the
			American Fort Astoria on the Washington side of the Columbia River. Its primary purpose was to
			facilitate the Company’s fur trade with the Indians, not immigration, and it did not actually
			join the Oregon Trail. But other tracks did come together with it or branched off from it.
		</p>
		<p class="body-text">
			In the 1840s-1860s, the California Trail dropped off to the southwest at Fort Hall in Idaho to
			reach the California goldfields. In 1849 alone it brought about 2,700 gold seekers and other
			settlers to California. The road from Independence to northern California too was about 2,000
			miles long. During the same decades, tens of thousands of Mormons followed their leader
			Brigham Young from Nauvoo, Illinois along the Oregon and California trails to the Salt Lake
			Valley in Utah on what came to be known as the Mormon Trail. The Oregon Trail also was laid
			out on Mitchell’s “A New Map of Oregon Texas and California with Regions Adjoining…” in 1846
			as it was reaching its era of greatest usage. The terrains soon to be traversed by its
			branches to the gold fields of California and the promised land of Utah are shown as well.
		</p>
		<p class="body-text">
			Two years later the seminal lithograph “Map of Oregon And Upper California From the Surveys of
			John Charles Fremont And Other Authorities,” drawn by Charles Preuss was published in
			Washington, DC. Fremont and Preuss were officers in the US Army Corps of Topographical
			Engineers, and this map marked the real beginning of the US scientific topographical mapping
			of the West. Although comparable to the Mitchell map, it did not designate the specific
			trails, but it nevertheless more accurately show the way West through the Rockies, especially
			through the South Pass to San Francisco.
		</p>
		<p class="body-text">
			First scouted by John Bozeman and John Jacobs in 1863, the Indian troubled Bozeman Trail
			branched off from the Oregon Trail west of Fort Laramie in Wyoming to reach northwestward
			through the Bozeman Pass into the gold and silver mining country around Virginia City, Montana
			well into the 1870s. The Bozeman Trail takes center stage on the large “Map of the Territory
			of Montana with Portions of the Adjoining Territories”, complied and drawn by Walter W. De
			Lacy of the surveyor general’s office in Helena and superbly engraved and commercially
			published by G.W. and C.B. Colton & Co. of New York in 1870. This detailed map covers the
			Montana, Wyoming, and Idaho territories, accurately showing the various tracks and rivers
			through the rough topography of the Rocky Mountains to take travelers to mining camps, forts,
			and other settlements. The extensive Indian presence of tribes such as the Crow, Flatheads,
			and Nez Perce too are clearly indicated. The picture presented by this map underscores the
			fact that any journey undertaken in this region by the intrepid in search of mineral wealth,
			for land, or for other reasons, will not be any easy one.
		</p>
		<p class="body-text">
			In addition to California and Montana, there were several other important gold and silver
			strikes that helped to open and populate the greater American West; among them were Colorado
			in 1858 and Alaska in 1896. Accordingly, numerous maps were produced by commercial and
			government enterprises to show the routes to miners and other immigrants to the sites of the
			potential new riches. The “Map of Kansas with a Route from Kansas City to the Gold Mines” is
			blatantly simple in showing the way across the Great Plains of Kansas and Colorado to the
			“Gold Region,” appropriately shaded yellow on an otherwise black-and-white rendering. Along
			the main track, which cuts across the “Great Santa Fe Trail,” settlements and possible
			campsites are indicated, as is Pike’s Peak near the end of the journey. To the north of the
			main track, the “South Platte Route” overland trail to the goldfields also is designated. The
			map is authored by Edward Mendenhall and Colonel William Gilpin (1834-1894), based in part on
			the 1849-1853 surveys of Captain John Williams Gunnison (1812-1853) of the US Army Corps of
			Topographical Engineers and published by in Cincinnati, Ohio by Middleton, Strobridge & Co. in
			1859.
		</p>
		<p class="body-text">
			Similarly, “The Gold and Coal Fields of Alaska together with the Principal Routes and Trails"
			by the US Coast and Geodetic Survey and US Geological Survey, published in Washington, DC in
			1898, was one of the most authoritative maps showing the way to the Alaska gold rush. It
			includes not only Alaska but the Canadian Yukon Territory and British Columbia as well. Gold
			was also discovered in the Klondike region of the Yukon in 1896, setting of the great
			“Klondike Stampede,” and many of the “stampeders” reached the Canadian fields from Alaska. As
			the title of the map hintst, many people came to Alaska by sea from the West Coast of the
			United States proper, while others traveled overland through Canada. The locations of the
			known gold deposits are clearly marked on the map, and two insets show the routes to the
			headwaters of the Yukon River in Alaska and the Klondike region in Canada respectively. The
			existing courses from the various ports of entry to the gold fields too are demarcated. This
			map provides a good example of a government publication issued to encourage more orderly
			Western development during the nineteenth century.
		</p>
		<p class="body-text">
			Parts of the great trail networks frequently were used by stage coaches and mail riders for
			more local travel and deliveries. Large stage lines such as those operated by John Butterfield
			and eventually Wells Fargo and numerous lesser ones also connected the trails with ever
			encroaching railroads that would eventually render the trails and even the coaches
			superfluous. Post roads and other mail routes had been indicated on American maps since
			colonial times by the Spanish and British and throughout the nineteenth century. In 1861-1862,
			in an experiment the United States moved mail swiftly from St. Louis, Missouri to Sacramento,
			California for a brief period of six months via the now legendary Pony Express, before it was
			replaced by a network of railroad, stage coaches, and other forms of local delivery along the
			way.
		</p>
		<p class="body-text">
			Several of the proposed and adopted mail routes between St. Louis and the new state of
			California are delineated on the simple broadside “Skeleton Map of the Overland Mail Route to
			California”, attributed to John Butterfield (1801-1869) and presumably published by him in c.
			1857. On it the southern route adopted by the US Post Office is marked in green and the
			proposed central Butterfield route is marked in red. The rejection of Butterfield’s route lost
			him a valuable postal contract. This map was circulated by those disgruntled about the
			decision of Postmaster Brown of Tennessee to opt for the southern route, which veered sharply
			south from St. Louis through Memphis and then on to the West Coast. As the explanations below
			the map point out in a thinly veiled accusation of Brown playing regional politics, the
			selected route was longer and through more inhospitable territory than that proposed by “John
			Butterfield and others (who were the lowest bidders).”
		</p>
		<p class="body-text">
			As the Spanish Army before it, the American Army played an important role in the exploring,
			surveying, mapping, building, and protecting of the Western trails. Especially during the
			Mexican-American War, Civil War, and Indian wars, the cartographic role of the military was
			critical. During the Civil War, it was the growing network of roads that kept most of the West
			connected to the Union and the rest of it to the Confederacy. The “Map of Military Road from
			Fort Walla Walla on the Columbia to Fort Benton on the Missouri…”, by Captain John Mullan
			(1830-1909) and Edward Freyhold (fl. 1855-1879), among others, and published by Julius Bien &
			Co. in New York in 1863, is a superb example of a map that served both the needs of the Union
			Army and civilians eager to go West. The road that this lithograph map documented was a vital
			link of 642 miles through Montana, Idaho, and Washington between the important Columbia and
			Missouri waterways. In addition to terrain, it shows related roads and trails, campsites,
			rapids, and the lands of Indian nations such as the Flathead, Blackfoot, Yakima, and Kootenay,
			among others, and associated battle grounds. Obviously, this map and numerous others like it
			were of value to all kinds of travelers beyond the military on this road and others like it.
		</p>
	</section>
	<section>
		<h2 class="section-header">The Cattle Trails</h2>
		<p class="body-text">
			Beginning with the Coronado entrada and certainly along El Camino Real, the Spanish brought
			millions of head of sheep, goats, swine, cattle, oxen, mules, burros, and horses into the
			American West over the course of almost 250 years. So too did those coming later from the East
			by the immigrant trails. Though the movement of livestock was nothing new by the coming of the
			great cattle drives and the trails they forged, which often followed older buffalo and other
			game migration routes as well as those of nomadic Indians such as the Comanche, they
			nevertheless form part of unique chapter, that of the “cowboys and Indians,” in the history of
			movement in America culture.
		</p>
		<p class="body-text">
			The first of the cattle drives occurred before the American Civil War. At the time of the
			birth of the Texas republic in 1836, there already was a so-called beef trail to New Orleans.
			By 1840s and 1850s, herds of as many as 3,000 head mostly feral Spanish longhorn cattle were
			rounded up in eastern and central Texas and taken along what came to be called the Shawnee or
			Texas Trail across Indian Territory to markets in Arkansas and western Missouri.
		</p>
		<p class="body-text">
			After the Civil War, Texas had a surplus of cattle and few local markets, but the United
			States needed expanded beef production to feed its growing population. This situation
			engendered the era of the great cattle drives over several major trails, usually bearing the
			names of their pioneers, northward to various new railheads in Kansas. The Goodnight-Loving
			Trail (of Charles Goodnight and Oliver Loving) reached from the Pecos River of New Mexico and
			West Texas to Dodge City in 1866; the Chisholm Trail (of Jesse Chisholm) followed in 1867
			ultimately from the lower Rio Grande Valley through Fort Worth to Wichita and Abilene; the
			Western Trail came up from the hill country around San Antonio and merged with the
			Goodnight-Loving Trail at Fort Griffin in 1874; and in 1883, the Potter-Bacon Trail or Cutoff
			(of Jack Potter and Alfred T. Bacon) came from the Texas Panhandle and also merged with the
			Goodnight-Loving Trail at Fort Griffin. Above all, the presence of adequate fodder and water
			along the way were major determinants of the courses of these trails. By the 1890s, the end of
			open range and the progress of the railroads brought an end the trails that had seen millions
			of cattle to market in a little more than a quarter of a century.
		</p>
		<p class="body-text">
			In 1875, the Kansas Pacific Railway Company, which was a part of the Atchison, Topeka, and
			Santa Fe system, published a now rare map entitled and promoting “The Best and Shortest Cattle
			Trail from Texas to Kansas City”. It covered Texas and Oklahoma and parts of New Mexico,
			Colorado, and Kansas, showing the major Texan network of unnamed trails feeding into the
			prominently indicated “Ellsworth Cattle Trail” north to the Company’s loading pens at the rail
			head at Ellsworth, Kansas. Also marked to the west is “J.S. Chisum’s Trail” from Sumner, New
			Mexico north to the Los Animas/Fort Lyon, Colorado Company railhead. While on this map this
			trail is named after John Chisum, a New Mexico rancher and friend of Billy the Kid of Lincoln
			County War fame and not the Texas rancher of Chisholm Trail fame, it is actually the
			Goodnight-Loving Trail. The major rivers along the way that were so important to the drives
			are clearly shown, though the Brazos and Colorado are somewhat arbitrarily drawn. Pointing to
			the western markets for Texas and New Mexico beef, the east-west railroad line through Kansas
			is conspicuously labeled the “Overland Cattle Trail for Colorado, Utah, and California.” While
			originally this map with its accompanying text was intended at least in part to advertise the
			way to Kansas Pacific Railway to the ranchers of Texas and New Mexico, today it helps viewers
			to understand better the routes, countryside, dangers, and economics of the great cattle
			drives.
		</p>
	</section>
	<section>
		<h2 class="section-header">Getting into the Maps</h2>
		<p class="body-text">
			Period maps are invaluable in elucidating the geographical factors and spatial relationships
			that helped determine the pattern of Western history in the nineteenth century. Beyond seeing
			these old maps as often quaint illustrations from the past from which they come, it is also
			common to treat them as artifacts of a bygone era of discovery, exploration, and exploitation
			and settlement. Such maps are indeed meaningful markers of human development and attainment,
			summarizing the scientific, technological, and intellectual strengths of an historical era and
			recording the political, economic, and social values of the times in which they were created.
		</p>
		<p class="body-text">
			Maps are interpretations rather than copies of reality. As human constructions, they are
			social documents with individual points of view and per se useful tools for teaching about the
			past. In this regard, the study of maps can create a healthy attitude of inquiry and
			meaningful learning experiences. Simply put, they are rife with research topics for students
			to pursue.
		</p>
		<p class="body-text">
			While all of the maps in this section provide representations of the geographical context of
			American westward expansion, maps #1, #2, #5, #7, and #9 are especially good exemplars. They
			quite straightforwardly show barrier mountains and their passes, rivers and their crossings,
			plains and deserts, and blazed trails and their connectors with the recommended campsites and
			settlements along them. Maps such as these also provide some insight into how the explorers
			and pioneers were influenced by natural obstacles to find ways across, through, and/or around
			them. They documented the physical geographical realities (e.g. Rocky Mountains) and myths
			(e.g. Great American Desert) of the American West for trappers, miners, emigrants, merchants,
			and soldiers alike.
		</p>
		<p class="body-text">
			But these same maps and others such as #3, #4, #6, #8, and #10 also depicted the human
			political and economic geography of the West beyond the new settlements and towns. Although
			the specific boundaries of their domains commonly are missing, most obvious is the presence,
			if not precisely the threat, of the original inhabitants of the land—the Indians. Map #3, for
			example, not only clearly establishes the diversity of their presence across the West, but
			also by implication makes it apparent that while they are on their lands, they are obstacles
			to westward movement and that much of those lands are up for grabs. With regard to the Indian
			presence, the previously mention Fremont-Preuss map of 1848 does much the same. Inherent in
			the idea of Manifest Destiny that these maps reflect is that, more than being a danger, the
			Indians are in the way of progress and expansion.
		</p>
		<p class="body-text">
			Consequently, on some of the maps the Indians have already been removed from them. The 1830
			map #4 portrays Texas beckoning to Anglo emigrants with its readily available lands in the
			already demarcated Austin and Dewitt colonies, yet clearly an integral part of Mexico. In
			1857, map #8 shows a United States to be connected coast-to-coast by a new overland mail route
			without any real depiction of geographical impediments, physical or human. On map #10, even
			though the reputedly major “Ellsworth Cattle Trail” crosses the bold marked “Indian Territory”
			its inhabitants no longer seem to be a problem for the great cattle drives from Texas to the
			Kansas railheads. And in 1898 on map #7, neither US nor Canadian native peoples are
			referenced.
		</p>
		<p class="body-text">
			The contemporary and implied political demarcations of the West correspondingly are to be
			found on several of the maps. On map #4, the future American state of Texas can be seen
			emerging out of its Mexican forerunner. Beyond an extended Texas, in 1846 map #3 begins to
			show Oregon and yet to come American California and Mexican Session. Map #5 manifests the
			future states of Wyoming and Montana. Likewise the boundaries of Alaska, separating it from
			Canada and Russia, are marked definitively on map #7.
		</p>
		<p class="body-text">
			Along with location, place, relationships within places (human-environmental interaction), and
			regions, movement is one of the essential, unifying themes of modern geography, and perhaps
			the one interconnected closest with economic development. It follows then that maps directly
			related to movement should be demonstrative of economic development. Certainly, the maps
			considered in this section are. Maps #1, #2, #3, and #5 especially show not only the routes of
			emigration, but also of commerce. While much interest has already been paid by historians to
			the people who traveled these trails, far less has been given to the commodities regularly
			traveled on them from the times of the Indians and Spanish and Mexicans to the Americans well
			into the nineteenth century. These numerous goods and their exchange between the various
			groups had a telling impact on the advancing frontier and supported expansion and settlement.
			Many attention-grabbing research topics about these goods, their trade, and their impact exist
			for students to work on, with the period maps serving as some of their most important primary
			sources.
		</p>
		<p class="body-text">
			The routes on maps such as #4, #6, and #7 typically point to locations of North America’s
			natural wealth—land for ranching, farming, and other uses and occasionally the mineral riches
			under it. These maps and others like them are excellent informants for gaining an
			understanding the land and gold and silver rushes of the West and their effects.
		</p>
		<p class="body-text">
			Inherent in this and other cartography is the theme of the role of government and military in
			its development. As most of these maps easily reveal, the Spanish, Mexican, and American
			administrations commissioned and further encouraged the mapping of the West for purposes of
			exploration, expansion, exploitation, and regulation. Essential to this government
			cartographic activity was the military as pathfinders, engineers and surveyors, mapmakers, and
			defenders and overseers. Many students enjoy research topics on the military and are intrigued
			by its role in the history of cartography.
		</p>
		<p class="body-text">
			And finally, a relatively simple example of scientific-technological advancement in
			cartographic reproduction can be derived from an examination of maps #2, #1, and #8 in
			chronological order to note the progress made between hand drawn, engraved, and lithographed
			maps respectively. The hand drawn and copied map #1 reflects its rather limited secretive
			governmental administrative usage and non-commercial publication. At the time, what popular
			demand there was for maps such as this was minor and stifled by Spanish imperial policy. As
			the multifaceted demand for maps of the American West increased in the nineteenth century,
			they became more commercially viable and better reproduction technologies were called for to
			meet this demand. Thus, the more limiting metal plate engraving and printing on higher quality
			rag paper of map #2 gave way to more mass produced lithograph maps (e.g. #3) on cheaper wood
			pulp paper. And over the course of the century greater accuracy was required as well and
			realized through more and better mathematically based specific surveys by better trained
			military and civilian engineers and surveyors. Maps #1, #5, and #9 are reflective of this
			growing reliability.
		</p>
	</section>
	<aside>
		<h2 class="section-header">Further Reading</h2>
		<p class="body-text">
			There are several different kinds of resources are available to the reader with an interest in
			pursuing this topic further, including some excellent introductions to thinking creatively and
			critically about what maps are and what they do, and for considering maps as historical
			evidence. Among the former are Rudolph Arnheim’s essay “The Perception of Maps,” American
			Cartographer 3:1 (1976), 5-10; Michael and Susan Southworth’s Maps: A Visual Survey and Design
			Guide, (Boston, 1982); Edward R. Tufte’s The Visual Display of Quantitative Information
			(Cheshire, CT, 1983); and the many thought-provoking essays compiled in Harley, J.B. The New
			Nature of Maps: Essays in the History of Cartography (Baltimore, 2001).
		</p>
		<p class="body-text">
			On considering maps as historical evidence, several texts are recommended to begin with,
			including Janet Alleman-Brooks, Ambrose A. Clegg, Jr., and Albert P. Seboldt’s “Making the
			Past Come Alive,” Social Studies 68 (January-February 1977), 3-26; Edward C. Martin and Martin
			W. Sandler’s “Rejuvenating the Teaching of United States History,” Social History 7 (1971),
			730-743; Edmond T. Parker and Michael P. Conzen’s Using Maps as Evidence: Lessons in American
			Social and Economic History (Bethesda, MD, 1975); Judy and Dennis Reinhartz’s Geography Across
			the School Curriculum (Washington, DC, 1990); and the essays in two edited collections: David
			Buisseret, ed., From Sea Charts to Satellite Images: Interpreting North American History
			through Maps (Chicago, 1990); and Dennis Reinhartz and Stephen E. Maizlish, eds., Essays on
			Walter Prescott Webb and the Teaching of History (College Station, 1985).
		</p>
		<p class="body-text">
			Visual resources offer many more examples of maps of the sorts discussed in this essay, or, in
			some cases, engage the reader or viewer in a virtual re-visualization of some of these Western
			roads and trails. Printed works include: Center for Texas Studies at Texas Christian
			University’s Going to Texas: Five Centuries of Texas Maps (Fort Worth, 2007); Peter L.
			Eidenbach’s An Atlas of Historic New Mexico Maps, 1550-1941 (Albuquerque, 2012); James C.
			Martin and Robert Sidney Martin’s Maps of Texas and the Southwest, 1513-1900 (Austin, 1999
			[1984]), and Seymour I. Schwartz and Ralph E. Ehrenberg’s The Mapping of America. New York:
			Harry N. Abrams, Inc., 1980. Online exploration of aspects of different Western trails is
			possible on the following sites: The California Trail:
			http://www.emigranttrailswest.org/virtualtour/california-trail; The Oregon Trail:
			http://oregontrail101.com; Santa Fe Trail Research http://www.santafetrailresearch.com; and
			Western Emigrant Trails: http://www.westernemigranttrails.com.
		</p>
	</aside>
	<footer>
		<h4 class="footer-header">Bibliography</h4>

		<p class="periphera">
			Burr, Edward. 1939. Historical Sketch of the Corps of Engineers, United States Army,
			1775-1865. Washington, DC: Government Printing Office.
		</p>
		<p class="periphera">
			Fireman, Janet R. 1977. The Spanish Royal Corps of Engineers in the Western Borderlands:
			Instrument of Bourbon Reform 1764 to 1815. Glendale, CA: The Arthur H. Clark Company.
		</p>
		<p class="periphera">
			Jackson, W. Turrentine. 1952. Wagon Roads West: A Study of the Federal Road Surveys and
			Construction in the Trans-Mississippi West, 1846-1869. New Haven, CT: Yale Universitty Press.
		</p>
		<p class="periphera">
			Reinhartz, Dennis. Summer 2010. “Alexander von Humboldt: His Earliest Surviving Map of New
			Spain.” In IMCoS Journal 108, 13-18.
		</p>
		<p class="periphera">
			Reinhartz, Dennis. Winter 2005. “Ambition and Enterprise: Zebulon Pike’s Maps Relating to the
			Exploration of the Southern Louisiana Purchase.” In IMCoS Journal 103, 25-37.
		</p>
		<p class="periphera">
			Reinhartz, Dennis. 2006. “The Arid Lands of the Greater Southwest on the Maps of Zebulon Pike
			and Stephen Long.” In Forum of the Association of Arid Lands Studies XXII,12-18.
		</p>
		<p class="periphera">
			Reinhartz, Dennis, and Charles C. Colley, eds. 1987. The Mapping of the American Southwest.
			College Station, TX: Texas A&M University Press.
		</p>
		<p class="periphera">
			Reinhartz, Dennis, and Gerald D. Saxon, eds. 2005. Mapping of Empire: Soldier Engineers on the
			Southwest Frontier. Austin: University of Texas Press.
		</p>
		<p class="periphera">
			Ristow, Walter W. 1985. American Maps and Mapmakers: Commercial Cartography in theNineteenth
			Century. Detroit: Wayne State University Press.
		</p>
		<p class="periphera">
			Warner, Ted J., ed. 1995. The Dominguez-Escalante Journal: Their Expedition through Colorado,
			Utah, Arizona, and New Mexico in 1776. Salt Lake City: University of Utah Press.
		</p>
		<p class="periphera">
			Woodward, David. 1977. The All-American Map: Wax Engraving and Its Influence on Cartography.
			Chicago: University of Chicago Press.
		</p>

		<small class="end-bib">View Bibliography</small>
	</footer>
	<footer>
		<h4 class="essay-gallery">Essay Gallery</h4>

		<p class="periphera">Road from Capital of New Spain to Santa Fe, 1811</p>
		<p class="periphera">Map of the Province of New Mexico, 1779</p>
		<p class="periphera">A New Map of Texas, Oregon, and California, 1846</p>
		<p class="periphera">Map of Texas with Parts of Adjoining States, 1830</p>
		<p class="periphera">The Territory of Montana, 1870</p>
		<p class="periphera">The Route from Kansas City to the Gold Mines, 1859</p>
		<p class="periphera">The Gold and Coal Fields of Alaska, 1898</p>
		<p class="periphera">The Overland Mail Route to California, 1857</p>
		<p class="periphera">Military Road from Fort Walla Walla to Fort Benton, 1863</p>

		<p class="body-text">The Best and Shortest Cattle Trail from Texas, 1875</p>
	</footer>
</article>
