<script>
	import { page } from '$app/stores';
	import toc from '$data/toc.json';
	import { Tabs, Tab, TabContent, Tile, Dropdown } from 'carbon-components-svelte';
	$: thisOne = toc
		.filter((c) => c[0][1] && c[0][1].indexOf($page.params.article) > -1)
		.filter((f) => f && f[1]);
	$: items = [
		{ id: 0, text: 'Take a closer look at maps from this essay' },
		...thisOne[0][1].map((ugh, idx) => ({ id: idx + 1, text: ugh[0] }))
	];

	// $: console.log('thisOne', thisOne);
	let selectedId = 0;
</script>

<!-- <Tile>
	<h1>{thisOne[0][0][0]}</h1>
	<div class="title-area">
		<Dropdown hideLabel bind:selectedId {items} />
	</div>
	<Tile>{JSON.stringify(items[selectedId], null, 4)}</Tile>
</Tile> -->
<style>
	:global(.bx--dropdown__wrapper) {
		flex: 1;
	}

	.title-area {
		margin: 32px 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.title-area > * {
		margin: 10px 15px 0 0;
	}
</style>
