<h1 class="gallery-page-title">Corps of Engineers Map of Chicago Harbor, 1858</h1>
<h2 class="parent-essay-title">State and Federal Mapping of Infrastructure and Movement</h2>
<div class="main-text">
<p class="main-text-p">This map reflects the intense and sustained effort to improve navigation in Chicago when the city was experiencing rapid growth. Given Chicago’s position as a potential gateway of trade and transportation to the West, it became imperative to maximize the navigability of the river. Yet the contours of the river made this difficult: the mouth of the Chicago River was notoriously hard to navigate because a seventy-yard sandbar inhibited passage to and from Lake Michigan. The depth of the channel at the mouth of the river was at most two feet deep, exacerbated by a sharp bend. To make matters worse, the tides and weather created a sandbar that constantly shifted in size over the course of the year. Ships commonly anchored far into the lake to unload their cargo onto smaller vessels with shallower drafts more capable of successfully navigating the obtrusive channel.</p>
<p class="main-text-p">The Federal government began to address this problem as early as 1816, when soldiers at Fort Dearborn were charged with digging channels, but nature rapidly undid their work. Congress appropriated extensive funding in the 1830s to improve the harbor, but with little long-term success. By 1835 the government had a cut channel 200 feet wide and several feet deep across the bar, then added two long piers that extended well into the lake. But sand continued to reappear behind the North Pier.</p>
<p class="main-text-p">In April 1854 James Duncan Graham was assigned to direct improvements to the Chicago Harbor. He began with a series of detailed surveys in order to ascertain the necessary changes, and compiled an extensive report supplemented by several maps detailing the proposed construction. Ultimately the work was contracted with the Chicago Dock and Canal Company, which had specific instructions from Graham for excavating the south bank of the river, extending the piers, and constructing a lighthouse at the end of the North Pier.</p>
<p class="main-text-p">In his report Graham wrote that the sandbar, however often it was dredged, reformed in almost precisely the same way due to the currents and the position of the north pier. This fact led him to propose a more drastic removal of sand, at an estimated cost of $200,000, nearly four times more than the amount that had been spent to improve the harbor to that point, indicating how much the nation valued easy access between the Erie Canal and the railroad transportation into the interior and across the west. Graham’s map identifies that relationship by marking individual railroads that terminated at the river, just west of its mouth.</p>
 
</div>
<h3 class="map-title">Chicago harbor & bar, Illinois</h3>
<cite>United States. Army. Corps of Engineers, "Chicago Harbor & Bar, Illinois : From Survey Made Between the 17th of August & the 2nd of September 1858" (New York: Lith. of J. Bien, 1858), detached from U.S. Serial Set 1026, 36th Congress, 1st session, Senate executive document 2. Map6F G4104.C6:2C5 1858 .U5</cite>