<h1 class="gallery-page-title">Illinois Central Railroad, Land Grant Maps, 1854</h1>
<h2 class="parent-essay-title">American Railroad Maps, 1828-1876</h2>
<div class="main-text">
<p class="main-text-p">In 1850 the Illinois Central Railroad (formally chartered in 1851) became the first of many railroad companies to receive a grant of federal lands for the company to sell to finance its construction. Through these grants railroads engaged in land development, real estate sales, and the recruitment of settlers, both from the United States and abroad. From the beginning maps, such as these from a small atlas published by the Illinois Central in 1854, were part of this process.</p>
<p class="main-text-p">The original Illinois Central grant constituted of alternate blocks (the even numbered “sections”) of land in a six-mile corridor, shown as a darker band of grey on the general state map on either side of the railroad’s right-of-way. The other lands in this zone remained in government hands in the hope that their value would at least double as the railroad was built, thus recovering the government’s loss of income from grant lands. Since some land, however, had already been sold before the enactment of the grant, the railroad was allowed to select “indemnity lands” from a band fifteen miles beyond the original grant zone, indicated by the lighter grey line on the general map.</p>
<p class="main-text-p">The prominent grid on the index maps outlines the township and range system of land division, established in 1785 to facilitate settlement of the lands of the old Northwest Territory. The system called for the survey and division of most land west of the Appalachians into townships, usually consisting of thirty square-mile sections. The main north-south axis of the survey in Illinois, the Third Principal Meridian, roughly bisects the state parallel to the Illinois Central main line.</p>
<p class="main-text-p">The grid allowed prospective buyers to locate parcels of interest on the atlas’s local maps, four of which are illustrated. Three of these maps show lands near the termini of the Y-shaped railroad. Galena, in the far northwestern corner of the state and the center of an important lead-mining region, and Cairo, over 300 miles to the south at the confluence of the Ohio and Mississippi rivers, were envisioned as the railroad’s termini from the start. Relatively little land remained available (the grey squares on each map) in these areas for the railroad to sell in 1854. No land at all remained for sale along the railroad’s approach to its third terminus, the budding metropolis of Chicago. In 1854 the city’s most important route was the Illinois and Michigan Canal, shown as a bold black line on the sectional map. This waterway, like the railroad, linked Lake Michigan to the Mississippi river system. Plate 29, south of Urbana, with its distinct checkerboard pattern, is more typical of the maps in the atlas. It pictures an area that was still sparsely settled. The brief text on the map observes that Urbana is a “flourishing town” and that the crossing Great Western Rail Road, Later the Wabash Railroad, will someday bring coal from Danville, Illinois, to the east, for the use of settlers and industries along the line of the Illinois Central, and, finally, that the whole of the surrounding country “is in the highest degree fertile and well wooded.”</p>
</div>
<h3 class="map-title">Railroad Land Grants, Illinois, 1854</h3>
<cite>Illinois Central Railroad Company, "Outline Map of Illinois", in Sectional Maps, Showing 2,500,000 Acres Farm and Wood Lands of the Illinois Central Rail Road Company in All Parts of the State of Illinois (Chicago : Illinois Central Rail Road Company, 1854?), map 1. Graff 2081</cite>
<h3 class="map-title">Land Parcels, Cairo Area, 1854</h3>
<cite>Illinois Central Railroad Company, "Cairo City", in Sectional Maps, Showing 2,500,000 Acres Farm and Wood Lands of the Illinois Central Rail Road Company in All Parts of the State of Illinois (Chicago : Illinois Central Rail Road Company, 1854?), map 2. Graff 2081</cite>
<h3 class="map-title">Land Parcels, Dunlieth Area, 1854</h3>
<cite>Illinois Central Railroad Company, "Dunlieth", in Sectional Maps, Showing 2,500,000 Acres Farm and Wood Lands of the Illinois Central Rail Road Company in All Parts of the State of Illinois (Chicago : Illinois Central Rail Road Company, 1854?), map 23. Graff 2081</cite>
<h3 class="map-title">Railroads and Townships, Chicago Area, 1854</h3>
<cite>Illinois Central Railroad Company, "[Railroad and Township Map of the Chicago Region]", in Sectional Maps, Showing 2,500,000 Acres Farm and Wood Lands of the Illinois Central Rail Road Company in All Parts of the State of Illinois (Chicago : Illinois Central Rail Road Company, 1854?), map 24. Graff 2081</cite>
<h3 class="map-title">Land Parcels, Urbana Area, 1854</h3>
<cite>Illinois Central Railroad Company, "Urbana", in Sectional Maps, Showing 2,500,000 Acres Farm and Wood Lands of the Illinois Central Rail Road Company in All Parts of the State of Illinois (Chicago : Illinois Central Rail Road Company, 1854?), map 31. Graff 2081</cite>