<script>
    import { page } from '$app/stores'
	import 'open-props/style';
	import 'open-props/normalize';
    import '$lib/main.css'
    import Header from '$lib/components/header.svelte'
    export let data
    const { toc } = data

</script>

<Header />

<main>
    <nav>
        <ul class="sidebar">
            {#each toc as c}
                <li id="{c.id}" class={$page.url.pathname !== '/' && $page.url.pathname.indexOf(c.slug) > -1 ? 'active' : '' }><a href="{c.slug}" class="no-lines">{c.title}</a></li>
            {/each}
        </ul>
    </nav>
    <article class="prose">
        <slot />
    </article>
</main>

<style>
    main {
        margin-top: 64px;
        display: grid;
        gap: 10px;
        grid-template-columns: 250px 1fr;
    
    }
    nav {
        position: sticky;
        top: 64px;
        height: 100vh;
    
    }
    .sidebar {
        height: 100%;
        list-style-type: none;
        overflow: auto;
        margin: 0;
        padding: 0;
        font-size: var(--font-size-fluid-0);
    }
    li {
        width: calc(100% - 18px);
        margin: 4px;
        padding: 4px;
        border: 1px solid transparent;
    }
    li:hover, .active {
        border-color: var(--brand);
        /* border: 1px solid var(--brand); */
    }
    li a.no-lines {
        color: var(--brand);
    }
</style>
