<script>
	import { base } from '$app/paths';
	import { AspectRatio } from 'carbon-components-svelte';
	export let data;
	console.log(data);
	$: style = `background-size: auto 100%; background-color: rgb(82,82,82); background: url('https://collections.newberry.org/IIIF3/Image/${data[0]}/square/,1000/0/default.jpg'); background-attachment: fixed; background-position: center; background-repeat: no-repeat;`;
</script>

<div class="featured-image">
	<AspectRatio ratio="16x9" class="loading">
		<a href={base + data[0]} class="fl">
			<div class="loaing" {style} />
			<p class="image-caption">
				{base + data[0]}
			</p>
		</a>
	</AspectRatio>
</div>

<style lang="scss">
	@import '$src/newberry.scss';
	.featured-image {
		// max-width: 75ch;
		margin: 0 64px 64px 64px;
	}
	.loaing {
		height: 100%;
		width: 100%;
	}
	.loading {
		height: 100%;
		width: 100%;
		min-height: 250px;
		min-width: 250px;
		border: 2px solid var(--colorDark);
		// box-shadow: inset 0 0 10px var(--colorLight);
		text-align: center;
		background: var(--colorLight);
		background: repeating-linear-gradient(
			-45deg,
			var(--colorLight),
			var(--colorLight) 20px,
			var(--colorDark) 20px,
			var(--colorDark) 40px
		);
		background-size: 400% 400%;
		animation: gradient 60s linear infinite;
	}
	@keyframes gradient {
		0% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.image-caption {
		@include fooncy-links;
		text-align: center;
	}
</style>
