<script>
	export let bib = [],
		fr = [],
		cit = [],
		mappage = false;
</script>

{#if mappage}
	<aside class="citation">
		<h4>Map Citation</h4>
		<div class="perif-struc-list">
			<ul>
				{#each cit as c}
					<li>
						<p class="periphera">{c.title}</p>
						<p class="periphera">{c.source}</p>
					</li>
				{/each}
			</ul>
		</div>
	</aside>
{:else}
	<aside class="perifera">
		{#if bib?.length > 0}
			<h4>Bibliography</h4>
			<div class="perif-struc-list">
				<ul>
					{#each bib as b}
						<li>{b}</li>
					{/each}
				</ul>
			</div>
		{/if}
		{#if fr?.length > 0}
			<h4>Further Reading</h4>
			{#each fr[0] as furr}
				<p class="perif-text">
					{furr}
				</p>
			{/each}
			{#if fr[1]}
				<div class="perif-struc-list">
					<ul>
						{#each fr[1] as frbook, idx}
							{#if idx === 0}
								<li class="empty-li">&nbsp;</li>
							{/if}
							<li>
								{frbook}
							</li>
						{/each}
					</ul>
				</div>
			{/if}
		{/if}
	</aside>
{/if}

<style lang="scss">
	@import '/src/newberry.scss';
	.perifera {
		margin: 0 32px 32px 32px;
		h4 {
			width: 100%;
			@include fooncy-underline;
		}
	}
	.perif-text {
		font-family: 'signifier';
		font-size: 16px;
		margin: 16px;
	}
	.perif-struc-list {
		margin: 0 0 64px 64px;
		li {
			@include fooncy-underline;
			padding: 16px;
			&.empty-li {
				padding: 0 !important;
			}
		}
	}
	.citation {
		margin: 32px 0 0 0;
		h4 {
			width: 100%;
			@include fooncy-underline;
		}
	}
</style>
