<script>
	import { base } from '$app/paths';
	export let idx,
		hardsrc = false;
	import { AspectRatio } from 'carbon-components-svelte';
	const imgList = [
		'demo-image-0.jpeg',
		'demo-image-1.jpeg',
		'demo-image-2.jpeg',
		'demo-image-3.jpeg',
		'demo-image-4.jpeg',
		'demo-image-5.jpeg',
		'demo-image-6.jpeg',
		'demo-image-7.jpeg',
		'demo-image-8.jpeg',
		'demo-image-9.jpeg',
		'demo-image-10.jpeg',
		'demo-image-11.jpeg',
		'demo-image-12.jpeg'
	];
	// console.log(idx);

	let src = hardsrc
		? hardsrc
		: idx[1].iiifId
		? `https://collections.newberry.org/IIIF3/Image/${idx[0].iiifId}/full/750,/0/default.jpg`
		: `demo-images/demo-image-${idx[0]}.jpeg`;
</script>

<div class="featured-image">
	<AspectRatio ratio="16x9" class="loading">
		<a href={base + idx[1].path} class="fl">
			<div
				class="loaing"
				style="background: url('{src}'); background-attachment: fixed; background-size: cover;"
			/>
			<p class="image-caption">
				{base + idx[1].title}
			</p>
		</a>
	</AspectRatio>
</div>

<style lang="scss">
	@import '$src/newberry.scss';
	.featured-image {
		// max-width: 75ch;
		margin: 0 64px 64px 64px;
	}
	.loaing {
		height: 100%;
		width: 100%;
	}
	.loading {
		height: 100%;
		width: 100%;
		min-height: 250px;
		min-width: 250px;
		border: 2px solid var(--colorDark);
		// box-shadow: inset 0 0 10px var(--colorLight);
		text-align: center;
		background: var(--colorLight);
		background: repeating-linear-gradient(
			-45deg,
			var(--colorLight),
			var(--colorLight) 20px,
			var(--colorDark) 20px,
			var(--colorDark) 40px
		);
		background-size: 400% 400%;
		animation: gradient 60s linear infinite;
	}
	@keyframes gradient {
		0% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.image-caption {
		@include fooncy-links;
		text-align: center;
	}
</style>
