<script>
	import { base } from '$app/paths';
	import { page } from '$app/stores';
	import { SideNav, SideNavItems, TileGroup, ClickableTile } from 'carbon-components-svelte';
	import toc from '$data/toc.json';

	let sortedToc = toc.sort((a, b) => a[2] - b[2]);
	let isSideNavOpen = true;
</script>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<TileGroup>
			<ClickableTile href={base}>Home</ClickableTile>
			{#each sortedToc as link, idx}
				<ClickableTile
					href={base + link[1]}
					class={$page.url.pathname.indexOf(link[1]) > -1 ? 'active' : ''}
				>
					{link[0]}
				</ClickableTile>
			{/each}
		</TileGroup>
	</SideNavItems>
</SideNav>

<style lang="scss">
	:global(.bx--side-nav__items) {
		padding: 0;
	}
	:global(.bx--side-nav--ux) {
		top: 75px;
	}
	:global(nav .bx--tile, nav .bx--side-nav) {
		background-color: rgba(0, 0, 0, 0);
		border-top: 1px solid rgba(0, 0, 0, 0);
		border-bottom: 1px solid rgba(0, 0, 0, 0);
	}
	:global(nav .bx--tile.active) {
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		background-color: rgba(255, 255, 255, 1) !important;
	}
	:global(nav .bx--tile--clickable:hover) {
		background-color: rgba(255, 255, 255, 0.5);
	}
</style>
