<script>
	import { base } from '$app/paths';
	import { pageTitle, top } from '$src/stores';
	import { truncate, Truncate } from 'carbon-components-svelte';
</script>

<div class={$top ? 'top titlebar' : 'titlebar'}>
	<h1>{$pageTitle[0]}</h1>
	{#if $pageTitle[1]}
		<a href={base + '/' + $pageTitle[2]} class="fl">
			<em>from: </em>
			<h3 use:truncate>
				{$pageTitle[1]}
			</h3>
			<!-- <h3 use:truncate>{$pageTitle[1]}</h3> -->
		</a>
	{/if}
</div>

<style lang="scss">
	// @import '/src/newberry.scss';
	.titlebar {
		z-index: 900;
		position: sticky;
		top: 0;
		height: 75px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		// width: 100vw;
		a {
			width: 100%;
		}
		&.top h1 {
			font-size: 33px;
			line-height: 28px;
		}
		h1 {
			font-size: 42px;
			line-height: 37px;
		}
		&.top h3,
		&.top em {
			font-size: 24px;
			line-height: 28px;
		}
		h3,
		em {
			font-size: 30px;
			line-height: 33px;
		}
		h3 {
			width: 100%;
		}
		em {
			padding-right: 10px;
		}
		h1,
		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	h1,
	h3,
	a em {
		transition-timing-function: ease-out;
		transition: 250ms font-size;
	}

	:global(.titlebar.top h3 p) {
		font-size: 24px;
		line-height: 28px;
	}
	:global(h3 p) {
		font-size: 30px;
		line-height: 33px;
		transition-timing-function: ease-out;
		transition: 250ms font-size;
	}
</style>
