<script>
	import { base } from '$app/paths';
	import { pageTitle, top } from '$src/stores';
	import { truncate } from 'carbon-components-svelte';
</script>

<div class="static-wrpr">
	<div class="titlebar-static">
		<h1 use:truncate>{$pageTitle[0]}</h1>

		<a href={base + '/' + $pageTitle[2]} class="fl" use:truncate>
			<em>from: </em>
			<h3>{$pageTitle[1]}</h3>
		</a>
	</div>
</div>

<style lang="scss">
	@import '/src/newberry.scss';
	.static-wrpr {
		width: 99vw;
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		height: 75px;
		left: 0;
		justify-content: center;
		align-items: center;
		z-index: 9000;
	}
	.titlebar-static {
		height: 75px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: calc(60vw - 205px);
		margin: auto;

		h1 {
			font-size: 33px;
			line-height: 28px;
		}
		h3,
		em {
			font-size: 24px;
			line-height: 28px;
		}
		em {
			padding-right: 10px;
		}
		h1,
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
	h1,
	h3,
	span em {
		transition-timing-function: ease-out;
		transition: 250ms font-size;
	}
</style>
