<h1 class="gallery-page-title">Russian Voyages in the Pacific Northwest, 1761</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">By the middle of the eighteenth century, the only part of the periphery of North America that was still unknown to Europeans was the northwest. In previous maps, we have traced the activity of the Spaniards in the south, and of the French and English on the eastern seaboard, even extending as far north as Hudson Bay. Vitus Bering’s voyage of 1728, tracked on this map, had established that Asiatic Russia ended at the strait now named after him. But there remained a great gap between Bering Strait and the Spanish settlement in California.</p>
<p class="main-text-p">This map sets out that uncertainty. On the coast north of California, there is mention of the shadowy English claim to “New Albion,” and then, north of that, some indication of the “River of the West,” which is the Columbia River. North again, the tracks of two Russian voyages come in from the west, so as to offer some idea of parts of the coast of what is now Alaska. North again of that coast an area is inserted largely by guesswork, and the coastline is altogether lacking on the far northern edge of the continent.</p>
<p class="main-text-p">The northwest coast of North America would not be accurately delineated until the 1778 voyage of Captain James Cook (1728-1779). For the time being, it could at least be said that informed Europeans no longer believed that the Pacific Ocean might be found just west of the Great Lakes, as had once been thought. But this image, copied by Thomas Jefferys (c. 1710-1771) from the work of Gerhard Müller, still did not succeed in offering a vision of the great east-west extent of North America.</p>
 
</div>
<h3 class="map-title">Russian Voyages in the Pacific Northwest, 1761</h3>
<cite>Jefferys, Thomas. "A Map of the Discoveries Made by the Russians on the North West Coast of America", detached from Gerard Fridrikh Miller, Voyages from Asia to America, for Completing the Discoveries of the North West Coast of America (London : T. Jefferys, 1761). Ayer 133 .L772 1761</cite>