<h1 class="gallery-page-title">The Overland Mail Route to California, 1857</h1>
<h2 class="parent-essay-title">Maps of Trails and Roads of the Great West</h2>
<div class="main-text">
<p class="main-text-p">Not really a cartographer, John Butterfield was an entrepreneur who among his other businesses ran various freight and stagecoach lines in the American Northeast and Southwest. In this vein, he founded the Butterfield Overland Express between St. Louis and San Francisco and companies that ultimately would become Wells Fargo and American Express. In 1857, he created the Butterfield Overland Mail that carried mail between St. Louis and California until 1861, when it went bankrupt and was replaced on that run by Wells Fargo.</p>
<p class="main-text-p">This deceivingly plain broadside reveals a good deal about the complexity of the United States in the middle of the nineteenth century. In broad strokes, this map straightforwardly lays out the first coast-to-coast American postal system. Graphically and in the accompanying text it also reflects on the business of long range transport and even points to a perceived need for national cohesion through communication among the sharpening regional differences emerging in the country prior to the Civil War. .</p>
</div>
<h3 class="map-title">The Overland Mail Route to California, 1857</h3>
<cite>"Skeleton Map of the Overland Mail Route to California" [United States? : s.n., 1857?]. VAULT broadside Graff 526</cite>