<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Mapping Communication</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> ROBERT MACDOUGALL </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">
					Human beings have always communicated—our ancestors communicated before they were
					technically human beings—yet the concept of “communication,” as we understand it today, is
					remarkably recent in origin. It was only in the nineteenth century that the word
					communication came to refer primarily to the transfer of information. Before that, the
					word was used to describe any kind of physical exchange: commerce, gift-giving, even
					sexual intercourse. A door offered communication from one room to another. Scientists
					spoke of the communication of momentum or heat. Our modern understanding of communication
					has been powerfully shaped by technological change. In particular, nineteenth-century
					technologies like the telegraph and telephone demanded a word for the new thing they
					did—transmitting information without physical transportation—and an old term was refitted
					for this purpose. Communication, in this newer sense, became and still is a defining
					preoccupation of our age (Peters 1999, 3-10).
				</p>
				<p class="body-text">
					Mapping communication is also a modern preoccupation. In a way, any map used for travel or
					navigation could also be considered a map of communication. But in order to draw a map of
					communication qua communication, one must believe that at least two places on that map
					want to communicate with each other, and one must conceive of their communication as a
					thing to be mapped. This means that maps of communication can be rich historical sources,
					not only for evidence about specific communication routes and practices, but also about
					the various networks and communities of which people imagined themselves a part. If we
					agree with Benedict Anderson (1983) that nations are “imagined communities,” and that maps
					have been powerful tools for constructing the modern nation, then maps of communication
					are doubly so. Both the nation and the network must be imagined to be mapped, and mapped
					to be imagined.
				</p>
				<p class="body-text">
					Geography, technology, and politics made communication networks particularly visible and
					mappable to Americans in the late eighteenth, nineteenth, and early twentieth
					centuries—the same years, of course, in which the United States itself was constructed. By
					studying maps of communication in the US, we can see a nation imagining itself, and we can
					chart some of the changing horizons of American life. At what geographic scale did
					Americans imagine their own identities? What networks did they see themselves as part of?
					Maps of communication can provide a window on these questions.
				</p>
				<p class="body-text">
					In reading historical maps, we must remember that mapping is always prescriptive as well
					as descriptive. Maps of communication show us who communicated with whom, but they also
					train us to imagine such communication. Many of the maps examined in this essay are
					official or semiofficial maps: “Top-down” tools of government or private industry. We
					should read them, at least in part, as prescriptive maps of sanctioned communication. Part
					of their work was to tell Americans with whom they should communicate, or to illustrate
					the communities of which they should imagine themselves a part. Maps of communication
					served in part to paper over fissures, tensions, and divides. It takes close reading and
					attention to historical context to remember that there were alternate networks and
					alternate geographies not shown on these maps.
				</p>
			</section>
			<section>
				<h2 class="section-header">Colonial Communications</h2>
				<p class="body-text">
					In the early eighteenth century, few could have predicted that Britain’s American colonies
					would soon be the site of two revolutions: A political revolution, but also a
					communications revolution that would turn a peripheral string of coastal settlements into
					the loudest, fastest, most prodigious nation of communicators in the world. Long distance
					communication in British North America was difficult and slow. Printed materials were
					scarce, the postal system was expensive, and the small population was thinly spread over
					hundreds of miles of rough terrain. Most adults could read and write, thanks to common
					schools and widespread belief in the importance of studying scripture for salvation, but
					colonial communication networks were highly stratified.
				</p>
				<p class="body-text">
					The communication network that mattered most to colonial elites was not trans-American but
					transatlantic. Wealthy colonists looked back across the ocean to Britain and Europe for
					information, culture, and identity. They took part in a transatlantic exchange of letters,
					books, and periodicals to which the great majority of Americans had little access (Brown
					2000). One great exemplar of the transatlantic communications network, and one of the
					first people to map it, was Benjamin Franklin. Printer by trade and scientist by
					avocation, Franklin kept up a steady correspondence with scholars and statesmen in
					England, Scotland, and France. In 1737, Franklin became the postmaster for Philadelphia.
					In 1753, he went to London to serve as deputy postmaster for all of Britain’s North
					American colonies. Franklin’s famous chart of the Gulf Stream (Map #1), published in 1769,
					was in fact a map of transatlantic communications. As postmaster, Franklin wondered why
					British mail ships took longer to sail from Europe to America than those returning from
					America to Europe. He consulted with merchant and whaling captains and realized the
					westbound ships were fighting against a current. Sailors had certainly noticed the wide
					band of warmer water flowing up the coast of North America and east across the Atlantic,
					but it was Franklin who named the Gulf Stream and mapped it in its totality, and it was
					the regular flow of letters back and forth across the Atlantic that made it visible and
					mappable to him (Johnson 2008, 9-11).
				</p>
				<p class="body-text">
					As tension between Britain and the colonies grew, communication itself became highly
					politicized. The Stamp Act of 1765 placed a heavy tax on newspapers and periodicals,
					turning many printers and publishers against the British government. Popular pamphlets
					like Thomas Paine’s Common Sense mobilized a broad public, enlarging and radicalizing the
					circuits of communication (Starr 2004, 47-82). Yet while the press fomented rebellion, the
					post remained an instrument of the crown. In 1773, the British postmaster general
					instructed Hugh Finlay, Franklin’s successor as colonial postmaster, to travel through the
					colonies mapping and assessing the postal system. Finlay’s maps (Map #2) and journals
					offer a valuable portrait of both communications and political unrest on the eve of the
					American Revolution. Everywhere he went, Finlay found colonists and even postal employees
					circumventing the official postal system, sending and carrying letters outside the mail to
					avoid British postage or surveillance (Steele 1983). So his maps described the official
					network of communication sanctioned by the crown, while his journals described the
					thriving counter-networks that were stitching together a new American identity.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Revolution after the Revolution</h2>
				<p class="body-text">
					The American Revolution was followed by a communications revolution. This second
					revolution would involve steamboats, railroads, and telegraphs, along with advances in
					printing and publishing, but its origins were cultural and political as much as
					technological. The role of print and post in the war for independence imbued many
					Americans with the ideal of a free press and an informed citizenry. The new republic
					encouraged the spread of schooling and literacy, subsidized newspapers with cheap postage,
					and constructed the largest, most active postal system in the world. By 1831, the United
					States had almost twice as many post offices as Great Britain and five times as many as
					France. These offices employed more than 8,700 postmasters, a larger force than the US
					Army or indeed any other single enterprise in the country. The postal system was then
					carrying thirteen million letters and sixteen million newspapers per year, figures that
					would triple by the end of that decade (John 1995; John 2000). “There is an astonishing
					circulation of letters and newspapers among these savage woods,” wrote Alexis de
					Tocqueville in 1831. “I do not think that in the most enlightened rural districts of
					France there is intellectual movement either so rapid or on such a scale as in this
					wilderness.”
				</p>
				<p class="body-text">
					A famous set of maps from Charles O. Paullin’s Atlas of the Historical Geography of the
					United States (Map #3) shows the expansion of post roads and canals in the early
					nineteenth century, and the increasing speed of travel and communication in America. As
					Paullin’s maps illustrate, travel times in 1830 were approximately half of what they had
					been in 1800. It still took weeks for news to travel from, for example, New York to New
					Orleans, but it took two weeks instead of four. Paullin’s contour maps center on New York,
					but New York in the early 1800s was not the center of American communications in the way
					it would be by Paullin’s day. In the early nineteenth century, America’s communications
					infrastructure was polycentric, with distinct regional networks and variations from place
					to place. Most Southern states, for instance, rejected common schools (for both whites and
					blacks), had fewer printers and publishers than the North, and, with the support of the
					federal government, censored the mail in defense of slavery (Brown 1989; Starr 2004,
					83-112).
				</p>
				<p class="body-text">
					Still, by the 1840s and 1850s, cheap postage and a widely literate population had made the
					US mail a mass medium, and postal communication truly national. This national network was
					made most visible—and thus worthy of mapping—during episodes of migration and dislocation
					like the California Gold Rush or the Civil War, when many Americans traveled far from home
					and many more tracked their journeys with both maps and correspondence (Henkin 2008). J.H.
					Colton’s Map of the United States (Map #4), published at the peak of the California Gold
					Rush in 1849, highlights the long, difficult routes by which gold-seekers traveled to
					California and then communicated with friends and family back home. The overland journey
					could take as much as seven months; the sea journey around the southern tip of South
					America was no faster. Of course, mail carried by men on horseback could travel faster
					than a wagon train. The most famous example, though it operated for only a few years, was
					the Pony Express, a private chain of relay stations with riders and fast horses.
					Established in 1860, the Pony Express astonished the nation by carrying letters from
					Missouri to California in about ten days. Episodes like the Gold Rush gave many Americans
					their first opportunity to communicate with someone on the other side of the continent.
					Transcontinental maps and the experience of transcontinental communication trained
					Americans to see the West as part of the United States, a single nation stretching from
					sea to sea.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Railroad and the Telegraph</h2>
				<p class="body-text">
					America’s communications revolution gained even greater speed with the coming of the
					railroad and the telegraph. Samuel Morse, the son of geographer Jedidiah Morse, introduced
					his electric telegraph in 1844. Morse hoped to sell his invention to the Post Office, but
					it declined, leaving development of the telegraph in the US to private firms. The first
					American railways were constructed in the 1830s, with the real boom in railroad
					construction coming in the late 1840s and after. Rail and telegraph networks often grew
					together. The railroads gave telegraph companies the right-of-way to string their wires
					and the telegraph companies gave the railroads free service to coordinate their trains. By
					1848, telegraph lines ran from New York as far south as New Orleans and as far west as
					Chicago. By 1857, they connected every state east of the Mississippi River (John 2000;
					Hochfelder 2012).
				</p>
				<p class="body-text">
					As the communications scholar James Carey observed, the telegraph severed communication
					from transportation, making it possible to send information faster than any person, horse,
					or train (Carey 1989, 203-204). This turned communications into its own distinct activity,
					and indeed, our modern sense of the word communication, meaning the transmission of
					information as distinguishable from physical travel or exchange, emerged at exactly this
					time. At the same time, the telegraph attached communication to a fixed, physical network
					of poles and wires. These two shifts made it meaningful to draw maps of communication in a
					way it had not been before.
				</p>
				<p class="body-text">
					Rudd and Carlton’s Map of the Submarine Telegraph between America & Europe (Map #5) shows
					the first transatlantic telegraph cable, connecting Valentia Island, Ireland to Trinity
					Bay, Newfoundland. The cable was the vision of Cyrus Field, a paper manufacturer who,
					along with Samuel Morse, formed the American Telegraph Company, one of the leading
					telegraph conglomerations of its day. Stringing a 1,600-mile cable across the bottom of
					the Atlantic Ocean was no easy feat. Two of the largest navy vessels in the world—one
					American, one British—met in the middle of the North Atlantic, each carrying thousands of
					tons of insulated copper wire. They connected their cables, then slowly sailed back to
					Ireland and Newfoundland, carefully unspooling the cable into the ocean as they went.
					After multiple failed attempts, the ships carrying each end of the cable reached land in
					August 1858. North America and Europe were, briefly, joined in electrical communication.
					This map was published to celebrate and publicize this historic achievement. But
					transmission on the line proved difficult and slow; it could take hours to send and
					accurately decipher a single message. After less than a month of operation, the cable
					failed permanently. Almost a decade passed before a second transatlantic cable was
					completed in 1866.
				</p>
				<p class="body-text">
					E.W. Welton’s Map of the California State Telegraph and Overland Mail Road (Map #6) shows
					one portion of the first transcontinental telegraph line, which connected California to
					the eastern United States in 1861. The telegraph to the Pacific followed the eastern
					portion of the Oregon Trail as far west as Wyoming, then ran southwest to Salt Lake City
					and across the desert to Carson City and Sacramento. The line was built and operated by
					American Telegraph’s great rival, Hiram Sibley’s Western Union, along with a consortium of
					California firms. Western Union received generous subsidies for this work from the federal
					government, which saw the transcontinental telegraph as an important way of keeping
					California attached to the Union, both practically and symbolically, during the Civil War.
					The telegraph never became a mass medium like the postal service, but it transformed the
					distribution of news and business information. In 1860, the Pony Express had broken all
					previous records when it brought news of Abraham Lincoln’s election to the West Coast only
					one week after the East. In 1865, news of Lincoln’s assassination reached San Francisco by
					telegraph overnight.
				</p>
				<p class="body-text">
					The speed of the telegraph changed the business of news-gathering and indeed the meaning
					of “news” itself. The Civil War introduced Americans to the experience, then nearly
					unprecedented, of receiving running accounts of battles as they happened. “You cannot
					imagine the feeling of knowing there is a battle going on,” wrote Anna Shaw Curtis, the
					sister of Colonel Robert Shaw, in 1862. “Men cannot think, write, or attend to their
					ordinary business,” observed Oliver Wendell Holmes. During major battles, newspapers sold
					five times as many copies as usual. Crowds gathered at telegraph offices to receive
					updates on events. Mapmaker Louis Prang sold a “War Telegram Marking Map” that came with
					colored pencils so civilians could mark the advance or retreat of Union and Confederate
					troops after each telegraphic update from the front (Hochfelder 2012, 91-95).
				</p>
			</section>
			<section>
				<h2 class="section-header">Mapping Time and Space</h2>
				<p class="body-text">
					The telegraph even altered the mapping of time and space. For nineteenth-century mapmakers
					and navigators, time was space: the only precise way to determine the longitude between
					two points was to compare astronomical measurements made from both points at the same
					time. In the eighteenth century, navigators used chronometers—reliable clocks—to determine
					time and therefore longitude. But the nearly instantaneous signals of the telegraph
					offered far more precision than even the best clocks. In 1848, the Harvard Observatory and
					the US Coast Survey began working together to determine longitude by telegraph. The
					astronomers watched the stars and tapped out time signals; the mapmakers used their
					measurements and signals to determine the precise longitude between any two points on the
					telegraph line. By 1858, this was known as the “American method” of longitude
					determination, and had been used to fix the relative location of American ports from New
					Orleans to Calais, Maine. In 1866, the second transatlantic cable made it possible to
					measure the exact longitude between North America and Europe—after the surveyors waited
					seven rainy weeks for a night on which both Valentia, Ireland and Heart’s Content,
					Newfoundland could see the stars (Galison 2003; Stachurski 2009).
				</p>
				<p class="body-text">
					Like everything else in late nineteenth-century America, time was becoming a commodity,
					something to be bought and sold. By the 1870s, Harvard and other observatories charged for
					access to their telegraphically-transmitted time signals, selling the exact time to ports,
					where ship’s captains set their chronometers before voyages, to jewelers, who sold
					accurate time pieces (what good was an expensive watch, the thinking went, if it did not
					show the true time?), and above all, to the railroads, which did more than any other
					industry to standardize measures of time (Galison 2003). Before the late nineteenth
					century, every community kept track of its own time. But for efficiency and safety,
					railroads in this era started synchronizing their clocks by telegraph, with each system
					adopting the local time of the most important city it served. The Pennsylvania Railroad
					ran on Philadelphia time, the New York Central on New York City time, and so on. As
					American railroads grew and interconnected, they gradually chased away local times. In
					1883, all the major North American railroads agreed to adopt a system of standardized time
					zones. A map of the system published in 1889 (Map #7) shows the time zones much as we know
					them today, along with a list of conversions back to the old local, or solar, times for
					each city: Eastern Standard Time is sixteen minutes slower than Boston’s solar time, but
					eight minutes faster than Washington, DC’s, etc. This multiplicity of local times seems
					chaotic to us now, but it was not experienced as such before the 1880s. Having a few
					minutes difference between Boston and New York was only a nuisance after the railroad and
					telegraph wired these communities together, creating the expectation of simultaneity. Once
					again, maps of communication were also maps of Americans’ social and commercial horizons,
					charting the changing scale of American life.
				</p>
			</section>
			<section>
				<h2 class="section-header">Mapping the Economy</h2>
				<p class="body-text">
					In the second half of the nineteenth century, the long lines of the railroad and telegraph
					became a national grid. By 1871, American railroads had laid approximately 45,000 miles of
					track, including the first transcontinental railroad, completed in 1869. Over the next
					thirty years, Americans would build another 170,000 miles of track, including four more
					transcontinentals and a dense web of interconnections east of the Mississippi: “Railroads
					as thick as grasshoppers,” in the words of one newspaper (Musich 2006, 124). The furious
					competition and construction of the 1870s and 1880s was followed by a wave of takeovers
					and bankruptcies in the 1890s. By the turn of the century, two-thirds of US railroads were
					operated by one of seven large conglomerates, and Western Union’s monopoly over the long
					distance telegraph was secure (Chandler 2000, 11-12).
				</p>
				<p class="body-text">
					These maps of Ohio and Pennsylvania (Map #8), from a railway atlas published by the George
					F. Cram Company in 1899, show a thicket of interconnected trunk, branch, and short lines.
					Along with the Rand McNally Company, George Cram pioneered the use of wax engraving, a
					method of producing maps that was faster and cheaper than traditional copperplate
					engraving. To many eyes, wax-engraved maps were less aesthetically appealing than
					copperplate maps, but they could contain far more detail. Cram’s maps were crammed full of
					tiny place names and other text. His map of Pennsylvania shows 135 different railroads and
					more than a thousand towns and villages. These were detailed reference works, not works of
					art (Schulten 2001, 23-28).
				</p>
				<p class="body-text">
					The title page of Cram’s railway atlas made its audience and purpose clear. The atlas, the
					1887 edition declared, was “prepared to fill the wants of Banks, Bankers, Brokers, [and]
					Railroad Officials” by showing “locations of Towns, Railroads, giving Population by Towns
					and Counties, designating Post Money Order and Telegraph Offices, with the number of Banks
					in each place.” Railroads, telegraphs, and banks—these atlases were maps of the economy,
					of the lines and wires through which capital and commodities now flowed. The carpet of
					place names on each map made another powerful point. Every little village and hamlet was
					now part of the national grid, their significance defined less by topography or terrain
					than by their proximity to trunk lines and telegraph offices (Short 2001, 221-229).
				</p>
				<p class="body-text">
					Not everyone embraced the grid. The railroad and telegraph were supposed to bring
					prosperity, but they also brought economic dislocation and an unprecedented concentration
					of wealth and power in the hands of a few rich men. Small businesses were swallowed up;
					big businesses grew bigger. Some grew so big that many Americans feared they were
					incompatible with democracy. The late nineteenth century’s favorite caricature of
					corporate power—the octopus—was a vivid representation of this fear. All those cartoons
					depicting Western Union, Standard Oil, and the railroads as giant octopuses with their
					tentacles reaching across the nation were, if not maps per se, anxious visual
					representations of the new networks of commerce and communication (MacDougall 2014).
				</p>
			</section>
			<section>
				<h2 class="section-header">The Telephone and the Scale of American Life</h2>
				<p class="body-text">
					The telephone, invented in America’s centennial year of 1876, would eventually eclipse the
					telegraph, connecting almost every home and life to the new national grid. In its early
					years, however, the telephone was less a rival than a complement to the telegraph. Bell
					Telephone leased telephones and patent rights to operating companies in different regions
					of the country, creating a patchwork of regional Bell monopolies. The Bell companies in
					the 1880s and early 1890s concentrated on bringing telephones to big cities and wealthy
					customers, and often acted as a feeder network for Western Union’s telegraph lines. After
					the Bell patents expired in 1894, thousands of new telephone systems were established
					across the country. Bell’s new competitors called themselves the independent telephone
					movement. Some of these independents competed directly with Bell for its valuable urban
					markets. Many more brought the telephone to small towns and rural areas that the Bell
					monopoly had not served. Competition sped construction and drove down the price of
					telephone service. The number of telephone users in the United States exploded from the
					thousands to the millions in just a few short years.
				</p>
				<p class="body-text">
					The contest between the Bell System and its independent competitors was a kind of
					referendum on the scale of American economic life. The Bell companies symbolized and
					promoted national integration through commerce. The American Telephone and Telegraph
					Company (AT&T), which took control of the Bell System after 1900, staked its success on
					the long distance telephone, building a nationwide long distance network that the
					independents never rivaled. In 1915, AT&T celebrated its first coast-to-coast telephone
					call. The independents questioned the importance of very long distance telephony. Why,
					they asked, would an ordinary American in Indiana or Ohio ever need to call anyone in San
					Francisco? They focused instead on short and middle distance communication, connecting
					towns to the farms and villages in their own hinterlands, and building regional networks
					that mapped onto the regional subsystems of the American economy. A 1905 map of
					independent toll lines in New York, New Jersey, and Pennsylvania (Map #9) suggests both
					the extent and the limits of the independent approach. What the map depicts is not a
					single, national system centered on New York City—the Bell companies fought hard to
					protect their largest urban markets, and the independents struggled to gain footholds
					there. Instead, the map presents a network of smaller networks linking together small and
					medium-sized towns. When Americans chose between installing an independent telephone or a
					Bell telephone, they were, in effect, signaling their allegiance to either the older, more
					regional, economy or an emerging new economy of national markets and corporations.
				</p>
				<p class="body-text">
					This contest was waged with maps and images as well as money and wires. The independents
					produced countless caricatures of AT&T as an octopus or spider, implying that there was
					something monstrous or unnatural about its continent-spanning wires. But independent
					competition peaked in the first decade of the twentieth century, and the Bell companies
					bounced back in the years to come. AT&T advertisements from the 1910s and 1920s vigorously
					promoted the ideal of a single, national communications network. Many of these ads
					featured maps of a nation made small by the long-distance telephone, and images of giant
					businessmen stretching their arms across the continent, a visual answer to the monstrous
					octopus trope. As much as any other company, AT&T in this era taught Americans to stop
					worrying and love the grid.
				</p>
			</section>
			<section>
				<h2 class="section-header">Radio and the Decline of the Local</h2>
				<p class="body-text">
					A similar contest between local and national visions of communication was waged in the
					early days of radio. The radio was originally understood as a wireless version of the
					telephone or telegraph, to be used for two-way point-to-point communication. Guglielmo
					Marconi introduced a system for wireless telegraphy in 1899 and the first crystal radio
					sets were constructed around 1906. In the decade that followed, thousands of wireless
					hobbyists built their own two-way sets and thrilled at throwing their voices across the
					continent without wires. The United States and other governments began to regulate the
					radio spectrum after the Titanic disaster in 1912, and the US War Department and Navy
					Department took control of the technology in America during the First World War. After
					1918, the War and Navy Departments sponsored the creation of the Radio Corporation of
					America (RCA), pooling all the radio patents held by General Electric, Westinghouse, and
					AT&T. Westinghouse was the first company to realize the commercial potential of one-way
					broadcasting. An employee and wireless hobbyist named Frank Conrad had started
					transmitting “concerts” from his Pittsburgh home, playing phonograph records and the piano
					into a crystal set. Thinking this might boost the sale of radio receivers, Conrad’s bosses
					gave him a stronger transmitter and a regular gig. From there, commercial radio was born.
				</p>
				<p class="body-text">
					Westinghouse’s radio station KDKA made its first broadcast in November 1920. By the middle
					of the decade, hundreds of stations had been established, and millions of Americans were
					listening to the radio every day. Rand McNally’s Radio Map of the United States (Map #10),
					published in 1926, captures the industry on the cusp of a transition. Early radio
					broadcasting was ad hoc, chaotic, and profoundly local in its orientation. It cost
					relatively little to establish a local radio station. By 1926, dozens of churches,
					department stores, high schools, labor unions, college fraternities, Tin Pan Alley music
					publishers, revival preachers, even quack doctors and flat-earthers owned their own radio
					stations. But in the year this map was published, RCA struck a deal with AT&T to link
					radio stations across the nation by wire, creating a national radio network, based on a
					new business model: Professional programming produced for sponsors and paid for with
					on-air advertising spots. Rural and regional interests fought against the consolidation of
					radio into national chains, but the financial clout of the networks, the influence of
					federal regulators, and the mass appeal of commercial programming made the fight to
					preserve local radio a losing battle.
				</p>
			</section>
			<section>
				<h2 class="section-header">Communications Today</h2>
				<p class="body-text">
					The revolutions in communication that began with popular literacy and an affordable post,
					and gathered speed and impact with the telegraph, telephone, and radio, have only
					accelerated and expanded since then. Radar, television, computers, the internet, and
					cellular and satellite communication have all reshaped the ways we communicate and in so
					doing reshaped the ways we imagine our communities and the world. Communication
					technologies have never been more powerful or ubiquitous, yet maps of communication,
					ironically, may be less visible now than they once were.
				</p>
				<p class="body-text">
					Engineers and regulators make maps of cellular telephone coverage or of optical fiber
					cables, but ordinary users rarely view such maps. Communication today is so fast, easy,
					and pervasive that most of us do not need to visualize it in geographic terms. An
					isochrone map like Charles Paullin’s, showing the speed of communication in our own time,
					would reveal very little. A more characteristic way of mapping twenty-first century
					communications is the network diagram or social graph, which does away with geographic
					information altogether, depicting individuals and their interconnections as nodes and
					lines in abstract space. The discourse surrounding modern communication is all about the
					eradication of geography. The world, we are told, is small, or flat, or in the palm of our
					hands. In truth, of course, geography remains. All of our supposedly distance-eradicating
					media are shaped and defined by local conditions, territorial governments, economic
					realities, and the earth’s environment itself. But today, more than ever before, we
					imagine we have transcended distance. And maps of communication, as we have seen, are maps
					of imagined worlds.
				</p>
			</section>
			<aside>
				<h2 class="section-header">Further Reading:</h2>
				<p class="body-text">
					Not a great deal has been written on the mapping of communication, but more general works
					on the history of cartography often visit the subject. John Rennie Short’s Representing
					the Republic: Mapping the United States, 1600-1900 and Susan Schulten’s The Geographical
					Imagination in America, 1880-1950 are excellent books that chart the history of America
					imagining itself through maps.
				</p>
				<p class="body-text">
					There is an extensive body of work on the history of communication in America, with many
					recent works inspired, at least in part, by the communications revolutions of our own
					time. Paul Starr’s The Creation of the Media: Political Origins of Modern Communications
					offers a sweeping survey of American communications from colonial times to the rise of
					network radio, as do the essays collected in A Nation Transformed by Information, edited
					by Alfred Chandler and James Cortada. On particular moments in the evolution of American
					communications, some of the best works include: Richard Brown, Knowledge Is Power: The
					Diffusion of Information in Early America; Richard John, Spreading the News: The American
					Postal System from Franklin to Morse and also Network Nation: Inventing American
					Telecommunications; David Henkin, The Postal Age: The Emergence of Modern Communications
					in Nineteenth-Century America; David Hochfelder, The Telegraph in America, 1832-1920; and
					Susan Douglas, Inventing American Broadcasting, 1899-1922. Alexander Russo’s Points on the
					Dial: Golden Age Radio Beyond the Networks is especially attentive to the geography of
					early radio. My own book, The People’s Network: The Political Economy of the Telephone in
					the Gilded Age, tells the story of the telephone, with special attention to the struggle
					between Bell and the independents for control of North American telecommunications.
				</p>
				<p class="body-text">
					Moving farther afield, Richard White’s Railroaded: The Transcontinentals and the Making of
					Modern America is a trenchant, authoritative history of the industry that did so much to
					shape both transportation and communication in America. John Durham Peters’ Speaking Into
					the Air is a beautifully-written history of communication as an idea. Michael O’Malley’s
					Keeping Watch: A History of American Time chronicles the shift in American consciousness
					from natural time to standard time and time as commodity. And Einstein’s Clocks,
					Poincaré’s Maps, by Peter Galison, is a unique exploration of the intellectual and
					technical webs connecting nineteenth-century trains, telegraphs, maps, and time signals,
					and how they remade our world.
				</p>
			</aside>

		</article>
	</div>
</Essay>
