<h1 class="gallery-page-title">Georgia Central Railroad and its Connections, 1869</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">D. Appleton and Company was a New York book publisher that began issuing travel guides in 1857. Like most early railroad guides, Appleton’s books were simply lists of steamboat, stagecoach, and railroad timetables with no cartographic information at all. It was not until 1868 that any of these guides began including railroad system maps in their publications. This 1869 map is therefore an early example of the genre, printed in an age before railroad companies began issuing their own system maps as a way of advertising their lines.</p>
<p class="main-text-p">The map, detached from its original publication, highlights the railroad systems of Georgia, but does not include travel schedules or time tables, presumably as that information could be found elsewhere in the original book. A simple map, it nonetheless represents how developed Georgia’s railroad systems had become by 1869, only four years removed from the destruction and havoc of the Civil War.</p>
 
</div>
<h3 class="map-title">Georgia Central Railroad and its Connections, 1869</h3>
<cite>D. Appleton and Company, "Georgia Central Railroad, and Its Connections", detached from F.D. Lee and J.L. Agnew, Historical Record of the City of Savannah (Savannah, Ga. : J.H. Estill, 1869), between p. 140-141. Map1F G3866.P3 1869 .A6</cite>