<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> ROBERT PAULETT </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">Introduction</p>
				<p class="body-text">
					It is perhaps a problem with maps that, for objects so closely associated with human
					movement, they provide only a limited sense of movement themselves. They mark former
					movement, certainly, and they propose new routes, but to study a map is to study a
					portrait of the world at a moment in time. We can see the routes and roads of a particular
					era but we can gain little sense of how those travel corridors themselves moved and
					shifted across the landscape as humans changed and altered their world. Complex and
					fascinating as historic maps are, they can only provide a glimpse of the dynamic human
					movements that have crossed the landscape, particularly as most of us study maps within
					certain circumscribed time periods or regions. We specialize in area, time, and genre and
					leave it to our colleagues to provide backstory or codas to our work. Utilizing the
					written and visual records of our time periods, we can build some sense of the experience
					of moving through the landscapes that our maps depict, if we so choose. But we lose the
					longer picture that all human movements are part of ongoing and ever-shifting patterns in
					history.
				</p>
				<p class="body-text">
					Looking at maps in succession, however reveals in a powerful way how important human
					movement is to the landscape. Rather than adjusting themselves to an existing landscape,
					human movements shape, warp, and rearrange the terrain. Transportation networks have
					proven surprisingly ephemeral and mutable, even at the regional levels. These shifts and
					leaps across landmasses have made accurately recreating historic routes difficult, to say
					the least. But if specific routes are difficult to trace, historic maps do provide an
					excellent resource for tracing general corridors of movement and migration across a
					region. Despite maps’ disconnection from the actual experience of moving through the
					landscape at any one moment in time, historic maps viewed in succession can demonstrate
					how humans, towns, even states respond to the shifts in economies and cultures across
					time. There was very little “natural” about these routes; nor did they subtly fade into
					each other. While routes continued from era to era, they did not overlap as much as one
					might expect. Observing how a cartographic generation’s aspirations become the next’s
					secondary features, one can get some sense of how many dreams became reality and how those
					realities become memories. Moreover, maps tended to arrive in periods of transition—the
					circumstances creating new maps simultaneously creating the shifts in politics and
					economics that would demand new maps a few years later.
				</p>
				<p class="body-text">
					These shifts are most evident at a distance. Towns and cities of course change shape
					constantly even without significant changes in overall patterns of movement across a
					region. But at the state or regional level, one gets a much clearer picture of how
					long-distance travel arranged and shaped the overall face of the country. In the case of
					Georgia, it is possible to discern how peoples’ movements across the state responded quite
					sensitively to regional political, economic, and demographic shifts. They emerge as a slow
					shift of routes across time and across space, viewable only across decades, but viewable
					nonetheless. As Georgians oriented themselves from roads to rivers and then from rails to
					remembrance, they slowly changed the physical routes by which travelers could move through
					the state. A study of mapping in Georgia between 1775 and 1975 thus reveals something of
					how people of that region altered their travels through the state and, in doing so,
					altered and altered again the entirety of the southeastern corner of North America in the
					two centuries after independence. Beginning with maps of the Indian trade that shaped the
					colonial economy and proceeding through the era of plantations and on into the New South,
					the maps of Georgia show a region where travel changed quite a bit, not just in the
					technologies of conveyance but in the very different corridors through which people
					traveled.
				</p>
			</section>
			<section>
				<h2 class="section-header">Following the Paths of the Colonial Era</h2>
				<p class="body-text">
					For most of the colonial period, maps followed in the wake of travelers. Explorers,
					voyagers, naturalists, and surveyors crossed the face of North America and drew their maps
					as records of their movements, seeking to lay imperial claims on both space and knowledge.
					But the corridors they traveled had been etched by centuries of Native American
					movements—the complex and changing networks of paths and trails that governed movement in
					the American interior. These mapmakers were thus circumscribed by what other humans had
					created. Shared pathways were the most effective means of long-distance, overland travel.
				</p>
				<p class="body-text">
					A pathway such as the main trading path between Augusta and the lands of the Lower Creek
					Indians was just such a deeply etched corridor of travel and a crucial transportation
					route in the colonial Southeast. The important combinations of geology, human technology,
					and Anglo-Indian politics defined the path’s route for most of the eighteenth century.
					Geologically, the path ran along the boundary between the rocky and hilly grounds of the
					Appalachian Piedmont and the softer and sandier soils of the Atlantic and Gulf Coastal
					Plains. This geologic boundary proved important for human travel when the main modes of
					conveyance were by foot and by hoof. The fall zones of this geological boundary made for
					easier passage across southeastern rivers in most seasons (spring floods made crossing
					difficult even at these shallows). (De Vorsey 1986, 5-10)
				</p>
				<p class="body-text">
					But it was the Yamassee War of 1715 that made this travel route central to Southeastern
					affairs. The brief but destructive war rearranged the human geography of the Southeast,
					with a number of Creek villages removing westward to the Chattahoochee River valley and
					English traders establishing a new outpost at the falls of the Savannah River. From 1715
					on, a regular movement of humans, horses, and trading goods followed the pathway along the
					fall line. Daily trade, war parties, and diplomatic missions all followed this same basic
					route for decades, creating one of the most important travel corridors in North America.
				</p>
				<p class="body-text">
					Important as it was, the route went largely unmapped until late in the colonial period. It
					appeared mostly as an abstract line on European and Indian maps alike. Only in 1775 did
					Europeans attempt to systematically map the pathways of the Southeast. Responding to
					British calls for greater oversight in the region and Indian acquiescence to the British
					demand for mapped boundaries, Superintendent for Indian Affairs John Stuart deputized a
					number of surveyors to travel southeastern paths and record their twists and turns as
					precisely as possible. (Paulett 2012, 55-56)
				</p>
				<p class="body-text">
					The result was one of the most ambitious and significant maps from colonial America. Never
					printed, the 1775 Stuart-Purcell manuscript map is a treasure trove for colonial scholars.
					The map covers the entirety of mainland North America south of the Ohio River and east of
					the Mississippi. On this map, Stuart had his deputies map as precisely as possible the
					locations and names of all political features within the region: colonial boundaries,
					roads, and towns; Indian villages and paths; and even proposed colonial settlement schemes
					west of the Appalachians. It also incorporated the major surveys of the East and West
					Florida coasts commissioned by the British government in the years after 1763. The product
					of a decade’s worth of surveys and negotiations, it was a major leap forward in the
					precise measurement and plotting of the Southeast and its peoples.
				</p>
				<p class="body-text">
					For all of its ambitions to be a total map of the Southeast, however, the Stuart-Purcell
					map could only be a detailed path map where the American interior was concerned. Revealing
					in stark detail the limits of European knowledge of the region, the mapmakers could only
					trace the steps of the thousands of people who had carved the route from Augusta to the
					Chattahoochee. (For whatever combination of political, logistical, or informational
					reasons, the map omitted the more heavily traveled branch of the path that connected the
					Ogeechee River crossing to the populous Upper Creek villages.) The surveyors could
					therefore only map what they saw as they moved along the paths. The large river systems of
					the Ogeechee, Ocmulgee, and Flint Rivers and their major branches were sketched in, but
					the most detailed hydrography could only be found at those places where these large
					systems intersected with the trading path. But, by following the paths of the traders,
					Stuart’s surveyors provided a helpful glimpse of the decades-old trade corridor at the
					very moment that it was about to begin to disappear as a major transportation route in the
					Southeast.
				</p>
				<p class="body-text">
					The circumstances that created the Stuart-Purcell map ensured that no further maps would
					be made for a long time. The series of land cessions and boundary lines that the map
					sought to define and depict also led to an unfolding series of conflicts in Georgia that
					would ultimately reorganize the Indian trade and lead to an entirely new nation. Beginning
					in 1774, factions of Creek warriors opposed the land deals that elder Creek diplomats had
					negotiated and began attacking settlers in the “New Purchase” lands north and west of
					Augusta. These conflicts would ultimately help determine the origins and course of the
					Revolution in Georgia. (Cashin 1985, 245-247) Traders, most of them Loyalists, abandoned
					Georgia and reestablished their businesses along the Gulf Coast. Increasingly the old
					trading path became an official link between United States and Creek Indian agents, but
					the changing politics of early America also altered travel routes through Georgia.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Persistence of Paths in the Age of Re-Settlement</h2>
				<p class="body-text">
					Somewhat surprisingly, these conflicts actually helped to preserve the old trading path as
					an important travel corridor well into the 1810s. Even though it took four decades for
					another map of Georgia to appear, Daniel Sturges’s 1818 Map of the State of Georgia
					revealed that the old cross-state travel route had not vanished entirely. Between 1775 and
					1818, Georgia had witnessed the disruptions of the Revolution, the confusion of
					Creek-Georgia land deals in the 1790s, and a general uptick in hostilities between
					aggrieved Creeks and pushy Georgia settlers. Reforming its land policy in the wake of the
					Yazoo frauds, Georgia undertook a series of regular land lotteries and detailed surveys in
					the early 1800s under the direction of Sturges, Georgia’s Surveyor General between 1797
					and 1809 and again between 1817 and 1823. Caught up in the cotton boom, Georgia’s
					boundaries shifted rapidly as the state steadily appropriated lands from the Creeks and
					Cherokees. Sturges himself was part victim of Georgia’s rapid changes, serving a brief
					stint in jail for debt, his economic woes further delaying the production of his state
					map, the first original state map since Stuart-Purcell. (Cadle 1991, 154-158, 168-173,
					180fn.-181fn.)
				</p>
				<p class="body-text">
					Amid all this bustle in the map’s background, it would be easy to lose sight of the old
					trading path, but the old route still remained an imprint on Sturges’s map. Despite
					Sturges’s close ties to Georgia’s “cartography of settlement” which emphasized regular
					property surveys to affix permanent ownership, the map still revealed much of the old
					path-based “cartography of movement” that had characterized the Stuart-Purcell map. The
					inclusion of the old route no doubt had much to do with efforts to convert the old trading
					roads into federal roads in the early nineteenth century. US negotiations with the Creeks
					included much discussion of how to incorporate Creek territory into the growing national
					concern with maintaining an east-west highway through the Southeast. Florida remained a
					Spanish colony and the bulk of the Indian trade moved through British merchant houses
					perched at the Spanish mouths of Southern rivers. But the United States conducted its own
					business with the Creeks and national strategists such as Albert Gallatin believed
					maintaining the old east-west route was crucial to link the Atlantic coast to the
					Mississippi Valley. (Hudson 2010, 7; Meinig 1986, 313-315) Although mostly restricted to
					official business, US agents, traders, and armies still used the old trade corridor.
				</p>
				<p class="body-text">
					This perhaps explains why the path could still be seen underneath Sturges’s colorful
					markers of American progress. Amid a tangle of roads in the eastern half of the state, a
					route still snaked along the southern edge of the Georgia Piedmont southwest to Warrenton,
					Sparta, and Milledgeville and from there on across Creek territory to the area just south
					of the Cowetas. It was just one among many routes but a close comparison of Sturges’s map
					with the Stuart-Purcell map reveals that the old path was still there and also reveals an
					interesting phenomenon in place names along the old route that helps the modern viewer
					make out the old trading path.
				</p>
				<p class="body-text">
					On the Stuart-Purcell map, the names of intersecting creeks were carefully labeled along
					the trading path. Leaving Augusta, travelers crossed Butler’s Creek, Boggy Gut, and
					Sweetwater Creek before skirting the headwaters of Rocky Comfort Creek, (where Warrenton
					appeared on Sturges’s map). The path then crossed Buffalo Creek (where Sparta lay) and
					headed for the falls of the Oconee River (site of Milledgeville). The path then skirted
					the headwaters of Commissioner’s Creek, crossed Oakhanlooga Creek, the Ocmulgee River,
					Rocky Creek, and the Little Tobasaughki River. Following the most direct roads on
					Sturges’s map from Augusta to Milledgeville to Fort Hawkins on the Ocmulgee River, the
					reader sees all of these places names in order and in the same relation to the path as on
					Stuart-Purcell. Despite Georgia’s rapid re-settlement of former Indian lands, these older
					place names survived, no doubt because settlement of these regions began while the Indian
					trade was still going on, meaning that traders and settlers occupied the same space and
					used the same routes. Thus the old trading path became absorbed into local memory and
					knowledge that would prove crucial for later researchers.
				</p>
				<p class="body-text">
					West of Fort Hawkins, however, the maps diverge in their place names. None of the names
					found on the Stuart-Purcell map can be found in western Georgia, aside from the major
					systems such as the Flint and Chattahoochee Rivers. It therefore becomes much more
					difficult to trace the western half of the trading path across the 1818 map through place
					names, indicating that its importance as a travel corridor was beginning to fade. But
					Sturges did quite clearly mark the old trading path as a still-important link between
					Georgia’s settlements and the Lower Creek villages but in a way that separated it from its
					Indian past and linked it to Georgia’s political dominance.
				</p>
				<p class="body-text">
					Sturges made a careful and clear delineation between Georgia roads and Indian paths. A
					broad double line linked Milledgeville to Hawkins’s Indian Agency and Fort Mitchell on the
					Chattahoochee River. As this road crossed Cherokee territory, however, Sturges showed
					smaller, single-line paths branching off from the main route and running to the old
					destinations of Coweta, and gave them names such as “Old Sandhill Path.” Some of these
					paths no doubt represent branches of the main trading route and were a way to contrast the
					old with the new. Sturges’s map linked European outposts with the same type of roads that
					crisscrossed the eastern counties of Georgia, asserting their ties to European settlement
					and forecasting a future occupation and colonization of Creek lands from the east.
				</p>
				<p class="body-text">
					As the eastern part of the map became a cartography of settlement, the western remained a
					cartography of movement. It is unclear how much surveying Georgians had done since the
					Revolution, but the western reaches of Sturges’s Georgia still seemed marked by maps of
					movement rather than survey. Closer inspection of the “roads” and paths running through
					Creek lands reveal that travelers’ reports likely guided Sturges as much as any formal
					survey. In an unusual feature, the small rivers and creeks that cross these single-line
					paths all are drawn as running perpendicular to the pathway. As an example, look at the
					hydrography immediately east of Coweta on the Chattahoochee River. An unnatural pattern of
					right-angle river junctions indicates that these small streams were recorded as points
					along a pathway rather than surveyed along their natural courses. A similar pattern
					follows the single-line paths running along the western bank of the Chattahoochee north to
					the Cherokees. Similar to other maps of movement from the eighteenth century, these “path
					maps” indicate that Sturges’s main source of information for these parts of Georgia were
					verbal travel accounts (likely Euro-American and Native American alike) rather than formal
					survey. These roughly sketched rivers stood in contrast to Sturges’s detailed instructions
					to his surveyors to record the courses of rivers within their county surveys. (Cadle 1991,
					183, 185)
				</p>
			</section>
			<section>
				<h2 class="section-header">Erasing the Paths in the National Atlas</h2>
				<p class="body-text">
					Although still visible in 1818, the route was fading fast, at least cartographically. Four
					years after Sturges published his map, a national atlas revealed how the old trade
					geography could easily be removed from the landscape. The Georgia map in Carey and Lea’s
					1822 American Atlas clearly owed much to Sturges but removed much of the finer detail of
					the earlier map. At the center of the sheet was a map that very closely matched Sturges’s,
					but reduced in size. The reduction left little room for faint paths or Indian villages.
					Creek and Cherokee territories were still prominently labeled, but the only feature of the
					old geography brought over from Sturges was the main road running from Milledgeville to
					Fort Mitchell. By reducing the original to these particular highlights, the atlas’s
					engravers also magnified the boosterish elements of Sturges while largely erasing the
					signifiers of human (and especially indigenous) movement from the face of Georgia.
				</p>
				<p class="body-text">
					As if to make the point patently clear, the atlas also surrounded the map with text
					designed to further emphasize Indians as a vanishing presence in the United States. The
					description of “Indian Country” (located in the lower, right-hand center of the page) was
					nothing more than a history of Creek and Cherokee land cessions to the United States, with
					the implication that the remaining squares would soon be US property as well. The
					“Historical Sketch” on the map’s right gave Creeks a prominent role in James Oglethorpe’s
					early military campaigns in Georgia, but reduced them as a group to invaders and
					capitulators by the end. The Indian trade, so much a part of Georgia’s history during the
					1700s, earned no mention at all. Through the reduction in visual space and the increase in
					text, the atlas makers could easily blur the historical trade route and renarrate it as
					the leading edge of United States territorial aggrandizement.
				</p>
				<p class="body-text">
					In service of this narrative of Creek surrender, Carey and Lea’s map updates Sturges’s old
					map with a few key features, chief among them their placement of Benjamin Hawkins’s Creek
					Agency along the route to Columbus. The Agency, first established in the 1790s, would
					remain the main connection between the United States and the Creeks until the 1820s. Even
					after the Agency was turned over to settlers, this landmark would remain on Georgia maps
					even after the agency itself ceased to exist, indicating that the old route was beginning
					to be part of Georgians’ historical memory.
				</p>
			</section>
			<section>
				<h2 class="section-header">Marking the Old Path in the Age of Steam and Rail</h2>
				<p class="body-text">
					By the 1830s, the geography of the Southeast had transformed and the routes of travel had
					changed with it. The biggest shifts in the years after Sturges’s map were the addition of
					Florida to United States territory and the subtraction of most Native Americans through
					the policy of forced removal in the 1830s. No longer alienated from the Gulf Coast, the
					growing cotton districts began encroaching on former Creek lands and taking full advantage
					of the Southeast’s broad river valleys. The 1820s were also the dawn of the steamboat era
					and rivers, not roads, became the major route to the Southeastern interior, as boats
					steamed up from ports such as Pensacola and Mobile. (Meinig 1986, 316-323)
				</p>
				<p class="body-text">
					The Newberry Library holds a single, user-marked copy of one of Samuel Mitchell’s popular
					travel maps that reveals how, even after decades of geographic shifts, transportation
					corridors gradually faded rather that abruptly disappeared. This small map of the
					Southeast offers an amazing glimpse of how travel through Georgia was transformed in the
					age of steam and stage while retaining an echo of the older travel routes. Steamboat
					lines, stagecoach routes, and other roads criss-cross the fragmented surfaces of Georgia
					and the Carolinas’ colorful counties. Small schedules adorn the map’s margins and offer
					the traveler the chance to travel anywhere through the Southeast with no clear hierarchy
					of places aside from the central nodes where steamboat lines and stagecoach routes crossed
					paths. What is most striking is the potential chaos within these travel choices. The
					traveler at all times risked getting lost among the possibilities, a continuity with
					eighteenth-century travelers who feared stepping off the well-worn paths.
				</p>
				<p class="body-text">
					However, the older trade corridor still served some purpose. For reasons unknown, one of
					this map’s former users made a journey across Georgia from Augusta to Columbus, closely
					following the route of eighteenth-century packhorse trains. Traveling from Virginia, this
					unknown user may have been rushing to the Alabama lands opening up in the wake of Creek
					removal or to offer some supplementary service to the rising planters of the region. The
					central route still seemed to be his most direct path, as numerous stagecoach lines linked
					Augusta to Milledgeville to Macon (near Hawkins’s old Creek Agency) and onward to
					Columbus. He would have had to change stage lines numerous times, but the links between
					these fall-line market towns still allowed a journey along the old corridor. It might be
					impossible to know whether any of these roads followed the exact route of the Great Old
					Path, but certainly this traveler was never more than a few miles from the older route
					even if it was hidden within a web of stage roads, river routes, and burgeoning Main
					Streets. However, it is only this traveler’s heavy inked line that connects the old
					locations. Otherwise, the route would fade into the complex network of local roads and
					rivers that covered the entire map face.
				</p>
			</section>
			<section>
				<h2 class="section-header">The Old Path Sidelined in the Age of Rail</h2>
				<p class="body-text">
					Two maps from the 1860s indicate that cross-state trips across Georgia were increasingly
					taking different paths. The railroads that remade Georgia’s human geography help do more
					than obscure the old path among new routes. They actively rerouted human movement along
					different corridors. As can be seen on an 1869 railroad map of Georgia, the railways
					tended to follow their own logic and reorganized the corridors of travel in the state.
					Most striking, of course, is the orientation towards the site of Atlanta, founded in 1836
					specifically as a railroad junction between Savannah and the West. Older market centers
					such as Augusta, Macon, and Columbus, still feature prominently on the map, linked by
					numerous heavy black lines showing Georgia’s major railroads.
				</p>
				<p class="body-text">
					But the complex logic of rail companies and the adaptability of rail lines to a wide
					variety of local terrains meant these routes could, and did, go almost anywhere. Railroads
					were formed out of a complex mixture of physical geography, local and state political
					control, and private economic ambition spread over decades. Railroad building in Georgia
					began in earnest in the 1830s, inspired by South Carolina’s success in establishing a rail
					line in the state’s upcountry that would help funnel cotton bales to the old port of
					Charleston, whose light had dimmed somewhat in the federal period. Georgia interests,
					however, preferred that their state’s lines would work to their benefit and so the
					merchant classes of Savannah and Augusta carved the state rails into two systems, one
					terminating at Augusta (the Georgia Western) and another terminating at Savannah (the
					Georgia Central). But early railroad builders tended to avoid river crossings when
					possible, as bridges were expensive and difficult to build. Thus railroads tended to
					follow river valleys and actually reinforced older steamboat routes. (Musich 2006,
					118-120, 124) These tendencies revealed themselves in the routes that developed across
					Georgia in the decades just before the Civil War.
				</p>
				<p class="body-text">
					Railroad maps more often reflected company ambitions than reality, but the consistency of
					railroad routes mapped in Georgia indicates that these lines did serve as the basis for
					actual rail construction in the state. They therefore became the primary travel corridors
					through the region, as railroads increasingly became the main way to get across Georgia.
					In fact, Georgia’s rail line mostly served as mail and travel routes, since most cotton
					production areas could still more easily and more affordably take advantage of the
					Southeast’s numerous improved and steam-driven water transportation routes (Meinig 1986,
					324-331).
				</p>
				<p class="body-text">
					What few travelers there were moved by rail, and they increasingly moved along the
					railroad companies’ corridors, abandoning the old Piedmont routes. Perhaps the most famous
					southern traveler in the 1800s, Frederick Law Olmsted crossed Georgia by rail, taking the
					overland route from Savannah to Columbus by way of Macon. Olmsted, not overly charitable
					to the South in most of his writing, was at least pleased with the Georgia Central, noting
					that they were slow but punctual. (He attributed this to the fact that the Georgia Central
					was mostly run by northerners). He did not dwell on it, but Olmsted did note the
					fragmentary nature of Georgia’s routes in his brief description of his cross-state travel:
					“Partly by rail and partly by rapid stage-coaching (the coaches, horses, and drivers again
					from the North), I crossed the State in about twenty-four hours.” (Olmsted 1953, 212-213)
					Olmsted’s journey reflected the new routes of travel in the South—stage coaches and
					railroads centered on river systems were the ways to go.
				</p>
				<p class="body-text">
					While travelers such as Olmsted may very well have still used the stage routes and roads
					of western Georgia, the Appleton map makes the older Macon-Columbus corridor seem like a
					vanishing presence. No rail lines directly connected Macon to Columbus, and neither Fort
					Mitchell nor the older site of Coweta was reachable by rail. If anyone had hoped to leave
					the cotton districts of Augusta and head out for the similar cotton districts of eastern
					Alabama, they would have been unable to follow the old
					Augusta-Milledgeville-Macon-Columbus path along the Piedmont. Leaving from Augusta, the
					traveler would have either had to choose a northern path through Atlanta and then south to
					eastern Alabama before backtracking to Columbus or taken a spur line south to catch a
					Georgia Central line through Macon (which involved a southerly detour from Macon before
					turning westward for Columbus).
				</p>
			</section>
			<section>
				<h2 class="section-header">Rail, the Local Road, and the Vanishing Old Path</h2>
				<p class="body-text">
					A detailed military map of western Georgia revealed what happened to old roads that lay
					outside the new transportation corridors. By the Civil War, the old path was fading into a
					series of local routes and thus vanishing from the state and national systems of transport
					that were growing up alongside the railroad. This 1863 Army Corps of Engineers map of
					Georgia (part of a set held by the Newberry) provides possibly one of the most detailed
					views of western Georgia available from the nineteenth century. Titled “Northwestern
					Georgia” the map offers a much larger scale picture of Georgia’s stage routes and travel
					corridors thirty years after Samuel Mitchell’s map.
				</p>
				<p class="body-text">
					Given the map’s likely purpose for helping to plan Union troop movements through the
					state, railroads and travel corridors (including stage routes) are obviously highlighted.
					The map also highlights fortifications and river routes. This was a map designed to help a
					large number of people move through an unfamiliar territory. It thus offers the modern
					reader a glimpse of the most commonly used pathways carved into Georgia by the movements
					of prewar travelers.
				</p>
				<p class="body-text">
					Unsurprisingly, the map offers only a few hints at the Great Old Path. What is remarkable
					is that it does offer some hints at all. Stage routes still wound along the same travel
					corridors that the old trading path did. While the connections to the Stuart-Purcell map
					were definitely fainter, they did still exist. Just west of the Ocmulgee River (site of
					Macon), the map marked a stage road headed towards Columbus with a heavy black line. This
					route crosses a handful of creeks whose place names indicate it lay near the older trade
					path. This stage road crossed Rocky Creek and “Tobesofkee” Creek, as did the path on
					Stuart-Purcell. It then crossed a branch of the Flint River named Sweet Water Creek and a
					Beaver Creek (an echo perhaps of the “Beaver Dam” Creek on Stuart-Purcell). Most
					significantly, the US Army Corps of Engineers (USACE) map shows this route passing nearby
					the “Old Agency” on the Flint River, a clear reference to Hawkins’s old agency, which had
					fallen into disuse but remained, for some reason, a landmark in Civil War Georgia.
				</p>
				<p class="body-text">
					The map, though, also shows how the old path began to vanish in its western reaches.
					Columbus, Georgia, had become the new terminus. Located about fifteen miles above the
					older site of Fort Mitchell, Columbus received the stage lines. Fort Mitchell, still
					present on this map, received smaller secondary roads branching off of the main stage
					line, running near the Georgia town of “Cusseta.” These smaller local roads reached
					Georgia towns but did not in any way provide a clear path through the region. Their
					function was clearly for local travel, connecting farms and plantations to local markets
					and towns. This localism of Georgia roadways, however, would change in the 1900s.
				</p>
			</section>
			<section>
				<h2 class="section-header">Looking for a Good Road in Georgia</h2>
				<p class="body-text">
					The roads did not vanish, of course, but the eighty-year rise of the railroad increasingly
					de-linked the roads of Georgia from any state or national system. Localism prevailed in
					road funding and maintenance throughout the nineteenth century and affected travel in
					those areas not touched by southern rails. However, as motoring and automobile advocates
					increasingly encouraged the development of good roads, America’s cartographic attention
					turned towards local systems of the nineteenth century. (Akerman 2006, 174-176)
				</p>
				<p class="body-text">
					Georgia increasingly needed good roads for its new tourism industry. Following the
					economic ruin of the Civil War and the collapse of the cotton economy, Southerners found
					tourism to be a new and attractive industry. Northerners seeking warmer weather began
					making coastal South Carolina, Georgia, and Florida destination spots by the 1880s. (Weiss
					2004, 304-305) This trend only accelerated as the automobile opened southern travel for
					the middle class and Midwesterners alike. Georgians seeking to draw in Yankee dollars
					sought to capitalize on the state’s history as a Civil War battlefield (thanks in part to
					the campaigns planned on maps like the Army Corps of Engineers’), directing motorists
					along marked heritage trails such as the “Battlefield Route” in the first two decades of
					the 1900s. The extensive highway development of the “Dixie Road” linking Chicago to
					Florida along marked state and county routes pushed this intra-state competition further.
					Revealing the shifts in Georgia’s economy, steam-and-rail transportation hubs such as Rome
					increasingly lost traffic to history-rich sites like Dalton as heritage-seeking drivers
					followed the signs to past troop movements. (Ingram 2014, 58-74)
				</p>
				<p class="body-text">
					This 1919 map of Georgia produced by the National Highways Association (NHA) revealed the
					condition of the state’s roads after eighty years of railroad building. While railroad
					companies emphasized their corridors, daily travel along Georgia’s roads continued. At the
					dawn of the automobile age, the NHA map sought to organize the local roads of Georgia into
					some kind of comprehensive system. Travelers accustomed to railroads clearly expected
					smooth and reliable transportation and the map had to convince motorists that the roadways
					of Georgia were navigable while at the same time acknowledging that they had not much
					changed since the dirt tracks of the colonial period.
				</p>
				<p class="body-text">
					A study of the map reveals that very few of Georgia’s roads were paved by 1919 and the
					Piedmont corridor was mostly a series of linked dirt roads connecting small towns. One can
					perhaps glimpse vestiges of the old stage routes shown on the 1835 Mitchell map. But the
					1919 map makes clear just how local roadways had become by the early twentieth century.
					Along a proposed highway route from Augusta to Macon to Columbus, a traveler would have
					had to navigate through a number of small towns to pick their way across the state. Rather
					than stage routes to Milledgeville, Macon, and Columbus, the traveler would have to wind
					their way through Whitewater, Pinelevel, Knoxville, Roberta, and a dozen other towns just
					to get from Macon to Columbus.
				</p>
				<p class="body-text">
					The map’s makers also acknowledged the localism of Georgia roadways in the legend just
					below the map’s title. In advocating better systems of roads, the NHA map called attention
					to a feature (and inconvenience) of early twentieth-century motoring: the need to
					privilege local information over professional maps. Making clear to its audience that
					99.5% of the mapped roads were in existence (rather than merely proposed), the map
					nonetheless encouraged its users to stop and ask directions from locals, acknowledging
					that “Sometimes… political or local influence has built a better adjacent road. Inquiry by
					the tourist en route will produce the needed local information.” And, given that the roads
					were for the most part unpaved, the map again encouraged tourists to “make careful inquiry
					for road conditions” after a heavy rain, self-promotionally reminding readers that “only a
					Hard Road is a good road 365 days in the year.” This was similar to the grudging
					encouragement motoring advocates gave would-be tourists to stop and consult the locals for
					the best routes through an area. (Akerman 2006, 168-169) A century and a half after
					Stuart-Purcell, human information was still crucial to travel, although the experts in
					local geography were now much more likely to be African American than Native American.
				</p>
				<p class="body-text">
					While the National Highways map evinces a slight frustration at the localism of road
					travel through Georgia, it also hints at a transformation in travel through the state. The
					localism of Georgia and the sense of a vanishing past were becoming destinations in and of
					themselves. As travel in the state shifted from railways to roadways, the desire to
					connect with a lost Georgia was becoming tied to the effort of moving through these small
					towns and along these dusty and/or muddy local roads. As Americans jumped into their
					ever-increasing fleet of cars, the new technology of transport (and the local boosters of
					Georgia’s towns and counties) encouraged heritage tourism along historical travel routes,
					tying automobile travel to a growing sense of US national identity. (Akerman 2006, 195,
					198-203) This push onto the backroads encouraged the development of state and national
					highway systems and brought the pavers to America’s local roadways.
				</p>
				<p class="body-text">
					Georgia’s attachment to snowbird tourism reoriented the main corridors of travel yet
					again. While every local route slowly became absorbed into state and regional systems,
					distinct patterns of traffic began to appear on Georgia’s road maps in the years after
					1930. Increasingly, people moved through Georgia from north to south, following roads from
					the Midwest and Northeast, mostly on their way to the growing tourist playground of
					Florida. As a dramatic example, strip maps began highlighting north-south routes through
					Georgia, cutting the eastern and western edges of the state off completely (map reprinted
					in Akerman 2006, 157).
				</p>
			</section>
			<section>
				<h2 class="section-header">North, South, and Motoring through Georgia</h2>
				<p class="body-text">
					Even on those maps promoting Georgia as a destination, the north-south orientation of the
					twentieth-century traveler becomes clear. Over a decade after the National Highways
					Association map of Georgia, an Automobile Association of America map reveals the growing
					links between road travel and an effort to recapture the past and the northern orientation
					of the targeted audience. Although routes had been given numbers in the federal highway
					system, the fragmentation and localism of the roads persisted from the National Highways
					map. In particular, this map reveals that Georgia’s roads had not improved all that much
					between 1919 and 1930, so the local knowledge of condition and direction likely persisted
					for anyone trying to make their way through Georgia. But the maps are increasingly seeking
					to bypass this localism in favor of carrying travelers directly and safely to a few chosen
					destination spots.
				</p>
				<p class="body-text">
					This map, designed to highlight Augusta as a tourist destination, organizes the roadways
					of the eastern United States in such a way as to make a trip to Augusta seem like the most
					natural decision in the world. The map helpfully makes Augusta its main focus by writing
					the town name in heavy orange letters amid the generally blue background of the rest of
					America. United States highway routes are similarly highlighted in orange ink, showing a
					system of orange roads leading to the major population centers of the northeast and
					midwest. Indeed, the orange routes resemble a new kind of river system, all converging on
					the destination of Augusta. Rather than the point of departure it had been in the days of
					the Indian trade, Augusta was trying to become the point of arrival.
				</p>
				<p class="body-text">
					The map highlights the older cross-state travel route as part of a planned system of
					improved highways connecting Augusta to Montgomery, Alabama, but other maps from later in
					the century indicate that this never became a major thoroughfare. Look to the modern
					highway map of Georgia and one can see that all roads first pass through the hub of
					Atlanta and that the old cross-state journey along the fall line would require careful
					planning along some combination of state and US routes, with few interstate highways
					heading in one’s direction.
				</p>
			</section>
			<section>
				<h2 class="section-header">New Routes in the Age of Electrification</h2>
				<p class="body-text">
					As gasoline power transformed Georgia’s transportation routes from east-west to
					north-south, the twentieth century’s other great energy form rushed into the old spaces.
					Electric companies needed a different set of routes than automobiles and tourists. The
					twentieth-century power industry favored broad regional networks of production and
					consumption sites. Given that electricity moved at the speed of light, distance did not
					matter so much as connectivity: The ability to draw on sources of hydroelectric and
					coal-burning generators and connect them to multiple population centers. The business
					favored those companies that could marshal the immense capital necessary to create a grid
					capable of matching consistent supply with consistent demand. (Hughes 1983, 363-403;
					Durden 2001, 3-29) Likely due to the twin needs for cheap rights-of-way and to link
					nonagricultural resource centers, the long-distance transmission lines tended to go where
					the people were not. Population centers would be connected to these out-of-the-way trunk
					lines through smaller substations and local transmission grids.
				</p>
				<p class="body-text">
					The old Augusta-Columbus corridor become a new center of travel thanks to these changes. A
					1967 map the Rand McNally Company published on behalf of the Edison Electric Commission
					demonstrates how the old abandoned travel route took on new significance as power shifted
					from human to electric. Because of Rand McNally’s involvement, it is perhaps unsurprising
					that it at first glance looks like a national road map. However, the map depicts the
					nation’s major power lines, linking together the numerous regional systems into a national
					whole (not so different from the railroad and highway maps of an earlier age).
				</p>
				<p class="body-text">
					In Georgia, the lines trace a path that is at once familiar and alien. Bright red lines
					indicating an electrical carrying capacity of 230 kilovolts cross the state from Augusta
					to Columbus, occupying the old trade corridor nearly perfectly. What was new, however, was
					the geography along the way. The map largely ignores towns and makes note of transfer
					stations who do not share the names of nearby towns. The lines avoid the population
					centers of Georgia, for perhaps obvious reasons (no one wants high-tension wires running
					through their yard). Their placement along the older east-west corridor suggests that this
					route, visible on road maps of the twentieth century, was not a major thoroughfare in
					modern Georgia.
				</p>
			</section>
			<section>
				<h2 class="section-header">Searching for the Great Old Path in the Twentieth Century</h2>
				<p class="body-text">
					Created by automobiles and electrical grids, this new Piedmont began to strike some as
					“natural.” As Georgia continued to seek tourism dollars and tourists continued to seek
					American “wilderness,” the former path of horses and humans attracted efforts to map the
					vanished colonial route. The distance between the eighteenth century and the twentieth
					became clear when preservationists and memorialists tried to recreate the travels of
					William Bartram, the eighteenth-century naturalist who traveled the Georgia trading paths
					and whose published travel accounts of the flora and fauna along Georgia’s trading paths
					were a landmark in early American writing. As the United States approached its
					bicentennial in 1976, Americans had enjoyed over five decades of automobile tourism and
					its attendant association with the continent’s past travelers. Highway markers, historic
					travel tourism, and living history tourism centers had all taught citizens that to be
					American was to move through space. Moreover, the rapidly modernizing and electrifying New
					South gave the region’s visitors a sense that some part of the nation’s past was rapidly
					vanishing. In response, researchers in the period after the Second World War attempted to
					retrace the Indian traders’ eighteenth-century steps.
				</p>
				<p class="body-text">
					One of the most ambitious and remarkable episodes in southeastern travel tourism came when
					a Cornell zoologist named Francis Harper attempted to recreate Bartram’s travels. Harper
					had developed an interest in Bartram and, in 1940, spent a year traveling throughout the
					South in an effort to record the same species of plants and animals Bartram had and to
					survey what remained of the landscape Bartram had traveled. As he put it, he sought “the
					relocation of many choice spots that these pioneers had visited and described.” (Harper
					1958, vi) Believing that many parts of the natural and Indian landscape had “suffered from
					the ravages of road builders,” Harper scoured all available evidence to locate the routes
					Bartram took as he crisscrossed the Southeast in the 1770s. Like any good motor tourist,
					Harper asked locals for directions, recording their input into what routes he should take
					and combined these with early and contemporary maps to create a carefully annotated
					edition of Batram’s Travels, published in 1958. (Cappon 1974, 511)
				</p>
				<p class="body-text">
					But Harper discovered an important lesson about tracing historic routes: it is amazingly
					difficult. The local decisions about roads and routes, changing constantly and almost
					entirely out of sight of the official record, made such a task nearly impossible. As
					Harper himself had to acknowledge, after years of research, the best he could do was
					approximate Bartram’s travels, an impressive enough accomplishment. “Here and there, the
					trail remains obscure,” he wrote, “and yet over literally hundreds of miles the
					present-day follower of Bartram need not deviate more than a few feet (or rods at most)
					from his time-worn track.” (Cappon 1974, 511)
				</p>
				<p class="body-text">
					The frustration of trying to excavate a route from beneath layers of subsequent patterns
					of movement could wear at even the most experienced researchers. When the Newberry Library
					participated in the research and creation of the 1976 Atlas of Early American History, the
					volume’s editors hoped to include a map of Bartram’s travels as a way of demonstrating
					Enlightenment science in a cartographic manner. (Cappon 1974, 508) The task must have
					seemed simple at first: Plot the places that William and his father John mentioned on
					their various journeys onto a modern map of North America so that the viewer could
					literally “see” the expansion of science and knowledge across the face of the continent.
				</p>
				<p class="body-text">
					But even a path as seemingly well documented as Bartram’s proved almost impossible to
					recover. As the president of the Bartram Trails Society in Georgia related to the Newberry
					researchers behind the Atlas:
				</p>

				<p class="body-text">
					"Mrs. Ruth Shockley is working on the Trail from Macon, Ga. west to the Alabama line in
					Fort Benning, Ga. Some of this is easy to locate as the old indian trail along the fall
					line of Georgia became a dirt road and later a lot of the original trail was paved - about
					thirty five miles of the trail from Camac, Ga. to Sparta, Ga., was used to build a
					railroad that is still in use. Mrs. Shockley is having trouble locating the trail through
					Taylor county because there is no road or trace of an original road that crossed that
					county. Taylor county is sand hill country. We expect to get copies of the original land
					lot surveys of that county hoping that the original surveyors made some note of the indian
					trail or of the Old Federal Roade [sic] that was made of this indian trail." (Bell 1971,
					1)
				</p>

				<p class="body-text">
					After almost two hundred years of route revision, the original trading path had faded and
					local surveys were the best hope for finding the actual path. To record the succession of
					the route, Shockley would have needed consistent surveys from all of Taylor County’s
					history—a daunting prospect. Even in 2014, Shockley’s successors in the Georgia Bartram
					Trails Society have to recognize that, while the historic paths can be approximated, they
					cannot be completely duplicated; they are “an attempt to furnish a similar wilderness
					experience in the general area he traveled.” (Georgia Bartram Trail Group, 2014)
				</p>
				<p class="body-text">
					The task almost defeated the Newberry’s researchers for the reasons already touched on in
					this essay: Place names from the eighteenth century rarely matched with later maps;
					eighteenth-century travelers did not record their journeys with planimetric precision; and
					the travelers’ sense of space was not the same as a mapmaker’s. In the Newberry’s archive
					of material related to the Atlas’s creation, one must empathize with the frustrated
					researcher who, working only from the historic record, could not reconcile the gaps and
					contradictions of Bartram’s own record of his trip. In the end, she was left wondering
					whether it was time “to stop throwing good money after bad on the Bartrams’ travel maps…
					If I had known two years ago what I know now about the source materials for this topic, I
					would have argued strenuously that this page of maps was not worth its cost in general
					utility for the historian.” (Petchenik, 1) In the end, the Society pointed to Harper’s
					work as the best source available and so the Newberry mostly plotted his somewhat rough
					maps onto a modern map of North America. The map included all river courses but was
					otherwise blank except for key cities and places Bartram visited. For the route across
					Georgia, the best anyone could do was trace the fall line and call it a day. Two centuries
					of human movement had blurred the original location of the trading paths and no historic
					map could have faithfully plotted the trail to the degree necessary to walk the actual
					route.
				</p>
			</section>
			<section>
				<h2 class="section-header">Conclusion</h2>
				<p class="body-text">
					The Atlas’s researchers revealed both a persistent wish and a stubborn reality. The urge
					to travel the same ground as past actors was and is a powerful one; we have the
					overwhelming evidence of battlefields, house museums, and other sites of memory as proof.
					But when it comes to actually traveling the same routes that those past actors took, one
					has to reckon with the fact that corridors of travel simply do not preserve as well as
					buildings or broad swaths of topography. Seemingly permanent and rigid, these networks of
					paths, roads, and rails jumped and arced across the landscape as humans shifted their
					means of living and their personal desires. They did so too slowly for individual
					travelers or even individual mapmakers to capture but their shifts but the changing
					geography of movement emerges across centuries of mapmaking.
				</p>
				<p class="body-text">
					But, tantalizing as those maps are, they also reveal their limits regarding human
					movement. The human creators of these maps, inserting their own elisions and abstractions
					into the proceedings, can only convey a general sense of direction across the landscape.
					They cannot pinpoint precise locations. Careful comparison between regional and local
					maps, combined with the powerful geo-correcting tools of modern mapping software might
					provide a best guess, but the truth is maps will remain impressionistic.
				</p>
				<p class="body-text">
					Impressionistic should not be mistaken for trivial, however. As a broad survey of Georgia
					maps reveals, human movements are a sensitive indicator of broad economic and cultural
					shifts. The thin webs of connection that linked peoples and landscapes together changed
					and responded to both distant and local developments. While we might not be able to walk
					in our predecessors’ actual footsteps, we can still reveal much about how those footsteps
					took shape and, more importantly, how those footsteps in turn shaped the world.
				</p>
			</section>
		</article>
	</div>
</Essay>
