<script>
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import { Column, Content, Dropdown, Grid, Modal, Row, Tile } from 'carbon-components-svelte';
	import Titlebar from '$lib/titlebar.svelte';
	import Placeholder from '$lib/placeholder.svelte';
	import Image from '$lib/image.svelte';
	import { pageTitle } from '$src/stores';
	import Periphera from '$lib/periphera.svelte';
	// let $page.data = $page.data;
	// console.log('$page.data', $page.data);
	// console.log('essay.title', essay.title);

	let open = false;

	const items = [
		{
			id: 0,
			text: 'Take a closer look at maps from this essay',
			url: '#'
		},
		...$page.data.maps.map((m, idx) => ({ id: idx + 1, text: m.title, url: m.path })),
		{ id: -1, text: 'problem pictures', url: '#' }
	];
	$: $pageTitle = [$page.data.title];

	let selectedId = 0;
	$: essayLength = $page.data.essay.length;
	$: imageCount = $page.data.images.length;
	$: mapCount = $page.data.maps.length;
	$: division = `${essayLength} / ${imageCount} = ${essayLength / imageCount}`;
	$: paraImaCount = Math.ceil(essayLength / imageCount);

	function goToMapPage(params) {
		if (selectedId === -1) {
			open = true;
		} else {
			// let slicey = items[selectedId].url.split('/').pop(0);
			goto(`${items[selectedId].url}`);
		}
		// goto(`${base}/${items[selectedId].url}`);
	}
	$: misspix = $page.data.images.filter((f) => {
		let mappix = $page.data.maps.map((pdm) => pdm.image);
		return !mappix.includes(f[0]);
	});
</script>

<Content>
	<Grid>
		<Row>
			<Column>
				<Tile>
					<Titlebar />
					<div class="flexxer">
						<p class="author">
							<em>by: </em><span>{$page.data.author}</span>
						</p>
						<Dropdown
							hideLabel
							bind:selectedId
							{items}
							on:select={() => goToMapPage($page.params.essay)}
						/>
					</div>

					<!-- <Image data={$page.data.maps[0]} /> -->
					{#if $page.data}
						{#each $page.data.essay as section, idx}
							{#if idx % paraImaCount === 0}
								<Image data={$page.data.images[idx / paraImaCount]} />
							{/if}
							<section>
								{#if section[2] === 'p'}
									<p class="body-text">
										{section[1]}
									</p>
								{:else if section[2] === 'h3'}
									<h3>{section[1]}</h3>
								{:else}
									<h1>wtfffffff</h1>
								{/if}
							</section>
						{/each}
					{/if}
					<Periphera bib={$page.data.bib} fr={$page.data.fr} />
				</Tile>
			</Column>
		</Row>
	</Grid>
</Content>

<Modal passiveModal bind:open modalHeading="Maps with No Mini-Essay Match" on:open on:close>
	{#each misspix as pix}
		<a href="https://collections.newberry.org/asset-management/{pix[0]}" target="_blank"
			><img
				src="https://collections.newberry.org/IIIF3/Image/{pix[0]}/full/750,/0/default.jpg"
				alt=""
				style="width: 100px; height: 100px;"
			/></a
		>
	{/each}
</Modal>

<style lang="scss">
	.flexxer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
	section {
		margin: 32px;
	}
	.loading {
		height: 100%;
		width: 100%;
		min-height: 250px;
		min-width: 250px;
		border: 2px solid var(--colorDark);
		// box-shadow: inset 0 0 10px var(--colorLight);
		text-align: center;
		background: var(--colorLight);
		background: repeating-linear-gradient(
			-45deg,
			var(--colorLight),
			var(--colorLight) 20px,
			var(--colorDark) 20px,
			var(--colorDark) 40px
		);
		background-size: 400% 400%;
		animation: gradient 60s linear infinite;
	}
</style>
