<h1 class="gallery-page-title">Atlas of Traffic Maps, 1925</h1>
<h2 class="parent-essay-title">American Railroad Maps, 1873-2012</h2>
<div class="main-text">
<p class="main-text-p">In the early twentieth century La Salle Extension University in Chicago started a program to train traffic agents for the American business world. Since almost all freight moved by rail at the time, railroad rate structures were the central concern of the course. Moreover, railroad rates were regulated by both state and federal agencies, and often influenced by regional railroad associations. Thus the setting of rates and the selection of shipping venues had become very complex. In order to provide materials for this course of study the school apparently put together a loose-leaf atlas of traffic maps in 1913.</p>
<p class="main-text-p">The collection was originally edited by the instructor, William Arthur Shelton, associated from time to time with the Traffic Bureau of the Chicago and Northwestern Railway. Revised versions of the atlas appeared from time to time over the next decade or so, with the current instructors usually listed as editors. Wayne Edgar Butterbough, Charles E. Wyoming, and P. H Banks are associated with some issues of the atlas. Versions would be a better term than editions because even in a single year, like the 1925 copy used here, the atlas used for each course offering could vary markedly in the assigned editorship, maps selected, and their order of appearance.</p>
<p class="main-text-p">These attempts “to present comprehensive and accurate information....not to be found elsewhere in one place” (from a 1913 printing) furnished students with a cartographic gold mine. This 1925 version includes a map of interurban (electrified light rail) freight routes in the Middle West sponsored by the Central Electric Traffic Association. Most interurban railroad maps focus on passenger service and on state systems. This map reminds us of the freight traffic on these lines and casts the routes into a regional context (Kentucky, Indiana, Ohio and Michigan). The map notes that the association accounts for “5000 miles of electric railway service, but also documents the fragmentary nature of the system and how it best served local hubs like Indianapolis, Dayton, Cleveland, and Detroit.</p>
<p class="main-text-p">On a national scale, the Atlas is a convenient place to find a map of the Ripley Plan for the consolidation of railroads in the United States. Congress directed the Interstate Commerce Commission to prepare such a proposal in 1920. William Z. Ripley, a professor of economics at Harvard worked on the plan until 1929 when the Great Depression made the concept obsolete. The map showing the nineteen proposed systems as it stood in 1925 was developed by the La Salle Extension University using a C. S. Hammond & Co. base map. A chart on the following page indicated which railroads would be assigned to each group.</p>
<p class="main-text-p">The Atlas also included a collection of over forty railroad system maps such as that for the Southern Railway and its affiliates shown here. In addition, the book includes a series of railroad territorial maps like the one illustrating Southern freight routes in schematic fashion. Other forms of transportation are included in the general reference section of the Atlas: inland waterways, pipe lines, highways, airway routes, and the like.</p>
</div>
<h3 class="map-title">Central Electric Traffic Association, Indianapolis</h3>
<cite>Rand McNally and Company, "Central Electric Traffic Association, Indianapolis, Indiana : 5000 Miles of Electric Railway Service" [Chicago : Rand McNally and Co.?, 1925], in La Salle Extension University, Atlas of Traffic Maps (Chicago : La Salle Extension University, 1925), map 6 verso. Folio RMcN Atlas .A73 1925</cite>
<h3 class="map-title">Freight routes in southern territory</h3>
<cite>Rand McNally and Company, "Freight Routes and Junction Points in Southern Territory" (Chicago : Rand, McNally & Co., [1925]), in La Salle Extension University, Atlas of Traffic Maps (Chicago : La Salle Extension University, 1925), map 22. Folio RMcN Atlas .A73 1925</cite>
<h3 class="map-title">Main stems of proposed railway systems</h3>
<cite>Ripley, William Zebina, "Main Stems of Proposed Railway Systems", in La Salle Extension University, Atlas of Traffic Maps (Chicago : La Salle Extension University, 1925), part 4, map 1. Folio RMcN Atlas .A73 1925</cite>
<h3 class="map-title">Southern Railway System</h3>
<cite>Poole Brothers, "Southern Railway System : Southern Railway, Cincinnati, New Orleans & Texas Pacific Railway, Alabama Great Southern Railroad, New Orleans & Northeastern Railroad, Harriman & Northeastern Railroad, Northern Alabama Railway, Georgia Southern & Florida Railway" (Chicago : Poole Bros. [1925]), in La Salle Extension University, Atlas of Traffic Maps (Chicago : La Salle Extension University, 1925), part 4, map 13. Folio RMcN Atlas .A73 1925</cite>