<h1 class="gallery-page-title">The Route from Kansas City to the Gold Mines, 1859</h1>
<h2 class="parent-essay-title">Maps of Trails and Roads of the Great West</h2>
<div class="main-text">
<p class="main-text-p">This map covers Kansas and parts of eastern Colorado and southern Nebraska and folded into a Guide to the Kansas Gold Mines at Pike’s Peak by William Gilpin. He went on to become the first territorial governor of Colorado in 1861 and publish his own Colorado gold rush map in 1862. John Williams Gunnison was a captain in the US Army Corps of Topographical Engineers, which emerged from the Army Bureau of Topographical Engineers in 1838, an American inheritor of the scientific mapmaking tradition of the Spanish Royal Corps of Engineers. Although Gunnison died surveying in the field in 1853, his information was deemed critical and current enough to incorporate in this map. Edward Mendenhall worked directly for the publisher, Middleton, Strobridge & Co., in Cincinnati, which specialized in guidebooks and maps of the American West from the 1850s to the 1870s.</p>
</div>
<h3 class="map-title">The Route from Kansas City to the Gold Mines, 1859</h3>
<cite>Middleton, Strobridge & Co., "Map of Kansas with Route from Kansas City to the Gold Mines", in John Williams Gunnison, Guide to the Kansas Gold Mines at Pike’s Peak (Cincinnati, OH : E. Mendenhall, 1859), inside back cover. Graff 1693</cite>