<h1 class="gallery-page-title">The Hollow Earth, 1906</h1>
<h2 class="parent-essay-title">Maps, Movement, and American Literature</h2>
<div class="main-text">
<p class="main-text-p">Maps navigating fictional worlds, while rare compared to maps appending travel literature, have been a staple of the American reading experience since the eighteenth century. Since the arrival of copies containing Daniel Defoe’s Robinson Crusoe (1719-20), American readers encountered fold-out and insert maps illustrating imaginary journeys and cartographic views of fictional islands and continents, counties and even whole worlds. Early fictional maps were available for classics such as John Bunyan’s Pilgrim’s Progress (c. 1678; 1778) and Jonathan Swift’s Gulliver’s Travels (1726). More familiar today are the maps illustrating Frank Baum’s The Wizard of Oz (1900), William Faulkner’s Absalom, Absalom! (1936), J. R. R. Tolkien’s The Hobbit (1937) and The Lord of the Rings trilogy (1954-55), not to mention book-related maps such as the those prefacing C. S. Lewis’s “Narnia” series and J. K. Rowling’s “Marauder’s Map” made famous in Harry Potter and the Prisoner of Azkaban (1999).</p>
<p class="main-text-p">William Reed’s volume, The Phantom of the Poles (1906), a cross between pseudoscience and science fiction, seeks to explain geological and atmospheric phenomena observed by polar explorers by arguing that the Earth is hollow and that its insides are accessible through gigantic holes at either pole. The much-publicized expeditions by Admiral Robert Peary (1909) and Roald Amundson (1911) soon debunked the myth of the holes, and along with it the hollow-earth theory. However, Reed’s imaginary map of the hollow earth continues to inform modern science fiction in which book illustrators, through the use of a few cartographic symbols, easily invoke both the authority of the map as a tool of scientific representation and subsequently the authenticity of an imaginary underground geography, here consisting of oceans, continents, and even the opportunity of travel (see the sailing vessel at the map’s upper center).</p>
</div>
<h3 class="map-title">The Hollow Earth, 1906</h3>
<cite>Reed, William, "Globe Showing Section of the Earth’s Interior", in Phantom of the Poles (New York : Walter S. Rockey Co., 1906), page [27]. Fitzgerald QE509 .R44 1906</cite>