<h1 class="gallery-page-title">Charecke Nation and the Path to Charles Town, 1730</h1>
<h2 class="parent-essay-title">Moving Pictures: Maps and Imagination in Eighteenth-Century Anglo-America</h2>
<div class="main-text">
.
<p class="main-text-p">The original of Hunter’s untitled manuscript map is housed with the Library of Congress, cataloged under the title “This represents the Charecke Nation by Col. Herberts Map…” The Newberry houses a published version of the map, traced from the original document. The reproduction itself is a fascinating object, but it should be noted that the original contained two separate sets of annotations, one from Hunter and one from Governor James Glen. The reprint version makes it difficult to see which man wrote what.</p>
</div>
<h3 class="map-title">Charecke Nation and the Path to Charles Town, 1730</h3>
<cite>Hunter, George, "This Represents the Charecke Nation by Col. Herberts Map & My Own Observations With the Path to Charles Town, its Course & (Distance Measured by My Watch) the Names of [the] Branches, Rivers & Creeks, as Given Them by [the] Traders Along that Nation ... May 21, 1730",  in George Hunter’s Map of the Cherokee Country and the Path Thereto in 1730 [Columbia, S.C. : Printed for the Historical Commission of South Carolina by the State Company, 1917.] Ayer map4F G3860 1730 .H8 1917</cite>