<script>
	import { page } from '$app/stores';
	import 'carbon-components-svelte/css/all.css';
	import {
		Dropdown,
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		TileGroup,
		ClickableTile,
		Content,
		Grid,
		Row,
		Column,
		Tabs,
		Tab,
		TabContent,
		Tile
	} from 'carbon-components-svelte';
	import '$src/newberry.scss';
	// let tocList = [
	// 	'american-railroad-maps-1828-1876',
	// 	'american-railroad-maps-1873-2012',
	// 	'around-over-through',
	// 	'european-maps-for-exploration',
	// 	'lines-that-fracture',
	// 	'mapping-communication',
	// 	'mapping-migration',
	// 	'maps-movement-lit',
	// 	'maps-of-trails-and-roads',
	// 	'moving-pictures',
	// 	'navigating-the-coasts-and-seas',
	// 	'planning-transportation',
	// 	'state-and-federal',
	// 	'waterways-cartography-part-1',
	// 	'waterways-cartography-part-2'
	// ].sort();
	let isSideNavOpen = false;

	import Newberry from '$lib/newberry.svelte';

	import toc from '$data/toc.json';
	import Essay from '$lib/essay.svelte';

	let sortedToc = toc.sort((a, b) => (a[0] > b[0] ? 1 : -1));
	// $: currentLoc = toc
	// 	.filter((c) => c[0][1] && c[0][1].indexOf($page.url.pathname) > -1)
	// 	.filter((f) => f && f[1])
	// 	.pop();
	// $: items =
	// 	currentLoc[1] !== '/home-intro'
	// 		? [
	// 				{ id: 0, text: 'Take a closer look at maps from this essay' },
	// 				...currentLoc[1]?.map((ugh, idx) => ({ id: idx + 1, text: ugh[0] }))
	// 		  ]
	// 		: [];

	// // $: console.log('thisOne', thisOne);
	// let selectedId = 0;
	$: path = $page.url.pathname.split('/').filter((f) => f);
</script>

<Header bind:isSideNavOpen>
	<svelte:fragment slot="skip-to-content">
		<SkipToContent />
	</svelte:fragment>
	<a href="https://www.newberry.org" target="_blank" rel="noreferrer">
		<Newberry />
	</a>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<TileGroup>
			{#each sortedToc as link, idx}
				{#if idx > 0}
					<ClickableTile href={link[0][1]}>
						{link[0][0]}
					</ClickableTile>
				{:else}
					<ClickableTile href="/">Home</ClickableTile>
				{/if}
			{/each}
		</TileGroup>
	</SideNavItems>
</SideNav>

<div class="wrpr">
	<Content>
		<Grid>
			<Row>
				<Column>
					<Tile>
						<slot />
					</Tile>
				</Column>
			</Row>
		</Grid>
	</Content>
</div>

<style lang="scss">
	@import '../newberry.scss';
	:global(.bx--header) {
		@include slashy;
		height: 75px !important;
		padding: 0 66px !important;
		display: flex !important;
		align-items: center !important;
		justify-content: flex-start !important;
		transition: box-shadow 0.5s !important;
	}
	:global(.bx--tile--clickable) {
		background: var(--colorLight);
	}
	:global(.bx--tile__checkmark) {
		display: none;
	}
	:global(body) {
		@include slashy;
		--colorDark: #111a2a !important;
		--colorLight: #eaebe7 !important;
		--angleDegs: 240deg !important;
		// --distance: calc(100% - 400px);
		--distance: 69vw !important;
	}

	:global(section) {
		margin-bottom: 32px;
	}
	.wrpr {
		width: 60vw;
		margin: 80px auto;
	}
	.maintitle {
		padding-left: 130px;
		// color: var(--colorDark);
		display: flex;
		// justify-content: center;
		align-items: center;
		& a {
			color: var(--colorLight);
			text-decoration: none;
		}
	}
	.shadow {
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
	}

	.title-area {
		margin: 32px 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.title-area > * {
		margin: 10px 15px 0 0;
	}
</style>
