<h1 class="gallery-page-title">Georgia Railroad Commission Map, 1916</h1>
<h2 class="parent-essay-title">American Railroad Maps, 1873-2012</h2>
<div class="main-text">
<p class="main-text-p">The Railroad Commission of Georgia periodically issued maps of the state such as this attractive sheet. It not only shows the routes of the various lines but identifies each one with a color-coded initial system. The color adds to the attractive character of the map, but, because about seventy separate lines are listed in the key at the bottom of the sheet, it is not very helpful. Although dozens of separate companies are identified, many of these were jointly controlled by outright ownership, financial domination, or leasehold arrangements. But, since each company in a legal sense sent in a separate annual report to the state agency, each was listed separately on the map. Totaling up the miles of trackage on these reports also gave the map an authoritative character in the precise note: “Railroad Mileage in Operation June 30, 1915: 7,325.72.”</p>
<p class="main-text-p">The map also served as a general map of the state and as a promotional tool. Note the use of easy-to-read symbols to indicate mountains in the northwest part of the state and the Okepenoke Swamp in the southeast corner. The addition of an inset map to show congressional districts and soil types extends the use of the map, pushing it away from its original purpose as a railroad map toward a broader function as a general reference tool. Hence the map is covered with place names and has a convenient index system to locate them on the reverse side of the sheet.</p>
<p class="main-text-p">This particular version, however, was pasted on canvas and furnished with rollers for use as a wall map, perhaps in a Georgia classroom or courthouse. To locate places a reader could use Rand, McNallyʼs Business Atlas, which had an even more detailed index to “counties, creeks, islands, lakes, rivers, and towns,” as well as flag stops and hamlets along the railroads.</p>
</div>
<h3 class="map-title">Railroad Map of Georgia, 1916</h3>
<cite>Railroad Commission of Georgia, "Railroad Map of Georgia, 1916" ([Atlanta, Ga.? ]: Railroad Commission of Georgia, 1916). Maproll G3921.P3 1916 .R3</cite>