<script lang="ts">
	import { page } from '$app/stores';
	import mapData from '$data/data_map.json';
	import { pageTitle } from '$src/stores';
	import type { BiggerPictureInstance } from 'bigger-picture';
	import { Column, Content, Grid, Row, Tile } from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/load-bp';

	const data = mapData
		.filter(
			(md: { title: string; parent: string; path: string; miniessay: (string | number)[][] }) =>
				md.path.includes($page.params.map)
		)
		.pop();
	$pageTitle = [data.title, data.parent, data?.path.split('/')[1]];
	const item = {
		href: 'https://digital.newberry.org/mirador?manifest=https://collections.newberry.org/IIIF3/Presentation/Manifest/2KXJ8ZWPVDTO',
		thumb: 'https://collections.newberry.org/IIIF3/Image/2KXJ8ZWQWKX5/full/750,/0/default.jpg',
		iframe:
			'https://digital.newberry.org/mirador?manifest=https://collections.newberry.org/IIIF3/Presentation/Manifest/2KXJ8ZWPVDTO',

		alt: 'Antelope Canyon'
	};
	import ZoomIn from 'carbon-icons-svelte/lib/ZoomIn.svelte';
	import CloseFilled from 'carbon-icons-svelte/lib/CloseFilled.svelte';
	import CloseOutline from 'carbon-icons-svelte/lib/CloseOutline.svelte';
	import Titlebar from '$lib/titlebar.svelte';

	let showMiradorCloseButton = false;
	function toggleMiradorCloseButton(x: string) {
		showMiradorCloseButton = x === 'show' ? true : false;
	}

	let bp: BiggerPictureInstance;
	function openBiggerPicture(e: Event) {
		e.preventDefault();
		const target = e.currentTarget as HTMLAnchorElement;
		bp.open({
			items: target.parentElement!.children,
			el: target,
			intro: 'fadeup',
			onOpen: () => toggleMiradorCloseButton('show'),
			onClose: () => toggleMiradorCloseButton('hide')
		});
	}
	onMount(async () => {
		console.log(item.iframe);
		bp = await loadBp();
	});
	function closeMirador() {
		bp.close();
		toggleMiradorCloseButton('hide');
	}

	let buttonType = 'off';
	function buttonHover(val: string) {
		buttonType = val;
	}
</script>

<Content>
	<Grid>
		<Row>
			<Column>
				<Tile>
					<div class="map-wrpr">
						<Titlebar />
						<div class="bp-box">
							<a
								on:click={openBiggerPicture}
								href={item.href}
								data-thumb="/loading.svg"
								data-alt={item.alt}
								data-iframe={item.iframe}
								class="fl"
							>
								<div class="glass-wedge">
									<!-- <Search size={64} fill="var(--colorLight)" /> -->
									<ZoomIn size={64} fill="var(--colorLight)" />
								</div>
								<img src={item.thumb} alt={item.alt} />
							</a>
						</div>
						<Tile>
							{#each data.miniessay as miness}
								<Tile>
									<p class="body-text">
										{miness[1]}
									</p>
								</Tile>
							{/each}
							{#each data.citations as citation}
								<Tile>
									<p class="periphera">{citation.title}</p>
									<p class="periphera">{citation.source}</p>
								</Tile>
							{/each}
						</Tile>
					</div>
				</Tile>
			</Column>
		</Row>
	</Grid>
</Content>
{#if showMiradorCloseButton}
	<div class="close-mirador-button">
		<button
			on:click={() => closeMirador()}
			on:mouseover={() => buttonHover('over')}
			on:mouseenter={() => buttonHover('over')}
			on:focus={() => buttonHover('over')}
			on:mouseleave={() => buttonHover('off')}
		>
			{#if buttonType === 'over'}
				<CloseFilled fill="var(--colorDark)" size={32} />
			{:else}
				<CloseOutline fill="var(--colorDark)" size={32} />
			{/if}
		</button>
	</div>
{/if}

<!-- <p>{$page.params.essay}</p>
<p>{$page.params.map}</p>
<pre>
    {JSON.stringify(data, null, 4)}
</pre> -->
<style lang="scss">
	.map-wrpr {
		flex: 1;
		z-index: 1;
		padding: 16px 64px;
	}

	.bp-box {
		margin-top: 64px;
		a {
			position: relative;
			display: flex;
			img {
				width: 100%;
				height: 100%;
			}
			.glass-wedge {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				padding: 32px;
				background: linear-gradient(
					30deg,
					rgba(37, 37, 37, 0.5) 0,
					rgba(37, 37, 37, 0.5) 150px,
					rgba(37, 37, 37, 0) 150px,
					rgba(37, 37, 37, 0) 100%
				);
			}
		}
	}

	:global(.bp-if) {
		position: relative !important;
		width: 100% !important;
		height: 100% !important;
	}
	:global(iframe) {
		position: absolute !important;
		left: 256px !important;
		top: 75px !important;
		bottom: 0 !important;
		right: 0 !important;
		width: calc(100% - 256px) !important;
		height: calc(100% - 75px) !important;
		// width: calc(100vw - 256px);
		// height: calc(100vh - 76px);
		// margin-left: 256px;
		// margin-top: 76px;
	}
	.close-mirador-button button {
		z-index: 10000;
		position: absolute;
		right: 10px;
		top: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		cursor: pointer;
		border-radius: 50%;
		border: 0;
		border: 1px solid rgba(0, 0, 0, 0);
		background: rgba(0, 0, 0, 0);
		&:hover {
			background: var(--colorLight);
		}
	}
</style>
