<h1 class="gallery-page-title">The Carolinas and their Indian Frontiers, 1775</h1>
<h2 class="parent-essay-title">Moving Pictures: Maps and Imagination in Eighteenth-Century Anglo-America</h2>
<div class="main-text">
</div>
<h3 class="map-title">The Carolinas and their Indian Frontiers, 1775</h3>
<cite>Mouzon, Henry, "An Accurate Map of North and South Carolina with their Indian Frontiers" (London : Robert Sayer and John Bennett, 1775). Ayer 133 .M888 1775</cite>