<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>European Maps for Exploration and Discovery</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> DAVID BUISSERET </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">Introduction</p>
				<p class="body-text">
					The relationship between discovery/exploration and cartography is also hard to pin down.
					For many years, it was taken for granted in Western literature that explorers from Western
					Europe used maps both to reach the Americas and then to summarize what was found. This was
					the process accepted and often related in the nineteenth century by scholars like Justin
					Winsor (1886-9) and Henri Harrisse (1892); most twentieth-century historians, like Raleigh
					Skelton in Explorers’ Maps: Chapters in the Cartographical Record of Geographical
					Discovery (London, 1958), have followed this example, as indeed the title of Skelton’s
					book exemplifies.
				</p>
				<p class="body-text">
					However, in volume 3/1 of the authoritative The History of Cartography edited by David
					Woodward (Chicago, 2007), Felipe Fernández-Armesto attempted to modify this prevailing
					story. In the chapter called “Maps and Exploration in the Sixteenth and Early Seventeenth
					Centuries” he pointed out that although explorers like Christopher Columbus, John Cabot,
					and Ferdinand Magellan used maps before their departure in order roughly to judge the lie
					of the land, they neither used them in the course of their voyages, nor compiled them upon
					their voyage nor summarized them upon their return. Fernández-Armesto contended that this
					was in general true for sixteenth-century European navigators (though not for their
					successors in the seventeenth century).
				</p>
				<p class="body-text">
					While it is true that map-use of all kinds has been exaggerated by some authors, it would
					seem that the revisionist argument goes too far. In particular, it fails to take into
					account the activities of the Portuguese and Spanish navigation-schools at Lisbon and
					Seville respectively. Ironically enough, in the same volume of The History of Cartography
					are chapters by Maria Fernanda Alegria (and others) on the Portuguese Armazém da Guiné
					(Alegria 2007) and by Alison Sandman on the Spanish Casa de la Contratacíon (Sandman
					2007). These chapters leave no doubt that in Lisbon and Seville were institutions devoted
					to equipping outgoing captains with maps, and to plotting the information that came back
					from their expeditions. Certainly their English rivals were in no doubt of the efficacy of
					this highly-organized pair of Iberian systems. In general, the argument that there was
					little contact between explorers and cartographers in the sixteenth century makes no
					sense. There is no doubt that European charts became steadily more comprehensive during
					this period; where could the chartmakers have obtained their information, if not by
					interrogating sea-captains and explorers? As Fernández-Armesto notes, the situation had
					changed by the seventeenth century, from which many of the examples in the present chapter
					are drawn; by then it would have been rare for an exploring expedition to leave without a
					specially-appointed cartographer, whose duty was to record the course of the voyage and to
					report back on it.
				</p>
				<p class="body-text">
					We shall assume, then, and innumerable maps confirm this point, that one of the results of
					the European exploration of the Americas was a steadily increasing understanding of the
					geography of the region. Of course, many of the groups living there also had their own
					traditions of mapping, wayfaring and spatial thinking, and sometimes their work—on
					materials like wood, animal skins and even sand—covered the vast areas over which they
					roamed and traded, to judge by archeological evidence (Woodward and Lewis 1998; Short
					2009). While in many cases their geographical knowledge contributed to European maps, it
					was the latter which, especially after the widespread adoption of printing, proliferated
					in great numbers, comprehensively incorporating geographical information from a great
					variety of sources and establishing a standard for navigational accuracy. Thus it was
					European-style maps that came to provide the kind of detailed information that accompanied
					the European colonization and settlement of North America.
				</p>
				<p class="body-text">
					Medieval European world-maps had often covered huge areas, from the Atlantic islands
					eastwards to India and even Indo-China. If these maps lacked precision in detail, they
					nevertheless set out the main features of huge regions with which the mapmakers were
					vaguely acquainted. It was quite different in North America, where, after their arrival in
					what they would call the Bahama Islands, the Europeans had little sense of the shape of
					the huge landmass to the west of them. Because of the provisions of the Treaty of
					Tordesillas (1494), dividing the world into areas of Spanish and of Portuguese influence,
					it would be the Spaniards who led the first forays into North America, from their bases at
					first in the Caribbean Sea, and then in Central America. Spaniards in Mexico had found
					treasure almost beyond imagining, and they would find equally rich plunder when they
					ventured southwards, into the Inca lands. Spanish leaders therefore imagined that similar
					riches must lie to the north, which is why they ranged far up the west coast of North
					America, and into what is now the southeastern United States.
				</p>
				<p class="body-text">
					For many years, the Spaniards succeeded in keeping the heart of the New World to
					themselves, in spite of sporadic attempts by French and English interlopers to establish
					themselves there. However, the envy of other European powers at the Spanish monopoly of
					the “treasure of the Indies” meant that sooner or later this monopoly would be broken, in
					spite of sometimes ferocious Spanish resistance. Map 3 shows how an English colony was
					established in what was then called” Virginia” in the early seventeenth century, at a time
					when England and Spain were for a while at peace. French sailors and fishermen had long
					frequented areas further north, so that the French crown eventually made a permanent
					establishment on the inhospitable banks of the Saint Lawrence River, though like the
					English they also eventually succeeded in peopling islands in the Caribbean Sea, partly by
					importing enslaved Africans.
				</p>
				<p class="body-text">
					From their early bases on the Saint Lawrence River, French explorers and missionaries
					spent the rest of the seventeenth century slowly working out the cartography of the
					central part of continental North America, often incorporating information supplied by
					local people. Unlike most other Europeans, the French eventually formed a bi-racial
					(métis) society, and this no doubt contributed to their understanding and incorporation of
					local geographical knowledge. By the early eighteenth century they had established an
					empire which, identified by a line of isolated forts, stretched from the Saint Lawrence
					River, through the area of the Great Lakes, and then down the Mississippi River to its
					mouth on the Gulf of Mexico. This long area of cultural predominance hemmed in the English
					(and Dutch) colonies, clustered on the eastern seaboard; it also gave rise to a long
					series of cartographic skirmishes, as each side sought to expand its own area of
					jurisdiction (See, for example, Hayes 2007).
				</p>
				<p class="body-text">
					The east-west extent of North America remained a mystery to Europeans throughout this
					period. In 1728 Vitus Bering, Russian navigator (1681-1741), had identified the eastern
					end of the Russian Empire, but it was not at all clear how this related to northern North
					America. Meanwhile the outcome of the American Revolutionary War (1776-1783) had been to
					unleash the energies of the inhabitants of the seaboard colonies, whose pioneers now
					poured westwards across the barrier of the Appalachian Mountains, sporadically mapping the
					huge land-area to the west as they went.
				</p>
				<p class="body-text">
					It was not until the end of the eighteenth century that Europeans first understood the
					full extent of the east-west continent, first following the 1793 voyage of Andrew
					Mackenzie (1764-1820) (map 10), and then after the confirmatory expedition of Lewis and
					Clark (1804-6). By then the whole external shape of North America, apart from the
					northwestern Arctic regions, was well delineated from the Atlantic to Pacific coasts. The
					work of the nineteenth century, based on these early maps of exploration and discovery,
					would consist of filling in the vast land areas between those coasts.
				</p>
			</section>
			<section>
				<h2 class="section-header">Spaniards in the Southwest</h2>
				<p class="body-text">
					Between 1528 and 1536, Alvar Nuñez Cabeza de Vaca (c. 1485-c. 1559) laid the foundations
					of Spanish exploration in North America, in the course of a huge looping journey beginning
					in Florida and ending almost on the Gulf of Mexico. Cabeza de Vaca brought back stories of
					populous towns and precious metals in what is now the southwestern United States, and this
					incited several more expeditions. In 1539 the first of these included the friar Marcos de
					Niza, who came back with tales of “seven cities,” roughly in what is now Arizona. This
					encouraged the formation of a new and larger expedition, led by Francisco Vasquez de
					Coronado (1510-1554), which left in 1540. Splitting into different groups, the explorers
					ranged from Arizona to Kansas, reaching the Grand Canyon and seeing great buffalo herds.
					But they did not find any great cities, and returned despondently to Mexico City in 1542.
				</p>
				<p class="body-text">
					Meanwhile Spaniards were also trying to push the boundaries of their knowledge northward
					by sea. In 1535 Hernando Cortés (1485-1547) himself led an expedition north into the Gulf
					of California; he only reached La Paz, but in 1539 he sent Francisco de Ulloa (d. 1540) on
					a further expedition, which succeeded in establishing the general shape of Baja
					California. The final substantial Spanish expedition at this time was led by Juan
					Rodríguez Cabrillo (1499-1543), who in 1542 sailed as far northwards as San Francisco. But
					none of these ventures was regarded as successful, for none found either easily
					exploitable riches or the presumed passage through the continent to the Atlantic Ocean.
				</p>
				<p class="body-text">
					The maps generated by these expeditions were not numerous, and most have now been lost.
					But the information that they generated was largely summarized in the work of Domingo del
					Castillo. After that time the Spaniards sponsored no substantial expeditions for many
					years. The task of mapping the southwest passed to the Jesuit missionaries, who for nearly
					two centuries produced a large number of maps—of varying accuracy and
					sophistication—covering the regions of what would become known as the southwestern United
					States and northern Mexico (Cumming, Skelton, and Quinn 1972, 121). After the expulsion of
					the Jesuits, in the 1770s, the effort was taken up by Franciscans, as they mapped the
					progress of their coastal missions, which eventually stretched northwards as far as San
					Francisco.
				</p>
			</section>
			<section>
				<h2 class="section-header">Spaniards in the Southeast</h2>
				<p class="body-text">
					The great expedition of Hernando de Soto (c. 1496-1542), partially incited by the reports
					of Cabeza de Vaca, started in Tampa Bay, where the Narvaez expedition (which included
					Cabeza de Vaca) had also disembarked on their adventure. But whereas Cabeza de Vaca spent
					most of his time in the southwest, de Soto covered about 4,000 miles in the southeast,
					wandering up as far as what is now Virginia, before making his way down to Alabama, then
					making his way back up to Tennessee. This astonishing odyssey, which was carried on by
					Luis de Moscovo after de Soto died in May 1542, eventually ended on the gulf coast of what
					is now Louisiana.
				</p>
				<p class="body-text">
					On the way, de Soto encountered a great variety of Indian nations and peoples, and
					carefully noted their characteristics. His expedition became notorious for its cruelty
					towards them, in his frantic but unavailing search for gold. De Soto’s men were in fact
					the first Europeans to see the Mississippi River, and indeed to sail upon it. Their
					wanderings were almost at once set down in a manuscript map drawn in 1544 by Alonso de
					Santa Cruz (c. 1500-1567), and preserved in the Archives of the Indies at Seville
					(Cumming, Skelton, and Quinn 1972, 121). Santa Cruz was a consummate mapmaker, and his
					pen-and-ink sketch offers an astonishing representation of the rivers and settlements of
					an immense area, hitherto entirely unknown to Europeans.
				</p>
				<p class="body-text">
					Over the ensuing years, many printed maps deriving from the work of Santa Cruz were
					published, notably by Abraham Ortelius (1527-1598). These maps tended progressively to
					simplify the original work of Santa Cruz, as indeed does map 2, the work of a lawyer of
					the Low Countries. This was part of the widespread Habsburg Empire; it extended as well to
					Spain, and knowledge circulated freely within this huge area of Europe. Many of the Indian
					names and settlements noted by Santa Cruz have disappeared, though a few remain. The
					subtlety of the (often inaccurate) delineation of Santa Cruz has given way to a
					generalized version of the whole area. Particular emphasis is now given to the “Rio de S.
					Santo,” evidently meant as a delineation of the Mississippi River.
				</p>
				<p class="body-text">
					Manuscript maps of the newly-explored territories tended to be fuller and often more
					accurate than their printed derivatives. But the printed maps were generally much more
					influential, since they could be disseminated in hundreds of copies, and read by many
					people; this was a time when in many European countries literacy was increasing, the
					market for maps was booming (Carlton 2015). On the other hand, the manuscript maps often
					remained in the archives, generally unconsulted except by a few high officials.
				</p>
			</section>
			<section>
				<h2 class="section-header">English Explorers on the Atlantic Coast</h2>
				<p class="body-text">
					The overwhelming presence and hostility of Spaniards in the Caribbean Sea and on the Gulf
					Coast in the sixteenth century discouraged English settlement there, but English explorers
					were undeterred in their voyages to the north, in areas beyond Spanish control. As early
					as 1500 they had established seasonal settlements on the coast of Newfoundland as a
					consequence of their activity in the cod-fishing industry. This activity had been
					dominated by Basques for some years, and indeed by local Mi’kmaqs before them.
				</p>
				<p class="body-text">
					In the early 1570s, the two voyages of Martin Frobisher (c. 1535-1594) threw some light on
					the area south of Greenland, as did the three voyages undertaken by John Davis (c.
					1550-1605) in the 1580s. But the icy and rocky lands revealed by these voyages were
					clearly not suitable for English-style settlement, and the northwest passage, which would
					have opened access to China beyond the control of Spain, proved impossible to find. Early
					in the seventeenth century, the voyages of Henry Hudson (c. 1570-1611) and of William
					Baffin (c. 1584-1622) succeeded in identifying the outline of the vast Hudson Bay, but
					still the long-sought passage to the west could not be found.
				</p>
				<p class="body-text">
					In the latter years of the reign of Queen Elizabeth I (1558-1603), the English impulse
					towards colonial expansion, largely animated by envy of the Iberian examples, constantly
					grew. It resulted in 1587 in the short-lived establishment of a colony on Roanoke Island;
					much of the surrounding land was then mapped by the expedition’s surveyor, John White (c.
					1540-1593) (Hulton 1984). These maps not only showed the general outline of land and sea,
					but also identified the local villages, do doubt with a mind to considering the expansion
					of the English settlement. Diverted by the threat of the Spanish Armada, the English did
					not succeed in sending the necessary resources to sustain this venture, which became known
					as “the lost colony.” However, in the early seventeenth century further expeditions were
					led by George Waymouth and Bartholomew Gosnold (1572-1607).
				</p>
				<p class="body-text">
					This powerful urge towards transatlantic exploration and settlement, encouraged by the
					emergence of persecuted religious minorities, came to a head after the conclusion of peace
					with Spain in 1604. In 1606 the Virginia Company was established, and in 1607 it sent an
					expedition which established a settlement at Jamestown, some way up the James River from
					the Atlantic Ocean. Captain John Smith (c. 1580-1631) produced a well-known map of this
					colony, and from this base the English slowly spread westwards during the years which
					followed.
				</p>
			</section>
			<section>
				<h2 class="section-header">The French Presence on the Saint Lawrence River</h2>
				<p class="body-text">
					Like the English, the French had long been deterred from settling in the “Spanish” parts
					of the New World. Indeed, when in 1565 they attempted to establish themselves on the coast
					in what is now northern Florida, almost the entire colony was quickly put to the sword;
					the Spanish Crown could not tolerate the prospect of a French colony athwart the homeward
					route of their treasure-fleets (Cumming, Skelton, and Quinn 1972, 182-192). Many years
					before that, in the reign of king Francis I (1515-1547), there had been French attempts to
					establish a colony on the Saint Lawrence River. Jacques Cartier (1491-1557) led
					expeditions there in 1534, 1535 and 1541, and attempted to establish a settlement near
					present-day Québec. But the ferocity of the winters and the loss of many settlers to
					scurvy persuaded the French that this land was uninhabitable, and in 1543 the surviving
					settlers returned to France.
				</p>
				<p class="body-text">
					During much of the sixteenth century, from about 1560 to about 1598, the energies and
					resources that might otherwise have gone to French colonial expansion were diverted by the
					prolonged struggles known as “the wars of religion.” After 1598, and the establishment of
					a degree of toleration following the Edict of Nantes, King Henri IV (1589-1610) was able
					to think in terms of reviving French claims to a settlement in the valley of the Saint
					Lawrence River. An expedition there in 1600 failed, as did subsequent attempts to settle
					by the Bay of Fundy (1603-4 and 1605-7); not only was the climate harsh, but the promoters
					of these expeditions failed to realize the extent of continuing support that would be
					necessary for success.
				</p>
				<p class="body-text">
					However, in 1608 Samuel de Champlain (c. 1570-1635) led an expedition to Québec, near the
					deserted site of Stadacona, and this time the settlement succeeded in establishing itself.
					Champlain was not only an extremely venturesome explorer, but also a leader who knew very
					well how to keep his companions’ spirits up, and how to enable them to survive the savage
					winter weather on the Saint Lawrence River (Fisher 2008). He was in addition an
					extraordinary cartographer, who succeeded in compiling a map that showed virtually the
					whole of northeastern North America, as far west as Lake Huron and as far south as Boston
					Bay; no doubt Champlain made use of local knowledge, but his mapping skill came from his
					days working in France for the royal lodgings-service. In spite of various setbacks, the
					colony established by Champlain endured, and was the foundation for the extension of
					French power throughout the Great Lakes region.
				</p>
			</section>
			<section>
				<h2 class="section-header">
					French Exploration along the Great Lakes and Mississippi Valley
				</h2>
				<p class="body-text">
					During the seventeenth century, mapping of the complex relationship of the Great Lakes to
					each other was largely the work of the Jesuits, a missionary order active in Canada from
					the early days of the renewed French presence. In their westward adventures they were
					often accompanied by traders like Jean Nicollet (c. 1599-1642), and by the hunter-trappers
					known as coureurs des bois. As a deeply literate and highly educated group, the Jesuits
					were well able to compile the maps which came out of these encounters; the course of
					studies which they all followed included instruction not only in mathematics but also in
					cartography.
				</p>
				<p class="body-text">
					By the later 1660s, they had compiled detailed maps which showed the Great Lakes to their
					full western extent (at what is now known as Duluth), and as far south as Green Bay, on
					Lake Michigan. In 1673, the journey of fur trader Louis Jolliet (1645-c. 1700) and father
					Jacques Marquette (1637-1675) allowed the drawing of a map which showed the relationship
					of the Great Lakes to the Mississippi River, which was carefully delineated southwards as
					far as the Arkansas River. Eight years later, René-Robert Cavelier de La Salle (1643-1687)
					completed the work of Jolliet and Marquette by continuing down the Mississippi River as
					far as the Gulf of Mexico. The French now had a cartographic grasp of the whole interior
					of central North America, from Québec on the Saint Lawrence, in a great arc stretching
					down to the future site of New Orleans at the mouth of the Mississippi River.
				</p>
				<p class="body-text">
					There was for some years doubt among European explorers about precisely where the mouth of
					the great river lay, but once this was established, settlement came quickly. The
					francophone settlement at New Orleans was established in 1717, and in that same decade
					French settlers began farming what would become the breadbasket of their internal empire,
					alongside the Mississippi River where it is joined by the Illinois River. In the first
					half of the eighteenth century, it looked as if the French ring of settlements would one
					day effectively contain the westward expansion of the English settlements on the Atlantic
					coast. The consequent colonial rivalry would have disastrous results for those native
					peoples who were inevitably drawn into the competition.
				</p>
			</section>
			<section>
				<h2 class="section-header">French Explorers Press Westward</h2>
				<p class="body-text">
					After the well-known exploits of Jolliet/Marquette and La Salle on the Mississippi River,
					lesser-known French explorers continued to press westward and eventually to reach the
					barrier of the Rocky Mountains. This whole region in the end became the home to societies
					marked by métissage, or the social and economic combination of Europeans, primarily
					Frenchmen, and Indians. These societies were organized differently and had different
					assumptions from the anglophone settlers with whom they eventually came into conflict.
				</p>
				<p class="body-text">
					Already in 1679 Daniel Greysolon, sieur du Lhut (c. 1639-1710) was active to the west of
					Lake Superior, where he eventually reached another lake, known as “Mille Lacs.” Between
					1683 and 1692 Lahontan (Louis-Armand de Lom d'Arce de La Hontan) also travelled in this
					westerly country, emerging to publish his Nouveaux voyages de Mr. le baron de Lahontan
					dans l'Amerique septentrionale (La Haye, 1703), a work which was among the earliest to
					celebrate indigenous skills and achievement. The work of Lahontan, like that of his
					contemporary father Louis Hennepin (1626-c. 1705), has often been taken to task for its
					inaccuracy. But both authors seem to have described the confused process by which French
					explorers expanded their range into the Great Plains with reasonable precision.
				</p>
				<p class="body-text">
					Better documented is the work of Pierre Gaultier de Varennes, sieur de La Vérendrye
					(1685-1749) and his sons. They reached the Mandan territory by 1738, and by 1743 could be
					found near what is now Pierre, South Dakota. All this French activity depended ultimately
					on control of the Saint Lawrence River, the link back to France. When Québec fell under
					English control in 1759, and this loss was ratified by the peace of 1763, the link was
					broken, and the French empire in North America slowly withered on the vine. But French
					explorers had been responsible for most of the early mapping of central North America, and
					their social legacy long outlasted the collapse of France’s political control. This led to
					simmering conflicts when Anglo settlers encountered long-established francophone
					communities that had different ideas from them about land ownership, about slavery, and
					about religion.
				</p>
			</section>
			<section>
				<h2 class="section-header">Russian Delineation of the Northwestern Coast</h2>
				<p class="body-text">
					By the middle of the eighteenth century, the great puzzle in the Europeans’ delineation of
					the coastline of North America was the outline of the northwestern coast. It was the
					Russians who provided the first part of the answer, when in the 1740s Vitus Bering and
					Aleksei Chirikov (1703-1748) plotted the coast of far eastern Russia. Their maps also
					showed some features of the land to the east of this, but did not give any detail. During
					the rest of the century, a sequence of Russian explorers slowly pushed the frontier of
					their geographical knowledge southwards, until by 1800 the Russians had explored and
					partly settled what we now know as Alaska, and had pushed their investigation down almost
					to San Francisco (David 1988-97).
				</p>
				<p class="body-text">
					Spanish authorities in California heard of these developments, and in the 1770s sent an
					expedition north under Juan José Pérez Hernández (c. 1725-1775). This expedition reached
					as far north as the Haida Gwaii, (more commonly known as the Queen Charlotte Islands or
					“the Charlottes” from 1787 to 2010), but did not quite advance to the edge of Russian
					settlement. Its pilot, José de Cañizares, drew a remarkable map of the coast north from
					Monterey to the vicinity of Vancouver Island. This was the first European map to delineate
					the coast from actual exploration, but did not succeed in linking up with Russian maps.
				</p>
				<p class="body-text">
					The linking of the two mapping systems was the achievement of the British navigator James
					Cook (1728-1779), whose 1778 expedition sailed northward from Vancouver Island, eventually
					reaching the Bering Strait, and assiduously charting the coastline on the way (David,
					1988-97). There now remained only the delineation of the extremely complex route from
					Baffin Bay, on the Atlantic side, to the Beaufort Sea, on the Pacific side, across the top
					of North America. But the technically very demanding mapping of this set of islands and
					coastline would have to wait until the early twentieth century. In our day this route has
					become much more accessible, thanks to melting of the sea ice, the result of global
					warming in this region.
				</p>
			</section>
			<section>
				<h2 class="section-header">Filling in Cartographic Knowledge of the Interior</h2>
				<p class="body-text">
					Towards the end of the eighteenth century, various parts of interior North America had
					been mapped by the European powers, initially along waterways. The Spaniards had mapped
					the long valley of the Rio Grande, as well as the coastal strip north of the Gulf of
					Mexico. French cartographers had delineated the line of the Saint Lawrence, Great Lakes
					and the Mississippi River, while the English had mapped large parts of the land between
					the Appalachian Mountains and the Atlantic ocean. After 1783, it was the turn of the
					infant United States to take up this internal mapping.
				</p>
				<p class="body-text">
					One of the causes of the Revolutionary War had been the opposition of the British
					government to Euro-American settlement across the barrier of the Appalachian Mountains,
					into lands long inhabited by peoples whose claims were often protected by treaties with
					European powers. Such agreements were ignored by those daring settlers who crossed them in
					the 1760s and 1770s. They sometimes passed through the Cumberland Gap, one of the few
					relatively easy passages; sometimes, too, they came into conflict with French traders, who
					operated increasingly often in the valley of the Ohio River. This illegal activity
					effectively became legal after 1783, and greatly increased. Early colonists like John
					Filson (c. 1747-1788) settled and mapped much of Kentucky, giving rise in the process to
					the legend of Daniel Boone (1734-1820). One of the folk-heroes of the United States, he
					became largely famous for his many skirmishes with the Shawnee. Like Filson, Jefferson and
					indeed many other leaders of the new nation, he was also a surveyor; the movement of
					Euro-Americans across the Appalachian Mountains gave rise to many, often disparate, maps.
				</p>
				<p class="body-text">
					At the national level, the adoption of the Land Ordinance of 1785 led to the establishment
					of the township-and-range system, which eventually covered most of the United States in a
					grid of six-mile-square units, bringing some order to the generally tumultuous process of
					expansion. Beginning with the seven ranges to the west of the River Ohio, it slowly crept
					across the land, only reaching some western areas in the twentieth century. It did offer
					an excellent way of correcting all previous maps in such areas as the exact delineation of
					the coasts of Lake Michigan, which had until that time greatly fluctuated on European
					maps.
				</p>
				<p class="body-text">
					The epic 1805-1806 journey of Meriwether Lewis and William Clark, though not the first
					recorded one to traverse the continent to the Pacific, nevertheless established the exact
					extent of the territory claimed by the new nation, and returned with a great wealth of
					newly-drawn maps, as well as extensive natural history collections. Almost at once, John
					Jacob Astor’s Pacific Fur Company pushed through to the mouth of the Columbia,
					establishing the South Pass of the Rocky Mountains, which before long would become the
					gateway to the West for thousands of immigrants from the East.
				</p>
				<p class="body-text">
					After this, a sequence of groups played their part in establishing the geography of the
					huge new area claimed, and partially controlled, by the United States: The “mountain men”
					in the 1820s, the emigrants of the late 1830s, and the military men of the 1840s, like
					Lieutenant John Charles Frémont (1813-1890) and Lieutenant William H. Emory (1811-1857).
					Much new and precise geographical information came from the railroad surveys of the 1850s,
					and it was then left to government agencies like the Interior Department to add the
					finishing details, communicating them in ways that would encourage settlement; this
					communication often took the form of maps. By the end of the nineteenth century, the era
					of exploration and discovery, as well as the period during which the advancing frontier
					could be traced, was over, and a period of relative domesticity ensued.
				</p>
			</section>
			<section>
				<h2 class="section-header">Conclusion</h2>
				<p class="body-text">
					From beginning to end, the process of European exploration of North America had been
					accompanied by maps. Many were drawn in consultation with members of the indigenous
					peoples, bringing these insights into harmony with European concepts of map-formation.
					Some of these maps remained manuscript, most often then consulted only by political and
					military leaders. Others, though, were printed, at first only back in Europe, and these
					printed maps played a central role in letting interested European readers know about the
					huge movements of peoples that were taking place across the Atlantic. Needless to say,
					they were also powerful agents of propaganda drawing a variety of European migrants across
					the ocean, sometimes to regions that had been seriously misrepresented in both text and
					maps. After the period of most intense movement of peoples, maps continued to play a
					central role in facilitating understanding of a vast area for travelers, who might be
					discovering whole regions for the first time. For many years, commercially-produced
					road-maps filled this need. With the generalized use of remote imaging, this function is
					now fulfilled for many people by use of Google Earth, which enables the user to fly over
					huge areas, and then to achieve a detailed representation that would have astonished those
					cartographers who had laboriously charted the process of European expansion into a
					disputed land.
				</p>
			</section>
		</article>
	</div>
</Essay>
