<h1 class="gallery-page-title">Virginia, 1612</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">This map is a good example of the direct relationship between exploratory surveys and the subsequent cartography. It was the work of John Smith (1580-1631), soldier and leading figure in the English settlement of Virginia. He had spent three months in 1608 surveying the area from a small boat, and then gave the manuscript work, which must have been very detailed, to William Hole for engraving back in England.</p>
<p class="main-text-p">The map is oriented westwards, with north at the right, and gives a remarkable impression of the rivers running into “Chesapeack” Bay. Smith ascended most of them, charting their course until the point (marked by a cross) at which the rest was “had by information of the Savages, and are set down according to their instructions.” Smith noted about 200 Indian settlements, often with such accuracy that his observations have helped recent archeological investigators; these Indian place-names find their place among some emergent English names. Smith inserted figures of both latitude (along the top) and of longitude, the latter running (contrary to later practice) from west to east (and not from Greenwich westwards).</p>
<p class="main-text-p">Like many printed maps of the period, this one contains much imagery that is not original. Both the engraving of “Powhatan” (top left) and that of the Indian armed with a bow come originally from the drawings of John White, who had led an expedition to the area in 1587; these images were subsequently adopted by Theodor de Bry in his A Briefe and True Report of the New Found Land of Virginia (Frankfort, 1590), from which Smith copied them. These images would have a long life on subsequent maps, and Smith’s delineation of the area would also be copied for sixty years or so.</p>
 
</div>
<h3 class="map-title">Virginia, 1612</h3>
<cite>Smith, John, "Virginia", in A Map of Virginia : with a Description of the Covntrey, the Commodities, People, Government and Religion (Oxford : Printed by Joseph Barnes, 1612), opposite page 1. VAULT Ayer 150.5 .V7 S6 1612</cite>