<h1 class="gallery-page-title">Stage and Steamboat Routes, Ohio, 1833</h1>
<h2 class="parent-essay-title">Navigating the Coasts and Seas</h2>
<div class="main-text">
<p class="main-text-p">The Travelers Pocket Map of Ohio with its canals, roads and distances, by stage & steam boat routes may seem anomalous in an essay on coast-wise and maritime navigation, but it is closely related to what came before, and reflects the fresh transformations in travel by boat and ship underway. All steam engines required fuel for their boilers and clean water for steam. The engines were made primarily of iron and steel, and slowly more and more ships were “iron-bottomed” too. Close available stocks of firewood and iron ore and coal were rapidly depleted, leading to a relentless search for these resources ever farther away. The “inland seas” of the Great Lakes, in particular, offered ships access to vast stores of metal ores, coal, chemicals and salts necessary to the Industrial Revolution. But there were choke-points on the waterways, particularly rapids and waterfalls, like Niagara Falls. The solution was to build canals around obstructions, and canals to supply more direct access to sources of bulk commodities, and link them to river transport, and ever larger steam ships on the Great Lakes. All these systems ultimately were connected to the maritime shipping systems previously developed. Hence it made perfect commercial sense for Edmund Blunt the Elder, the publisher of the American Coast Pilot and the New American Practical Navigator, to publish a guide to roads and canals in Ohio, and the shipping routes of bordering Lake Erie, and to do so in the form of a small, convenient pocket-sized volume.</p>
 
</div>
<h3 class="map-title">Stage and Steamboat Routes, Ohio, 1833</h3>
<cite>Hooker, William, "The Travellers Pocket Map of Ohio : With its Canals, Roads and Distances, by Stage & Steam Boat Routes" (New York : Edmund M. Blunt, 1833), detached from Edmund March Blunt, Traveller’s Guide To and Through the State of Ohio : with Sailing Directions for Lake Erie (New-York [etc.] : Sold by Betts & Anstice [and others], 1833), inside back cover. Map2F G4080 1833 .H66</cite>