<h1 class="gallery-page-title">Motor Routes to Augusta, Georgia and Florida, 1930</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">This 1930 map from the American Automobile Association is a classic of the form. A folding travel map meant to accompany the motorist, the map at once offers the freedom to explore America by car but also not-so-subtly guides the motorist to certain favored spots along well marked roads. This map in particular encourages motorists to explore Augusta, Georgia (but also use its comfortable hotels and historic charm as a way station on the road to Florida). The map itself is a simple two-color scheme, but the high contrast between those two colors (blue and orange) makes clear the favored highways and stopping points on the journey. Its detail for Georgia roads is not nearly so exhaustive as even the NHA map of a decade earlier. However, as a simple road map to guide the tourist from highlight to highlight, it likely served its purpose well.</p>
<p class="main-text-p">The textual guide for visitors on the back also reveals the changing purpose of maps when compare to the Carey and Lea atlas page of a century earlier. The goal of the text’s historical and political data is to highlight not Georgia’s connection to a growing nation but to sell Georgia as a place from an earlier time, a point of escape for middle-class northerners.</p>
 
</div>
<h3 class="map-title">Motor Routes to Augusta, Georgia and Florida, 1930</h3>
<cite>American Automobile Association, "AAA Motor Routes to Augusta, Georgia, and Florida : Climate Surpassing Even the Riviera [Washington, D.C. : A.A.A., 1930]. Map4F G3706.P2 1930 .A4</cite>