<h1 class="gallery-page-title">The State of Georgia, in the American Atlas, 1822</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">Matthew Carey was a Philadelphia print shop owner and one of the most active map publishers in the early republic, operating from 1785 onward. His first map was published in 1794 and his first American Atlas in 1795 as a supplement to his edition of William Guthrie’s geography textbook. Carey turned his business over to his son Henry and son-in-law Isaac Lea in 1822, who turned away from cartographic publishing after Matthew’s retirement. This edition of the Atlas therefore represents the end of Carey’s cartographic legacy and the transition from Matthew’s stewardship to his son’s.</p>
<p class="main-text-p">This sheet, detached from the Atlas, presents a map of Georgia surrounded by historical, geographical and statistical information about the state. The map itself seems almost entirely copied (albeit simplified) from Daniel Sturges’s 1818 map of Georgia (unsurprising given that Sturges’s map was printed by Philadelphian John Melish and thus would have been known to the city’s printers and mapmakers). The text along the map’s edges names principal towns, political information, and economic data as well as some historical narrative. The goal here was to provide less ambiguous celebration of national expansion than even Sturges provided, directing the Atlas’s users in all the ways to celebrate Georgia’s accomplishments as demonstrated on the map.</p>
 
</div>
<h3 class="map-title">The State of Georgia, in the American Atlas, 1822</h3>
<cite>Lucas, Fielding, Jr., "Georgia", in H.C. Carey & I. Lea (Firm). Complete Historical, Chronological, and Geographical American Atlas (Philadelphia : H.C. Carey & I. Lea, 1822), no. 25. Greenlee 4891 .C27 1822</cite>