<h1 class="gallery-page-title">Harbour of Charles Town, 1777</h1>
<h2 class="parent-essay-title">Moving Pictures: Maps and Imagination in Eighteenth-Century Anglo-America</h2>
<div class="main-text">
</div>
<h3 class="map-title">Harbour of Charles Town, 1777</h3>
<cite>Des Barres, Joseph F. W., "The Harbour of Charles Town in South-Carolina", detached from Atlantic Neptune ([London] : Joseph Des Barres, [ca. 1774-ca. 1784]), plate [no. 162]. Map4F 3320 no. 162</cite>