<script>
	import { page } from '$app/stores';
	import {
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		TileGroup,
		ClickableTile,
		Content,
		Grid,
		Row,
		Column,
		Tabs,
		Tab,
		TabContent
	} from 'carbon-components-svelte';

	let isSideNavOpen = false;

	import Newberry from '$lib/newberry.svelte';

	import toc from '$data/toc.json';
	let sortedToc = toc.sort((a, b) => (a[0] > b[0] ? 1 : -1));
	$: path = $page.url.pathname.split('/').filter((f) => f);
</script>

<Header bind:isSideNavOpen>
	<svelte:fragment slot="skip-to-content">
		<SkipToContent />
	</svelte:fragment>
	<a href="https://www.newberry.org" target="_blank" rel="noreferrer">
		<Newberry />
	</a>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<TileGroup>
			{#each sortedToc as link, idx}
				{#if idx > 0}
					<!-- <SideNavMenuItem text={link[0][0]} href="/try2{link[0][1]}" /> -->
					<ClickableTile href={link[0][1]}>
						{link[0][0]}
					</ClickableTile>
					<!-- <SideNavMenu
					text={link[0][0]}
					expanded={link[0][1].indexOf(path[0]) > -1}
					on:click={() => console.log(link[0][1])}
				>
					{#each link[1] as slink}
						<SideNavMenuItem
							text={slink[0]}
							href={slink[1]}
							isSelected={slink[1].indexOf(path[1]) > -1}
							on:click={() => checker(slink[1])}
						/>
					{/each}
				</SideNavMenu> -->
				{:else}
					<ClickableTile href="/">Home</ClickableTile>
				{/if}
			{/each}
		</TileGroup>
	</SideNavItems>
</SideNav>

<Content>
	<Grid>
		<Row>
			<Column>
				<pre>
					{JSON.stringify($page.params, null, 4)}
				</pre>
			</Column>
		</Row>
	</Grid>
</Content>

<style lang="scss">
	@import '../../../newberry.scss';
	:global(header) {
		@include slashy;
		height: 75px;
		padding: 0 66px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
	}
	:global(.bx--tile__checkmark) {
		display: none;
	}
	.maintitle {
		padding-left: 130px;
		// color: var(--colorDark);
		display: flex;
		// justify-content: center;
		align-items: center;
		& a {
			color: var(--colorLight);
			text-decoration: none;
		}
	}
	.shadow {
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
	}
</style>
