<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Planning Transportation</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> JOSEPH P. SCHWIETERMAN </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">
					Most of the maps we use in everyday life are designed to make complex transportation
					systems seem simple. Highway maps often omit railroad lines that are vital for industry
					but are not as important to passenger travel. Toll-road maps regularly highlight
					intersections where motorists can enter and exit. Subway and other transit-system maps are
					highly stylized to make twisting and turning routes appear more direct than they actually
					are. Such simplifications are made to avoid overwhelming map users who merely want to get
					from one place to the next as quickly as possible.
				</p>
				<p class="body-text">
					Maps used by transportation planners, by contrast, can be unabashedly complex. Whether
					prepared by public or private institutions, they often depict multiple transportation
					modes as well as the terminals, industrial districts, and freight yards that support them.
					Showing these facilities helps achieve the dual purpose of educating citizens about the
					status of transportation systems while providing planners and other stakeholders with the
					technical perspective needed to manage them.
				</p>
				<p class="body-text">
					This essay focuses on the latter category—the maps used to study transportation systems in
					urban and metropolitan regions. This includes both systems already in existence and those
					proposed, a distinction that often affects their orientation and design. When viewed
					chronologically, the changing features of these maps are fascinating testimonials to the
					aspirations of planners during the various phases of transportation development. For
					example, the following maps illuminate the ebb and flow of planning history, and how
					professional planners have gradually expanded their focus beyond city blocks and
					neighborhoods to vast metropolitan regions.
				</p>
				<p class="body-text">
					Evaluating the maps used by transportation planners also shines light on the gradual
					advances in technology that have improved cartography. Most maps were quite primitive 150
					years ago. Railroad lines and roads were often shown in uniform width, regardless of their
					relative importance. Coastlines, despite being unchanged for centuries, were relatively
					crude approximations, and cities were typically represented with mere dots or blotches,
					regardless of their actual shape. Some maps were intentionally simple, such as when their
					creators sought to convey a basic message or idea, but more often than not, mapmaking was
					constrained by the available information and technology.
				</p>
				<p class="body-text">
					By the late nineteenth century, however, maps began to offer a veritable feast of vivid
					colors and details. Creative schemes, abetted by lithography and involving color-coding,
					the use of symbols, and tiny but easy-to-read text, came to the fore. In the 1940s and
					50s, the complexity of printed maps arguably reached its zenith, as planners commissioned
					works that were packed with urban land-use and transportation information. The 1990s
					brought another metamorphosis, this time in the direction of technical precision thanks to
					the advent of satellite-based geographic information systems.
				</p>
				<p class="body-text">
					Regardless of the era, however, it remains necessary to ask why a map was created to
					understand its importance. Was it to convey complex data to help decisionmakers assess the
					technical feasibility of investments and engineering options? Or to impress upon the
					public the acumen of public agencies? Or to engage the public in an open and meaningful
					dialogue about the possibilities that lie ahead?
				</p>
				<p class="body-text">
					Today, as technology advances at breakneck speed, interactive three-dimensional views,
					shape files, and data layering allow transportation problems to be studied in previously
					impossible ways. Yet, as we will see, contemporary mapmakers continue to stand on the
					shoulders of pioneering cartographers who have made enormous efforts to document the
					arrangement of transportation systems in metropolitan regions for the benefit of future
					generations.
				</p>
			</section>
			<section>
				<h2 class="section-header">Railroads, Rivers, and Wharves: 1835–1899</h2>
				<p class="body-text">
					In the first half of the eighteenth century, private companies and public officials relied
					heavily on engineering drawings and blueprints that depicted the layout of transportation
					facilities. These works showcased the spatial configuration of buildings, roads, and,
					other physical assets in a relatively small area as accurately as possible at the time.
				</p>
				<p class="body-text">
					By contrast, most maps of this era depicting more expansive areas, such as metropolitan
					boundaries, were not drawn with such attention to detail. This was due to the fact that
					there simply wasn’t a strong demand for such information, and was exacerbated by the
					technological limitation of this era. For example, communities were often shown merely as
					black circles, rivers as thin undulating lines, existing railroads and canals as thicker
					black lines, and canal and railroad construction as dashed lines that did not reflect the
					exact routes that would be followed. Maps in the Official Guide of the Railways through
					the 1860s exemplify this propensity for simplification during this era.
				</p>
				<p class="body-text">
					In some cases, governments attempted to compensate for the simplicity of their maps and
					drawings by making them quite large. The adjacent map, published by the New York City
					Board of Aldermen in 1836, is an excellent example of this. Users taking the time to
					unfold this irregularly shaped map, which measures six feet wide by five feet tall, must
					have been impressed by its extravagant proportions. The map shows the proposed “Great
					Pier” in the North River— at the time a popular alternate name for the Hudson River—on
					Manhattan Island. Details of the surrounding neighborhood, however, are scant; and by
					contemporary standards, the rendering is more akin to a giant sketch.
				</p>
				<p class="body-text">
					The exactitude and quantity of detail on transportation maps grew sharply between 1870 and
					1890, in part due to breakthroughs in publishing technology, aerial photography, and the
					growing ambition of planners. Changes in printing technology, from engraving to
					lithography, added to the richness of this finished product. As cities industrialized and
					became more crowded, planners increasingly looked to cultivate public support that was
					necessary to finance transportation improvements. Efforts to relocate railroads, build
					more efficient passenger terminals, create landfills in harbors and lakes (often to
					provide more suitable arrangements for industry), and improve city streets, rose in
					priority. The illustrations created to support these projects, however, still tended to
					resemble elaborate line drawings rather than formal maps, and they were distributed only
					sparingly to the general public by government agencies.
				</p>
				<p class="body-text">
					Why did the government shy away from creating and distributing more elaborate maps? This
					was due in part to their lack of financial and legal capacity to make most large-scale
					initiatives a reality. Many had to rely on private firms, such as railroad companies, to
					complete large-scale tasks. Yet the relationship between cities and railroad lines was
					often characterized by suspicion and mistrust.
				</p>
				<p class="body-text">
					The necessity for railroad support of transportation-improvement plans can be appreciated
					when studying the adjacent map created by a private firm for tourists and travelers
					visiting the 1876 Centennial International Exhibition held in Philadelphia. One of the
					country’s first great railroad-oriented fairs, this exposition marked the 100th
					anniversary of the signing of the Declaration of Independence. This map includes a
					labyrinth of railroad lines, stations, roads, and streetcar and ferry routes permeated the
					city, although, as with other maps of this era, they are depicted in a relatively simple
					way.
				</p>
				<p class="body-text">
					Maps began to be used more extensively to educate the public about the benefits of
					government action in the early 1890s, as the Progressive Era bloomed. Civic leaders sought
					to harness scientific advancements, new techniques in public administration, and emerging
					technologies to improve the performance of cities. Maps became focal points of elaborate
					presentations calling for far-flung transportation projects built around clearly defined
					objectives. Planners and civic leaders wanted maps not only to support more enlightened
					policymakers, but also to engage everyday people who had little technical knowledge in a
					meaningful debate about the opportunities awaiting their community.
				</p>
				<p class="body-text">
					The use of maps reached new heights after the World’s Columbian Exposition was held in
					Chicago during 1893-94. This fair’s architectural splendor gave rise to the “City
					Beautiful Movement,” which was built on the idea that cities could be transformed from the
					dangerous, dirty, and noisy places they had become into inspiring destinations that
					cultivated a stronger sense of civic virtue, pride, and citizenship. As interest in city
					planning grew, Daniel Burnham—the fair’s director of works—and other architect-planners
					rose to positions of great public prominence.
				</p>
				<p class="body-text">
					By the late 1890s, elaborate maps were being commissioned to educate citizens about the
					need for wholesale changes to city streets, waterfronts, and rail terminals. Maps were
					published in ever-rising numbers to encourage voters to support the issuance of bonds
					(i.e., public debt) to fund infrastructure projects overseen by newly-formed public works
					departments. Spending funds wisely required that governments develop comprehensive
					neighborhood strategies to win the hearts of the populace, which raised the demand for
					mapmaking.
				</p>
				<p class="body-text">
					Few municipalities had bona fide planning or transportation departments as we know them
					today, and the advent of zoning (or “districting,” as land-use controls were called at the
					time) was still decades away. Still, in the spirit of Progressivism, governments were on
					the move, seeking enlightened solutions to lingering urban problems.
				</p>
				<p class="body-text">
					The result was a metamorphosis in map production, which gave rise to some of the first
					large-format color maps showing metropolitan regions in breathtaking detail. The adjacent
					map of New York City, produced by Rand McNally in 1896, was years ahead of its time,
					illustrating in vivid detail the juxtaposition of industry, parks, railroads, ground
					transportation, marine shipping, waterworks, and other features. Creating a foldable map
					with such intricate detail would have been unimaginable just a decade earlier—and was in
					fact still unaffordable for most smaller cities—but could be done in New York by virtue of
					the enormous consumer demand and growing amount of information being made available by
					governments.
				</p>
				<p class="body-text">
					In an attempt to help planners look more systematically at urban problems, maps
					increasingly used color-coding to depict complex aspects of transportation systems. The
					adjacent map of Chicago’s rail system, circa 1895, uses more than a dozen distinct color
					schemes to denote major railroads and their terminals. Abetted by the city’s
					well-developed aerial-photography industry, this map shows the arrangement of tracks in
					such rich detail that the user might feel that he or she is in a hot-air balloon above the
					city. Without aerial photography, it would have taken a staggering amount of field work to
					develop such a vivid and accurate portrayal of this area’s man-made environment. It only
					takes a quick look at the spaghetti-bowl of railroad tracks and terminals to appreciate
					Carl Sandburg’s description of the Windy City as the “Tool Maker, Stacker of Wheat, Player
					with Railroads and Freight Handler to the Nation.”
				</p>
			</section>
			<section>
				<h2 class="section-header">Using Maps to Inspire: The Early Twentieth Century</h2>
				<p class="body-text">
					The power of maps to educate and inspire citizens—and to encourage them to rally around
					the ambitious programs envisioned by civic leaders—was used to particularly great effect
					by Daniel Burnham in the early twentieth century. This acclaimed Beaux-Arts architect, and
					a key figure in the City Beautiful Movement, achieved great fame with his plans for
					Cleveland (1903), San Francisco (1905), and Manila, the Philippines (1906). His plans
					emphasized the physical city, with grand boulevards and parkways, majestic buildings, and
					inviting public spaces.
				</p>
				<p class="body-text">
					The Merchants Club of Chicago persuaded Burnham to embark on a plan for the Windy City in
					1906. Almost immediately, Burnham retained Edward E. Bennett, a young Beaux-Arts designer
					and architect, to coauthor this plan. This enterprising pair recognized the strong
					emotional appeal of color drawings and maps to the public, and made them centerpieces of
					their emerging plan. Using lofty prose, maps, and lavish illustrations that reminded
					readers of the bold projects that reshaped great European cities years earlier, Burnham
					and Bennett encouraged citizens to see the interconnection between transportation and
					other social and industrial issues and, ultimately, support actions intended to
					dramatically improve their city.
				</p>
				<p class="body-text">
					A team of draftsmen and two illustrators, Jules Guerin and Fernand Javin, created vivid
					pastel renderings for the Plan of Chicago. These renderings captured the attention of
					readers and encouraged them to contemplate the benefits of government-led action to
					reshape vast tracts of urban land. Such renderings were often accompanied by maps
					depicting possible arrangements for streets and boulevards, railroad terminals, and new
					parks and lagoons—all in spectacular detail. Less attention was paid to producing
					renderings with similarly exacting details, as on the previous New York City example.
					Burnham and Bennett evidently felt a sense of artistic license and instead created
					inspiring illustrations depicting the many opportunities that beckoned.
				</p>
				<p class="body-text">
					Upon its completion in 1909, more than 1,600 copies of The Plan of Chicago were printed
					for public distribution. Maps in this plan, and those prepared for other cities, not only
					envisioned new boulevards and parks, but a future in which electric railways played an
					ever-expanding role. At the time, few planners appreciated just how profoundly the private
					automobile would shape the future of transportation.
				</p>
				<p class="body-text">
					Optimism about electric railways was galvanized by a flurry of “interurban” construction
					in the East, Midwest, and California at the time. A longer-distance adaptation of urban
					streetcar technology, interurbans were relatively cheap to build and rapidly transformed
					the way in which residents of many cities moved from place to place. Interurban and
					streetcar companies did their best to convince investors that they would generate enormous
					profits.
				</p>
				<p class="body-text">
					Maps showing interurban systems are often filled with nuance, not only because these maps
					focus on relatively small geographic areas, but also because many of these companies
					sought to impress investors and show how their routes reached the commercial hearts of the
					cities they served. Whereas maps of “steam railroads” (i.e., conventional railroads,
					powered at the time by steam locomotives) were often drawn to make their routes between
					cities appear as direct as possible, interurban maps typically showed routes threading
					their way down streets and boulevards.
				</p>
				<p class="body-text">
					The adjacent 1911 map of the Pacific Electric Railway—one of the Los Angeles region’s most
					prominent transportation companies a century ago—illustrates this point. This map does not
					try to conceal the fact that the company’s “Red Cars” had to wind their way through many
					neighborhoods. It also shows the number of tracks on each route and the dense network of
					tracks in some of the largest cities it served, such as Long Beach and Santa Monica.
				</p>
				<p class="body-text">
					Within a few years, however, much of the optimism surrounding interurban and streetcar
					lines had waned. By the middle of the 1910s, Henry Ford’s Model T was transforming the
					American way of life, and Ford had sold more than 700,000 vehicles by 1916. Interurban and
					streetcar companies suffered greatly as Americans shifted to cars, buses, and trucks.
					Having electric-railway tracks in the middle of city streets was increasingly viewed as a
					nuisance that hindered efficient traffic flow. By the late 1920s, most interurban
					companies and many streetcar lines had been put out of business by the new rubber-tired
					competition.
				</p>
				<p class="body-text">
					The spectacular growth in highway travel created a new set of transportation problems, and
					local governments were unprepared to deal with the situation. As drivers grew frustrated
					with bumpy, muddy, and congested roads, the paving and widening of streets, as well as the
					creation of an integrated system of highways, became matters of great urgency. While
					travelers may have been satisfied with trains for longer-distance journeys, many who could
					afford automobile travel demanded its convenience on short-distance trips.
				</p>
			</section>
			<section>
				<h2 class="section-header">Rethinking Regions: Maps of the 1920s and 1930s</h2>
				<p class="body-text">
					During the “roaring twenties,” state governments commissioned many elaborate maps showing
					an interconnected network of arterial highways, and began to explore the possibility of
					“superhighways” that would permit non-stop driving over longer distances. The need to
					coordinate these investments fueled the nascent “regional planning movement,” built on the
					idea that coordinating public-works projects across large geographic regions was critical
					to good governance. Believing that all communities within a region—particularly those
					clustered around a major city—shared a common destiny, regional-planning proponents
					attempted to align urban transportation developments with the needs of expanding suburbia.
				</p>
				<p class="body-text">
					The creation of the Regional Planning Association (RPA) in metropolitan New York City in
					1922 was a milestone in the movement, and similar organizations soon emerged in Chicago
					(through the leadership of Daniel Burnham, Jr., son of the famous architect) and Los
					Angeles. Organizations such as these understood the power of maps to enhance public
					appreciation for regional investments in airports, bridges, roads, and superhighways.
				</p>
				<p class="body-text">
					Regional planning organizations nevertheless lacked the power to regulate or levy
					taxes—they were not sanctioned governments—and instead relied heavily on the power of
					persuasion. When RPA issued a landmark two-volume plan in 1929, it set a new standard for
					using maps and technical illustrations to depict road and bridge building programs, while
					showing their relationships with other initiatives. Maps in the plan detailed how a major
					metropolitan area could greatly improve its transportation system—making maps from the
					Burnham era seem simple by comparison.
				</p>
				<p class="body-text">
					Maps produced for regional plans illustrated how highway development was linked to
					programs to expand forest preserves, parks, flood-control systems, among other goals.
					Regional planning associations also put great emphasis on airports. Not only was
					commercial aviation surging at the time, but the development of new and larger aircraft
					suggested that a revolution in passenger flight was on the horizon. Comparatively little
					attention was paid to public transit, housing, public safety, and schools. Social
					commentator Lewis Mumford, an outspoken critic of the movement, did not consider this to
					be regional planning at all, but merely “parks and highway planning.”
				</p>
				<p class="body-text">
					Although local governments mostly had to settle for incremental improvements, such as
					building overpasses or underpasses at railroad crossings, widening streets, and installing
					signals to regulate the flow of traffic, the construction of superhighways came to be seen
					as inevitable. By the early 1930s, reports and photographs of the new German autobahns—a
					prototype for the enhancement of intercity motor travel—had captured the American public’s
					attention.
				</p>
				<p class="body-text">
					The adjacent map, prepared by the New England Regional Planning Commission in 1937,
					illustrates how such goals were incorporated into regional plans of this era. Air routes
					link small cities to larger ones. Lengthy “limited way roads” (expressways) and “parkways”
					(highways through areas of natural beauty) slice through the countryside. Strategic
					locations for airports and seaplane terminals are clearly marked, while vast tracts of
					privately owned land are identified for new parkland and forest preserves. Tellingly, the
					region’s densely built rail network—apparently taken for granted—is not even shown.
				</p>
				<p class="body-text">
					The course of history, however, took an unplanned turn. After the Japanese attack on Pearl
					Harbor on December 7, 1941, almost all such regional transportation plans were put on
					hold.
				</p>
			</section>
			<section>
				<h2 class="section-header">America on the Move: Maps after the Second World War</h2>
				<p class="body-text">
					Shortages of concrete, gasoline, labor, and steel necessitated that planners bide their
					time during the Second World War. After hostilities ceased, many mistakenly believed that
					a renaissance in the regional planning movement was around the corner.
				</p>
				<p class="body-text">
					The movement’s consensus-driven approach was out of sync with new programs coming out of
					Washington. Federal agencies preferred to work with state governments or newly created
					metropolitan planning organizations (MPOs) that met strict new legal requirements (such as
					provisions that all residents of a region be equally represented in planning decisions).
					Many regional organizations folded or were merged into newly-formed governments. New
					York’s RPA was a notable exception, but many other organizations disappeared, including
					those in Chicago and Los Angeles.
				</p>
				<p class="body-text">
					Transportation planning became more formalized and guided by federal mandates and
					requirements. As the flow of federal dollars accelerated, county and state governments
					developed their own plans that mapped out new schemes for building airports, expressways,
					and rapid-transit lines. Cities braced for an anticipated surge in housing investment and
					population growth. The adjacent map, prepared by the Chicago Plan Commission in 1946,
					illustrates the grandiosity typical of government-issued maps from this era. An enormous
					amount of information—such as existing rail, road, and water routes, as well as land uses,
					industrial areas, parkland, and proposed expressways—is included on this map as
					governments pushed ahead with long-delayed projects.
				</p>
				<p class="body-text">
					Metropolitan regions indeed boomed after the war, but the growth was much more
					concentrated in suburban areas than in the city. Growing numbers of residents abandoned
					deteriorating inner-city neighborhoods and moved to outlying areas that offered
					inexpensive new homes and quiet living on spacious lots. New suburban communities seemed
					blissfully isolated from the commotion and crowding of the central city.
				</p>
				<p class="body-text">
					The adjacent map, prepared by the city of Valparaiso, Ind., in 1951, typifies how
					transportation planners began focusing on large geographic regions to accommodate the
					rapid outward migration of urban populations. A small county seat destined to feel the
					encroachment of metropolitan Chicago, Valparaiso braced for change as its giant neighbor
					grew ever closer.
				</p>
				<p class="body-text">
					Before the 1950s ended, the construction of superhighways had kicked into high gear.
					Interstate highways were considered essential not only to routine travel but also for the
					rapid evacuation of cities in the event of a nuclear attack. As tensions rose during the
					Cold War, local governments produced detailed maps solely to increase the odds that
					civilians would survive an atomic apocalypse. The adjacent map, issued by the New Orleans
					Office of Civil Defense in 1961, dramatically shows how governments studied “who should go
					where” during the panic-filled minutes that preceded a bombing. The Crescent City, of
					course, would later be thrust into the national spotlight for its infamous struggle to
					evacuate in the wake of Hurricane Katrina in 2005.
				</p>
				<p class="body-text">
					Building the Interstate Highway System required relocating tens of thousands of residents
					from inner-city neighborhoods. By the early 1950s, “fast and free” expressway travel was
					ushering in a new era in travel throughout the country. Yet the door to unimpeded
					expressway construction slammed shut in the mid-1960s as “expressway revolt” reared its
					head. New federal regulations required a closer link between transportation and other
					aspects of urban planning. These regulations, while mostly toothless, showed that the tide
					had turned.
				</p>
				<p class="body-text">
					The mass-transit improvements envisioned on the adjacent map, prepared in 1969 by the
					municipal government in New York City, show how the pendulum had swung toward public
					transportation. This fascinating map, filled with ambitious proposals for new corridors,
					was produced shortly after plans to build a pair of elevated superhighways through the
					middle of Manhattan had been officially dropped. This shift in emphasis away from
					expressway construction was felt in other cities, as well. Beginning in the 1970s, new
					subway systems opened in Atlanta, Miami, Washington, D.C., and the San Francisco Bay Area,
					leading to the emergence of “light-rail” transit projects in large and small cities
					throughout the country.
				</p>
			</section>
			<section>
				<h2 class="section-header">Modesty and Metamorphosis: 1980–Present</h2>
				<p class="body-text">
					Maps outlining bold plans for regional transportation improvement became less prevalent
					during the mid-1980s and the early 1990s. As funding for large-scale projects dried up,
					many agencies opted for simple “concept plans,” short on specifics and lacking detailed
					maps. Some came to view master plans—and their associated maps—as destined to collect dust
					on library shelves. Although many light-rail systems and circumferential “beltway”
					highways around cities were built during this period, such projects often were not guided
					by overarching master plans of the type published several decades earlier.
				</p>
				<p class="body-text">
					Large-scale maps for transportation planning staged a comeback in the 1990s, due to a
					resurgent economy, the renewed vitality of many downtown areas, and growing interest in
					expanding and improving public transportation. Transportation-planning maps increasingly
					focused on “transit-oriented development” and schemes to modernize aging infrastructure.
					Geographic information systems (GIS), meanwhile, allowed cartographers to show
					relationships between transportation and other activities, including land use, in
					increasingly sophisticated ways.
				</p>
				<p class="body-text">
					Advances such as Google Maps and hand-held display devices, meanwhile, have brought
					sophisticated mapping tools to the masses and reduced the importance of printed maps.
					Interactive digital maps have also allowed users to select only the variables and
					topographic features they want to see, giving maps a more dynamic quality. Internet-driven
					“geo-coded” databases have allowed users to see the same region in a variety of
					ways—whether depicting transportation lines and traffic flow, street-level or satellite
					views, or driving and other navigation options.
				</p>
				<p class="body-text">
					At the same time, demand for planning maps that encompass not only metropolitan regions
					but entire intercity corridors, depicting numerous large cities situated along routes 100
					and 500 miles long, has grown. Proposals for high-speed rail systems, conventional bus and
					train service, and waterway improvement programs often require governments to use maps to
					bring geographically dispersed areas to pursue a common goal, much like Burnham had done
					in a more urban context years ago.
				</p>
				<p class="body-text">
					Meanwhile, the magnificent transportation maps of the past remain beacons of clarity that
					pointed the way toward making cities and metropolitan regions better places. Printed maps
					such as these teach us a great deal about the aspirations of planners, industry leaders,
					and civic advocates. As noted novelist Reif Larsen wrote, “A map does not just chart, it
					unlocks and formulates meaning; it forms bridges between here and there, between disparate
					ideas that we did not know were previously connected.”
				</p>
			</section>
		</article>
	</div>
</Essay>
