<h1 class="gallery-page-title">Map of Texas with Parts of Adjoining States, 1830</h1>
<h2 class="parent-essay-title">Maps of Trails and Roads of the Great West</h2>
<div class="main-text">
<p class="main-text-p">Even more than a cartographer, Stephen Fuller Austin (c. 1790-1836) was an entrepreneur, Mexican and Texican patriot, and the father of the Texas Revolution, which he did not live to see to come to fruition. His map, precisely engraved and first published by Henry Schenck Tanner (1786-1858) in Philadelphia in 1830, became very popular and quickly went through seven updated editions by 1845, including as a pocket map in 1840. While emphasizing southeastern Texas, it also became a “master map” from which numerous other maps of Texas and its environs were derived prior to the American Civil War.</p>
<p class="main-text-p">The complexity of Austin’s situation is reflected by the cartouche on his map. It consists of a prickly pear cactus with labeled paddles representing the various states of Mexico, including Texas. On the top of the cactus sits the Aztec golden eagle clutching a snake in its beak. In its talons the eagle holds a banner proclaiming the Mexican Federal Republic, and above its head is a radiant cap of liberty.</p>
<p class="main-text-p">Tanner was probably the first-native born American to become involved in map publishing and first gained notoriety for the quality of the engraving of the cartography in his New American Atlas of 1823-1839. His cartographic output also began to draw attention to Philadelphia’s emerging role in the American map trade.</p>
</div>
<h3 class="map-title">Map of Texas with Parts of Adjoining States, 1830</h3>
<cite>Austin, Stephen F., "Map of Texas with Parts of the Adjoining States" (Philadelphia : H.S. Tanner, [1830]). VAULT drawer Graff 117</cite>