@mixin slashy($rightSide:var(--colorLight),$leftSide:var(--colorSplash)) {
    background: linear-gradient(
        var(--angleDegs),
        $rightSide 0vw, var(--distance),
        $leftSide var(--distance) 100vw
    );
    background-attachment: fixed !important;

    // background: linear-gradient(var(--angleDegs),var(--colorDark) 0vw,var(--distance),var(--colorLight) var(--distance) 100vw);
}

@mixin newberry-colors {
    --flame: #f16151;
    --parkGreen: #20543E;
    --tile: #925840;
    --sapphire: #4051A3;
    --lake: #7EC4E2;
    --mulberry: #AD2B5A;
    --lavender: #CDB8D1;
    --midnight: #111A2A;
    --sand: #EADCC9;
    --granite: #EAEBE7;
}



@mixin fooncy-links {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

@mixin fooncy-underline {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
a.fl {
    @include fooncy-links;
}
body {
    @include newberry-colors;
    @include slashy;
    --colorLight: var(--sand);
    --colorDark: var(--tile);
    --colorSplash: var(--granite);
    --colorLight: var(--tile);
    --colorDark: var(--sand);
    --colorSplash: var(--parkGreen);
    --angleDegs: 210deg;
    --distance: 40vw;
    min-height: calc(100vh - 76px);

    main, main article, main article .iframe, main article .iframe iframe {
        height: 100%;
        min-height: calc(100vh - 77px);
    }

    // --colorLight: var(--granite);
    // --angleDegs: 120deg;
    // --distance: 333px;
    // --colorDark: #7ec4e2;
    // --altDark: #ad285a;
}

.body-text, .body-quote {
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
}
.body-text, .body-quote, .essay-gallery li, .nist.bib, .end-bib {

    font-family: "signifier";
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
    // max-width: 75ch;
    @media screen and (min-width: 600px) {
        font-size: 18px;
        line-height: 30px;
    }
}
.perifera, .citation {
    font-family: "styreneb";
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
    // max-width: 75ch;
    @media screen and (min-width: 600px) {
        font-size: 14px;
        line-height: 20px;
    }

}
section, aside, footer {
    margin: 0 64px;
}
header {
    color: var(--colorLight);
}
header:before {
    color: var(--colorDark);
}
header:after {
    color: var(--colorDark);
}
.body-quote {
    margin: 32px;
}
footer {
    margin-top: 32px;
}
.footer-header {
    margin: 0 0 16px 0;
}
.essay-gallery ul {
    margin: 8px 0;
}
.essay-gallery li, .periphera {
    margin: 16px 32px;
    font-size: 15px;
}
aside {
    
    .aside-text {
        font-family: "signifier";
        font-size: 16px;
        line-height: 26px;
        margin: 16px 0;
    }
}

h3,
h4,
h5,
h6, dt {
    font-family: "styreneb" !important;
    font-weight: bold;
}
h1,
h2, .nist.numbr {
    font-family: "flechamm" !important;
}

@font-face {
    font-family: "flecham";
    src: url("/fonts/FlechaM-Regular.woff") format("woff");
}
@font-face {
    font-family: "signifier";
    src: url("/fonts/signifier-regular.woff2") format("woff2");
}
@font-face {
    font-family: "signifier-bold";
    src: url("/fonts/signifier-bold.woff2") format("woff2");
}
@font-face {
    font-family: "styreneb";
    src: url("/fonts/StyreneB-Regular-Web.woff") format("woff");
}
@font-face {
    font-family: "styrene-bold";
    src: url("/fonts/StyreneB-Bold-Web.woff") format("woff");
}
@font-face {
    font-family: "flecha-black";
    src: url("/fonts/FlechaM-Black.woff") format("woff");
}
@font-face {
    font-family: "flecha-bold";
    src: url("/fonts/FlechaM-Bold.woff") format("woff");
}
@font-face {
    font-family: "flechamm";
    src: url("/fonts/FlechaM-Medium.woff2") format("woff2");
}

@mixin scroll-shrink {
    // position: sticky;
    // top: 0;
    // font-size: 34px;
    // transition: 0.2s;
}