<h1>Mapping Migration and Settlement</h1>
<p><em>by: </em><span class="author">(.+)</span></p>

<article>
	<section>
		<p class="body-text">
			Migration, which is the process of people moving from one place to another in order to
			establish a new residence, has been a reoccurring theme in US history. The nature of this
			migration experience has a variety of temporal and geographical components which can be
			studied with maps. Some of the more important questions to address geographically include
			identifying homelands migrants have left, locating the places where they settled, and
			determining where and how they moved after they arrived in the North America. The reasons for
			people relocating into and within the United States have been numerous, but in most cases
			cannot be easily determined from the cartographic evidence.
		</p>
		<p class="body-text">
			This essay and the accompanying captioned maps identify and illustrate a variety of maps that
			can be used effectively to document the spatial components of the US migration story. Very few
			maps show actual migration patterns; however, maps often show roads, railroads, or other
			transportation routes that migrants could have used. Maps also capture a moment in time,
			providing a cross section of a geographical space that depicts the migrants’ homeland or place
			of origin, as well as their new home or place of eventual settlement. Some migrations are not
			well documented on contemporary maps, such as the African slave trade and the Underground
			Railroad; the Native Americans’ “trail of tears;” or the journeys of young women who moved to
			New England industrial towns from the nearby rural countryside. The selection of maps for this
			essay is not intended to be comprehensive; each immigrant group’s story is different. Rather
			the selection is based on my research which has focused on German-American and
			African-American experiences. For a general description of the geographical components of a
			wider variety of immigrant groups, please refer to the thematic maps and accompanying
			discussions found in We the People (Allen and Turner 1988).
		</p>
	</section>
	<section>
		<h2 class="section-header">Migration Processes and Trends</h2>
		<p class="body-text">
			The United States is known as a nation of immigrants. One of the distinctive characteristics
			of its culture is the variety and vitality of its immigrant and ethnic composition. The nation
			was founded and grew as a result of migration, primarily from Europe, Africa, and East Asia
			during the eighteenth and nineteenth centuries, but also from other parts of the world in the
			twentieth century. Almost all Americans can claim to have some foreign ancestry, whether they
			are a first- or second-generation immigrant, or they can trace their ancestry to an earlier
			generation of immigrants.
		</p>
		<p class="body-text">
			Many immigrants came voluntarily or freely, making a conscious decision to migrate based on a
			variety of economic, political, or religious push-pull factors. The great majority of these
			sought better jobs and higher standards of living; others fled political oppression or
			situations of ethnic cleansing; while some desired to practice their religious beliefs more
			freely. The need to escape physical disasters, such as droughts or famines, motivated others
			to leave their homelands.
		</p>
		<p class="body-text">
			During the seventeenth and eighteenth centuries, most of the newly arriving colonists came
			from England, settling along the Atlantic seaboard and in the major port cities of Boston, New
			York, Philadelphia, and Charleston. While the British dominated the political and economic
			structure of the thirteen colonies, large numbers of Germans and Scotch Irish settled in
			southeastern Pennsylvania and the backcountry from Maryland south to the Carolinas (Lemon
			1990).
		</p>
		<p class="body-text">
			However, the nineteenth and early twentieth centuries, particularly from about 1840 to 1920,
			was the period of mass migration from Europe to the United States. During this time period,
			the nation’s population grew from 17 to 105 million, a sixfold increase. Although there was a
			high rate of natural increase with birth rates exceeding death rates, 33 million immigrants
			came into the country during this time span. After 1924, when entry restrictions were
			instituted with the enactment of the National Origins Act, the number of new immigrants
			declined noticeably (Ward 1990).
		</p>
		<p class="body-text">
			From 1840 to 1880, the largest number of immigrants came from Northwest Europe, particularly
			Germany and Ireland, with smaller numbers from England, France, and Scandinavia. The Germans
			settled in both rural and urban settings primarily in the Mid-Atlantic and Midwestern states,
			while the Irish settled in urban and industrial communities primarily in the Northeastern
			states. Both avoided the South primarily because of their antipathy toward slavery and the
			lack of industrial jobs in the southern economy.
		</p>
		<p class="body-text">
			After 1880, the source regions changed drastically. Although the number of German, Irish,
			English and Scandinavian immigrants remained high, their numbers were surpassed by immigrants
			from Italy, Greece, and lands ruled by the Austrian-Hungarian and Russian empires. These
			immigrants tended to settle in the larger cities in the Northeastern, Mid-Atlantic, and
			Midwestern states.
		</p>
		<p class="body-text">
			Throughout the last two thirds of the nineteenth century, there was also a sizeable flow of
			immigrants from Asia, particularly from China, to the West Coast of the United States.
			Numbering about one million, the Asian immigrants worked primarily on railroad construction
			and in the mining communities of the West.
		</p>
		<p class="body-text">
			For others, however, their migration was involuntary or forced. The two primary examples of
			forced migration within the American experience are the Native and African Americans. As
			Europeans colonized eastern North America and their settlement frontier expanded across the
			Appalachians, Native Americans were pushed further west and confined to reservations, first in
			the Midwest, then the Great Plains and the West, through a succession of negative pressures
			including disease, battles, treaty negotiations, and land cessions. African Americans, on the
			other hand, were the victims of the seventeenth and eighteenth century slave trade. Many of
			the Africans who were sold into slavery came from the West Coast of Africa, where they were
			imported to West Indian sugar plantations, before re-export to the southeastern United States.
			Within the United States, the Africans’ movements were tied to the migrations of their owners
			until their eventual emancipation following the Civil War.
		</p>
		<p class="body-text">
			In addition to the migrations into the United States from Europe, Africa, and Asia, there was
			considerable migration within the United States. One major trend was the general movement of
			the settlement frontier westward across the United States. With the signing of the Paris Peace
			treaty in 1783, the new nation gained control of the lands east of the Mississippi River.
			Settlement moved rapidly from the eastern states across the Appalachian Mountains into the Old
			Northwest and the Southeast, as these public domain lands were systematically surveyed and
			subsequently sold as part of the General Land Office’s iconic township and range system (Grim
			1990). This east to west migration tended to occur in broad latitudinal bands, with migrants
			from New England and the Mid-Atlantic states moving into the Upper Midwest, those from the
			Chesapeake region moving into the Lower Midwest and the Upper South, and those from the
			Carolinas and Georgia moving into the Lower Southeast.
		</p>
		<p class="body-text">
			With the purchase of the Louisiana Territory in 1803, the spirit of Manifest Destiny spurred
			the further acquisition and settlement of the lands west of the Mississippi. By adding Texas,
			the Mexican Southwest and the Pacific Northwest, the national territory extended as far as the
			Pacific Ocean by the middle of the nineteenth century. The discovery of gold in California and
			the construction of transcontinental railroads hastened migration to the West Coast, whether
			it was long-time residents of the older eastern states or newly arrived immigrants from
			Europe, China, or Mexico.
		</p>
		<p class="body-text">
			Industrialization in the early nineteenth century encouraged a rural to urban migration trend
			within the United States. With employment opportunities developing in the new industrial towns
			of New England, young women from rural communities along with French Canadians moved into such
			towns as Lowell and Lawrence. As industrialization spread through the Mid-Atlantic and
			Midwestern cities, rural to urban migration increased rapidly. Following the Civil War, many
			emancipated slaves remained in the South, but others started to move to northward to urban and
			industrial centers in the Northeast and Midwest, a trend that greatly accelerated during the
			first half of the twentieth century. From 1840 to 1920 the urban population of the United
			States increased from eleven to fifty-one percent of the total US population. This dramatic
			increase can be attributed to both foreign immigration and rural to urban migration.
		</p>
	</section>
	<section>
		<h2 class="section-header">Personal Accounts of Migration</h2>
		<p class="body-text">
			Unfortunately, there are very few maps that were compiled or published during the eighteenth,
			nineteenth, and early twentieth centuries that document individual migration stories or the
			general geographical patterns of migration into and within the United States. What we know
			about the geographical components of this migration process, we have learned from millions of
			personal stories, which can be plotted on and documented with a wide variety of maps published
			during this period. Diaries, letters, and family genealogies provide the basis for
			reconstructing numerous personal migration routes, from which historians have been able to
			determine general patterns.
		</p>
		<p class="body-text">
			One example of a personal narrative that is particularly useful for identifying geographic
			locations and travel routes is an account prepared by John Parkinson, a young man from the
			lead mining region of southwestern Wisconsin. In this biographical account, which was
			published in a 1921 issue of the Wisconsin Magazine of History (Parkinson 1921), he focused on
			his relocation from Wisconsin to the California Gold Fields during the 1850s, but also
			described the geographic origins of his family before they settled in Wisconsin.
		</p>
		<p class="body-text">
			This young twenty-year-old did not prepare any maps of his journeys, but he did make specific
			mention in his account regarding the modes of transportation and general routes that he
			followed between destinations representing various legs of his three-year journey. He and
			three other men were outfitted with two wagons and eight oxen by Parkinson's father. This team
			left southwestern Wisconsin, May 3, 1852. They crossed the Mississippi River at Dubuque, and
			traversed Iowa via Cedar Rapids and Des Moines. After crossing the Missouri River, they
			travelled through Nebraska paralleling the north side of the Platte River to South Pass, where
			they selected the emigrant road to California. On this leg of the trek, they crossed the Green
			and Bear Rivers, passed north of Great Salt Lake, traversed the Great Basin and Sierra Nevada
			Range, and arrived at the Sacramento River, October 11, five months after they left home.
		</p>
		<p class="body-text">
			After three years of prospecting for gold at various mining camps in Northern California,
			Parkinson decided to return to Wisconsin to continue his college education. Rather than
			retrace the arduous overland journey, he decided to return by sea, crossing the continent at
			the Isthmus of Nicaragua. This return journey employed a number of different modes of
			transportation. It consisted of traveling by wagon to Shasta City, stagecoach and boat down
			the Sacramento River to San Francisco, steamer south along the Pacific Coast to Nicaragua,
			wagon and steam boat across the Isthmus and Lake Nicaragua, steamer from Greytown to New York
			City, train from New York to Chicago and then Freeport, and finally by stagecoach to home.
			Parkinson noted that the return trip took three weeks, but he also remarked that when he took
			a similar trip to California with his family fifty years later by train, it took only four
			days.
		</p>
		<p class="body-text">
			We also learn from Parkinson's account the basic components of his family's geographic origins
			and movements. His father's family was English, settling first in Virginia and then moving to
			Tennessee and eventually Illinois. His mother's family was Scotch-Irish Presbyterian, coming
			from Northern Ireland and settling initially in North Carolina. They subsequently moved to
			southern Illinois, where his parents met in 1817. His parents were encouraged by a relative to
			move to southwestern Wisconsin to take advantage of the mining opportunities and wheat
			farming. This short synopsis reinforces general migration trends that historians have noted
			during the eighteenth century when the primary immigrants were English, Scotch Irish, and
			German, and during the late eighteenth and early nineteenth century, when migration from the
			original thirteen colonies trended westward in broad latitudinal bands.
		</p>
		<p class="body-text">
			Using some of the maps described in this essay, as well as those described in other sections
			of the Mapping Movement portal, it would be possible to plot a fairly accurate geographical
			outline of Parkinson's three-year adventure in the Gold Fields, and to trace the movements
			related to his family’s genealogy. Some of these maps would include those showing the initial
			wagon roads from the Midwest to California (Caption 4); maps of the early road and railroad
			networks in the eastern part of the United States (Caption 3); statistical maps and atlases
			that depict general population and immigration trends (Caption 6); and landownership maps and
			atlases that record mid-nineteenth century settlement patterns in the Midwest (Caption 9).
		</p>
		<p class="body-text">
			While personal narratives have rarely been mapped collectively, one exception is the initial
			attempt during the 1890s, as well as subsequent twentieth century revisions, to reconstruct
			maps of the various routes associated with the African American slaves’ escape to freedom on
			the Underground Railroad. These maps were based on the accounts of abolitionists and escaping
			slaves (Caption 1).
		</p>
	</section>
	<section>
		<h2 class="section-header">Maps of Migration</h2>
		<p class="body-text">
			If personal narratives of individual family migration histories, such as Parkinson's memoir,
			are not accompanied by illustrative maps, how can we map the migration process? Fortunately,
			the three fundamental geographical components of migration into and within the United States
			can be studied cartographically. These cartographic sources include maps of the migrant's
			homeland or place of origin, the general paths or specific routes that the migrants travelled,
			and maps of the places the migrants settled, whether these are thematic maps or large-scale
			maps of rural or urban settings showing the name of individual landowners. While these maps
			are not dynamic in allowing us to observe the entire process, they provide static snapshots of
			specific stages or steps within the process.
		</p>

		<p class="body-text">Homeland Maps</p>
		<p class="body-text">
			For many Americans with European ancestry, locating the specific town or village from which
			their ancestors migrated is an important part of their genealogical research. Small- and
			moderate-scale maps showing major cities and towns, as well as the primary transportation
			networks, were published for most European countries during the eighteenth century. Maps of
			this nature are readily available in numerous American map libraries that have good historic
			collections of single sheets maps and world atlases. During the nineteenth century, larger
			scale topographic map series were published for many European countries, first for France,
			England, the Low Countries, and later for Scotland, Ireland, Switzerland, Germany, the
			Austrian-Hungarian Empire, Poland, and Russia (Larsgaard 1993). With the aid of contemporary
			gazetteers, geographic names databases (see Further Reading) and more specialized gazetteers,
			such as Where Once We Walked (Mokotoff and Sack 2002), which provides a listing of Jewish
			Shtetls in eastern and central Europe, researchers can locate most cities, towns, and small
			villages throughout Europe (USGS 1991).
		</p>
	</section>
	<section>
		<h2 class="section-header">Transportation and Promotional Maps</h2>
		<p class="body-text">
			In determining how immigrants arrived at their new locations, researchers would like to know
			about their trans-Atlantic voyages, the port cities where they entered the country, and the
			routes they travelled throughout the country to reach their final destination. While only
			scattered maps showing specific voyages or the general course of trans-Atlantic routes are
			available for the late eighteenth and nineteenth centuries, there are numerous maps of the
			nation or individual states that show ports of entry and assist in tracing routes described in
			personal narratives. National or state maps published during the last half of the eighteenth
			century generally show only the major roads, but similar maps published after the introduction
			of internal improvements during the first half of the nineteenth century distinguish between
			turnpikes, post roads, canals and railroads. And in many cases there are also maps of
			individual canal or rail routes as they were planned, constructed, and promoted, as discussed
			in other sections of this portal (Grim 2000).
		</p>
		<p class="body-text">
			One specific type of map, particularly those published to accompany or illustrate promotional
			travel literature, selected or reinterpreted more detailed reference and transportation maps
			to address specific immigrant populations. For example, the guidebooks intended to promote
			German immigration were written in German, and the maps were translated into German. In some
			cases, the selection of towns and communities displayed on the map reflect a German bias. The
			geographical coverage of these guidebooks and maps varied. Some, such as Traugott Bromme's
			advice book for German emigrants, provided a general discussion of emigration from Germany to
			various locations around the world, although there is a decided emphasis on various regions
			within North America (Caption 2). Besides including small general maps pairing most of the
			states, he included maps of the major port cities on the northeast coast, showing immigrants
			where they would most likely disembark. Francis Grund's handbook (Caption 3) is more focused
			geographically, promoting migration to the Midwestern states, while Joseph Ware's emigrant
			guide to California (Caption 4), highlights and maps a single route of migration, most likely
			the one followed by John Parkinson, whose personal memoir is illustrated above.
		</p>
	</section>
	<section>
		<h2 class="section-header">Thematic and Statistical Maps</h2>
		<p class="body-text">
			Thematic maps, based on census data and immigration statistics, are the best graphics for
			visualizing where immigrants were born and where they settled. Unfortunately, such maps began
			to be published in the United States only during the middle of the nineteenth century,
			following the US censuses of 1860 and 1870. Although federal population censuses were taken
			every ten years beginning in 1790, place of birth was not recorded until 1850. Demographic
			data, such as this, was not mapped until 1860, when the slave population in the southern
			states was the first demographic variable to be mapped (Schulten 2011; Caption 5). Starting
			with the 1870, 1880, and 1890 censuses, the US Census Bureau, along with a commercial
			publisher, issued three statistical atlases that employed a number of creative graphic devices
			to display information about the nation’s growing immigrant population (Dahmann; Caption 6).
		</p>
		<p class="body-text">
			The Census Bureau continued to publish statistical atlases for the 1900, 1910, and 1920
			censuses. However, the maps were less attractive and less creative, and the Bureau failed to
			produce similar publications for succeeding censuses. However, this void in providing
			cartographic and visual interpretation of census data was taken up by academic and
			professional cartographers, particularly as they prepared national and state atlases during
			the late twentieth century. For example, two geography professors at California State
			University, Northridge, published We the People: An Atlas of Ethnic Diversity (Allen and
			Turner 1988) which was based on data collected during the 1980 census from a controlled sample
			asking respondents what they considered their primary national ancestry. The atlas contains
			numerous thematic maps, showing ancestry for sixty-seven national or ethnic groups. Another
			example is the Historical Atlas of Massachusetts (Halpern and Wilkie 1991). The chapter on
			immigration includes innovative cartograms showing the size of ethnic population in counties
			and towns throughout Massachusetts.
		</p>
		<p class="body-text">
			While most cartographic representations of immigration statistics have been prepared as
			national or state maps, there are a few examples of studies that focused on individual cities,
			or portions of cities. One example is a survey of one of the poorest section of Chicago, based
			on a study conducted by residents of Jane Addams Hull House in the early 1890s (Caption 7).
			These colorful maps depict the percentage of each immigrant group living in individual
			structures within the study area.
		</p>
	</section>
	<section>
		<h2 class="section-header">Large-Scale Settlement Maps</h2>
		<p class="body-text">
			Thematic maps are very useful for identifying the heaviest densities or largest concentrations
			of individual immigrant groups within the nation or in an individual state. However, there are
			other moderate- to large-scale maps that help enhance our understanding of general migration
			trends or immigrant settlement patterns.
		</p>
		<p class="body-text">
			For example, state sectional maps, such as the one used to illustrate migration into Kansas
			during the 1850s (Caption 8), illustrate several trends. State sectional maps, which were
			prepared for most Midwestern and Great Plains states, show the progress of General Land Office
			surveys for the year in which they were published. Thus, by viewing a chronological succession
			of these maps for an individual state such as Kansas, it is possible to demonstrate how
			rapidly the settlement frontier was moving through the state, generally in a westerly
			direction. In addition the sample map of Kansas also identifies the emigrant roads to
			California and Oregon providing further evidence of this westward migration trend. On the
			other hand, the distinct delineation on this map of the lands reserved for Native Americans
			illustrates their removal from eastern tribal lands to the Great Plains and eventually to the
			Indian Territory. More subtle clues, such as marginal illustrations and the location of
			specific events, provide evidence of the conflicts between the pro- and antislavery groups
			settling in Kansas after the Kansas-Nebraska Act of 1850.
		</p>
		<p class="body-text">
			Large-scale landownership maps are useful for examining immigrant settlement patterns in rural
			areas. Such maps, showing the names of individual landowners, were first published during the
			1790s for a number of New England towns. Similar maps were published at the county level
			during the first decades of the nineteenth century, and became very prevalent for most
			counties in the New England and Mid-Atlantic states by the 1850s. Published as large wall
			maps, they displayed the names of individual property owners, and located churches, schools,
			public buildings, and factories. They were often illustrated with vignettes of the homes or
			businesses of the map's patrons (Stephenson 1967; Conzen 1990). Following the Civil War, land
			ownership maps were published in an atlas format for many counties in the Midwestern and Great
			Plain states (LeGear 1950). These atlas maps also showed the names of individual landowners,
			and located churches, schools, and factories. The atlases often included a picture section and
			business directory, helping to identify the wealthier and more prominent citizens of the
			county. By locating the churches, which were often named according to their immigrant
			affiliation and by comparing family surnames with manuscript census schedules, it is possible
			to identify clusters of immigrant settlers, as demonstrated for the German settlement in and
			near Guttenberg, Iowa (Caption 9).
		</p>
		<p class="body-text">
			The visual identification of such population clusters on cartographic sources can be confirmed
			by an analysis of the associated manuscript census schedules from the United States decennial
			population censuses. Beginning in 1850, these schedules listed the place of birth for each
			individual and for both parents beginning in 1880. The manuscript census schedules are
			maintained by the US National Archives and Records Administration as part of the records of
			the Bureau of the Census (Record Group 29:
			http://www.archives.gov/research/guide-fed-records/groups/029.html). Microfilm copies of these
			census schedules are available at NARA regional facilities and at many libraries throughout
			the country. These schedules can also be accessed online through subscription data bases such
			as Heritage Quest Online (http://www.heritagequestonline.com/hqoweb/library/do/login) or free
			data bases such as Family Search (https://familysearch.org/). For example, the manuscript
			census schedules for Guttenberg, Iowa, are reproduced in NARA microfilm publication T9, roll
			0333 (1880, Iowa, Clayton County, Guttenberg, ED 137, sheets 407-418). For this research, the
			Guttenberg schedules were accessed through Family Search.
		</p>
		<p class="body-text">
			Fire insurance and real estate atlases provide a similar resource for identifying immigrant
			neighborhoods in urban settings. First published for major cities, such as New York City,
			Chicago, and Boston in the 1860s, these urban atlases became standard publications for most
			major cities and towns during the second half of the nineteenth century, and continued to be
			updated and revised until the middle of the twentieth century. Fire insurance atlases, which
			were prepared to assist insurance underwriters in determining risk assessment, showed the
			footprint of individual buildings which were color coded to reflect their construction
			material (yellow for wood or frame structures, pink for brick, and blue for stone). Churches,
			schools, major public buildings, and factories were labeled (LOC 1981; Karrow and Grim 1990).
			Real estate atlases served a similar function for real estate agents and included similar
			information, although most included the names of residential property owners. Again, by
			locating churches and other social organizations that are associated with specific immigrant
			groups and by comparing the family surnames on the map sheets with those listed in
			contemporary city directories or manuscript census schedules, it is possible to identify
			immigrant neighborhoods, as demonstrated for a major German neighborhood in Chicago using an
			1886 real estate atlas (Caption 10). It is also interesting to note that maps from a fire
			insurance atlas were used as base maps to plot the data collected for the Hull House maps
			(Caption 7).
		</p>
	</section>
	<aside>
		<h2 class="section-header">Further Reading</h2>
		<p class="body-text">
			While little has been written specifically about the mapping of migration and immigrant
			settlement, there are many historical and geographical studies that discuss general migration
			trends, as well as the migration histories of individual immirant groups. Good summaries of
			the geographical components of the migration process to and within the United States are found
			in two essays by historical geographers James T. Lemon, “Colonial America in the Eighteenth
			Century,” and David Ward, “Population Growth, Migration and Urbanization, 1860-1920,” both
			published in North America: The Historical Geography of a Changing Continent, edited by Robert
			D. Mitchell and Paul A. Groves (Savage, MD, 1990; revised 2001). Another overview of the
			migration process within the context of 500 years of the settlement history of the United
			States is provided by historical geographer Donald Meinig in his four-volume work, The Shaping
			of America (New Haven, 1986-1998). Throughout this geographically-focused interpretation,
			Meinig devotes separate discussions, illustrated with innovative graphics, to such topics as
			migration and the slave trade during the colonial period (“Migration and Change: Europeans
			Overseas” and “Enslavement and Change: Africans in America,” vol. 1, 213-231); westward
			migration and the removal of the Indians during the first half of the nineteenth century
			(“Shoving the Indians Out of the Way,” and “Filling in the Framework: Migration Westward,”
			vol. 2, 78-103, 222-236); or the massive European immigration during the second half of the
			nineteenth century (“Population and People,” vol. 3, 265-293, 432-434). Each discussion is
			accompanied by bibliographic citations referencing key studies by historians and geographers.
		</p>
		<p class="body-text">
			In addition to bibliographic resources listed by Meinig, another excellent starting point for
			researching the geographical distribution and migration history of individual national or
			ethnic groups is James Paul Allen and Eugene James Turner’s We the People: An Atlas of
			American Ethnicity (New York, 1988), which provides 115 maps and graphs depicting and
			analyzing ancestry data collected during the 1980 Federal census. Similar statistical maps and
			graphs which were published in atlases based on the 1870, 1880, and 1890 censuses are
			discussed by Donald C. Dahmann in “Presenting the Nation’s Cultural Geography,” Library of
			Congress, American Memory, Map Collections, Cultural Landscapes, online at
			http://memory.loc.gov/ammem/gmdhtml/census2.html. Digital copies of the 1870, 1880, and 1890
			statistical atlases are also available at this site.
		</p>
		<p class="body-text">
			As outlined in the essay above, it is important to locate maps depicting the various stages in
			an individual family’s migration story in order to appreciate the broader trends of a
			particular immigrant group. In many ways, this type of research relies on methods and
			resources used by genealogists in researching their family histories. An introduction to the
			use of maps in genealogical research is found in the US Geological Survey’s small pamphlet,
			Maps Can Help You Trace Your Family Tree: How to Use Maps in Genealogy (Washington, DC, 1990,
			1994), now available online at https://www.census.gov/history/pdf/mapsgenealogy.pdf.
		</p>
		<p class="body-text">
			Place name research is a fundamental step in attempting to locate a migrant’s homeland or
			subsequent settlement locations. Two online databases maintained by the US Board on Geographic
			Names provide comprehensive listings of places names in the United States (US Board on
			Geographic Names Domestic Names data base, (http://geonames.usgs.gov/domestic/index.html) and
			foreign countries (US Board on Geographic Names Foreign Names data base,
			http://geonames.usgs.gov/foreign/). Because of changing European boundaries during the
			nineteenth and twentieth centuries, researchers also need to consult contemporary atlases and
			gazetteers, or more specialized data bases, such as JewishGen Gazetteer
			(http://www.jewishgen.org/Communities/LocTown.asp), which provides references to Jewish
			settlements in eastern and central Europe, or GeoTWAIN 2.0 (http://geotwain.rigeo.net), a
			valuable place name resource that integrates several historic gazetteers and databases
			including a comprehensive data set of German toponyms in the American Midwest. Examples of
			eighteenth and nineteenth century general reference maps of selected countries that could be
			used in conjunction with these place names searches are illustrated on the Leventhal Map
			Center's virtual exhibition, Faces and Places Boston
			(http://maps.bpl.org/faces_and_places#tour). This exhibition, which focused on the homeland or
			source regions for immigrants living in Boston, illustrates eight European, Asian, and Latin
			American countries that contributed the largest number of immigrants to Boston, based on the
			2000 census.
		</p>
		<p class="body-text">
			Another crucial step in tracing the movement of migrants is locating large-scale maps that
			depict the localities where they settled. Good, succinct descriptions of such maps can be
			found in essays by Michael P. Conzen, “North American County Maps and Atlases;” Gerald Danzer,
			“City Maps and Plans;” Ronald E. Grim, “Maps of the Township and Range System;” and Robert
			Karrow and Ronald E. Grim, “Two Examples of Thematic Maps: Civil War and Fire Insurance Maps,”
			all published in From Sea Charts to Satellite Images: Interpreting North American History
			through Maps, edited by David Buisseret (Chicago, 1990). Listings of county landownership maps
			and atlases, which are useful for researching rural areas, can be found in Richard W.
			Stephenson, Land Ownership Maps: A Checklist of Nineteenth Century United States County Maps
			in the Library of Congress. (Washington, DC, 1967) and Clara Egli LeGear, United States
			Atlases: A List of National, State, County, City, and Regional Atlases in the Library of
			Congress and Co-operating Libraries (Washington, 1950-1953). While the later bibliography also
			lists atlases for many of the country’s largest cities, another key resource for researching
			urban settlements are fire insurance maps. These are described and listed in Fire Insurance
			Maps in the Library of Congress: Plans of North American Cities and Towns Produced by the
			Sanborn Map Company, Compiled by the Reference and Bibliography Section in the Geography and
			Map Division at the Library of Congress, with an Introduction by Walter W. Ristow (Washington,
			DC, 1981). This comprehensive collection of Sanborn fire insurance maps is in the process of
			being digitized and can be viewed online at http://www.loc.gov/rr/geogmap/sanborn/.
		</p>
	</aside>
	<footer>
		<h4 class="footer-header">Bibliography</h4>

		<p class="periphera">
			Allen, James Paul, and Eugene James Turner. 1988. We the People: An Atlas of American
			Ethnicity. New York: Macmillan.
		</p>
		<p class="periphera">
			Barnes, Earle. 1902. “Agnes Sinclair Holbrook.” In Studies in Education, A Series of Ten
			Numbers Devoted to Child-Study and the History of Education, 1896-97, 240. Stanford, CA:
			Stanford University.
		</p>
		<p class="periphera">
			Brown, Nina. 2001. Florence Kelley: Slums of the Great Cities Survey Maps, 1893. Retrieved
			from http://escholarship.org/uc/item/7pn4302p.
		</p>
		<p class="periphera">
			Conzen, Michael P. 1990. “North American County Maps and Atlases.” In From Sea Charts to
			Satellite Images: Interpreting North American History through Maps, edited by David Buiserret,
			186-211. Chicago: University of Chicago Press.
		</p>
		<p class="periphera">
			Dahlmann, Donald C. Presenting the Nation’s Cultural Geography. Retrieved from
			http://memory.loc.gov/ammem/gmdhtml/census2.html.
		</p>
		<p class="periphera">
			Danzer, Gerald. 1990. “City Maps and Plans.” In From Sea Charts to Satellite Images:
			Interpreting North American History through Maps, edited by David Buiserret, 165-169. Chicago:
			University of Chicago Press.
		</p>
		<p class="periphera">
			Fearon, David. 2002. Charles Booth: Mapping London Poverty, 1885-1903. Retrieved from
			http://escholarship.org/uc/item/3g26f143.
		</p>
		<p class="periphera">
			[Federal Writers Project]. ca. 1941. [Underground Railroad Map of the United States, ca.
			1838-1860]. Retrieved from http://hdl.loc.gov/loc.gmd/g3701e.ct001517 and
			http://hdl.loc.gov/loc.gmd/g3701e.ct004088.
		</p>
		<p class="periphera">
			Grim, Ronald E. 1987. “Mapping Kansas and Nebraska: The Role of the General Land Office.” In
			Mapping the North American Plains: Essays in the History of Cartography, edited by Frederick
			C. Luebke, Frances W. Kaye, and Gary E. Moulton, 127 -144. Norman: University of Oklahoma
			Press.
		</p>
		<p class="periphera">
			Grim, Ronald E. 1990. “Maps of the Township and Range System.” In From Sea Charts to Satellite
			Images: Interpreting North American History through Maps, edited by David Buiserret, 89-109.
			Chicago: University of Chicago Press.
		</p>
		<p class="periphera">
			Grim, Ronald E. 1994. “Kommentare zu den Exponaten der Ausstellung.” In Deutsche in Amerika,
			Die Einwanderung im Kartenbild: Kolloquiumsbeiträge und Texte zur Ausstellung, 51-107.
			Dresden: Sächsische Landesbibliothek and Technische Universität Dresden, Institut für
			Kartographie.
		</p>
		<p class="periphera">
			Grim, Ronald E. 2000. “Building Virginia: The Antebellum Years.” In Virginia in Maps: Four
			Centuries of Settlement, Growth, and Development, edited by Richard W. Stephenson and Marianne
			McKee, 109-187. Richmond: Library of Virginia.
		</p>
		<p class="periphera">
			Grim, Ronald E., and Debra Block. 2011. Torn in Two: 150th Anniversary of the Civil War.
			Boston: Norman B. Leventhal Map Center at the Boston Public Library, 2011.
		</p>
		<p class="periphera">
			Halpern, Joel M. and Richard W. Wilkie. 1991. "Ethnicity and Race." In Historical Atlas of
			Massachusetts, edited by Richard W. Wilkie and Jack Tager, 90-97. Amherst: University of
			Massachusetts Press.
		</p>
		<p class="periphera">
			Harzig, Christiane. 2004. “Germans.” In Encyclopedia of Chicago, edited by Janice L. Reiff,
			Ann Durkin Keating, and James Grossman. Chicago: University of Chicago Press.
		</p>
		<p class="periphera">
			Hergesheimer, Edwin. 1861. Map Showing the Distribution of the Slave Population of the
			Southern States of the United States Compiled from the Census of 1860. Washington, DC:
			Washington Henry S. Graham. Available online at http://maps.bpl.org/id/14001.
		</p>
		<p class="periphera">
			Jacobsen, James E. 2001. Guttenberg, Iowa: The “Limestone City” of Clayton County, Its
			Architecture and History, 1854-1951. Des Moines: History Pays! Historic Preservation
			Consulting Firm. Prepared as a National Register of Historic Places Multiple Property
			Documentation Form. Available online at
			http://www.cityofguttenberg.com/vertical/sites/%7B0E02710E-67AE-467D-88F3-79488A6A0CBF%7D/uploads/Limestone_City.pdf
		</p>
		<p class="periphera">
			Karrow, Robert, and Ronald E. Grim. 1990. “Two Examples of Thematic Maps: Civil War and Fire
			Insurance Maps.” In From Sea Charts to Satellite Images: Interpreting North American History
			through Maps, edited by David Buisseret, 213-237. Chicago: University of Chicago Press.
		</p>
		<p class="periphera">
			Larsgaard, Mary Lynette. 1993. Topographic Mapping of Africa, Antarctica, and Eurasia. Provo,
			UT: Western Association of Map Libraries, 1993.
		</p>
		<p class="periphera">
			LeGear, Clara Egli. 1953. United States Atlases: A List of National, State, County, City, and
			Regional Atlases in the Library of Congress and Co-operating Libraries. Washington, DC:
			Government Printing Office.
		</p>
		<p class="periphera">
			Lemon, James T. 1990. “Colonial America in the Eighteenth Century.” In North America: The
			Historical Geography of a Changing Continent, edited by Robert D. Mitchell and Paul A.Groves,
			121-146. Savage, MD: Rowman and Littlefield.
		</p>
		<p class="periphera">
			Library of Congress, Geography and Map Division. Fire Insurance Maps in the Library of
			Congress: Plans of North American Cities and Towns Produced by the Sanborn Map Company.
			Introduction by Walter W. Ristow. Washington, DC: Library of Congress, 1981.
		</p>
		<p class="periphera">
			McElfresh, Earl. 2005. Freedom’s Tracks: A Map of the Underground Railroad. Olean, NY:
			McElfresh Map Company. Available online at:
			http://www.mcelfreshmap.com/index.php?Freedom%20Tracks%3A%20A%20Map%20of%20the%20Underground%20Railroad
			),
		</p>
		<p class="periphera">
			Meinig, Donald W. 1986-1998. The Shaping of America: A Geographical Perspective on 500 Years
			of History. New Haven, CT: Yale University Press.
		</p>
		<p class="periphera">
			Mokotoff, Gary, and Sallyann Amdur Sack. 2002. Where Once We Walked: A Guide to the Jewish
			Communities Destroyed in the Holocaust. Bergenfield, NJ: Avotaynu.
		</p>
		<p class="periphera">
			Parkinson, John B. December 1921. "Memoirs of Early Wisconsin and the Gold Mines." Wisconsin
			Magazine of History 5.
		</p>
		<p class="periphera">
			Price, Realto E. 1916. History of Clayton County, Iowa, from the Earliest Historical Times to
			the Present. Chicago: Robert O. Law, 1916.
		</p>
		<p class="periphera">
			Schulten, Susan. 2011. “Mapping the Sectional Crisis: Cotton, Slavery, and the Strength of the
			Rebellion.” In Torn in Two: 150th Anniversary of the Civil War, edited by Ronald E. Grim and
			Debra Block. Boston: The Norman B. Leventhal Map Center at the Boston Public Library.
		</p>
		<p class="periphera">
			Stephenson, Richard W. 1967. Land Ownership Maps: A Checklist of Nineteenth Century United
			States County Maps in the Library of Congress. Washington, DC: Library of Congress.
		</p>
		<p class="periphera">
			U.S. Geological Survey. 1991. Maps Can Help You Trace Your Family Tree: How to Use Maps in
			Genealogy. Washington, DC: Government Printing Office, 1991. Available online at
			https://www.census.gov/history/pdf/mapsgenealogy.pd
		</p>
		<p class="periphera">
			U.S. Interior Department, National Park Service. 1998. Underground Railroad. Handbook 156.
			Washington, DC: U.S. Interior Department, National Park Service.
		</p>
		<p class="periphera">
			Ward, David. 1990. “Population Growth, Migration and Urbanization, 1860-1920.” In North
			America: The Historical Geography of a Changing Continent, edited by Robert D. Mitchell and
			Paul A. Groves, 299-320. Savage, MD: Rowman and Littlefield.
		</p>

		<small class="end-bib">View Bibliography</small>
	</footer>
	<footer>
		<h4 class="essay-gallery">Essay Gallery</h4>

		<p class="periphera">Underground Railroad Routes to Canada, 1898</p>
		<p class="periphera">German Immigration Guide to the US, 1846</p>
		<p class="periphera">Guide to the Northwestern States, in German, 1843</p>
		<p class="periphera">Map of the Route to California, 1849</p>
		<p class="periphera">Slave Populations in Southern States, 1863</p>
		<p class="periphera">Statistical Atlas of the United States, 1898</p>
		<p class="periphera">Nationalities of Chicago by City Block, 1895</p>
		<p class="periphera">Eastern Kansas and Indian Lands, 1856</p>
		<p class="periphera">Plat book of Clayton County, Iowa, 1886</p>

		<p class="body-text">Fire Insurance Atlas of Chicago, 1886</p>
	</footer>
</article>
