<h1 class="gallery-page-title">Globe Gore of Eastern North America, 1688</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">This map, with its Italian nomenclature, was the work of Vincenzo Coronelli (1650-1718), a Franciscan friar from Venice who first became famous for constructing two huge manuscript globes—one of the earth and one of the heavens—for the French King Louis XIV in Paris. Returning to Venice, Coronelli established in his convent a huge globe-manufacturing enterprise, in which he collected information, trained engravers and instructed workmen in the art of attaching the segments, or “gores,” so skillfully to the basic globes that it was hard to detect the seams.</p>
<p class="main-text-p">The present map is in fact a gore designed for a forty-two-inch globe, and includes the latest information about the cartography of North America. Hudson Bay and the Great Lakes are now known in general outline, and Coronelli has been able to include figures not only of latitude but also of longitude (see the figures across Hudson Bay). Colored lines mark the extent of the English settlement on the east coast, and of the Spaniards in the greatly expanded “Florida;” much of the rest of North America forms part of French “Canada.”</p>
<p class="main-text-p">Coronelli has done his best, using small images drawn from a variety of other publications, to show the activities of some of the indigenous inhabitants. Sometimes these are rather incongruous, like the person in the hammock (upper left) somewhere in the inhospitable northern fastness, or the New England-style palisaded villages down in what is now New Mexico (lower left). He has clearly been impressed by tales of alligators by the lower Mississippi River.</p>
<p class="main-text-p">The great weakness of this map is its westerly displacement, by about 300 miles, of the north-south course of the Mississippi River. The Jesuit map of the Great Lakes (see previous map) had given Lake Superior too long a westward extension, and the maps generated by Joliet in the later 1670s had compounded the problem by greatly exaggerating the length of the rivers, particularly the Illinois River, connecting the Mississippi River to the Great Lakes system. No wonder that working off an assumption like this, when La Salle tried to sail from the West Indies to the mouth of the Mississippi River, he ended up in an inhospitable region of Texas, where he perished in 1687. This was a good example of the way in which maps can mislead explorers.</p>
 
</div>
<h3 class="map-title">Globe Gore of Eastern North America, 1688</h3>
<cite>Coronelli, Vincenzo, "[Globe gore of eastern North America, from Hudson Bay to the Gulf of Mexico]" [Venice : s.n., 1688?]. Map2F G3300 1688 .C6</cite>