<h1 class="gallery-page-title">National Highways Proposed in Georgia, 1919</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">Founded in 1912, the National Highways Association was a political lobbying group whose main objective was to secure a federal system of paved roads throughout the United States. Unlike other advocates of the “good roads” movement, the NHA believed that a scattered system of state paved roads was less serviceable than a federally-funded and -directed system of highways. (Akerman 2006, 177) The NHA’s state maps therefore have two main, somewhat contradictory, purposes: To present state road systems as hopelessly complex and fragmented and to demonstrate at the same time how easily a federal system could be overlaid atop the existing state infrastructure to give order to the chaos.</p>
<p class="main-text-p">This political agenda is clear throughout the map, explicitly stated in the legends at the top and bottom and clearly a key part of the mapped features. Small dirt roads and old stage routes that possibly had not appeared on Georgia map since the Civil War now became visible again, even small dirt county roads. This map thus offers an incredible amount of visual detail on the roadways and travel routes of Georgia in the early twentieth century. The map also distinguishes between different types of paving surfaces, providing some sense of the actual experience of traveling through these state roads in the years before a federal highway system developed.</p>
 
</div>
<h3 class="map-title">National Highways Proposed in Georgia, 1919</h3>
<cite>National Highways Association, "National Highways Map of the State of Georgia" (Washington, D.C. : National Highways Association, c1919). RMcN AE 20.10</cite>