<h1 class="gallery-page-title">Southern Indian District of North America, 1775</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">The product of twelve years of labor, this enormous map is perhaps the most detailed in existence for southeastern North America in the 1700s. As part of his decade-long effort to define and delineate the Proclamation Line of 1763, British Indian superintendent John Stuart spent years engaged in the complex diplomacy of Indian land cessions. Based in Charleston and backed with royal authority, Stuart also had access to the survey records of South Carolina, Georgia, and Florida. Under Stuart’s direction, Georgia’s Surveyor General Joseph Purcell finally compiled all of the treaty information, boundary surveys, and colonial surveys into this enormous manuscript map.</p>
<p class="main-text-p">Purcell also had access to the printed maps of eastern colonies, combining it all into this thoroughly detailed map of the Southeast, stretching from the Mississippi River to the Atlantic Ocean and from the Ohio River to the Gulf of Mexico. Its most ambitious feature, however, is its attempt to plot the location of all major and minor villages of the Cherokee, Creek, Chickasaw, and Choctaw Indians, as well as their claimed hunting grounds. It is the only eighteenth-century map to attempt this and thus provides the clearest glimpse of Native geographies in the colonial era.</p>
 
</div>
<h3 class="map-title">Southern Indian District of North America, 1775</h3>
<cite>Purcell, Joseph, "A Map of the Southern Indian District of North America" (manuscript, [1775]). VAULT oversize Ayer MS map 228</cite>