<script>
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	import { TextArea, Tile } from 'carbon-components-svelte';
	$: src = '/content/' + $page.url.pathname.replace(/^\/|\/$/g, '') + '.txt';
	$: value = '';
	onMount(async () => {
		fetch(src)
			.then((r) => r.text())
			.then((txt) => (value = txt))
			.catch((error) => {
				console.log(error);
				return [];
			});
	});
</script>

<p>{$page.url.pathname}</p>

<div class="textbox">
	<Tile><pre>{value}</pre></Tile>
</div>

<slot />

<style>
	.textbox {
		margin-top: 22px;
		height: 100%;
	}
	:global(
			.text-content .bx--form-item,
			.text-content .bx--text-area__wrapper,
			.textbox .bx--form-item,
			.textbox .bx--text-area__wrapper,
			textarea
		) {
		height: 100% !important;
		min-height: 70vh !important;
	}
</style>
