<script>
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import { base } from '$app/paths';
	import { data, furtrea, centerTitle } from '$src/stores';
	import { Dropdown, Tile } from 'carbon-components-svelte';
	import toc from '$data/toc.json';
	import bibs from '$data/bibs.json';
	import NumberedList from './numberedlist.svelte';
	import Placeholder from './placeholder.svelte';
	const thisItem = toc
		.filter((c) => c[0][1] && c[0][1].indexOf($page.url.pathname) > -1)
		.filter((f) => f && f[1])
		.pop();
	$: items =
		thisItem[1] !== '/home-intro'
			? [
					{ id: 0, text: 'Take a closer look at maps from this essay', url: '#' },
					...thisItem[1]?.map((ugh, idx) => ({ id: idx + 1, text: ugh[0], url: ugh[1] }))
			  ]
			: [];
	$: $centerTitle = thisItem[0];
	$: fr = $furtrea.filter((fure) => fure[0] === thisItem[0][0]).pop();

	const biblist = bibs[thisItem[0][1].substr(1)];
	$: $data = thisItem;
	let selectedId = 0;
	function goToMapPage() {
		// console.log(items[selectedId].url);
		let slicey = items[selectedId].url.split('/').pop(0);
		goto(`${items[selectedId].url}`);
		// goto(`${base}/${items[selectedId].url}`);
	}
</script>

<Tile>
	<slot name="title" />
	<div class="flexxer">
		<slot name="author" />
		<Dropdown hideLabel bind:selectedId {items} on:select={() => goToMapPage()} />
	</div>
</Tile>

<Tile>
	<Placeholder />
</Tile>

<Tile>
	<slot name="body" />
</Tile>

<Tile>
	{#if fr}
		<aside>
			<h4>Further Reading</h4>
			{#each fr[1] as textline}
				<p class="aside-text">{textline}</p>
			{/each}
			{#if fr[2]}
				<NumberedList list={fr[2]} />
			{/if}
		</aside>
	{/if}
	<footer>
		<h4 class="footer-header">Bibliography</h4>
		<NumberedList list={biblist} />
		<a href="/bibliography" class="end-bib">View full bibliography</a>
	</footer>
	<footer>
		<h4 class="footer-header">Essay Gallery</h4>
		<ul class="essay-gallery">
			{#each thisItem[1] as map}
				<li><a href={map[1]}>{map[0]}</a></li>
			{/each}
		</ul>
	</footer>
</Tile>

<style lang="scss">
	.flexxer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	footer {
		margin-bottom: 32px;
	}
	footer .end-bib {
		text-align: right;
		padding-top: 16px !important;
		font-size: 14px;
	}
</style>
