<script lang="ts">
	import type { BiggerPictureInstance } from 'bigger-picture';
	import { AspectRatio, Tile } from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/load-bp';
	export let items = {};
	let item = items[0];
	let bp: BiggerPictureInstance;
	function openBiggerPicture(e: Event) {
		e.preventDefault();
		const target = e.currentTarget as HTMLAnchorElement;
		bp.open({
			items: target.parentElement!.children,
			el: target,
			intro: 'fadeup',
			scale: 0.85
		});
	}
	onMount(async () => {
		// use onMount to define variable so it runs only in the browser
		bp = await loadBp();
	});
</script>

<div class="map-wrpr">
	<Tile>
		<slot name="title" />
	</Tile>
	<div class="bp-box maxi-iframe">
		<AspectRatio ratio="16x9">
			<a
				on:click={openBiggerPicture}
				href={item.href}
				data-thumb={item.thumb}
				data-height={item.height}
				data-width={item.width}
				data-alt={item.alt}
				data-iframe={item.iframe}
			>
				<iframe class="mini-iframe" src={item.iframe} frameborder="0" />
			</a>
		</AspectRatio>
	</div>
	<Tile>
		<slot name="main-text" />
		<slot name="citation" />
	</Tile>
</div>

<style>
	.map-wrpr {
		position: relative;
		padding: 16px 64px;
	}
	.mini-iframe {
		width: 100%;
		height: 100%;
	}
	.maxi-iframe {
		position: relative;
		left: -10vw;
		right: -10vw;
		width: calc(100% + 20vw);
		top: 0;
		bottom: 0;
	}
</style>
