<script>
	export let list,
		body = false;
	import {
		StructuredList,
		StructuredListRow,
		StructuredListCell,
		Tile
	} from 'carbon-components-svelte';
</script>

<StructuredList>
	{#each list as b, idx}
		<StructuredListRow>
			<StructuredListCell>
				<div class="nist numbr {body ? 'body' : ''}">
					{idx + 1}
				</div>
			</StructuredListCell>
			<StructuredListCell>
				<div class="nist bib {body ? 'body' : ''}">
					{b}
				</div>
			</StructuredListCell>
		</StructuredListRow>
	{/each}
</StructuredList>

<style lang="scss">
	:global(.bx--structured-list) {
		margin-bottom: 0 !important;
		margin: 16px 0 0 0;
	}
	:global(.bx--structured-list-td) {
		padding: 8px !important;
	}
	.nist {
		&.bib {
			font-size: 16px;
			line-height: 26px;
			color: rgba(37, 37, 37, 1);
			&.body {
				font-size: 18px !important;
			}
		}
		&.numbr {
			font-size: 14px;
			&.body {
				font-size: 15px !important;
			}
		}
	}
	.numbr {
		flex-basis: 50px;
	}
	.bib {
		flex: 1;
	}
</style>
