<script>
	import { page } from '$app/stores';
	import {
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		Content,
		Grid,
		Row,
		Column
	} from 'carbon-components-svelte';
	$: path = $page.url.pathname.split('/').filter((f) => f);
	console.log(path);
	// let tooc = toc.map((t) => [t, t[1].sort((a, b) => (a > b ? 1 : -1))]);
	import toc from '$data/toc.json';
	// let stuffer = {};
	// let objj = toc.map((t) => {
	// 	let path = t[1].split('/').filter((t) => t);
	// 	if (path.length !== 2) {
	// 		console.log(path);
	// 	} else {
	// 		if (stuffer[path[0]]) {
	// 			stuffer[path[0]].push(path[1]);
	// 		} else stuffer[path[0]] = [path[1]];
	// 	}
	// });

	// let mkdirs = toc.map((t) => 'mkdir -p src/routes' + t[1]);
	// console.log(stuffer);
	let isSideNavOpen = true;
	function checker(asdf) {
		console.log(asdf.indexOf(path[1]) > -1);
		console.log(' typeofasdf', asdf);
		console.log('typeofpath[1]', path[1]);
		// console.log(asdf + '.indexOf(' + path[1] + ') > -1 = ', asdf.indexOf(path[1]));
	}
</script>

<!-- <pre>
    {JSON.stringify(tooc, null, 4)}
</pre> -->

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		{#each toc as link, idx}
			{#if idx > 0}
				<SideNavMenu
					text={link[0][0]}
					expanded={link[0][1].indexOf(path[0]) > -1}
					on:click={() => console.log(link[0][1])}
				>
					{#each link[1] as slink}
						<SideNavMenuItem
							text={slink[0]}
							href={slink[1]}
							isSelected={slink[1].indexOf(path[1]) > -1}
							on:click={() => checker(slink[1])}
						/>
					{/each}
				</SideNavMenu>
			{:else}
				<SideNavLink text="Home" href="/" />
			{/if}
		{/each}
	</SideNavItems>
</SideNav>

<style>
	:global(.bx--side-nav__navigation) {
		top: 75px !important;
	}
	:global(.bx--side-nav) {
		background-color: var(--colorLight);
	}
</style>
