<h1 class="gallery-page-title">German Immigration Guide to the US, 1846</h1>
<h2 class="parent-essay-title">Mapping Migration and Settlement</h2>
<div class="main-text">
<p class="main-text-p">As immigrants and travelers planned their journeys to the United States and from the port cities to interior destinations, they referenced a variety of promotional maps, such as the seventeen maps and plans included in Traugott Bromme’s Rathgeber für Auswanderungslustige, a guide for German emigrants published in Stuttgart in 1846.</p>
<p class="main-text-p">Most of the narrative and maps in this guide pertained to the United States. The maps included a general reference map of the eastern two-thirds of the United States locating the major cities and towns throughout the country. For more detailed reference, there were maps of individual states or pairs of neighboring states (New York, Pennsylvania and New Jersey, Ohio and Indiana, Illinois and Missouri, Michigan and Wisconsin, Virginia and Maryland, Kentucky and Tennessee, Georgia and Alabama, and Louisiana and Mississippi), providing geographical coverage of most of the states east of the Mississippi River. In addition there were maps of several major cities (Boston, New York, Philadelphia, Baltimore, and Washington, DC), which would most likely serve as ports of entry for many of the immigrants. There were also four maps providing coverage of the areas around St. Louis; the lead mining district of southwestern Wisconsin; Lexington, Kentucky; and Nashville, Tennessee. While German immigrants would probably find the first two locations attractive, it is somewhat surprising that the latter two were selected for his type of coverage, since Germans did not settle in large numbers in the southern states before the Civil War because of their opposition to slavery and the limited economic opportunities of a plantation economy.</p>
<p class="main-text-p">Since the guide addressed German emigration in general, there were also discussions of the geographical conditions in areas outside of the United States. In support of these discussions there were maps of Quebec, Montreal, South America, and Australia.</p>
<p class="main-text-p">Bromme, originally from Leipzig and Dresden, Germany, travelled extensively in the United States in the 1820s and early 1830s, just prior to the beginning of massive German immigration into the United States during the nineteenth century. He recorded his observations in numerous travel accounts published in the 1830s and travel guides issued in numerous editions in the 1840s and 1850s. One such example is Hand- und Reisebuch für Auswanderer nach den Vereinigten Staaten von Nord Amerika (Bayreuth, 1848), which was published in several editions starting in 1848. This particular publication included a map that emphasized the post roads, canals and railroads, which would be a useful resource for immigrants planning their journeys throughout the United States (Grim 1994, 59-61). Publications such as this, were typical of a multitude of travelogues and guidebooks that were published during the nineteenth century encouraging emigration from various European countries.</p>
 
</div>
<h3 class="map-title">German Immigration Guide to the US, 1846</h3>
<cite>Bromme, Traugott, "Karte der Vereinigten Staaten von Nord-America : Neu Braunschweigs, der beiden Canadas und Texas", in Rathgeber für Auswanderungslustige (Stuttgart : Hoffmann’sche Verlags-Buchhandlung, 1846), between p. 24-25. Graff 409</cite>
<h3 class="map-title">German Immigration Guide to the US, 1846</h3>
<cite>Bromme, Traugott, "Umgebung von St. Louis ; Blei District ; Umgebung von Lexington ; Umgebung von Nashville", in Rathgeber für Auswanderungslustige (Stuttgart : Hoffmann’sche Verlags-Buchhandlung, 1846), between p. 128-129. Graff 409</cite>