<h1 class="gallery-page-title">Plan for a Great Pier in the North River, 1836</h1>
<h2 class="parent-essay-title">Planning Transportation</h2>
<div class="main-text">
<p class="main-text-p">This impressive foldout map was affixed to the center of an 1836 report, issued by the Board of Aldermen in New York City, advocating construction of a Great Pier on the North River (an alternate name for the Hudson River, dating to the period of Dutch exploration in the seventeenth century). To educate the public about the need for this enormous structure, the Board commissioned this irregularly shaped map measuring about nine feet long and two feet wide. The map (which has the character of a drawing) shows the juxtaposition of entry points and area streets. Smaller illustrations accompanying the main map offer differing perspectives.</p>
<p class="main-text-p">The Board conceived the pier to support the city’s rapid population growth and the rising tide of industrialization that was contributing to a boom in steamship traffic at its wharves. The pier was envisioned for the south end of Manhattan, rather than the area known as Midtown that today is the borough’s transportation hub. Not only was this southerly site more convenient for oceangoing ships, it was directly across the river from the bustling wharves of Jersey City, NJ, from which massive tonnage was floated to Manhattan on a daily basis. New York City’s population at the time of about 300,000, as well as its expanding industries, relied heavily on such cross-river traffic.  Jersey City, which had become a railroad terminus in 1834, increased in importance after the opening of the Morris Canal to the rapidly industrializing Passaic River at Newark, NJ, in 1836, the year of this map’s creation.</p>
<p class="main-text-p">The Great Pier’s dimensions were staggering for a project of this era. Proposed berthing areas for ships extended from Battery Park on the south to 12th St. on the north, a distance of nearly three miles. The map itself extends further north to 42nd, and the project was envisioned “to extend, in time, from the South Battery, northerly to King’s Bridge,” a distance of nearly fourteen miles, “or at all events as far as the interests of the city shall require.” The fact that this government-sponsored undertaking was even contemplated was extraordinary, considering that many municipal governments at the time were content simply to enforce nuisanced regulations in order to maintain some control over private wharf developments. Estimated to cost $3.4 million—twenty times the annual revenue generated by existing wharves in the city—the Great Pier was not expected to pay for itself for many years.</p>
<p class="main-text-p">Construction would have required enormous amounts of raw materials. “The Pier will be constructed with stones, weighing from ¼ of a ton to 4 & 5 tons weight thrown until made level with low water mark,” the report noted. Platforms supported on wooden piles would allow “the flow and ebb tides [to] have free passage, thereby preventing any cause of subsidence or mud deposits. Draw bridges allow for boats to move into the interior portions of the Pier.”</p>
<p class="main-text-p">Had the Great Pier been built, the development of Manhattan Island likely would have followed a much different course. By the early 1840s, however, rail service into the middle of Manhattan changed the dynamics of regional transportation and doomed projects of this scope, which could not be justified on the basis of oceangoing traffic alone.</p>
 
</div>
<h3 class="map-title">Plan of the great pier for the North River</h3>
<cite>Ewen, Edward, "Plan & Location of the Great Pier for the North River : also, the Soundings of that River and Delineation Showing the Present State of the Shore from the Battery to 42nd Street" in New York (N.Y.). Board of Aldermen. Committee on Wharves, Report of the Committee on Wharves, Relative to the Erection of a Great Pier in the North River (New York : William B. Townsend, [1836]). H 67 .622 Maps no. 1</cite>
 
<h3 class="map-title">Map & profile: Hudson River pier in New York City</h3>
<cite>Strickland, William. "Map and elevation profile of a proposed pier along an unidentified section of the Hudson River waterfront in New York City" in New York (N.Y.). Board of Aldermen. Committee on Wharves. Report of the Committee on Wharves, relative to the erection of a great pier in the North River. New York : William B. Townsend, [1836].</cite>
<h3 class="map-title">East River waterfront plan, New York City, 1836</h3>
<cite>Ewen, Edward. "Map of the East River waterfront from Grand Street to Thirty-fourth Street in New York City" in New York (N.Y.). Board of Aldermen. Committee on Wharves. Report of the Committee on Wharves, relative to the erection of a great pier in the North River. New York : William B. Townsend, [1836].</cite>