<h1 class="gallery-page-title">Mapping the Travels of John and William Bartram, 1976</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">The Atlas of Early American History was the brainchild of Lester J. Cappon, former director of the Institute for Early American History and Culture in Williamsburg, Virginia. In the 1960s, Cappon formed the idea of trying to present the social, intellectual, and economic context of the American Revolution through the creation of original maps that would do more than simply chart colonial boundaries and principal towns. These maps would help scholars and the public at large visualize the movement of ideas across the landscape and help explain the origins of the American Revolution.</p>
<p class="main-text-p">Funded by the National Endowment for the Humanities and created through a decade-long partnership with the Newberry Library, the Atlas arrived in 1975, just in time for America’s bicentennial. Maps such as this one attempted to show the spread of the Scientific Revolution through the colonies. Impossible to actually chart the acceptance of scientific belief, Cappon and his co-editors relied on the travels of the naturalists John and William Bartram to represent the physical movement of ideas. The frustration of the map’s creators and Cappon’s need to justify the map in print indicate a certain lack of satisfaction with the final result, which matched neither the ambitions of the original project nor the amazing and creative maps that filled the rest of the Atlas.</p>
<p class="main-text-p">The Newberry houses the research materials related to the Atlas’s creation, a rich trove of correspondence and editorial decisions that allow scholars to investigate the process of developing such a volume.</p>
 
</div>
<h3 class="map-title">Mapping Travels of John and William Bartram, 1976</h3>
<cite>Cappon, Lester Jesse, "Travels of John and William Bartram, July 1765-April 1766 ; Travels of William Bartram, March 1773-January 1777", in Atlas of Early American History : the Revolutionary Era, 1760-1790 ([Princeton, N.J] : Published for the Newberry Library and the Institute of Early American History and Culture by Princeton University Press, 1976), page 33. Map Ref oversize G1201.S3 A8 1976b</cite>