<h1>State and Federal Mapping of Infrastructure and Movement</h1>
<p><em>by: </em><span class="author">(.+)</span></p>

<article>
	<section>
		<p class="body-text">
			From the 1790s forward, the United States Government’s role in mapping movement extended
			across several areas of life, including reconnaissance and exploration, internal improvements
			and infrastructure, national defense, and overseas expansion. Yet this wide-ranging activity
			was by no means coordinated or well-funded, particularly in the early decades of US history.
			Instead, the population largely avoided large public works, while state and federal
			commitments were weak and often driven by local interests. By extension, early governmental
			mapping of infrastructure and movement was usually the result of individual efforts and
			particular alignments rather than any larger vision. By the twentieth century this ad hoc
			approach had been replaced with one that was more regular, permanent, and systematic.
		</p>
		<p class="body-text">
			Each of the maps discussed here represents an instance when governing agencies responded to
			the need to protect citizens, advance national power, or foster commerce. They graphically
			illustrate techniques used to confront human and natural threats including unpredictable
			rivers, a vast and seemingly insurmountable West, and wartime enemies. They also suggest a
			close relationship between governing bureaucracies and private interests, such as railroad and
			canal companies. The maps are organized into two broad (though overlapping) categories below:
			Maps for reconnaissance and exploration, and maps for infrastructure and development.
		</p>
	</section>
	<section>
		<h2 class="section-header">Maps for National Reconnaissance and Exploration</h2>
		<p class="body-text">
			President Thomas Jefferson’s decision to seek a transcontinental passage had important
			consequences for geographic knowledge of the interior. Between 1803 and 1806, Meriwether Lewis
			and William Clark conducted an expedition from St. Louis to the mouth of the Columbia River
			and back, the first federally-sponsored scientific expedition of the territory west of the
			Mississippi River. Lewis and Clark may not have discovered a northwest passage to the Pacific
			Ocean but they utterly transformed contemporary knowledge of the flora, fauna, topography,
			Native life, and geography of the West, all of which was part of Jefferson’s original vision
			for the expedition.
		</p>
		<p class="body-text">
			William Clark’s “A Map of Lewis and Clark’s Track” (1811) outlines the extensive and complex
			mountain range and river systems that had been so poorly understood before the expedition.
			This is a reduced copy of the original map drawn by William Clark himself, in 1810-1811. Its
			purpose and origin remain somewhat mysterious, but it may have been designed to guide Samuel
			Lewis as he engraved the printed version of the map published in 1814. The map traces the
			entire drainage system of the Missouri, Columbia, Snake, and Clearwater Rivers. The map also
			reflects Lewis and Clark’s extensive exploration of the Rocky Mountains. In profiling the
			entire drainage basin of the Missouri River and topography of the Rocky Mountain Range, the
			map ended the persistent belief of a brief portage between the headwaters of the Columbia and
			Missouri Rivers. This hope was based in part on Jefferson’s own assumption that rivers
			remained large even close to their sources, while Clark’s map documents the opposite (Allen
			2002). Clark’s track map is somewhat less accurate in the southern reaches of the Rockies,
			which were well beyond the reach of the expedition. He used the best available knowledge of
			the time to render these areas, showing the headwaters of the Platte River very near to the
			Grande and Yellowstone Rivers. He also drew extensively from other sources when mapping the
			area beyond his expedition with Lewis, including the maps and explorations of Zebulon Pike,
			and Clark’s own experience as Superintendent of Indian Affairs in St. Louis (Cohen 2002,
			91-2). Much of this reconnaissance work depended upon maps that were compiled from Native
			American sources, though these contributions were rarely recognized or acknowledged.
		</p>
		<p class="body-text">
			The published map of the Lewis and Clark expedition remained authoritative until the 1840s,
			when the explorations of John C. Fremont, Charles Wilkes, and others improved geographical
			knowledge of the region. Before he led the Bear Flag Rebellion in California in 1846-7, and
			became the Republican Party’s first candidate for President in 1856, Fremont undertook several
			dramatic expeditions through the west in the early 1840s. In 1842, aided by an able though
			reluctant Prussian cartographer named Charles Preuss, Fremont left the Missouri River for a
			contested part of the Pacific Northwest that Americans called the Oregon Country, but which
			was known to British interests, who also claimed it, as the Columbia District of the Hudson's
			Bay Company. A second expedition departed in June 1843, this time joined by William Gilpin,
			who was so taken with the Interior West that he spent the next several decades celebrating its
			commercial potential. The overland migration to Oregon Country grew substantially that same
			year, as did the increasingly vocal support for the annexation of Texas. Perhaps encouraged by
			this culture of westward expansionism, Missouri Senator Thomas Hart Benton began to demand
			that the United States press Great Britain not just on the Oregon question but also a more
			favorable boundary with British Canada. The Republic, it seemed, was bursting westward.
		</p>
		<p class="body-text">
			By 1844, Democrat James Polk campaigned for the presidency on a platform to annex more land in
			the American northwest, while thousands continued to make the overland trek to Oregon country.
			This migration gave Fremont’s reports and Preuss’s maps special relevance, for they brought
			new precision to western geographical knowledge. Preuss’s detailed 1845 “Map of an Exploring
			Expedition to the Rocky Mountains,” for instance, was one of the first to be drawn entirely
			from firsthand knowledge of those on the expedition. The map also influenced Mormon history.
			As historian Richard Francaviglia notes, members of the Church of Jesus Christ of Latter-day
			Saints were desperate to find a religious homeland apart from American persecution. As such,
			when they ventured west out of Illinois, they were particularly drawn to the blank spots on
			Preuss’s map, far from Oregon and California. Ironically, while the Mormons were migrating out
			of the United States to the hopeful land they named Deseret, US settlers in Oregon Country
			began to petition Congress to extend federal jurisdiction into the Pacific Northwest, as
			President Tyler had just done in Texas.
		</p>
		<p class="body-text">
			All this attention to the West led the historian Bernard DeVoto to dub 1846 “the year of
			decision.” Fremont, Preuss, and Gilpin did much to fuel this attention. In January, Gilpin
			wrote a long letter to Missouri Senator David Atchison arguing that an overland mail route to
			the Pacific Northwest would launch a new era of American commerce in Asia by establishing the
			first US port on the Pacific coast. Atchison shared Gilpin’s letter, thereby stimulating
			interest in such a project. In response, the Senate began investigating a continental mail
			system, both overland but also through Panama and up the West Coast to Oregon Country. Later
			that year, Gilpin was asked to provide more information on the area based on his experience
			with Fremont’s second expedition. His report to the Senate circulated widely in the capitol
			and in newspapers across the country.
		</p>
		<p class="body-text">
			That same year, the Senate asked Fremont to create a map of the Oregon Trail, a wagon road
			that stretched west to Oregon Country from the Missouri River Valley. This map would show more
			detail than Fremont’s previous efforts and would focus on the overland migrant routes. Though
			Fremont was away on his third expedition at the time, Preuss earnestly took up the task of
			compiling the first large-scale map of the Oregon Trail. The result was an extraordinary
			seven-sheet map designed such that the angle of the road formed the axis of that particular
			sheet, each of which covered about 250 miles. Anyone who has struggled with a folding map
			while driving can appreciate Preuss’s sensible design (Wheat 1959, v.3, n.523, pp. 25-30;
			Karnes 1970, Ch.5; Cohen 2002). As Preuss was compiling his maps of the overland trail in
			April, the US entered into war with Mexico after a border skirmish in the newly annexed State
			of Texas. By June, the US signed a treaty with British authorities that established a northern
			border of its jurisdiction in the area, and by 1848 Congress had organized the Oregon
			Territory. Senator Atchison, who had publicized Gilpin’s proposed overland route to the
			Pacific Northwest, was so impressed by Preuss’s seven-sheet map that he requested 10,000
			copies for the Senate. This nicely captures the way that individual projects to map movement
			often grew out of particular relationships and patronage rather than from any larger
			comprehensive vision of development.
		</p>
		<p class="body-text">
			If Fremont and Preuss substantially expanded Federal knowledge of western geography in the
			1840s, they were aided greatly by the simultaneous coastal reconnaissance, chiefly the US
			Exploring Expedition. This was headed by Charles Wilkes, who had been instructed to survey the
			Oregon Territory and Columbia River as well as the coast of California and in particular the
			Bay of San Francisco. Wilkes arrived off the coast of Oregon in 1841 to conduct extensive
			surveys from the Strait of Juan de Fuca to Puget Sound and east across the Cascade Mountains
			to the Columbia River Valley. This four-year expedition yielded detailed knowledge of the
			complex coast and waterways of what would become California and Oregon, neither of which were
			US territory at the time.
		</p>
		<p class="body-text">
			Wilkes’s final report included nautical charts, topographic maps, and thematic maps. The most
			important of these was the “Mouth of the Columbia River, Oregon Territory” (drawn 1841,
			published 1844). The map was magnificently detailed, and issued just as the United States was
			beginning to engage Great Britain over control of the region. Moreover, the map of Oregon and
			the Columbia River also had implications for geographical knowledge elsewhere. Most
			importantly, Fremont had used the Columbia River survey to prepare his master map of 1845 of
			the Trans-Mississippi West. Reciprocally, Fremont’s expedition and map of 1843 had also
			influenced Wilkes’s “Map of the Oregon Territory,” the most comprehensive map of the Northwest
			to that point, and one that revealed a new picture of the northwest to Americans. Wilkes’s
			final report of the expedition made a strong case for the US expansion into the Pacific
			Northwest. He advised an immediate takeover of the Oregon Country to deflect British influence
			in the region, though in 1844 the attention of many in Washington DC was focused on Texas.
			Ongoing US emigration to the Northwest forced the issue, however, and by June 1846 the
			republic successfully established an Oregon Territory with a northern border at the 49th
			Parallel (Viola and Margolis 1985, 160, 170-171, 180, 223; Wheat 1858, v.2 n.457 and pp.
			177-179).
		</p>
		<p class="body-text">
			Although the maps of the Exploring Expedition were important when first issued, soon they were
			supplanted by more detailed surveys undertaken by the US Coast Survey (Stanton 1975), the most
			important federal scientific agencies prior to the Civil War. Under the direction of Alexander
			Dallas Bache, the Survey produced thousands of charts and maps of coastlines and rivers, and
			in the process raised the standard for accuracy in chartmaking. Throughout the 1850s, Bache
			lured exceptional talent to the Survey, including skilled German immigrants with valuable
			cartographic experience who had fled the failed revolutions of 1848. Yet even with this
			formidable strength, Bache faced reluctant support from Congress. Indeed the cartographic
			output of the Coast Survey in the 1850s says as much about Bache’s ability to procure funding
			as it does about any systematic federal commitment to surveying the nation’s coasts and
			waterways.
		</p>
		<p class="body-text">
			This calculus shifted substantially when the sectional crisis of the 1850s led to war after
			the election of President Abraham Lincoln in 1860. Coast Surveyors became invaluable to the
			Union war effort against the Confederacy. One example of this is the work of the Blockade
			Strategy Board, a secret Union effort in the summer of 1861 to mount a successful blockade of
			Confederate-controlled ports and trade. Bache brought tremendous knowledge of the southern
			coastline to the Board, which enabled it to produce a series of five volumes distributed in
			July and August. Each of these “memoirs” (as they were known) focused on a particular stretch
			of Confederate-controlled coast, from Virginia in the northeast to Texas in the far southwest.
			The reports included not just detailed geographic information, but also valuable data gleaned
			from prewar reconnaissance to aid naval blockade squadrons. During the war Union officers
			often cited the Coast Survey maps and charts as the most valuable cartographic intelligence
			available, both of coastlines and the interior. These efforts to facilitate movement during
			the war included maps designed for Commanding General George McClellan’s invasion of the
			Virginia Peninsula in 1862, or those of the Mississippi River designed for his successor,
			General John Pope, that same year.
		</p>
		<p class="body-text">
			While the federal government was using maps to defeat the rebellion in the American south, it
			was also creating maps to control Native people in the Trans-Mississippi West. Consider the
			map of the Great Plains made under the supervision of Grenville Dodge as he worked to
			establish the route of the transcontinental railroad. The map was made just as Dodge left his
			post as Commander of the Plains to become the Chief Engineer of the Union Pacific Railroad.
			His position in these two positions underscores the close relationship between the military
			and railroad development: indeed, the former made the latter possible. Dodge’s map was
			designed to both explore possible routes over the Rockies and—more urgently—to pacify local
			Indian populations. In this way his map reveals the ways that western exploration both
			advanced infrastructure and subjugated Native peoples. Moreover, it captures the fundamental
			conflict between American expansion and the integrity of Indian claims to lands in the
			American West.
		</p>
		<p class="body-text">
			The tenuous relationship between Native Americans, territorial settlers, and the federal
			government deteriorated further during the 1860s, prompting calls for reform of Indian policy.
			With the advent of the reservation system, Commissioner of Indian Affairs Nathaniel Taylor
			commissioned a map of the western territories that focused on the Native American life,
			compiled from existing public surveys as well as mining and railroad maps. W.J. Keeler’s
			“National Map of the Territory of the United States” (1868) became the government’s first
			attempt to map the locations of Indian reservations across the West, though it reflects the
			contemporary enthusiasm for mineral resources more than anything else. The “Indian troubles”
			became but a footnote in the larger story of the “hidden treasures” that awaited
			Anglo-American development and exploitation. Just a few years later, Census Superintendent
			Francis Amasa Walker, who also succeeded Taylor as Commissioner of Indian Affairs, issued his
			“Map of Indian Population in the Western United States” (1874), which identified
			newly-organized reservations and hunting grounds as well as the creeping encroachment of white
			settlement. In his map and accompanying report, reservations were rendered as both practical
			and peaceful alternatives to the Indian Wars of the time (Walker 1874).
		</p>
		<p class="body-text">
			This flurry of activity related to reconnaissance and exploration, however, does not add up to
			a systematic program sponsored by the state or federal government. That would change in the
			twentieth century, once federal sponsorship of surveying became more established and assumed
			(Edney 1986). Moreover, the imperative to protect a nation not just in the West but also
			abroad provided the impetus for a much more organized approach to mapping movement in the
			military. Particularly relevant here is the advent of aviation in the early twentieth century,
			which brought cartography into yet another dimension: That of aeronautical charts. The US Army
			had led the effort to chart military effort through its Signal Corps, which developed a system
			of signs and symbols that would facilitate air travel. Most of these charts, however, were
			published by the Rand McNally Company, the US Post Office, and the US Geological Survey. An
			especially unusual type of “air map” was introduced toward the end of the Second World War:
			Cloth charts designed to aid downed pilots in enemy territory, particularly in the Pacific
			theater. The Army Map Service began producing these on a large scale in the summer of 1943,
			and by February 1945 was issuing 250,000 per month. This example is from the Eastern Asia
			series, which were initially printed in early 1944, though may not have been issued to troops
			given that the surrender of Japan ended the need for an invasion. Most of the maps (printed on
			both sides of the cloth) included information relevant to escape and evasion, such as
			landmarks, language, the location of small villages and transportation networks (Doll 1988).
		</p>
	</section>
	<section>
		<h2 class="section-header">Maps for National Infrastructure and Internal Improvements</h2>
		<p class="body-text">
			The term “internal improvements” was initially used in the 1780s to indicate any effort to
			strengthen US prosperity and security, but soon thereafter the term came to mean canals,
			roads, schools, and other public projects. Significantly, as historian John Lauritz Larson
			writes, the concept became synonymous with public works to advance transportation, “because in
			the sprawling continental Union nothing threatened the mutual interests of the citizens and
			their states like geographical isolation” (Larson 2001, 3). The sheer territorial reach of the
			new republic made transportation networks particularly important. Yet like the history of
			reconnaissance and exploration discussed above, efforts to build infrastructure only gradually
			moved from sporadic and ad hoc projects to a more systematic commitment on the part of the
			federal and state governments. The maps reveal this trajectory.
		</p>
		<p class="body-text">
			The achievement of independence from Britain keenly brought home the need to address the
			nation’s infrastructure. Yet because few privately produced maps adequately covered the
			national transportation network, Congress directed the Postmaster General to survey and map
			the system of roads. Abraham Bradley, a clerk in the Post Office, responded by creating a
			comprehensive picture of infrastructure and movement through his national map of the nation’s
			post offices and roads. Such a map profiled not topography or borders—as most maps do—but
			rather a web of communication that networked the new nation. Bradley issued new editions of
			his map several times over the next two three decades (Caldwell and Buehler 2010, 7).
		</p>
		<p class="body-text">
			Bradley’s maps suggest attuned to the demands of infrastructure, yet Americans arguing for
			internal improvements generally faced an uphill battle. President Washington expressed
			enthusiasm for a more comprehensive system linking the waterways of the Ohio River with
			eastern rivers, yet grand visions such as these faced ongoing resistance from localism and
			regional agendas. Indeed it was this persistent parochialism that led Congress to ask Treasury
			Secretary Albert Gallatin to survey the new nation’s entire transportation system in 1807.
			Gallatin’s extensive research prioritized the improvement of communication and transportation
			along the coast as well as connecting the seaboard to the interior. More specifically, he
			stressed the importance of a road that would traverse the Appalachian Mountains and a canal
			that would connect the Atlantic Ocean to the Great Lakes. Finally, Gallatin believed that
			eastern geography could facilitate inland navigation, for the coastline was largely protected
			from storms as well as enemies. From Massachusetts to southern Georgia, he observed, the coast
			was interrupted by four necks of land; four canals could exploit this natural geography and
			vastly improve inland navigation (McLaughlin 1973,173).
		</p>
		<p class="body-text">
			Though not all of these recommendations were ultimately taken up by the federal government,
			the nation went through a boom in canal building in subsequent decades, and many of these
			closely followed Gallatin’s recommendations. In light of this, it makes sense that Carter
			Goodrich has called Gallatin’s report the “greatest planning document in American history”
			(Goodrich 1960, 3; Gallatin 1808, 725). Yet the ambitious nature of the plan also limited its
			implementation. The sums requested were enormous, and the plan required a level of
			coordination across states and regions that simply did not exist in the new republic.
		</p>
		<p class="body-text">
			Once the US again went to war with Great Britain in 1812, however, Gallatin’s emphasis on
			internal improvements in such a geographically extensive republic looked increasingly
			prescient. Though the war delayed action on his specific proposals, it immediately drew
			attention to the need for improved roads to move armies rapidly. Thus one of the first aspects
			of Gallatin’s report to receive material attention was a national road, ultimately completed
			in 1818. The next year, Secretary of War John C. Calhoun reaffirmed the need for a national
			system of roads and canals, which in turn prompted President James Monroe to appoint a Board
			of Engineers for Internal Improvements, which lasted only seven years but which was continued
			by the Topographical Bureau. The Bureau oversaw the survey and construction of basic
			transportation, and in turn spawned the Corps of Engineers and the Corps of Topographical
			Engineers, which profoundly influenced the planning and surveying of roads, canals, and
			railroads. Yet obstacles to a national plan of improvements continued, rooted in “local
			jealousies, rival jurisdictions, vested interests, straitened purses, and the preferences of
			local capital for less extravagant (and more immediately rewarding) projects” (Larson 2001,
			69).
		</p>
		<p class="body-text">
			A few of the proposals outlined in Gallatin’s report were eventually carried out at by states
			rather than the federal government. Near Louisville, Kentucky, navigation of the Ohio River
			was nearly impossible due to its rocky shoals. Limestone underlay the entire width of the
			river for a stretch of two miles, essentially forming a natural dam that left the river low
			and navigation hazardous if not impossible for much of the year. Settlers had noticed the
			problem as early as the 1770s, but only with the growth of river traffic at the turn of the
			century did the concept of a canal to bypass the shoals gain any traction. Several private
			companies—charted by the bordering state and territorial legislatures—studied possible
			improvements, but could not agree on the location for the project (Robinson 1983; Johnson
			1974).
		</p>
		<p class="body-text">
			In 1804, the citizens of Louisville organized a state-chartered company, the Ohio Canal
			Company, and hired a former officer of the Corps of Engineers named Jared Brooks to survey the
			falls and propose a canal for the Kentucky side of the river. Brooks produced a detailed
			survey that laid out the route that would be realized many years later. In December 1805, the
			Kentucky governor and legislature sent Brooks’s report and map to Congress, arguing that such
			a canal was in the national interest and merited federal support. Kentucky Senator Henry Clay
			authorized further study under Gallatin’s inventory of the nation’s transportation network in
			1807. Gallatin learned of the Louisville Canal proposal and asked for further information,
			which Brooks supplied in the form of a lengthy report as well as several maps. In response,
			Gallatin recommended that $300,000 be appropriated for the project, though no action was taken
			(Johnson 1974, 59, Gallatin 1808, 821-826).
		</p>
		<p class="body-text">
			The economic importance of steamboat navigation after the War of 1812 made navigational
			improvements to the falls imperative. A commission representing all the states of the Ohio
			Valley united behind a Kentucky canal based on Brooks’s earlier surveys and maps. In 1825 the
			Commonwealth of Kentucky chartered the Louisville and Portland Canal Company, which, with
			state and federal funds, constructed a canal that circumvented the falls. The canal was
			completed in 1830 and opened for navigation that December. Many hoped Congress would make this
			a national project, while others vehemently insisted that this was well beyond federal control
			and the authority of the US. Decades later, the federal government’s investment in the canal
			had increased to the point that it was almost entirely in control, and after the Civil War the
			canal was transferred to the US Army Corps of Engineers.
		</p>
		<p class="body-text">
			An even more impressive engineering feat was the construction of the Erie Canal. Gallatin had
			proposed two shorter canals rather than the single canal extending all the way from the Hudson
			River to Lake Erie. Many thought the idea of a 350-mile canal an impossibility, especially one
			built through wilderness, but the allure of capturing the trade of the upper Great Lakes and
			the American West beyond was undeniable. To pursue this goal the State of New York organized a
			Canal Commission in 1810, and attempted to enlist the help of the Federal government and
			neighboring states. When no cooperation was forthcoming, New Yorkers undertook the project
			themselves, led by Canal Commissioner (and eventual New York State Governor) DeWitt Clinton.
			Construction began on Independence Day, 1817, and the canal opened in late 1825, when Clinton
			famously poured a keg of water from Lake Erie into the Atlantic Ocean. Soon thereafter, the
			tonnage transported on the canal began to rival that of the entire Mississippi River system,
			stimulating eastern commerce as well as the growth of regions connected to the canal.
			(Goodrich, 1960, 53)
		</p>
		<p class="body-text">
			There was an equally intense period of canal building on the other side of the Great Lakes.
			For instance, in the 1810s Secretary Calhoun proposed a canal to connect Lake Michigan to the
			Illinois River (and thus to the Mississippi River and ultimately New Orleans), though
			construction did not begin until 1836. After several delays, the canal opened in 1848, and
			immediately began to siphon the Illinois River Valley agriculture away from its market in St.
			Louis to a new one in Chicago. The success of this canal brought more commerce from Lake
			Michigan through the Chicago River, but the situation of the Chicago Harbor remained an
			obstacle to growth: The River was notoriously difficult to navigate where it met the Lake,
			particularly given a persistent sandbar that returned despite repeated dredging attempts by
			the military (Holland 2005).
		</p>
		<p class="body-text">
			The Corps of Engineers sent James Duncan Graham to address the problem in 1854. Graham had
			been involved in settling boundary disputes on the nation’s northern and southern borders for
			several years before supervising harbor improvements in its northern lakes. He made detailed
			surveys of the harbor as part of a larger report to the Corps that included a map, one of the
			first achievements of the famed lithographer Julius Bien. The map details the complicated
			contours of the harbor and river, as well as the proposed improvements. Once the Civil War
			began, Chicago became an important supply center for the Union Army, which ensured ongoing
			maintenance of the harbor.
		</p>
		<p class="body-text">
			The essential role of the military in initiating the improvement of the Chicago Harbor
			underscores its more general role in advancing infrastructure. Nowhere is this more apparent
			than in the transcontinental railroad, which became a national goal when Congress authorized
			the survey of possible routes in March 1853 under the supervision of Secretary of War
			Jefferson Davis. These ambitious surveys generated remarkably detailed reports that served as
			topographic and scientific documents but also blueprints for western development. The large
			“Map of the Territory” (1857) made by Gouverneur Kemble Warren (later famed for leading the
			defense of Little Round Top during the Battle of Gettysburg) stands as one of the most
			impressive maps that emerged from these surveys, a synthesis of prior federal exploration and
			a master map of the West. The individual surveys were also notable, documenting the various
			features of the seen and unseen landscape. For instance, Isaac Stevens used the cutting-edge
			technique of using lines to map average temperature in his “Isothermal chart of the region
			north of the 36th Parallel” (1859). Here the continent was profiled not through the familiar
			lenses of topographic contours or political boundaries, but in terms of environmental
			dynamics, which in turn allowed for an assessment of the region's potential for settlement and
			development.
		</p>
		<p class="body-text">
			In the end, however, the path of the transcontinental railroad was determined not by the
			extensive efforts of the Pacific Railroad Surveys but the decision of eleven slaveholding
			states to secede from the Union. This ensured that any transcontinental route would be a
			northern one, yet the exact path remained to be determined. The process of settling on that
			precise route is at work in a manuscript map made under the direction of Union officer
			Grenville Mellen Dodge, military commander of the Missouri at the end of the Civil War. The
			leaders of the Union Pacific Railroad were keenly aware that they must address the threat of
			Indian attacks in order to construct the line itself. The several territories (as well as the
			state of Kansas) that were connected to the proposed route were all put under the direction of
			Dodge, whose task was to survey the geography and people of what was to both government and
			industry a relatively unknown region. The resulting “Map of the Military District” was
			completed in January 1866 and based on information gathered from scouting parties as well as
			military and railroad engineers.
		</p>
		<p class="body-text">
			During an 1865 campaign against Indians in Wyoming, Dodge claimed to have found a route over
			the Rocky Mountains, west of the Platte River through the future locations of Cheyenne and
			Laramie. In May 1866 he left the military entirely to become chief engineer for the Union
			Pacific, bringing his considerable surveying expertise with him. Thus the map ended up not
			only detailing the topography of a relatively unknown region, but also played a role in
			persuading the directors of the Union Pacific in the fall of 1866 to consider an alternate
			route through the Rockies. Though he exaggerated his role in constructing (as opposed to
			surveying) this route, it is indeed Dodge who appears at the center of the famous photograph
			of Promontory Point, Utah, where the Central and Union Pacific Railroads were joined and
			commemorated with a symbolic Golden Spike in 1869.
		</p>
		<p class="body-text">
			The growth of transcontinental rail networks in the late nineteenth century was both a cause
			and consequence of industrialization. Such explosive development drew US attention beyond the
			Great West to markets overseas, and reintroduced the prospect of an interoceanic canal in
			Central America. The idea of an interoceanic passage had been vigorously discussed in the
			United States and Europe throughout the nineteenth century. The success of the Suez Canal in
			1869 revived interest in a similar project in the Americas, and French interests capitalized
			on that momentum by authorizing Ferdinand De Lesseps to create another sea-level canal at
			Panama. But various challenges, both human and natural, foiled this second act, and by the
			1880s the French had given up. By the turn of the century, American expansion into the
			Pacific, with the acquisition of Hawaii and the Philippines, and into the Caribbean made clear
			that an isthmian passage could bring tremendous rewards.
		</p>
		<p class="body-text">
			Congress authorized the construction of an isthmian canal in 1902, and President Roosevelt
			gave broad latitude to a board made up of civilian and military engineers to consider the
			advantages of a sea-level canal (as in Suez) versus the lock-canals, which Americans had so
			frequently built in the 1820s and 1830s. After visiting the isthmus, the Board of Engineers
			produced a report supported by several maps and cross-sections that illustrated plans for a
			sea level canal as well as different heights of lock canals. The report considered both
			commercial and defensive priorities, as well as the cost and speed of construction.
			Ultimately, however, the commissioners deadlocked over which option to recommend. Both the
			Isthmian Canal Commission and the Board were divided, with the European engineers solidly
			supporting of the sea-level canal, and the Americans (as well as the chief engineer) squarely
			in favor of the lock-canal. President Roosevelt and his Secretary of War, William Taft, also
			backed the lock-canal, with a preference for a surface of eighty-five feet above sea level.
			After it opened in 1914, the canal allowed ships to travel between the North Atlantic and
			Pacific Oceans in half the time it had taken to go around the tip of South America.
		</p>
		<p class="body-text">
			If the Panama Canal illustrates how engineering can transform nature, there are equally
			dramatic examples of the limits of human power to subdue the same. Consider the Great
			Mississippi Flood of 1927, when heavy rains swelled the river beyond its banks and broke the
			existing levees that had been constructed to prevent just such a catastrophe. In the aftermath
			of the floods, the Army Corps of Engineers carried out flood control and bank stabilization
			through the work of the Mississippi River Commission. A young geologist working for the
			Louisiana Geological Survey, Harold Norman Fisk, persuaded the Commission to support his
			ambitious effort to map the geological history of the entire lower Mississippi River. Fisk was
			not just interested in improving movement on the river, he was attuned to the evolution of the
			river. Through creative fieldwork, archival research, and aeronautical photography, Fisk was
			able to reconstruct the deep history of the river over thousands of years. Through his massive
			report and dozens of maps, Fisk brought a new level of sophistication to mapping the river,
			and thereby opened up new ways for engineers to think about its behavior.
		</p>
		<p class="body-text" />
		<p class="body-text">Maps as Historical Clues</p>
		<p class="body-text">
			Even this brief consideration demonstrates the ongoing—if inconsistent—federal and state use
			of maps for exploration, reconnaissance, and the development of infrastructure. At no time in
			the nation’s history was government shy about using cartography to advance these interests,
			though certainly its ambitions often outpaced its resources and collective will. To examine
			even these ten examples is to see moments where particular interests aligned to enlist federal
			and state resources to advance their purposes. The twentieth century brought a much greater
			and more consistent investment of federal and state resources, and the output far more
			systematic. Consider also the many examples of mapping movement treated elsewhere in this
			online collection, such as the great geological surveys in the American West, particularly the
			efforts of the Bureau of Topographical Engineers and the Great Surveys; maps used to lure
			railroad companies and individual settlers into the West after the Civil War; Signal Corps
			maps of the expanding telegraph system both at home and abroad at the turn of the century; the
			development of highway maps by state and federal agencies to match the public’s boundless
			demand for automobile travel in the twentieth century; and planning maps to reckon with the
			resulting urban growth. Gallatin’s vision of a government dedicated to advancing the national
			interest and economic welfare would arrive, just much later than he expected.
		</p>

		<p class="periphera">$1</p>
	</section>
	<aside>
		<h2 class="section-header">Further Reading</h2>
		<p class="body-text">
			For more on the early development of internal improvements to the era of the railroads, see
			John Lauritz Larson, Internal Improvement. An excellent overview of mapping movement in
			general can be found in James Akerman, ed., Cartographies of Travel and Navigation. Westward
			expansion has been the subject of several excellent studies, including Bernard DeVoto’s The
			Year of Decision, William Goetzmann, Winning the West, Richard White, It’s Your Misfortune and
			None of My Own, and Bill Cronon, Nature’s Metropolis. On individual internal improvements, see
			David McCullough, The Path Between the Seas: the creation of the Panama Canal, 1870-1914, and
			Peter Bernstein, Wedding of the Waters: The Erie Canal and the Making of a Great Nation.
		</p>
		<p class="periphera">$1</p>
	</aside>
	<footer>
		<h4 class="footer-header">Bibliography</h4>

		<p class="periphera">
			Akerman, James, and Robert Karrow, eds. 2007. Maps: Finding Our Place in the World. Chicago:
			University of Chicago Press.
		</p>
		<p class="periphera">
			Akerman, James,, ed. 2006. Cartographies of Travel and Navigation. Chicago: University of
			Chicago Press.
		</p>
		<p class="periphera">
			Allen, David Yehling. 2011. “Mapping an Expanding Empire State, 1790-1830”. The Mapping of New
			York State: A Study in the History of Cartography. Retrieved from
			www.dyasites.com/maps/nysbook/Chapter9b.htm.
		</p>
		<p class="periphera">
			Allen, John Logan. 2002. "The Maps of the Lewis and Clark Expedition." In Mapping the West:
			America's Westward Movement, 1524–1890, edited by Paul E. Cohen, 74–96. New York: Rizzoli.
		</p>
		<p class="periphera">
			Bradley, Abraham. 1796. “Map of the United States.” Washington, DC: Library of Congress,
			Geography and Map Division.
		</p>
		<p class="periphera">
			Caldwell, Larry, and Michael Buehler. Spring 2010. “Picturing a Networked Nation: Abraham
			Bradley’s Landmark U.S. Postal Maps.” In The Portolan, 7-25.
		</p>
		<p class="periphera">
			Cohen, Paul E. 2002. Mapping the West: America’s Westward Movement, 1524-1890. New York:
			Rizzoli.
		</p>
		<p class="periphera">
			Conzen, Michael P., and Diane Dillon. 2007. Mapping Manifest Destiny: Chicago and the American
			West. Chicago: Newberry Library.
		</p>
		<p class="periphera">
			Cronon, Bill. 1991. Nature’s Metropolis: Chicago and the Great West. New York: Norton.
		</p>
		<p class="periphera">
			DeVoto, Bernard. 1942. The Year of Decision: 1846. New York: Little Brown.
		</p>
		<p class="periphera">
			Dodge, Grenville Mellen. 1910. How we built the Union Pacific Railway, and other railway
			papers and addresses, by Major-General Grenville M. Dodge, chief engineer, Union Pacific
			Railway, 1866-1870. Washington, DC: Government Printing Office.
		</p>
		<p class="periphera">
			Doll, John G. 1988. “Cloth Maps of World War II.” In Western Association of Map Libraries
			Information Bulletin, v. 20, n.1, 23-35.
		</p>
		<p class="periphera">
			Edney, Matthew. November 1986. “Politics, Science, and Government Mapping Policy in the United
			States, 1800-1925.” In American Cartographer, v. 13, n.4, 295-306.
		</p>
		<p class="periphera">
			Farnham, Wallace D. March 1965.“Grenville Dodge and the Union Pacific: A Study of Historical
			Legends.” In Journal of American History, v.51, n.4, 632-650.
		</p>
		<p class="periphera">
			Francaviglia, Richard. 2015. The Mapmakers of New Zion: A Cartographic History of Mormonism.
			Salt Lake City: University of Utah Press.
		</p>
		<p class="periphera">
			Gallatin, Albert. April 6, 1808. “Roads and Canals.” In American State Papers, Miscellaneous
			I, 724-921. Washington, DC: Library of Congress.
		</p>
		<p class="periphera">
			Goetzmann, William. 1966. Exploration and Empire: The Explorer and Scientist in the Winning of
			the American West. New York: A. Knopf.
		</p>
		<p class="periphera">
			Goodrich, Carter, ed. 1967. The Government and the Economy, 1783-1861. New York: Bobbs-Merrill
			Company, Inc.
		</p>
		<p class="periphera">
			Goodrich, Carter. 1960. Government Promotion of American Canals and Railroads, 1800-1890. New
			York: Columbia University Press.
		</p>
		<p class="periphera">
			Grossman, James R., et al, eds. 2004. Encyclopedia of Chicago. Chicago: University of Chicago
			Press.
		</p>
		<p class="periphera">
			Hirshson, Stanley. 1967. Grenville M. Dodge: Soldier, Politician, Railroad Pioneer.
			Bloomington: Indiana University Press.
		</p>
		<p class="periphera">
			John, Richard R. 1995. Spreading the News: the American Postal System from Franklin to Morse
			Cambridge, MA: Harvard University Press.
		</p>
		<p class="periphera">
			Johnson, Leland R., and Charles E. Parrish. 2007. Triumph at the Falls: the Louisville and
			Portland Canal. Louisville, KY: U.S. Army Corps of Engineers.
		</p>
		<p class="periphera">
			Johnson, Leland. 1974. The Falls City Engineers—A History of the Louisville District Corps of
			Engineers United States Army. Louisville, KY: Army Corps of Engineers.
		</p>
		<p class="periphera">
			Karnes, Thomas L. 1970. William Gilpin: Western Nationalist. Austin: University of Texas.
		</p>
		<p class="periphera">
			Krinitzsky, Ellis L. 1996. “The Contributions of H.N. Fisk to Engineering Geology in the Lower
			Mississippi Valley.” In Engineering Geology, v. 45, 45-58.
		</p>
		<p class="periphera">
			Larson, John Lauritz. 2001. Internal Improvement: National Public Works and the Promise of
			Popular Government in the Early United States. Chapel Hill: University of North Carolina
			Press.
		</p>
		<p class="periphera">
			LeBlanc, Rufus J. 1996. “Harold Norman Fisk as a consultant to the Mississippi River
			Commission, 1948-1964—an eye-witness account.” In Engineering Geology, v. 45, 15-36.
		</p>
		<p class="periphera">
			McCullough, David. The Path Between the Seas: the creation of the Panama Canal, 1870-1914,
		</p>
		<p class="body-text">
			Peter Bernstein, Wedding of the Waters: the Erie Canal and the making of a great nation.
		</p>

		<p class="periphera">
			McLaughlin, Patrick D. 1973. Transportation in Nineteenth-Century America: a survey of
			cartographic records in the National Archives of the United States. Washington, DC: National
			Archives and Records Service.
		</p>
		<p class="periphera">
			Mills, J. Saxon. 1913. The Panama Canal: A History and Description of the Enterprise. London:
			Thomas Nelson and Sons.
		</p>
		<p class="periphera">
			Robinson, Michael C. 1983. History of Navigation in the Ohio River Basin. US Army Engineer
			Water Resources Support Center.
		</p>
		<p class="periphera">
			Robinson, Michael C. 1996. “Harold N. Fisk: a luminescent man.” In Engineering Geology, v. 45,
			37-44.
		</p>
		<p class="periphera">
			Rumsey, David, and Edith M. Punt. 2004. Cartographica Extraordinaire: the historical map
			transformed. Redlands, CA: ESRI Press.
		</p>
		<p class="periphera">
			Russell, Richard J. April 1965. “Memorial to Harold Norman Fisk.” In Bulletin of the
			Geological Society of America, v.76, n.4, 53-58.
		</p>
		<p class="periphera">
			Stanton, William. 1975. The Great United States Exploring Expedition of 1838-1842. Berkeley,
			CA: University of California Press.
		</p>
		<p class="periphera">
			Stevens, Isaac. 1859. Isothermal chart of the region north of the 36th Parallel &c. &c.
			between the Atlantic & Pacific oceans, compiled under the direction of Isaac I. Stevens,
			Govnr. Of Washington, DC Territory. New York.
		</p>
		<p class="periphera">
			United States. 1945. Atlas of the World Battle Fronts in Semimonthly Phases to August 15,
			1945. Supplement to the Biennial Report of the Chief of Staff of the United States Army. July
			1, 1943, to June 30, 1945 to the Secretary of War. Washington, DC
		</p>
		<p class="periphera">
			United States. 1945. Notes on map identification, series, editions, and issues: general
			policies and standard practices governing the content and composition of series, editions, and
			issues of maps, identification notes, diagrams, marginal information, and the format of
			sheets. Washington, DC: War Dept., Army Map Service, corps of Engineers, US Army.
		</p>
		<p class="periphera">
			United States. February 19, 1906. Message from the President of the United States,
			transmitting the Report of the Board of consulting engineers and of the Isthmian Canal
			Commission on the Panama Canal, together with a letter written by Chief Engineer Stevens.
		</p>
		<p class="periphera">
			United States. July 10, 1868. General Dodge's report: letter from the Secretary of the
			Interior, transmitting, in answer to a resolution of the House of the 9th instant, a copy of
			General Dodge's report to the president of the Union Pacific Railroad Company for the year
			1867 : July 10, 1968, referred to the Committee on the Pacific Railroad and ordered to be
			printed.
		</p>
		<p class="periphera">
			United States. October 1, 1867. “Papers Accompanying the Report of General-In-Chief. Report of
			Lieutenant General Sherman.” In Report of The Secretary of War. Part I.”
		</p>
		<p class="periphera">
			Viola, Herman J., and Carolyn Margolis, eds. 1985. Magnificent Voyagers: The U.S. Exploring
			Expedition, 1838-1842. Washington, DC: Smithsonian Institution Press.
		</p>
		<p class="periphera">
			Walker, Francis Amasa. 1874. The Indian Question. Boston: James R. Osgood and Company.
		</p>
		<p class="periphera">
			Warren, G.K. 1857. “Map of the Territory of the United States from the Mississippi to the
			Pacific Ocean, ordered by the Hon. Jefferson Davis, Secretary of War”. Washington, DC: US War
			Department.
		</p>
		<p class="periphera">
			Wheat, Carl I. 1963. Mapping the Transmississippi West, 1540-1861. San Francisco: Institute of
			Historical Cartography.White, Richard. 1991. “It’s Your Misfortune and None of My Own”: A
			History of the American West. Norman, Ok.: University of Oklahoma Press.
		</p>
		<p class="periphera">
			White, Richard. 2011. Railroaded: The Transcontinentals and the Making of Modern America. New
			York: Norton.
		</p>
		<p class="periphera">WWII Escape Maps. 2008. Retrieved from www.escape-maps.</p>

		<small class="end-bib">View Bibliography</small>
	</footer>
	<footer>
		<h4 class="essay-gallery">Essay Gallery</h4>

		<p class="periphera">The Rapids of the Ohio, 1808</p>
		<p class="periphera">Lewis and Clark’s Track, 1803-1805</p>
		<p class="periphera">Proposed Canal, Lake Erie to Hudson River, 1821</p>
		<p class="periphera">U.S. Expeditionary Map of the Oregon Territory, 1841-1845</p>
		<p class="periphera">Fremont’s Exploration of the Oregon Trail, 1846</p>
		<p class="periphera">Corps of Engineers Map of Chicago Harbor, 1858</p>
		<p class="periphera">The Union Pacific Railroad under Construction, 1866</p>
		<p class="periphera">Proposed Panama Canal, 1905</p>
		<p class="periphera">Ancient Courses, Mississippi River Meander Belt</p>

		<p class="body-text">Airmen’s Silk Chart, Vladivostok and Keijō, 1944</p>
	</footer>
</article>
