<script>
	import Essay from '$lib/essay.svelte';
	import Placeholder from '$lib/placeholder.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>American Railroad Maps, 1873-2012</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> GERALD A. DANZER </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">
					Henry Varnum Poor’s Manual of the Railroads of the United States for 1874-75 (New York
					1874), then in its seventh edition and totaling 945 pages, had become the standard source
					of information on all railroads of the nation. Of the 110 pages devoted to advertisements,
					only one (22) was for maps. Nevertheless, Asher & Adams, publishers of maps of all kinds,
					atlases, and travel guides, used a full page to enumerate the various ways in which every
					railroad needed a map publisher: for company reports, to enhance advertising, to encourage
					land sales, for submission to state regulatory agencies, for internal uses in the office
					and in the field, as well as to aid travelers. The New York City firm stood ready to
					furnish maps “of any portion of the United States and Canada, in styles to suit.” The
					sheets were ready to use and could be customized by overprinting in gray or in color to
					eliminate “the cost and delay of engraving the map.” (Poor 1874-1875, 22). Meanwhile, in
					the Midwest, Rand, McNally and Company had vigorously entered the field of producing
					railroad maps, encouraging patrons to custom-design each map to show their particular line
					in the most advantageous fashion and to detract attention from their competitors. The
					upstart Chicago publisher quickly became the dominant producer of railroad maps, largely
					as a result of its use of the wax-engraving method of production which greatly reduced the
					time and costs involved.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Depression and Recovery</h2>
				<p class="body-text">
					Maps and railroads continued to march hand in hand far into the next century. But during
					the mid-1870ʼs the parade of economic progress had stalled in its tracks. The Panic of
					1873, precipitated by the collapse of Jay Cooke’s financial empire and centered on the
					Northern Pacific Railway, hit the nation with a violent suddenness and then led to a long
					depression lasting to the end of the decade. Henry Varnum Poor, gathering the statistics
					for the first year of the depression, 1874, had to acknowledge, in the initial sentence of
					his annual report, that “for the first time since the publication of this Manual...the
					railroad interests of the country have received a decided check.... A full exhibit of
					their decline is given in the annexed tables.” (Poor 1875-1876, xxvii) Actually, maps
					would have told the story even better. The number of new miles of track laid in 1874
					dropped by a factor of four from the high point in 1871.
				</p>
				<p class="body-text">
					Recovery would not come until 1879. “The past year has been an extraordinary one,” Railway
					Age declared in its final issue of that year (Dec. 25, 1879) because the total annual
					miles of track laid had once again resumed an upward course. “Annual miles of track laid”
					had become a prime measure of the nation’s economy, a factor that lent itself to
					cartographic presentation. But Henry Varnum Poor, conservative by nature, did not use maps
					in his Manual until 1887 when the American Bank Note Company supplied what amounted to a
					twenty-page railroad atlas of North America scattered through the volume. The New York
					engraving firm also did some large printing jobs and became the printer for Poor’s annual
					compendium. A table of contents for the atlas directed readers to the appropriate page for
					a clear, colored map arranged by states or provinces. The reverse side of these special
					atlas pages promoted the American Bank Note Company, connecting railroad maps with
					advertising. The atlas then became a regular part of Poor’s Manual.
				</p>
				<p class="body-text">
					Two years later, Engineering News, which had merged with the American Railway Journal in
					1888, provided an attractive fold-out map (No. 9) for Poor’s annual publication, showing
					the new railway construction in the United States in 1886, 1887, and the beginning of
					1889. The color-coded map served to advertise the weekly newspaper as well as its
					separately published Atlas of Railway Progress which provided the same information in
					greater detail, aided by a series of five larger-scaled regional maps. Like earlier
					versions of these useful maps, it featured, in bold red lines, the “track laid since
					January first of the previous year.” Each section of new track then had a number to refer
					to the name of the railroad on an accompanying list.
				</p>
				<p class="body-text">
					A similar map from Engineering News was inserted into the 1889 edition of Poor’s Manual,
					but it covered only the Southwestern region of the United States. Very interestingly,
					however, it showed not new construction, but how the fourteen major lines were divided
					into three groups based on ownership and financial control. The Gould System of railroads
					led the way. The following year, in Poor’s Manual for 1890, Engineering News once again
					presented a fold-out map of North America showing trackage laid in 1886, 1887, 1888, and
					1889, number 22 in its series of maps. This sheet, measuring over 13 x 20 inches also
					served as the general map for an updated Atlas of Railway Progress which, beginning with
					this edition, began to include system maps of individual lines to accompany the data for
					these companies, each map probably paid for by its respective railroad company. These
					system maps presented an opportunity to enhance the presentation of facts and figures in
					what had become the investors’ bible. The number of such system maps declined in the next
					edition, but the Rio Grande Western Railway raised the ante with a well-designed map on a
					two-page spread (Poor 1891, 902-903). Attractive maps had invaded the staid precincts of
					high finance.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Popular Maps</h2>
				<p class="body-text">
					Toward the opposite end of the economic spectrum railroad maps also figured in various
					expressions of popular culture such as handbills, song sheets, and almanacs. The interest
					generated by the completion of the transcontinental railroad in 1869 called for a variety
					of maps in newspapers, periodicals, and advertising circulars. Two of the most interesting
					examples involved an insurance company’s advertising handbill and a song sheet to
					entertain passengers on long-distance railroad travel.
				</p>
				<p class="body-text">
					The first map presents the route across the Great West as a herald of progress. It
					features the completed tracks as well as sketches for a more southern line envisioned by
					the Kansas Pacific Railway. The map appeared on the side of a flier, slightly larger than
					a dollar bill, presenting the actual and projected railroad routes from St. Louis to
					California, all enclosed in a fancy, financial-type frame. The verso with an identical
					border looked like a bank note with the St. Louis Mutual Life Insurance Co. promising to
					pay ten thousand dollars to “your wife and children” at your passing, “for a small annual
					premium.” Two labels appeared on the map: one, “From St. Louis to Denver, New Mexico and
					California” promoted the city; the other urging the bearer “to protect your dependent
					ones” obviously pointed to the insurance policy, but could also refer to the message
					conveyed by the map as well. The piece, lithographed by A. Gast & Company, came in
					multiple versions, one for each of the insurance firm’s state agents. The map perhaps was
					chosen to provide a boost of optimism for a somber topic. It was, however, a typical
					railroad map, with the cartographer giving the sponsoring city every advantage, pushing
					Chicago to the edge of the map, cutting off the rival’s rail links to the east and erasing
					those to the north, south, and west. The configuration of the railroads on this map
					suggests a date of 1870, several years before Rand McNally & Company published its first
					railroad map. Thus the distorting of railroad maps to gain advantage was a well-practiced
					art in the Midwest before the celebrated Chicago publisher, which perfected the art of
					favorable treatment, designed its first map.
				</p>
				<p class="body-text">
					Indeed, one of the Chicago firm's earliest maps, “Rand, McNally and Co.sʼ New Railway
					Guide Map of the United States and Canada,” originally prepared for the May, 1873 edition
					of the firm’s Railway Guide, was a model of thorough, accurate reporting. One early
					version also appeared on the reverse side of a song sheet which provided words to about
					three dozen songs along with a pitch for their Railway Guide “for sale on this train.”
					Beneath the words to the songs Charles Heck, a Chicago publisher and bookseller, also
					placed a notice that “this with songs, maps, etc.” would be included in “Heckʼs Prize
					Packages,” presumably a kit of things needed for a long train trip. The package included
					the large railroad map of the continent which had inset maps of the nation’s leading
					cities, the transcontinental route, and a “New Mining Map of Utah.” The song sheet
					occupied the verso of the large map and, in case one didn’t sing, also furnished household
					hints and recipes to peruse while passing the time. These features included directions for
					making goodies from blackberry wine to a wedding cake.
				</p>
				<p class="body-text">
					In short, the ubiquity of railroad maps in popular culture during the decades following
					the Golden Spike provides a noteworthy commentary on America as it entered the last
					decades of the nineteenth century. Maps of the railroad network, now reaching outward to
					fill a continental frame, undoubtedly reinforced a national view. Thus when Rand, McNally
					& Co. produced a “General Map of the Baltimore and Ohio Rail Road and Its Connections” in
					1876, it included an inset map to carry the tracks across the wide Missouri, west from
					Kansas City and Omaha to the Pacific Ocean. Three years later, when A.T. Sears and E.
					Webster produced their Railway Guide with Popular Routes for summer and Winter Tourists
					(Chicago, 1879) they pointed to another transcontinental route, this one oriented
					southward: “The Illinois Central is now the great link in the chain of communication
					between this country, Mexico, and South America.”
				</p>
				<p class="body-text">
					North America’s traditional Golden Gate transcontinental route also became the central
					focus of maps with a global message such as the Pacific Mail and Steam-Ship Company’s
					“Chart Showing the Route of the Company’s Australian Mail Service” (Sidney: W. E. Smith,
					1880) which traced her majesty’s mails by way of the “overland route to Great Britain” via
					Auckland, Honolulu, San Francisco, Ogden, Omaha, Chicago, and New York.
				</p>
				<p class="body-text">
					The classic visual image of an American railroad map’s transformation into a global
					document is “The World’s Railroad Scene,” a chromolithograph by Swain & Lewis printed
					about 1882. The map of North America, with the states and territories appearing in pastel
					colors, features only the sponsoring road, the Illinois Central. The oversize map is then
					projected on a globe from which a passenger train bursts through at the lower right corner
					of the sheet. The brilliant colors of the locomotive highlight its dominant central
					position in the composition. At the right a crowd gathers at a typical town’s depot.
					People of all ages wait to board the train, but others seem to just stand and marvel at
					the wonder coming to a halt right in their community. Insets show a stage coach and canal
					boat to remind viewers of an age passing away while a steamship, at dock on the left, is
					only half-way into the age of steam: Its three masts towering over the belching
					smokestack. The large headlamp mounted on the locomotive and the telegraph wires parallel
					to the rails remind us that in the modern world railroad routes had conquered time as well
					as space. The globe, as an earth portrait, seems the proper symbol for an American
					railroad and it hoists a bold I.C.R.R. beneath the North Pole.
				</p>
				<p class="body-text">
					No town is identified by a sign on the plain wooden depot, but the simplicity of its
					architecture is itself a symbol of American democracy. Everyplace, to amount to something,
					needed a railroad depot. The simple structure connected the locality to the tracks and
					thereby to many other communities up and down the line, eventually reaching the ocean and
					its global shipping traffic. One can be assured that a wall map of the “Illinois Central
					and Its Connections” hung in this depot; perhaps a world map might have been called for as
					well.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Railroad Maps and Development</h2>
				<p class="body-text">
					Railroads in the period 1870-1900 were the key to economic development. Without tracks,
					communities would not be connected to the modern world; without a train station they would
					be left out on the march to progress. To become a progressive town, to take a role in the
					American pageant, one needed a train in the Age of Steam. And maps opened the door. Take
					Tacoma in the Washington Territory, for example.
				</p>
				<p class="body-text">
					In 1888, following the completion of the Northern Pacific Railroad, with its western
					terminal at Tacoma, and in anticipation of the Oregon and California Railroad completing
					its link to the city in 1889, Allen C. Mason, a local booster, published a Compendium of
					Information Concerning the City of Tacoma. The pamphlet, introduced by a map of the
					region, was printed in Portland, Oregon, presumably because Tacoma had not yet grown
					enough to supply cartographic services. Oregon, enjoying the benefits of early rail links,
					grew in population much sooner than the Puget Sound communities. Now that the railroad had
					arrived, however, Washington soon multiplied its population fivefold and became a state in
					1889. The map in Mason’s pamphlet played up the new railroads, giving them the thickest
					lines on the map and highlighting the resources in the regions they crossed with bold
					type, all in caps. “Wheat, Gold, Timber, Iron, Coal,” and so on covered the Washington
					Territory, but diminished in Oregon and British Columbia. Although the railroads ended in
					Tacoma, sea lanes continued their lines, each identified by letters and a key: “to
					Alaska...route from China and Japan, route to Mexico and South America...to Victoria...to
					San Francisco.” “This city has the market of the world before it,” Mason declared (74) and
					its “foundation stone” was the Northern Pacific Railroad.
				</p>
				<p class="body-text">
					Pamphlets and boosters can be found for almost every town in the nation and maps like
					Mason’s, pointing to resources and celebrating the railroad, usually accompany them. Many
					times railroads themselves were the promoters, seeking financing, selling farms or
					developing towns on their own land, and encouraging the development of resources along
					their lines in the hope of expanding traffic. The whole idea behind land grants to finance
					the construction of railroads naturally pushed these companies into real estate promotion
					following the model developed by the Illinois Central Railroad in the 1850s. In the last
					decade of the century this line repeated its earlier program by acquiring a half million
					acres in the Mississippi Delta and encouraging the transformation of wetland forests into
					cotton fields. Not to be outdone, the Louisville and Nashville Railroad promoted its land
					holdings in neighboring Alabama by sending an exhibit train to tour the Middle West in
					1888. It reported that a million visitors came to see these exhibit cars and took home
					some 30 million leaflets, many of them featuring maps.
				</p>
				<p class="body-text">
					Local communities also turned to maps to help their residents envision what the coming of
					a railroad could do for them. In Wisconsin, when Grant County promoters realized that
					their area was underserved by railroads they conceived of a railroad which would make a
					circle connecting the major towns in the county with a link crossing the next county to
					reach a major railroad in Illinois just to the south. To show the route they simply
					overprinted a sectional map of the county (undated) with a red line that looks like a red
					balloon and labeled it the “Chicago Short Line.” The proposal did not get off the ground,
					but most of the towns eventually found other ways to “get connected” by rail.
				</p>
				<p class="body-text">
					Although the building of new railroads and the opening of new areas to settlement were
					usually cast in positive terms and their maps pointed to progress, many people and places,
					especially in the older states and more settled areas raised questions of costs and
					benefits. The classic cartographic expression of this perspective is a “Map of the United
					States Exhibiting the Grants of Land Made to...Railroads” published by the Justice
					Publishing Company of New York under the banner headline: “Map Showing How the People’s
					Land has been Squandered upon Corporations.” The impression left by the map was that all
					of the land in the shaded areas was given away, but the broad swaths included the
					alternate sections of land retained by the government (“the People’s Land”) and the extra
					bands, called indemnity tracts, which would be available to the railroads only if their
					sections were already taken up by settlers. The map appeared in a pamphlet, The History of
					Our Public Lands, issued by the Justice Publishing Company of New York City 1882. This
					tract advocated reclaiming the lands set aside for the railroads but which had not yet
					been taken up by them. Championing “the workers of the country,” the pamphlet wanted
					prospective settlers to obtain these lands for $1.25 per acre under the Homestead Act.
					Fraud, of course existed on lands granted to homesteaders as well as to railroads and the
					outcry against “the give-away program” had peaked several years earlier, about 1871, when
					20 million acres were set aside for railroad land grants. Indeed, Congress granted almost
					no land to encourage railroad construction after that date. At the same time the early
					Granger laws also started government regulation of the railroads. This was over a decade
					before the Justice Publishing Company’s map appeared. Although the “People’s Land
					Squandered” map seems to have had only a modest impact at its time, it was given a long
					and influential career when the Democratic Party had Rand, McNally and Company develop a
					similar map for the Presidential Election of 1884. Titled “How the Public Domain has been
					Squandered,” this broadside also included an excerpt from the party’s platform: “We
					believe that the public lands ought, as far as possible, be kept as homesteads, for actual
					settlers, [and] that all unearned lands heretofore improvidently granted to railroad
					corporations by action of the Republican party should be restored.” (Public Lands 1885) In
					the twentieth century either the 1882 or the 1884 version of this “propaganda” map has
					often appeared in history textbooks, making it probably the nation’s most well-known
					railroad map, and, we might add, the least understood.
				</p>
				<p class="body-text">
					Even in 1882, when the seminal propaganda piece was apparently first published, it was not
					new, but reproduced of an 1878 map issued in a report on the arid lands in the Western US
					by John Wesley Powell. (Hayes 2007, 197) This is not to say that the federal land grants
					to railroads were beyond criticism. Especially in the case of the transcontinentals, in
					Canada as well as in the United States, the tracks across the Western reaches of the
					continent were probably built before they were really needed. Little consideration was
					given to true costs, economic to be sure, but also environmental, and human, especially in
					the neglect of Indian and workers’ rights and livelihoods. As it was, deception, waste,
					fraud, and misuse of resources were all too common in the story of American railroad
					expansion, all factors that are difficult to portray on maps. Cartography, it seems, has a
					built-in bias toward optimism. Nowhere is this characteristic shown with more force than
					in the railroad maps of the late nineteenth century.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Governmental Maps</h2>
				<p class="body-text">
					This observation seems to be true even in the maps produced by the state and federal
					regulatory agencies set up to coordinate, oversee, and regulate America’s railroads.
					Beginning even before the Granger legislation in the Midwest during the early 1870s, many
					states had sponsored internal improvement programs that included railroads. These led to
					various types of public agencies on the state level. The Granger laws, however, created
					official commissions charged with gathering information, enforcing laws, discussing
					problems, encouraging solutions, and even projecting future transportation needs. As state
					governmental agencies, these railroad commissions conceived the trackage within their
					jurisdiction as a state-wide system. Mapping its territory, as state governments were apt
					to do, led to a splendid series of railroad maps for almost all states, beginning in the
					1870s or 1880s. Issued as state publications and often appended to annual reports, these
					maps were mostly produced by commercial map publishers under governmental contracts. As
					up-to-date general state maps they served as educational materials and supported state
					programs encouraging economic development, immigration, law enforcement, and a variety of
					other functions. (See Selection 5)
				</p>
				<p class="body-text">
					When the Interstate Commerce Commission was established by the federal government in 1887
					it was given broad but vague powers combining executive, legislative, and judicial
					functions. The goal was to establish a panel of experts who would be beyond politics to
					oversee the nation’s railroads. But the agency developed along a legalistic, case-by-case
					basis, acting largely in response to public complaints. Producing maps was not seen as
					part of its mission as was the case with most of the various state railroad commissions.
					It was not until the twentieth century that the Commission embarked on a systematic
					mapping program in its attempt to value the capital investment of each railroad as a basis
					for determining fair shipping rates. (see Selection 6) Mapping railroads on the federal
					level was left to the topographic and thematic maps produced by the Department of the
					Interior and the Bureau of the Census.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Standardization</h2>
				<p class="body-text">
					After the Civil War, in an attempt to get the collection of individual railroads to
					function as a system, special private agents worked with the various lines to facilitate
					individual shipments of goods and materials. The success of these firms, like the Blue
					Line Fast Freight Co., which owned its own rolling stock, led to freight being “forwarded
					between the Atlantic and the Pacific without change of cars.” By the late 1870s the
					service was being utilized by ordinary people for everyday transactions. A waybill dated
					March 6, 1878, for example, notes that L. C. M. Barnum of West Deerfield, Massachusetts
					sent via a Blue Line boxcar, “one sewing machine, second hand” to M. Colestes in Chicago.
					The boxcar travelled over the tracks of three or four different companies to reach its
					destination. And, if needed, the sewing machine could have continued on to Nebraska or
					California. The document specified a first class rate of 160 cents per 100 pounds and
					carried its share of fine print, but it shows how creative people found ways to make a
					disjointed system work. Did Mr. or Ms. Barnum consult a railroad map before deciding to
					ship the sewing machine? Probably not, because a Blue Line agent could do it for them,
					probably using one of the “shippers’ guides” published for their use. The Rand McNally
					Business Atlas soon dominated this field. (See Selection 4) Soon a standard gauge,
					standard time, union stations, uniform operating rules, transfer agreements, and a host of
					mechanical improvements would ease the flow of traffic. Each step along the way added
					value to the nation’s transportation system. In the process, the railroad maps, which
					pictured a uniform, smoothly functioning transportation network, became more aligned with
					reality.
				</p>
				<p class="body-text">
					The push toward the standardization of railroads in the United States was largely the
					result of private-sector efforts. The standardization of time, which came first, started
					as individual companies extended the time used in a major city to the surrounding area.
					Timetables simplified the matter, especially if all stops used the same time. When the
					telegraph and other devices started to control the movement of trains, a standard time and
					accurate railroad watches became absolutely necessary. Switching time between zones became
					cumbersome if not done on an hourly basis. In 1883, a convention of railroad officials
					meeting in a Chicago hotel agreed to divide the continent into a series of hourly time
					zones. Henceforth railroad maps needed to mark each of these time zones and include an
					explanation of this new cartography.
				</p>
				<p class="body-text">
					A standard gauge measuring the distance between the two rails came next, signaled by the
					massive switch of the 5' broad-gauge tracks in the South to the increasingly standard 4"
					8½" English gauge in 1886. Except for the use of narrow gauge trackage in special areas
					such as mountains, the standard width gradually was adopted by all companies in the
					decades following the completion of the transcontinental railroad, which followed this
					width by Congressional mandate. The emphasis on “through trains,” the rise of shipping
					agencies, the sharing of cars, the lengthening of lines, and the development of systems
					had encouraged a standard width. In the 1870s, the Blue Line, the shipping agency which
					carried the Barnum sewing machine, advertised its “great central route” which used
					agreements with five railroads to forward freight from New York to California. The
					dimensions of railroad cars, clearances for bridges and tunnels, and similar standards
					were also worked out privately as practical matters.
				</p>
				<p class="body-text">
					The third step in standardization was both a cause and product of the gradual emergence of
					a national railroad network. This involved the agreement by various companies to abide by
					uniform operating rules. While technology was making railroad travel safer and more
					comfortable with improvements in braking trains, heating cars, and providing locomotive
					power. Uniform operating rules concerning such details as telegraphic abbreviations and
					uniform systems for using signal lights were needed as cars and even entire trains were
					shuttled from the operations of one line to another. Again a product of private agreement
					between the various railroad companies, these rules were approved in 1889.
				</p>
				<p class="body-text">
					For example, in 1872 P.T. Barnum wanted to introduce the efficiency of scale into his
					circus. This meant staging shows at the larger towns on a circuit and bypassing
					presentations in the smaller, unprofitable villages. If the circus wagons could zip
					through these places on railroad cars they could avoid the pressures to put on a
					performance every ten miles or so, the distance the wagons could travel in one day.
					Loading the first train, however, in Terre Haute, Indiana, took twelve hours because the
					flatcars used had different heights and some of their braking systems prevented “bridging”
					wagons from one car to the next. A special train solved the problem. It had thirty cars
					with uniform dimensions and special connecting platforms so that the wagons could be
					pushed up a ramp at the end of the train and moved to flat cars down the line. As similar
					accommodations were made in equipment, procedures, and right-of-way rules, the flow of
					traffic became more efficient and effective, making the network of tracks indicated on the
					maps actually function as a system.
				</p>
				<p class="body-text">
					Indeed special urban “system maps” for important railroad centers like Chicago became
					signs of progress in their own right, featuring shared trackage, union depots, transfer
					railroads, by-pass routes, and belt lines. Standardization, system building, and ideas of
					progress went hand-in-hand.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Finance Capitalism and the World the Railroads Made</h2>
				<p class="body-text">
					All three were, in the ideology of capitalism, encouraged by the corporate form of
					organization, mergers, and the development of trusts. As titans of finance put together
					business empires abuses of power, the quest for huge profits, and ruthless behavior
					muddied the actual story. These aspects of finance capitalism were very difficult to
					portray on maps. As we have seen, propaganda sheets could label the land grants as
					“give-aways” and Engineering News could use various colors to distinguish between the
					various “empires” of the financiers, but, in general, railroad maps stood with the status
					quo and pointed to progress. It took an informed eye to see through the map to witness
					battles for corporate control, the diversion of public resources into private gain, the
					exploitation of patrons and workers, the neglect of environmental concerns, or the
					opportunity costs involved in any railroad development.
				</p>
				<p class="body-text">
					But, as the nineteenth century drew to a close, critics, promoters, and commentators from
					every perspective acknowledged that railroads had revolutionized the way people lived and
					moved and had their being. As Nicholas Faith observed, “They made a greater and more
					immediate impact than any other mechanical or industrial invention before or since.”
					(Faith 1990, 1) Joseph Nimmo, Jr., an astute observer, pointed out in 1889 that in a
					single lifetime the construction of the American railroads had created “an amount of
					wealth more than a hundred fold the entire cost or present value” of the system. Moreover,
					he pointed out, “the value of the goods annually transported by rail” was estimated to be
					twenty times the cost of constructing the system. (Nimmo 1889, 3). Meanwhile, Edward
					Atkinson, an apologist for the industry, pointed to society’s dependence on the rails for
					the basic necessities of life. Without railroads, starvation would face thousands of
					Americans. (Atkinson 1885, 292) That very fact of life imbued the railroads with great
					power.
				</p>

				<p class="body-text">
					“The few men who control the great railway lines,” William Mason Grosvenor pointed out in
					the previous decade, have it in their power to strip away the wealth of the nation. “A
					change of one twentieth of a mill per one hundred pounds, in the charge of transportation
					per mile, may take hundreds of millions [of dollars] from the actual value of farms.”
					(Grosvenor 1873, 193) Thus, more than anything else, the public interest rested on the
					railroads. Any map reader, toward the end of the nineteenth century, knew that railroads
					were the key to understanding the interaction between people and the environment in any
					area of the nation. Indeed the lines tracing the tracks on a map almost had enough power
					to erase political boundaries. In 1884, Nimmo, then an official in the Bureau of
					Statistics, noted in his Annual Report on the Internal Commerce of the United States that
					“under our laws, treaty stipulations, and usages, the principal railroads of Canada are
					practically constituent members of the railroad system of the United States.” (Nimmo 1884,
					5) (See Selections 2, 3 and 9)
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Interurban Railroads</h2>
				<p class="body-text">
					At the very time that the Barnum family used the Blue Line to send their used sewing
					machine from Massachusetts to Illinois, fellow citizens of the Bay State were trying to
					get a railroad to come to their town. Years of effort produced nothing. “Although
					surrounded with railroads...a short distance [away, Shrewsbury]...had not one inch of
					railroad within its borders.” The five and a half miles to the nearest railroad proved to
					be too hilly for a steam engine. Even an old-fashioned horse railroad would need several
					teams to reach “the ample Worchester market at their doors.” In 1890, however, a local
					committee reported that the town had “not waited in vain” because electricity had come to
					the rescue. “The electric cars are propelled up hill and down with the greatest speed and
					facility, at small cost, and under perfect control.” The Town of Shrewsbury by the
					Railroad Committee, 1890, 15, 17). Soon electric railway systems would be springing up
					across the country, using over-head wires and a trolley to power a new type of railroad.
					These lines were soon called “interurbans,” or “between cities” railroads.
				</p>
				<p class="body-text">
					In 1890 the electrification of street railroads in cities and large towns had become the
					standard format for a modern metropolitan transit system. Several hundred electric
					streetcar networks were then operating cities in the United States. The next year the two
					urban systems in Minneapolis and St. Paul were connected to each other to form a larger
					interurban system. Why not keep the trolleys expanding beyond the suburbs and outward to
					the next town? In 1893 the extension of the Portland, Oregon trolley to Oregon City,
					fifteen miles away, proved to be a great success. By 1900 1,500 miles of interurban tracks
					reached out from cities and towns throughout the nation. In 1918, when the interurbans
					reached their greatest extent, over 15,000 miles of track were in service, traversed by
					over 10,000 trolley cars. Then the First World War curtailed the expansion and the focus
					in transportation policy shifted to the highways. Indeed, automobiles, trucks, and buses
					took command with such speed that interurban trains were soon neglected, bankrupt, and
					forgotten, except for the maps and memories they left behind.
				</p>
				<p class="body-text">
					Any metropolitan map in America produced between 1900 and 1930 that omitted the city’s
					interurban connections had serious shortcomings. In some states, especially in the
					Midwest, the interurban network developed into state-wide systems. Among the largest of
					these, the Illinois Traction System, sent its 550 miles of tracks into every part of the
					state, but failed to develop effective connections with Chicago’s interurban network.
					Indiana residents were better served in reaching the Windy City, and the Chicago, South
					Shore, and South Bend remains today as the last interurban railroad.
				</p>
				<p class="body-text">
					The Atlas of Traffic Maps issued in 1925 included a map of the interurban lines belonging
					to the Central Electric Traffic Association based in Indianapolis. (See Selection 8) Note
					the extensive area covered by these lines and that the map showed freight routes rather
					than passenger service. Similar maps were available for passenger travel, but these were
					often designed on a state format such as the Indiana Traction System map of 1936 issued by
					the Indiana Railroad System, a private corporation.
				</p>
				<p class="body-text">
					Cartographically, the interurban routes often did not mix with the steam railroads.
					Usually the interurban maps included the heavy rail lines only when it was to their
					advantage to show connecting routes and often the difference in locomotion was not
					indicated. In other examples the interurban maps omitted the steam lines altogether. Even
					general reference maps seem to have regarded the interurbans as a separate system, local
					in interest, perhaps ephemeral in nature, and not worthy of systematic inclusion. The
					timetables issued by the electric railroads, which often included maps, were similar to
					those published by the traditional railroads, but usually simpler in design and less
					expensive to produce. The interurbans relied more heavily on regular commuters from the
					suburbs or periodic trips from small towns to larger centers for shopping or visiting
					purposes. The schedule in these cases was much more important than a map of the route.
				</p>
				<p class="body-text">
					Some interurban maps and atlases, however, did promote day trips to local places of
					amusement and recreation. Newspapers like the Brooklyn Eagle issued an annual atlas
					promoting longer vacations via inexpensive interurban service. Indeed the advantages of
					electrification led several promoters to urge the construction of long distance electric
					railroads. The proposed Chicago-New York Electric Air Line would use a third rail instead
					of a trolley: “No curves...Greater Speed; Perfect Safety. Time and Money Saved,” its
					prospectus trumpeted. The accompanying map pictured the route as a straight line through
					Toledo and Cleveland, emphasizing a saving of 230 miles over the New York Central Route.
					Although, as the sheet proclaimed, “20 million people [were] waiting to patronize this
					road [and travel from] New York to Chicago in 10 hours,” the line never reached either
					city, constructing only twenty-five miles of track in Indiana. (Modelski 1984, 95) The
					promise of electrification, however, did lead the Milwaukee Road to use current in
					crossing the mountains when it constructed its transcontinental line between 1905 and
					1915. (See Selection 7)
				</p>
				<p class="body-text">
					Although interurbans continued to be built into the 1920s, other lines were abandoned as
					the upwardly-mobile increasingly moved to more distant suburbs or came to favor private
					automobiles over public transit. Steam railroads faced the same competition, reaching
					their peak mileage in 1916. Most interurbans were uncoincidentally built at the time
					(1900-1915) that steam railroads found it difficult to attract new capital. As rising
					costs of labor, coal, and taxes, plus increasing government regulation, cut into profits,
					the traditional railroads were often forced to mortgage their properties to modernize
					their operations. A firm in New York City even issued Kimberʼs Atlas of Railroad Maps
					describing and illustrating the Security for Every Mortgage Bond of the Steam Railroads of
					the United States (1920-1923).
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Railroads in Wartime</h2>
				<p class="body-text">
					Bankruptcies faced many lines in the early twentieth century. Thus when the First World
					War increased the demand for transportation, US railroads were not ready. Rolling stock
					was in short supply and so many loaded freight cars clogged Eastern port cities in
					December 1917 that the federal government took over the lines, intending to run the rail
					network as a single system during the emergency. Antitrust legislation in the previous
					decades had worked against such integration, but some national leaders such as William
					Jennings Bryan had urged federal ownership of the railroads as an alternative to
					regulation. When the government took over the railroads, it quickly ordered 100,000 new
					boxcars and 2,000 locomotives, eliminated redundant tracks as well as duplicate routes,
					and streamlined operations to facilitate the movement of goods and troops to Atlantic and
					Gulf ports.
				</p>
				<p class="body-text">
					However, as the war ended, public opinion urged that the railroads be returned to private
					ownership as soon as possible. On the other hand, the efficiencies gained by coordination
					and new investments were obvious. The Esch-Cummins Transportation Act of 1920, in effect,
					gave the Interstate Commerce Commission (ICC) the power to continue shaping the railroads
					into a coordinated national system. It even specified that the agency must develop a plan
					to group the individual lines into a series of coordinated regional segments. The result,
					the Ripley Plan developed by a Harvard Professor (See Selection 8), was constantly amended
					and revised until the onset of the Great Depression made it obsolete. Then, when President
					Franklin Delano Roosevelt started to address the nation’s economic woes in 1933, he turned
					to a Wall Street leader to formulate a new national railroad plan. F.H. Prince relied on a
					knowledgeable railroad leader for new maps. John W. Barriger III, head of the Railroad
					Division of the Reconstruction Finance Corporation divided the nation’s trackage into
					three regions (North, South, and West) and eight operating systems. But the plan was dead
					upon arrival at the White House because it would result in many lost jobs. As President
					Roosevelt read the map, America in the Great Depression needed more, not fewer jobs. Thus
					the national railroad system portrayed on the maps continued to fall far short of its
					potential.
				</p>
				<p class="body-text">
					The railroads themselves objected to reductions in competition in large measure because
					during the 1920s prosperity seemed to be returning to their companies. Abandoning excess
					trackage, using heavier rails, expanding block signals to keep "blocks" of track section
					apart and thus lessen the likelihood of accidents, and espousing Centralized Traffic
					Control to reduce congestion, among other advances, led to efficiency gains which in turn
					attracted renewed capital investment.
				</p>
				<p class="body-text">
					Thus when the Second World War broke out, the nation’s railroad network was up to the
					wartime challenges. (See Selection 9) The Office of Defense Transportation played a
					coordinating rather than an operating role. Mobilizing the nation’s resources provided
					many opportunities to demonstrate the advantages of scientific management and the
					professional leadership of the Association of American Railroads in this respect paid
					handsome dividends. The end result, in railroad terms, was a convincing demonstration of
					the value of the nation’s railroads to the nation’s defense and the country’s economic
					health. Few maps of any kind had the patriotic theme and widespread impact of those
					provided by the various lines to help soldiers and sailors move easily across the country.
					One gets the impression that service men and women often asked for two copies, one for
					their own use in transit and one so the folks back home could follow their journeys on a
					map.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Tourist Maps</h2>
				<p class="body-text">
					The railroad maps addressed to service personnel were a popular version of the more
					elaborate travel literature produced by the railroads in the early decades of the
					twentieth century. These advertisements, timetables, travel guides, promotional booklets,
					posters, and promotional materials of every description often featured maps. Many of these
					folded out to present the particular line and its territory in an appealing, colorful
					design. Most followed established cartographic conventions for railroad maps. (See
					Selections 1 & 3) For example, a map showing the “Washington-Sunset Route to the East”
					issued by the Southern Railway, the Southern Pacific Company, and their partners in 1912
					stretched the national map in east-west fashion to provide space for dozens of stations
					along the route from San Francisco through El Paso, New Orleans, and Atlanta to
					Washington, DC, with an extension to Philadelphia, New York, and Boston. The mainline,
					boldly stated on the map, traced a gentle arc, seeming to put half of the country within
					easy reach of its service.
				</p>
				<p class="body-text">
					Another example, the Wabash Railway’s travel brochure titled “A Vacation for Everybody”
					(1917), used a simple outline map for each offering, buttressed by a system map to show
					how the company’s tracks collected vacationers from the Midwest to send them on to favored
					destinations in the North and East.
				</p>
				<p class="body-text">
					In the 1920s the Santa Fe Railway provided patrons with free postcards which featured
					large red circles on a system map to show all of its celebrated Harvey House Hotels and
					Dining Stations. The traveler was urged to mark the place and date the card to show where
					“I am...today.” Other lines also tapped the post card mania of the early twentieth century
					to show off their trains, map their routes, and picture the fabulous sights along the way.
				</p>
				<p class="body-text">
					Railroad maps seemed to seize every new opportunity in popular print culture to advertise
					particular companies, from wall calendars and postcards to playing cards and comic books.
					One of the most striking examples updated the Illinois Central globe discussed earlier,
					“The World’s Railroad Scene.” The Charles I. Felthousen Company of Chicago, a producer of
					educational posters, recreated the image in 1910 using modern details: A motor truck and
					automobile in the foreground, an ornate depot in place of the former plain building,
					aircraft of various types in the sky, and a streetcar and steamship on the left. The
					simple US map on the globe named states, capitals, major cities, and rivers. Designed for
					geographic instruction, E.S. Yates, the artist, centered the viewer’s attention on the
					great agent of modern progress: The steam locomotive.
				</p>
				<p class="body-text">
					Railroads in the 1930s continued to sound the themes of progress. The Chicago Burlington
					and Quincy Railroad introduced its Zephyrs in 1934, the first of the streamlined passenger
					trains. These diesel-electric trains with storied names quickly racked up records for
					speed in their triumph over time. Railroads also seemed to have conquered space several
					decades earlier when Henry M. Flagler completed the spectacular extension of his Florida
					East Coast Railway to Key West. Using over eighty bridges and viaducts, the rails reached
					out almost a hundred miles into the sea to reach the southern-most point in the United
					States. But, the year after the Burlington’s Zephyrs appeared, a hurricane destroyed a
					long section of the Key West track. And then, adding insult to injury, when the route was
					rebuilt in 1938, it was as a highway rather than a railroad.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Decline</h2>
				<p class="body-text">
					Key West inherited a landmark train station, but was left without rail service. This was a
					token of things to come. World War II perhaps delayed the day of reckoning, but the shift
					in national priorities to the construction of highways and pipelines as well as facilities
					for inland waterways and air travel, already notable before 1941, became more and more
					pronounced after 1945. In the year that the war ended, railroads carried 60% of the
					nation’s freight, measured by ton-miles. By 1980 that figure had dropped to 35%. In 1945
					railroads dominated inter-city travel, twenty-five years later, travel by rail had almost
					disappeared. It would be saved only by Amtrak which started operations in 1971. (See
					Selection 10)
				</p>

				<p class="body-text">
					In these decades of decline, railroad motive power shifted almost completely from steam
					engines to diesel-electric motors. Streamliners introduced the new technology but it was
					in freight service that companies reaped the major benefits. Diesel-powered freight trains
					started in 1941 and, after delays spurred by war-time restrictions; they almost completely
					replaced steam locomotives by 1960.
				</p>
				<p class="body-text">
					The 1950s also witnessed the emergence of a new approach to freight transportation: the
					transshipment container that could be easily moved as a unit from boat to train to truck.
					These intermodal links surely intensified the way informed people would read a railroad
					map. Connecting points for rail, truck, steamship, inland water, and air transport became
					critical points in sustaining global commerce and modern life. Now terminal facilities
					attracted attention. In 1959 when the Pullman-Standard Car Manufacturing Company offered
					readers of Railway Age (January 19, 69) a print of a railroad painting, “suitable for
					framing,” it featured a new Louisville and Nashville assembly yard in Birmingham, Alabama
					rather than a train curving around a mountain bend or a map showing the extent of railroad
					coverage. The typical railroad office such as the one pictured in the March 30 issue of
					that year featured a system map behind the executive’s desk.
				</p>
				<p class="body-text">
					In the 1950s railroad maps were not what they used to be. Railroad cartography, especially
					when addressed to the general public increasingly looked like stick charts with straight
					lines connecting major cities in the fashion of air line maps (see the following maps in
					Railway Age for 1959: March 30, p. 24; April 27, p. 64; and May 18, p. 6). Moreover, many
					former types of railroad maps no longer had a function. The land promotion maps introduced
					in the 1850s were now obsolete. The Illinois Central still had a large development
					department, but its focus had shifted to industrial sites, urban projects, and the
					promotion of scientific agriculture and forestry. Even the system maps that had hung in
					depots and served as centerfolds in timetables started to disappear as passenger service
					declined.
				</p>
				<p class="body-text">
					Several thousand individual trains were eliminated in the 1950s and the Transportation Act
					of 1958 made it easier for railroads to abandon passenger routes altogether. With the
					development of the Interstate Highway System, its road maps became the primary reference
					tool for American geography. By 1971 when it looked like intercity railroad passenger
					service would completely disappear, Congress created Amtrak to salvage at least the ghost
					of a system. Then there was only a single railroad passenger map in the country, and it
					looked forlorn. (See Selection 10)
				</p>
				<p class="body-text">
					For freight service railroad maps still found a use when addressing the general public.
					One interesting experiment tried to adapt the “piggy-back” service used by various
					railroads to haul trailers for motor trucks on flatbed cars, following the example of the
					old circus trains. In 1971 the Auto-Train Corporation started offering piggy-back service
					for people and their automobiles between Washington, D.C. and Orlando, Florida. Passenger
					service on this train recalled the golden age of railroad travel: Private sleeping
					compartments, domed observation cars, first-run movies, and even entertainers posing as
					Disney characters. After a decade the private venture failed when it tried to expand
					operations to other cities. Container shipping and unit trains, however, sparked a revival
					of interest in railroads by the investment community and their focus shifted to the
					consolidation of North America’s railroads into a handful of large systems. Thus, some
					lines, like the Norfolk Southern, continued to issue system maps for the use of shippers.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Maps for Consolidation</h2>
				<p class="body-text">
					Maps, whether on paper or in the mind, have always undergirded the thousands of mergers
					and acquisitions that forged longer routes and transportation systems out of the original
					short lines. The Southern Railway System’s advertisement in Railway Age (March 30, 1959
					pp. 18-19) boasted “Man Power, Map Power, you get both...” by way of its services. “Just
					look at the map and you’ll see what we mean.” In this case acquisitions fashioned a
					network so shippers “could often ʻdo it all with a one system haul.ʼ” The merger of the
					rival Pennsylvania and New York Central lines in 1966 was possibly the most celebrated
					merger after 1960 when the consolidation envisioned by industry experts in the 1920s and
					1930s finally took root. It was not successful, but the idea behind it provided a key to
					the future. Each of these business combinations needed regulatory approval and the support
					of Wall Street. The literature generated by this process often included advocacy maps.
				</p>
				<p class="body-text">
					Donald J. Russell, President of the Southern Pacific Company, provided an early example of
					such maps in 1960 when he prepared a map to accompany “An Open Letter to Shippers,
					Communities, and the General Public” on “Why Southern Pacific’s Proposal Best Serves the
					Public Interest.” The issue at hand was which company should acquire the Western Pacific
					Railroad, Mr. Russell’s line or the Santa Fe Railway? “The map shows why only Southern
					Pacific and Western Pacific can co-ordinate their operations to produce major public
					benefits,” Russell’s letter insisted. The map emphasized how the two lines were
					geographically intertwined, running “virtually side by side” and thus in the best position
					“to compete for traffic” with “other modes of transportation.” Carefully reading the map
					in the context of the letter and the accompany notes provides many insights into the
					course of railroad history over the next half century, ending with the consolidation of
					North American railroads into six first class rail systems. In the process both the
					Southern Pacific and the Western Pacific would eventually become part of the Union Pacific
					Railroad. Moreover, the US-Canadian boundary would be crisscrossed by international
					railroad companies as envisioned by experts over a century earlier.
				</p>
			</section>
			<Placeholder />
			<section>
				<h2 class="section-header">Prospects for Century 21</h2>
				<p class="body-text">
					Most of the maps showing the possibilities of high-speed passenger rail routes look like
					air line charts rather than railroad maps, often eliminating the cross-ties and reducing
					the right-of-way to a straight line. The tragedy of 9-11 in 2001, along with other
					factors, revived some public support for railroad passenger service, and an advertising
					campaign by Amtrak in 2011 introduced a new type of railroad map. In these examples, the
					map traced the thoughts of a passenger in route as a line gently curved across the page
					from “Point A” on the left to “Point Be” on the right. In one magazine advertisement a
					college student starts out with a segment labeled “Crank out five pages of thesis” before
					observing “a roadrunner” and “snapping rolls of film,” somewhat anachronistically.
					(Midwest Living, September 2011) Another version, this one for newspapers, showed stations
					along the way: “Relax, Read, Nap, Chat, Dinner, and Stars.” The punchline in each case
					was: “Be transported in more ways than one.”
				</p>
				<p class="body-text">
					The same adage, of course, applies to railroad maps. There is more than one way to read
					them. Old maps document the geographies of the past, but they also point to states of
					mind. They collect a host of data and, in the process, reveal larger forces at work. One
					needs some context to sense the layers of meaning in any map, but the intricate
					interaction between railroads and their maps seems to illuminate especially well the paths
					to cartographic literacy.
				</p>
				<p class="body-text">
					“In terms of its ability to haul goods or people, the diesel-electric locomotive is, so
					far, the most fuel-efficient form of self-powered land transportation ever devised” the
					editor of Railway Age declared in March 2010 (28). As such, railroads have an important
					future as well as a storied past. Maps have served them well in the past and promise
					continuing utility in the future. But we must keep in mind the old adage that the map is
					not the territory. It must be read critically and in context.
				</p>
			</section>
		</article>
	</div>
</Essay>
