<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Waterways Cartography, Part II: Landmarks and Exemplars in North America</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> GERALD A. DANZER </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">
					“No part of the world is so well watered as the territories of the United States.” These
					words of John Phillips in the fourth edition of his General History of Inland Navigation
					(1803) broadcast what was both a boon and a challenge to Americans. Already a classic work
					in its own right, Phillips’ lengthy study, first published in 1792, honed the arguments
					for canals to a wide audience in the English-speaking world. As late as 1819 it was
					translated into French in an effort to develop and expand Britain's internal
					transportation network. As we have seen in the preceding essay on canals and waterways,
					the General History of Inland Navigation had an earlier and even more forceful impact in
					North America. No people would benefit more from internal improvements than those in the
					United States, Phillips declared. “Just look at the map,” his refrain went, starting where
					you will along the Atlantic and Gulf Coasts and noting how the bays or rivers reach deep
					inland, almost touching the great inland lakes and the mighty Mississippi basin.
					Connections between and extensions of these waterways across the Atlantic Coastal Plain
					spurred canal efforts in almost every state along the Atlantic littoral, while gaps in the
					Appalachian barrier incited dreams of monumental public works to climb over the mountains
					and connect the Atlantic Seaboard with the North American interior by means of artificial
					watercourses.
				</p>
			</section>
			<section>
				<h2 class="section-header">Early Visions</h2>
				<p class="body-text">
					The US version of Abraham Rees’s Cyclopaedia, Or Universal Dictionary of Arts and
					Sciences, which used Phillips’s work to reach a broad audience, has an importance in the
					story that goes beyond its monumental size. As a series of scientific handbooks, profusely
					illustrated, it tied the American mind to the Enlightenment and the scientific method more
					firmly than any other publication. A corollary spelled out the application of this
					knowledge to the improvement of social and economic life. It was no accident that probably
					the most influential article in the British edition was a brilliant piece on the steam
					engine written by John Farey Jr., the son of the author of the entry on canals. These two
					long articles, one on canals and the other on steam engines, read in tandem, became a
					primer for the Industrial Revolution in North America. Canals came first, but the
					nineteenth century was to be the “Age of Steam.”
				</p>
				<p class="body-text">
					The massive effort needed to produce such an enormous and expensive set of books as the
					Rees’ Cyclopaedia required every resource the American printing industry could muster. The
					first volume of the London edition of this monumental work appeared in 1802. The complete
					set utilized a hundred contributors and 39 million words in 39 volumes of text, plus five
					volumes of plates and an atlas. Although the final installment did not appear in print
					until 1820, Samuel F. Bradford, a leading Philadelphia printer, envisioned an American
					version, “in about twenty volumes,” with a half-volume appearing every two months.
				</p>
				<p class="body-text">
					In spite of many challenges, including the war of 1812, when invading British troops
					burned down the warehouse where printed pages for the encyclopedia were stored, and the
					subsequent bankruptcy of Bradford's publishing house, the Philadelphia-published edition
					of the Cyclopaedia kept pace with the British original. It was eventually acquired by a
					group of Philadelphia engravers and copublished by almost two dozen additional firms in
					the United States, printers and booksellers located from Maine to Georgia and as far west
					as Kentucky. The US edition also grew like Topsy. In the final push to complete the
					47-volume Cyclopaedia, the state of Pennsylvania supported the project by authorizing a
					lottery. When the final volume, the atlas, appeared in 1824, four years after the
					completion of the London original, almost two thousand subscribers were listed at the end,
					including patrons as far west as Kaskaskia, Illinois on the Mississippi River and even
					readers living abroad, such as the members of the American Missionary Society in Bombay,
					India. It has been estimated that sixty American engravers worked on the final six volumes
					of plates. Most of the work involved direct copies of the pirated London version. Like the
					original atlas, the US edition included only one thematic map, the one on English Canals
					and Railways first published in 1820. By then, however, several important canal maps had
					already addressed an American audience, but none of them presented an integrated inland
					transportation system for the entire nation in the tradition of Phillips and Rees.
				</p>
				<p class="body-text">
					The first landmark North American publication on inland waterways was Robert Fulton’s
					Treatise on the Improvement of Canal Navigation (London, 1796). It has been overshadowed
					by Fulton’s fame in conjunction with Hudson River steamboats and was soon neglected
					because he advocated, as the long title of his book explained, “the numerous advantages to
					be derived from small canals,” rather than expensive, full-scale internal improvements.
					But if one continues down the page, past the first dozen lines of the title, one notes
					that the volume also included “Observations on the great Importance of Water
					Communications.” The volume was published in London at the Architectural Library and
					attracted the attention of knowledgeable readers, including both John Phillips and Abraham
					Rees. It swam against the current in advocating small canals when the economics (and
					politics) involved soon favored larger ones. Fulton’s ideas then faded out of sight until
					the development of standardized container shipping in our own times.
				</p>
				<p class="body-text">
					What Fulton envisaged was a type of container (his small boats were twenty feet long and
					thirty inches wide) that could be moved over land by way of small canals with portages
					afforded by different types of lifts and carriages that Fulton described in a series of
					exquisite plates. Adding wheels would make it possible to load these small boats at a
					distance from a waterway, convey them to a small canal, and use little tunnels (forty
					inches wide and nine feet high) to shuttle them through divides into the next waterway.
				</p>
				<p class="body-text">
					Thus a modest investment could extend the advantages of canals and waterways “into every
					nook and corner” where a small cargo could be collected. “The country will be nourished,”
					he continued, “as veins feed the constitution.” Canals would have many branches, like
					rivers themselves, and the small boats would then be linked together like chains on the
					larger waterways. Small units would not only be less expensive but also encourage
					regularity both in the sense of interchangeable containers and standardized schedules.
				</p>
				<p class="body-text">
					Fulton concluded his book with a letter to Thomas Mifflin, the then Governor of
					Pennsylvania. He pointed out that the Commonwealth’s western lands, currently as
					“uncultivated as the interior of Africa,” could be transformed by canals. The continent
					had an abundance of natural rivers beyond the tide, but they should, in Fulton’s view, be
					used only as feeders to supply water to artificial canals. Rivers were wild, threatening
					the stability of any artifice people would create for their improvement. They also did not
					flow directly between settlements. A system of canals, both small branches and trunk
					lines, could improve the situation and “bind the whole country in the bonds of social
					intercourse.” The population would then multiply, land values would increase, industry
					would be stimulated, and the nation would “rise to unparalled importance, by virtue of so
					powerful an ally as canals.”
				</p>
				<p class="body-text">
					Fulton’s book should be considered an engineering treatise because it included “thoughts
					on, and designs for, aqueducts and bridges of iron and wood” as well as his proposals for
					a water-borne transportation system. Although he illustrated the volume with seventeen
					exquisite plates, most of these portrayed machines and devices. A few could be considered
					landscapes, but they were generalized proposals, not pictures of specific places. There
					were no maps. The elements Fulton advocated were detached from specific sites and
					presented for general application. The essential graphics were drawings of canal boats and
					sketches of mechanical devices in operation. After Fulton published his book, he moved on
					to Paris and to other interests, maintaining his convictions on the importance of
					waterways and the future of the US but gaining new insights into the possibilities opened
					up by the steam engine.
				</p>
				<p class="body-text">
					Only a few years later, in 1808, Christopher Colles, the New York engineer and pioneer in
					American transportation mapping, turned his attention to the construction of canals.
					Another lengthy title, this time taking up twenty-two lines, started with a general
					proposition: Proposal of a Design for the Promotion of the Interests of the United States
					of America, Extending Its Advantages to All Ranks and Conditions of Men. The means for
					promoting these progressive, democratic interests were Inland Navigable Communications of
					a New Construction and Mode. It was a “self-evident truth” the author exclaimed “that
					extensive water communications are the highest improvement any country can receive.” But
					the expense of canals was more than Americans could bear. They were expensive to dig,
					especially in a land short of labor. The solution, in the Colles proposal, was to take
					advantage of the native forests and construct the canals out of wood, above ground.
				</p>
				<p class="body-text">
					In essence, Colles would cut a swath through the Great Forest, use the wood to build a
					superstructure like a long, narrow bathtub, employ windmills to keep it full of water, and
					then lay out lots along the elevated watercourse to be sold to help finance the project.
					Holland furnished an instructive example, but a canal made of wood would reduce the
					initial expense and make it easy to keep in good repair once the trough was drained for
					the winter. Speed of construction would provide a great advantage, boosting the value of
					the “town lots” available “which carried the privilege of a barge.” Brisk sales would
					advance the whole project, reducing the cost to finance the effort.
				</p>
				<p class="body-text">
					In addition to listing the advantages of such a canal to various segments of American
					society, Colles calculated the expenses and the profit to be gained from one mile of a
					timber canal after the sale of the land along its route. Figure A presented a cross
					section of the proposed canal, sketching its method of construction. An interesting fold
					out map showed the route for one such canal across New Jersey to connect New York City
					with Philadelphia. (Focus Map 1)
				</p>
			</section>
			<section>
				<h2 class="section-header">Practical Beginnings</h2>
				<p class="body-text">
					It is doubtful if Colles made any profit from the sale of his book or the use of his
					ideas. But at the time of its publication Zadok Cramer, a bookseller and stationer in
					Pittsburgh, had published the fourth edition of his The Navigator, a guide to the Ohio and
					Mississippi Rivers that was becoming an American classic. The early editions of Cramer’s
					pamphlet did not contain maps, but beginning in 1805, it featured a series of crude
					woodcuts to show the main channel for the entire river route from Pittsburgh to New
					Orleans. These maps were different from canal maps because they pictured conditions as
					they were known to be, rather than how they could be improved. The plates focused on the
					present rather than envisioning a better future; they were realistic in nature in contrast
					to the optimism built into most canal maps. Note Cramer’s sheet on the falls of the Ohio
					at Louisville, for example (Focus Map 2).
				</p>
				<p class="body-text">
					Victor Collot, the French traveler, drew a similar map of the same area in 1796 to point
					out “the shortest and surest way” to portage around the rapids or falls. In the previous
					decade Christopher Colles also drew up a plan for a canal at the newly founded Louisville,
					but he could not get support for his project. He even called on George Washington for
					help, but the general, who readily perceived the value of canals, turned his immediate
					attention to improving the Potomac rather than the Ohio River. Indeed, a succession of
					proposals addressed the obstruction to river traffic at Louisville, but funding could not
					be obtained until after the success of the Erie Canal, completed in 1825, had spread
					“canal fever” throughout the republic.
				</p>
				<p class="body-text">
					In fact, DeWitt Clinton, when travelling to Ohio in 1825 to turn the first shovel of dirt
					for the Ohio and Erie Canal, looked forward to the day when cargoes from New Orleans could
					be shipped up-river to Portsmouth, Ohio by steamboat, then across the Buckeye State by
					canal boat to Lake Erie where they could reach the New York Canal System, creating an
					all-water route from New Orleans to New York City. Hailed in the West as “the father of
					internal improvement,” the governor of the Empire State spent almost a month traveling
					around Ohio touting his plans. He may have disappointed his hosts by ratifying the choice
					of a Kentucky-side canal at Louisville, in large measure, it seems, because the southern
					bank was more suitable for steamboats coming upstream. At this time, the rapids usually
					had prevented steamboats fighting the current from reaching Cincinnati, Wheeling, and
					Pittsburgh. Steamboats in the 1820s, with the aid of a skillful pilot, could, however, run
					the rapids and proceed downstream.
				</p>
				<p class="body-text">
					Thus a careful reader of North American canal and waterways cartography of the early
					period needs to be aware of the development of steam navigation on inland waters.
					Flatboats and keelboats were primarily downstream craft and even steamboats faced
					formidable obstacles when moving upstream. Henry Shreve experimented with moving the steam
					engine up on the deck and out of the hold to permit a shallow draft, thus minimizing the
					dangers from snags and rapids. By the late 1820s, his success, primarily in upstream
					movement, turned the Western rivers into two-way navigation channels, making it necessary
					to read waterway maps with a new set of eyeglasses.
				</p>
				<p class="body-text">
					One also needed a new mindset, as demonstrated by DeWitt Clinton’s thoughts as he
					considered the way to improve navigation at the falls of the Ohio. He was thinking of
					rivers and canals as part of a national system with New York and New Orleans as the major
					terminals for a vast inland navigation system reaching from Tidewater to the Rocky
					Mountains.
				</p>
			</section>
			<section>
				<h2 class="section-header">A National System</h2>
				<p class="body-text">
					Up to 1825 most canals and river improvements were shown on maps leading from point A to
					point B. They envisioned segments of a water-borne commerce rather than a complete voyage
					within a vast regional, national, and even global commercial system. The Erie Canal
					changed that mode of map reading, encouraging a Great Lakes and Great River to Great Ocean
					pattern of thought. A young French engineer immediately perceived the importance of the
					Erie Canal, not only to the United States, but to the scope of inland navigation projects
					throughout the Western World, especially in his native land.
				</p>
				<p class="body-text">
					In many ways the digging of the Erie Canal set off a cartographic transformation in the
					United States as well. Early canals had often been featured on state maps and, of course,
					had been the focus of a variety of cartographic efforts emphasizing individual projects.
					But with longer routes serving as important traffic arteries, the artificial waterways,
					both completed and proposed, emerged as important elements on general reference maps. When
					William Darby published A Tour from the City of New York to Detroit in 1819, he included a
					route map that featured a larger context. This fascinating sheet pictured the Atlantic
					Coast south to Cape Henry, all of the Great Lakes, the Ohio River Watershed, and the Upper
					Mississippi Valley from the Falls of St. Anthony to the mouth of the Ohio River. A broad
					line traced the boundaries of each watershed and the “Grand Canal” prominently appeared on
					the map even though it was only one-fourth of the way toward completion.
				</p>
				<p class="body-text">
					Born in Lancaster County, Pennsylvania in 1775, Darby became one of the most prominent
					geographers and cartographers of the Early National Period. He began his career as a
					cotton planter in Louisiana, but a series of personal tragedies sent him back to
					Pennsylvania where John Melish published his Geographic Description of Louisiana in 1816,
					the same year that he married Elizabeth, the sister of Benjamin and Henry S. Tanner who
					had became celebrated engravers and map publishers. John Melish used Darby’s map of
					Louisiana as the basis for his influential map of the United States issued in 1819. Darby
					also probably pushed his brother-in-law, Henry S. Tanner, to issue the classic
					transportation map of the United States in the Canal Era, (Focus Map 4).
				</p>
				<p class="body-text">
					By the time Tanner’s elaborate wall map appeared in 1829, a variety of publishers had
					issued travel guides with maps to various states and regions of the United States. Darby
					participated in this movement as well, publishing his Emigrants Guide to the West and
					Southwestern Territories in 1818. Another notable example of this type of publication is
					Pratt’s River and Railroad Guide with Illustrated Maps. Focus Map 5 is the 1848 version.
					Here the spotlight is on the nation’s major rivers (think steamboats) with canals and
					railroads included as “connecting lines.” The focus would largely shift to railroads in
					the 1850s, but, at the same time, the general public gave increasing attention to the
					infrastructure of canals and waterways such as navigational aids, bridges, docks, harbors,
					and so on. The “Map of the Hudson River shewing location of proposed Dams and Jetties for
					Permanently Improving the Navigation of the Hudson River” by S. H. Sweets (1856, Focus Map
					6) offers not only a prime example of this genre of map but also calls out the themes of
					betterment, improvement, and progress which would dominate engineering cartography for the
					next century and beyond.
				</p>
				<p class="body-text">
					The 1850s, United States’ “Crucial Decade” in political terms, also witnessed the
					emergence of the railroad as the major element in its internal transportation system. At
					first, in the 1830s, railroads were considered as simply adjuncts to rivers, waterways,
					and canals. But technological advances in steam engines, locomotives, rails, and various
					types of equipment rapidly overcame many of the drawbacks limiting rail service. When the
					Civil War broke out, neither the rails nor the waterways were effectively tied together
					into national systems. The disruption of commerce on the Mississippi River proved to be
					only one of several factors that tipped the scales during the war in favor of railroads.
				</p>
				<p class="body-text">
					At this time, the uncertainty about British intentions made cities on the Great Lakes,
					both in Canada and the United States, very conscious of their vulnerability to attack
					across the waters (Focus Map 7). Canal interests stoked these fears and sought to
					capitalize on the situation. Thus, for example, advocates for canals and waterways in the
					United States pointed out the limitations of the interior waterborne defense system by
					noting that the gunboats on the Mississippi River were too large to bring up to the Great
					Lakes if the need should arise. In 1863, canal advocates staged a great Canal Convention
					in Chicago that attracted an estimated 5,000 delegates, the largest public meeting of
					citizens staged during the war years. As the threat of a British alliance with the
					Confederacy faded, so did the push for enlarging the canal network, especially in the
					midst of a severe war-time labor shortage.
				</p>
				<p class="body-text">
					Nevertheless, the Chicago Canal Convention should be kept in mind when viewing
					transportation maps in the post-Civil War era. As its delegates were gathering at the
					height of the conflict, the Hudson River Day Line started regularly scheduled service on
					what became the most celebrated steam navigation route in the nation, where passengers,
					maps in hand, observed the sights along the river’s banks until the middle of the
					twentieth century.
				</p>
				<p class="body-text">
					The departure of the Southern States from Congress at the outbreak of the Civil War helped
					tip the balance at the national level towards the support of railroads over waterways in
					the development of a continental transportation system. The Pacific Railroad Act of 1862
					is often used as the talisman of this shift in emphasis, followed by land grants to
					support mainly Western lines. Another key indicator was the sweeping way Congress
					authorized eight bridges across the Mississippi River in 1866, followed by similar
					encouragement for railroads to cross the Ohio River. In hindsight a map reader can look at
					transportation maps produced during the Post-Civil War Era as the triumph of the rails,
					but at the time the trend was not necessarily so clear cut. In 1880 the Erie Canal reached
					its maximum use and in the 1870s and 1880s, leading transportation engineers pointed to
					many promising large-scale waterways projects developing abroad. (Focus Map 11) The
					celebration of the completion of the Transcontinental Railroad in the United States was
					more than matched by ceremonies in the Old World hailing the opening of the Suez Canal in
					the very same year.
				</p>
				<p class="body-text">
					Although now seen as part of the “Lost Cause,” a long campaign (1865-1880) by the James
					River and Kanawha Canal Company to open up a Mid-American outlet to the sea by joining the
					Ohio and James Rivers produced some bold proposals backed by spectacular maps. When
					Matthew Fontaine Maury returned to the United States after escaping to Europe as a
					Confederate officer at the end of the Civil War, the world-renowned scientist accepted a
					position at the Virginia Military Institute. He also headed the Physical Survey of
					Virginia, an attempt to document the available resources of the hard-pressed state.
					Location stood in the top list of these advantages.
				</p>
				<p class="body-text">
					Hampton Roads, like San Francisco Bay on the opposite side of the continent, could hold
					all of the ocean-going ships then sailing the seas. The Transcontinental Railroad, then
					nearing completion, would soon link the two great harbors. Maury’s perspective, explained
					in a sustained argument and buttressed by a host of statistics, found graphic expression
					in two stunning maps. The pair might be considered the climax of American waterways
					cartography. One, focusing on North America, was a detail from the larger map, almost
					global in its vision.
				</p>
				<p class="body-text">
					Maury, although considered the father of the science of oceanography, here focused his
					attention on continental interiors. “The people of this country are building their great
					hive of human industry in the Mississippi valley,” he declared, “that is the heart of the
					nation, and is in fact becoming the real source and centre of wealth, power, and
					greatness.” (Physical Survey of Virginia, 1868, 54) His focus, of course, made inland
					waterways of utmost importance. But railroads carried equal import. Indeed, transportation
					corridors demanded both rails and canals in Maury’s analysis. “No great line of trade and
					travel can satisfy the requirements of the age or fully meet the demands of commerce,
					unless it combines transportation both by rail and water lines” (35).
				</p>
				<p class="body-text">
					Look at the Erie Canal, the Survey admonished, the New York Central Railroad runs side by
					side. “Neither would be complete without the other. Each is required to do the work that
					the other cannot perform. Each supplements the other.” (Ibid.) Thus, to complete the
					“Central Water Line,” the James River and Kanawha Canal needed to be enlarged and
					completed, but a double-track railroad should also trace their route. Then the promise of
					the Transcontinental Railroad could then be fulfilled.
				</p>
				<p class="body-text">
					To make his point, Maury drafted a large fold-out map extending from the Pacific Coast of
					North America, crossing the continent and the Atlantic Ocean to end in Central Europe.
					Titled “Steam Line between Norfolk and Flushing,” the map featured the two port cities
					Maury considered most strategically placed along the Great Water Line. The sprawling sheet
					showed the transportation networks on each continent, both water and rail, that served
					“the back country geographically tributary to each [city], and the internal improvements
					connected therewith.” The key for the map, dated 1868, considered the significant gaps in
					the grand route as unfinished projects, particularly railroads in the American West and
					South, as well as key canals between the Ohio River and Richmond and between the Tennessee
					River and Mobile Bay. A line arching across the country from Delaware Bay to Oregon marked
					points of equal distance between New York City and Norfolk according to the pictured
					transportation system, giving the great advantage to the latter by including Toledo,
					Chicago, and the entire Pacific Railroad in its hinterland. In Europe, a transcontinental
					system already existed in the Rhine-Main-Danube waterway and a web of railroads
					surrounding it.
				</p>
				<p class="body-text">
					Maury’s grand vision, which may have been politically and economically naïve at the time,
					started to fade from sight after his death on February 1, 1873. But the very next month,
					when the US Senate adjourned, its Select Committee on Transportation Routes to the
					Seaboard, chaired by Senator William Windom of Minnesota, decided to visit many of the key
					sites of Maury’s Great American Water Line. The report of this Windom Select Committee,
					dated April 24, 1874, could have reprinted Maury’s map to buttress its unanimous
					conclusion that “the most feasible and advantageous channels of commerce to be created or
					improved” were (1) the Mississippi River, (2) a continuous water-line from the Great River
					to New York City by way of the Great Lakes, (3) a route through the central tier of states
					from the Mississippi River via the Ohio River to the Tidewater Region of Virginia, and (4)
					a “Southern Route” utilizing the Tennessee River to reach the Gulf Coast. The simple map,
					dated 1872, accompanying Senator Windom’s Report (1874) does not refer to Maury’s work,
					which would have given it much more explanatory power. Instead, the bright hopes for the
					future expressed in the Physical Survey of Virginia came as a bullet condensed into one
					sentence in the federal report: “A vast area of the richest agricultural and mineral
					country in the world is directly tributary” to the Central Route “and only awaits
					reasonable facilities for transportation, to develop a commerce the magnitude of which it
					is difficult now to conceive.”
				</p>
				<p class="body-text">
					The Panic of 1873, which extended to a depression throughout the decade, suspended federal
					interest in transportation planning on a national level until the Progressive Era (Focus
					Map 15). In addition, a severe flood in 1877 damaged the entire length of the James River
					Canal. State funds patched up the waterway, but during the down time traffic shifted to
					rail, and in 1880 a railroad purchased the canal so that it could utilize the gentle slope
					of its towpath for a track-bed.
				</p>
			</section>
			<section>
				<h2 class="section-header">New Approaches</h2>
				<p class="body-text">
					Meanwhile, technological changes kept pushing engineers to consider new approaches to
					inland waterways. In the case of coal, a steady increase in demand accompanied the growth
					of America’s cities and the expanding use of steam engines to run machines, power
					locomotives, and propel steamboats. Along the East Coast a regional system of canals
					developed to connect coal mines in Pennsylvania with their markets along the Atlantic
					Coast. In the 1840s steamboats on the inland waterways started to shift their fuel to coal
					from the once abundant wood available along riverbanks. Railroads then connected these new
					markets in the American interior to coalfields in the Appalachian Mountains and the
					Midwestern Basin. After the Civil War, the increased use of coal barges on the Ohio River
					spurred the Corps of Engineers to consider expanding its role in river navigation from
					removing snags and sandbars to maintaining the straight-line channels needed by the barge
					tows.
				</p>
				<p class="body-text">
					Charles Ellet, a respected engineer with wide experience in building canals, conducted a
					government survey of the Ohio River in 1850 and suggested using huge reservoirs to
					modulate the flow of the water, thereby reducing the twin threats of flooding and low
					water. Ellet died in a Civil War battle, but another study in 1866 recommended turning the
					stream into a series of pools created by newly developed wicket dams. In effect, this
					would turn the entire river into a canal, a measure Congress would not approve until 1910.
					In 1885, however, the Davis Island Lock and Dam, five miles downstream from Pittsburgh,
					became the first installment on the canalization of the Ohio River, a project completed in
					1929.
				</p>
				<p class="body-text">
					Two decades later, when the system of forty-six locks proved to be too cumbersome for
					modern towboats, a new plan called for reducing the number of lockage sites to nineteen.
					Thus, as the twentieth century dawned, the new thinking called for changes in the way one
					should read waterways maps. Thomas J. Vivian’s 1894 map for the Census Bureau, based on
					1890 data, for example, indicated all the navigable rivers of the nation divided into four
					categories based on the depth of their channels. (Focus Map 14) As the age of towpath
					canals drew to its close, the navigable rivers of the continent were being canalized in
					the interest of flood control and the generation of electric power, as well as navigation.
				</p>
				<p class="body-text">
					Shortly thereafter, people seeking adventure and profit in the Yukon Gold Rush studied
					water routes and portages across Canada as possible “short-cuts” to the bonanza lodes
					(Focus Map 12). Meanwhile economists, historians, social scientists, folklorists, and
					others representing a host of diverse interests supported a variety of retrospective maps
					showing the old towpath canals that were gradually being abandoned. Each waterway had its
					defenders and a major issue of public policy asked whether the canals should be modernized
					and enlarged or discontinued as transportation facilities. In some instances, bold new
					canal construction projects were proposed, often to provide competition for existing rail
					routes in an effort to secure a fair price for shippers. Focus Map 13, showing the
					existing, abandoned, and proposed canals in the state of Ohio came out of such a public
					policy debate. At the same time, on the national level, the Progressive Movement called
					attention to the nation’s rivers and streams as great natural resources that needed to be
					preserved for future generations to use. The waterways agenda now extended beyond
					navigation to include not only flood control but also irrigation, conservation,
					recreation, and the generation of electric power.
				</p>
				<p class="body-text">
					The Preliminary Report of President Theodore Roosevelt’s Inland Waterways Commission in
					1908 developed a series of maps to compare freight rates for comparable shipments by rail
					and water from a central point to surrounding destinations. (Focus Map 15) A careful study
					of these “rate maps” documented the economic distortions in the nation’s transportation
					system. Soon afterwards, the First World War would demonstrate “on the ground” as well as
					on the map the traffic crisis created by the logistics of supporting an Overseas
					Expeditionary Force. The war effort led the nation to think much more seriously about the
					national interest and federal investments in transportation facilities.
				</p>
				<p class="body-text">
					One aspect of this reawakened awareness was the nature and function of port facilities,
					not only on the ocean’s shores but also at key inland locations. By 1930 a series of
					twenty-two volumes had appeared describing the nation’s ocean ports, largely addressed to
					the general public. Harbors on the Great Lakes came next and those in the Mississippi
					River Valley soon followed. These publications featured flow-chart maps indicating the
					sources, destinations, and volumes of each major segment of a port’s receipts and
					shipments. Detailed harbor plans, aerial views, and site photographs added to the picture.
					Then each study committee listed improvements that were needed. (Focus Map 16)
				</p>
				<p class="body-text">
					At the same time the US Lake Survey was publishing a series of nautical charts of the
					Great Lakes and inland waterways to aid navigation. (Focus Maps 17 and 18) Similar to the
					charts provided by the federal government for coastal areas and the Intracoastal Waterway
					(Focus Map 19), these detailed navigation guides pointed to the greatly expanded role of
					the federal government in the production of nautical charts and navigation aids. The
					Progressive Movement in the early part of the twentieth century posited that the
					improvement of the nation’s water transportation resources was a key means to achieve the
					nation’s destiny. “It is our duty,” the Republican Party’s Platform proclaimed at the
					Chicago Convention of 1908, “to carry out systematic improvement upon a large and
					comprehensive plan, just to all portions of the country, of the waterways, harbors, and
					Great Lakes, whose natural adaptability to the increasing traffic of the land is one of
					the greatest gifts of a benign Providence.”
				</p>
				<p class="body-text">
					These themes also animated a number of private associations formed to lobby for
					constructing particular waterways. The Atlantic Deeper Waterways Association, for example,
					held its first convention in Philadelphia only a few weeks after the Presidential Election
					of 1908 sent William Howard Taft to the White House, supported by the Republican Party
					platform quoted above. In the lobbying effort, business people joined recreational
					interests and civic boosters in pushing for what became the Intracoastal Waterway. This
					organization immediately began to publish a magazine and held annual conventions until the
					1950s, when it closed shop and declared its “Mission Accomplished.” An earlier group, the
					Michigan and Mississippi Canal Commission, formed in 1885, took several decades to achieve
					its particular objective, the Hennepin Canal. These advocacy groups made ample use of
					maps, usually simple in character and often derived from existing sources.
				</p>
				<p class="body-text">
					The Hennepin group, for instance, issued a large map of the eastern United States to show,
					in a bold colorful overprint, how their proposed canal would link the nation’s two great
					inland waterways: one connecting the Great Lakes to New York City and the other leading
					from the Mississippi River to New Orleans. On closer inspection, however, the base map
					they used was stock readily available from Rand, McNally and Company. It was actually a
					detailed railroad map of the area which omitted all canals. Thus the color for the water
					route across upstate New York had to follow the New York Central Railroad rather than the
					Erie Canal itself.
				</p>
				<p class="body-text">
					In hindsight, this 1885 wall map seems to be an embarrassment to its sponsors.
					Nevertheless, the commission eventually reached its objective, apparently using the funds
					saved on original cartography for use by the lobbyists. Their project, the Hennepin Canal,
					had a towpath but was mostly used by steam-powered tugs moving barges. It proved to be too
					small and inefficient, never reaching its potential because locks on both the Mississippi
					and Illinois Rivers were enlarged to permit the passage of barges much larger than the
					Hennepin could accommodate. The canal, however, used new methods of construction and was
					the first to construct its locks entirely of concrete, setting an important precedent for
					the Panama Canal, which was approved as a lock canal by Congress as the Hennepin was
					nearing completion.
				</p>
				<p class="body-text">
					Thus the Illinois project has been called “a canal both ahead of and behind its time.”
					This adage is also true of the Hennepin’s use by the public. From the very beginning local
					people used the Illinois Canal for recreational boating, fishing, picnicking, and hiking.
					One local YMCA even used it for swimming lessons. In 1948 it saw no commercial traffic.
					Although closed shortly thereafter, another advocacy group organized a “Save the Canal
					Drive” and Congress agreed to deed it to the state of Illinois for use as a park in 1970.
					Since then the old canal, like many others across the Eastern part of the country, has
					found new life as a recreational and educational resource. With the dawn of ecological
					awareness, people began to ask questions about what was lost when dams were built, rivers
					canalized, and watersheds modified for commercial reasons. All expenditures on waterways
					needed to be subject to a cost-benefit analysis, and, under public pressure, Congress
					required the Army Corps of Engineers to consider ecological issues when making future
					plans.
				</p>
				<p class="body-text">
					In the beginning cartographers viewed canals and waterways exclusively as transportation
					facilities. By the late twentieth century they also needed to consider a variety of
					additional cultural, ecological, and aesthetic considerations when making their maps. In
					many ways, map readers also transformed the old maps they were reading by bringing new
					mindsets to the communication process. These were often advanced by public interest
					organizations that played an increasing role in American life. Take the maps of the
					Tennessee Valley Authority as an example.
				</p>
				<p class="body-text">
					The Tennessee River Improvement Association, another private group lobbying for
					governmental support for particular projects to improve navigation, had roots dating back
					to 1877, but became a more influential voice after its reorganization in 1896. It achieved
					some success in building several dams but found a much more receptive audience in the New
					Deal’s concerns for addressing the widespread poverty in the region during the Great
					Depression. The generation of electric power probably moved ahead of navigation concerns
					when Congress established the Tennessee Valley Authority (TVA) in 1933. In subsequent
					years the TVA became a model for regional development and the achievement of multiple
					objectives through public works projects, especially waterways. Supporters of the TVA
					emphasized how improving the Tennessee River would fill in a gap in the nation’s waterway
					network, a point TVA authorities made in a striking map that was designed to indicate the
					broad reach of their waterway. Indeed, Focus Map 20 portrays no land. It pictures only
					waterways as routes and ports without banks or shores.
				</p>
				<p class="body-text">
					In contrast, Walter B. Langbein’s study of the Hydrology and Environmental Aspects of the
					Erie Canal (1976) included a cross section that featured the vegetation along the sides
					rather than the canal itself. In the same year, the report of the Great Lakes Basin
					Framework Study spelled out the “Factors of Water Supply to the Lakes” during the 1950s as
					a cross section in which the lakes as bodies of water almost disappear. As the focus of
					waterways cartography shifted toward ecological and recreational considerations, the maps
					included much more detailed portrayals of the riverine environment and facilities
					available along the waterway corridor. Some reports even suggested that traditional
					lock-and-pool canals should be replaced by free-flowing streams. Shoots, slides, and
					plunge pools would replace locks to accommodate recreational boating. These new portrayals
					did not replace the established traditions, but added new types of maps to the existing
					corpus.
				</p>
			</section>
			<section>
				<h2 class="section-header">Meaning</h2>
				<p class="body-text">
					And so, as we approach the present day with all its conflicts, confusion, and cacophony
					and look back at the story of canals and waterways through the maps that fixed their
					places for us, we ask “What does this mean?” The slow pace of travel on their slack waters
					and languid pools tempts us to see bygone days as belonging to a different way of life.
					“Down by the old mill stream,” suggests a sense of loss or at least a way of life that
					faded away before modernity arrived. These thoughts came my way when I began this
					assignment. Looking at canal maps, I thought, would be relaxing, not too arduous, slow in
					nature like the waters themselves, arousing antiquarian interests, and bringing to mind a
					chapter in American life now lost. But nothing could be further from the truth.
				</p>
				<p class="body-text">
					In sum, water, then and now, is of the essence on canal maps; even more so when we
					consider the additional work the waters have been asked to do as waves of settlement have
					spread across the continent. We turned great rivers into canals themselves and sought ways
					to tame great lakes. If we read the twenty focus maps in this two-part essay with the
					deepest penetration we can muster, we will come back to a basic truth, so simple that it
					seems self-evident: Water stands at the heart of cartography, geography, history, and life
					itself.
				</p>
				<p class="body-text">
					Starting with this truism might be a stimulating way to begin reading any waterways map.
					Each example has a specific purpose to be sure, but when viewed as a tiny part of a large
					corpus of work, we begin to realize how even the most specialized map is also a broader
					cultural document, reflecting its place in time and space as it adds its bit to the common
					cultural heritage. Any map read in this way can serve as a widow to more than the specific
					geography lessons it was designed to teach. And that realization is the beginning of
					cartographic wisdom.
				</p>
			</section>
		</article>
	</div>
</Essay>
