<h1 class="gallery-page-title">Principal US Electric Transmission Lines, 1968</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">The Rand McNally Corporation compiled this rolled wall map showing the nation’s major powerlines and the regional systems of that operated them. At first appearance, it appears to be a wall-mounted road map of the continental US In 1967. (And Rand McNally) clearly drew upon its experience with road maps to create this image of a linked system of corridors defined by varying degrees of carrying capacity.) Given the rapidity with which America’s power infrastructure changed in the twentieth century, it is likely this map did not long serve its purpose, but it offers an intriguing glimpse at the ways in which US history grew alongside the movement of non-human elements (in this case electrons along high tension wires).</p>
</div>
<h3 class="map-title">Principal US Electric Transmission Lines, 1968</h3>
<cite>Edison Electric Institute, "Principal Interconnected Transmission Lines in the United States" (New York : Edison Electric Institute, [1968]). Maproll G3701.N4 1968 .E3</cite>