<h1 class="gallery-page-title">Jesuit Map of Lake Superior, 1672</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">Once the French had begun to establish themselves around Québec, royal policy was not in favor of over-extending their power into the unknown west. However, this came about in any case through the efforts of voyageurs, seeking furs, and missionaries, seeking souls for conversion. By 1669 Father Claude Allouez (1622-1689) had reached the present site of the town of Green Bay, where he founded the “Mission St François Xavier,” named after an early Jesuit.</p>
<p class="main-text-p">It was probably Father Allouez, perhaps in collaboration with Father Claude Dablon, who drew the manuscript original of our remarkable map, which appeared in the printed Jesuit Relations of 1672. This was a yearly published account of the work of the Jesuits in the mission field; it was widely disseminated in France, and served to attract support for the mission work.</p>
<p class="main-text-p">Whereas Samuel de Champlain had learned his cartographic skill in the service of the king, the Jesuits learned to draw maps in the course of their standard education, which was heavy in the natural sciences, including astronomy and cosmography. Many of their maps—and they were numerous throughout the Americas—were therefore composed with a theoretical background involving, for instance, the use of celestial observations. Their observations of latitude were quite precise, though they could not as yet accurately calculate longitude, even though they were well aware in of how this could be done.</p>
<p class="main-text-p">The map shows how the Jesuits were penetrating the Great Lakes by establishing missions at the nodal points. Thus on Lake Superior there were missions at the western end (“Mission du Saint Esprit,” near Duluth) and at the eastern end (“Sainte-Marie du Sault,” near Sault-Sainte-Marie). At the north end of Lake Michigan (the “Lac des Illinois’) was the “Mission de Saint-Ignace” (near the present town of Saint-Ignace), and at the southern end of Green Bay the “Mission Saint François Xavier.” Some of these missions were destroyed, and others changed location, but they were in general the centers from which the Jesuits came to understand their new mission territory. It was, for instance, from the “Mission Saint-Ignace” that Louis Joliet and Father Jacques Marquette set out in 1673 to trace the course of the Mississippi River. The prominent royal arms reminds us of the close relationship between church and state in French Canada.</p>
 
</div>
<h3 class="map-title">Jesuit Map of Lake Superior, 1672</h3>
<cite>Dablon, Claude, "Lac Superieur et Autres Lieux ou sont les Missions des Peres da la Compagnie de Iesus Comprises sous le Nom d’Outaouacs" detached from Relation de ce qui s’est passé de Plus Remarquable aux Missions des Peres de la Compagnie de Jesus, en la Nouvelle France, les Années 1671 & 1672 (Paris : Sebastien Mabre-Cramoisy, 1673). Not held by Newberry Library (January 2015)</cite>