<script>
	import { page } from '$app/stores';
	import { base } from '$app/paths';
	import 'carbon-components-svelte/css/all.css';
	import { centerTitle } from '$src/stores';
	import {
		Dropdown,
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		TileGroup,
		ClickableTile,
		Content,
		Grid,
		Row,
		Column,
		Tabs,
		Tab,
		TabContent,
		Tile
	} from 'carbon-components-svelte';
	import '$src/newberry.scss';
	let isSideNavOpen = false;

	import Newberry from '$lib/newberry.svelte';

	import toc from '$data/toc.json';

	let sortedToc = toc.sort((a, b) => (a[0] > b[0] ? 1 : -1));
	$: path = $page.url.pathname.split('/').filter((f) => f);
	$: home = path.length === 0;
	$: essay = path.length === 1;
	$: map = path.length === 2;
	// $: home = $page.url.pathname.length === 1;
	// let map = $page.url.pathname.split('/').length !== 2;
	console.log($page.url.pathname.split('/').length);
	console.log($page.url.pathname);
	console.log('map', map);
</script>

<Header bind:isSideNavOpen>
	<svelte:fragment slot="skip-to-content">
		<SkipToContent />
	</svelte:fragment>
	<div class="title-flex">
		<a href="https://www.newberry.org" target="_blank" rel="noreferrer">
			<Newberry />
		</a>
		<div class="title">
			{#if map}
				<h1 class="map-title">{$centerTitle[0]}</h1>
				<h2 class="map-sub-title">
					<em>from: </em><a href={$centerTitle[1]}>{$centerTitle[1]}</a>
				</h2>
			{:else}
				<h1 class={essay ? 'essay-title' : ''}>{$centerTitle[0]}</h1>
			{/if}
		</div>
		<h1 class={home ? 'clear' : ''}>Mapping Movement</h1>
	</div>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<TileGroup>
			{#each sortedToc as link, idx}
				{#if idx > 0}
					<ClickableTile href={link[0][1]}>
						{link[0][0]}
					</ClickableTile>
				{:else}
					<ClickableTile href="/">Home</ClickableTile>
				{/if}
			{/each}
		</TileGroup>
	</SideNavItems>
</SideNav>

<div class="wrpr">
	<Content>
		<Grid>
			<Row>
				<Column>
					<Tile>
						<slot />
					</Tile>
				</Column>
			</Row>
		</Grid>
	</Content>
</div>

<style lang="scss">
	@import '../newberry.scss';
	:global(.bx--header) {
		@include slashy;
		height: 75px !important;
		padding: 0 !important;
		display: flex !important;
		align-items: center !important;
		justify-content: flex-start !important;
		transition: box-shadow 0.5s !important;
	}
	:global(.bx--header ~ .bx--side-nav) {
		top: 75px;
	}
	:global(.bx--tile--clickable) {
		background: var(--colorLight);
	}
	:global(.bx--tile__checkmark, .bx--header__name) {
		display: none !important;
	}
	:global(body) {
		@include slashy;
		// --colorDark: #111a2a !important;
		// --colorLight: #eaebe7 !important;
		--colorLight: #111a2a !important;
		--colorDark: #eaebe7 !important;
		--angleDegs: 210deg !important;
		// --distance: calc(100% - 400px);
		--distance: 69vw !important;
	}

	:global(section) {
		margin-bottom: 32px;
	}

	.clear {
		color: rgba(0, 0, 0, 0) !important;
	}

	.title-flex {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1,
		h1 a {
			color: var(--colorLight);
			margin-right: 16px;
		}
		.essay-title {
			font-size: 33px;
		}
		.map-title,
		.map-sub-title,
		.map-sub-title a {
			color: var(--colorLight);
		}
		.map-title {
			font-size: 26px;
			line-height: 28px;
		}
		.map-sub-title,
		.map-sub-title a {
			font-size: 22px;
			line-height: 28px;
		}
	}
	.wrpr {
		width: 60vw;
		margin: 80px auto;
	}
	.maintitle {
		padding-left: 130px;
		// color: var(--colorDark);
		display: flex;
		// justify-content: center;
		align-items: center;
		& a {
			color: var(--colorLight);
			text-decoration: none;
		}
	}
	.shadow {
		box-shadow: 0 5px 16px rgb(0 0 0 / 10%);
	}

	.title-area {
		margin: 32px 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	.title-area > * {
		margin: 10px 15px 0 0;
	}
</style>
