<script>
	import { Loading, Tabs, Tab, TabContent, Tile } from 'carbon-components-svelte';
	import toc from '$data/toc.json';
</script>

<Tile><img src="/loadings.svg" alt="'" /></Tile>

<style>
	:global(img) {
		fill: #0000;
		animation-duration: 690ms;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: rotate;
		animation-timing-function: linear;
		width: 5.5rem;
		height: 5.5rem;
	}
	:global(img) {
		stroke: #0f62fe;
		stroke-dashoffset: 52.527552;
		stroke-dasharray: 276.4608 276.4608;
		stroke-linecap: butt;
		stroke-width: 10;
		animation-duration: 10ms;
		animation-name: init-stroke;
		animation-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
	}
	:global(body) {
		background: var(--colorLight) !important;
	}
</style>
