@mixin slashy {
    background: linear-gradient(
        var(--angleDegs),
        var(--colorDark) 0vw, var(--distance),
        var(--colorLight) var(--distance) 100vw
    ) !important;
    background-attachment: fixed !important;
}


@mixin fooncy-links {
    color: rgb(37, 37, 37);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.3),
            rgba(37, 37, 37, 0.3)),
        linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}
a {
    @include fooncy-links;
}
body {
    @include slashy;
    --colorLight: #111a2a !important;
    --colorDark: #eaebe7 !important;
    --angleDegs: 0deg !important;
    // --distance: calc(100% - 400px);
    --distance: 69vw !important;
}


.body-text, .body-quote {
    margin-top: 32px;
    font-size: 16px;
    line-height: 26px;
}
.body-text, .body-quote, .periphera, .essay-gallery li, .nist.bib, .end-bib {

    font-family: "signifier";
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
    // max-width: 75ch;
    @media screen and (min-width: 600px) {
        font-size: 18px;
        line-height: 30px;
    }
}
section, aside, footer {
    margin: 0 64px;
}
header {
    color: var(--colorLight);
}
header:before {
    color: var(--colorDark);
}
header:after {
    color: var(--colorDark);
}
.body-quote {
    margin: 32px;
}
footer {
    margin-top: 32px;
}
.footer-header {
    margin: 0 0 16px 0;
}
.essay-gallery ul {
    margin: 8px 0;
}
.essay-gallery li, .periphera {
    margin: 16px 32px;
    font-size: 15px;
}
aside {
    
    .aside-text {
        font-family: "signifier";
        font-size: 16px;
        line-height: 26px;
        margin: 16px 0;
    }
}

h3,
h4,
h5,
h6, dt {
    font-family: "styreneb" !important;
    font-weight: bold;
}
h1,
h2, .nist.numbr {
    font-family: "flechamm" !important;
}

@font-face {
    font-family: "flecham";
    src: url("/fonts/FlechaM-Regular.woff") format("woff");
}
@font-face {
    font-family: "signifier";
    src: url("/fonts/signifier-regular.woff2") format("woff2");
}
@font-face {
    font-family: "signifier-bold";
    src: url("/fonts/signifier-bold.woff2") format("woff2");
}
@font-face {
    font-family: "styreneb";
    src: url("/fonts/StyreneB-Regular-Web.woff") format("woff");
}
@font-face {
    font-family: "styrene-bold";
    src: url("/fonts/StyreneB-Bold-Web.woff") format("woff");
}
@font-face {
    font-family: "flecha-black";
    src: url("/fonts/FlechaM-Black.woff") format("woff");
}
@font-face {
    font-family: "flecha-bold";
    src: url("/fonts/FlechaM-Bold.woff") format("woff");
}
@font-face {
    font-family: "flechamm";
    src: url("/fonts/FlechaM-Medium.woff2") format("woff2");
}

@mixin scroll-shrink {
    // position: sticky;
    // top: 0;
    // font-size: 34px;
    // transition: 0.2s;
}