<h1 class="gallery-page-title">North Carolina, South Carolina, and Georgia, 1835</h1>
<h2 class="parent-essay-title">Lines that Fracture and Fade: Two Centuries of Travel through Georgia, 1775-1976</h2>
<div class="main-text">
<p class="main-text-p">Samuel Augustus Mitchell’s map company in many ways reflected the era in which it became one of the United States’ leading map publishers. Mitchell himself was neither an engraver nor a mapmaker but he organized a business that could mass-produce maps for an expanding nation that needed to figure out where it was going. (Ristow 1985 303, 309) Mitchell’s company published numerous atlases and a long series of “Tourist’s Pocket Maps” in the decades before the Civil War. This map of the Carolinas and Georgias was not labeled as a “pocket map” but another copy at the University of Georgia indicates that the map originally folded and was attached to a cover, making it convenient for travel. Certainly the map user who inked his path through the antebellum South used it for travel purposes.</p>
<p class="main-text-p">This colorful map guides the user through the Carolinas and Georgia, emphasizing county divisions through coloration and marking stage, steamboat, and railroad routes through the region. The tables on the map’s edges list principal travel routes, their frequency, and their duration so that the traveler could plan how long the trip might take.</p>
<p class="main-text-p">What separates this copy of Mitchell’s map from many others still in existence is that this is a travel map actually marked by the traveler. Marked maps are difficult to find and it makes this map unique as it almost certainly accompanied the unknown traveler on his trip through the Carolinas and Georgia into Alabama (and possibly further).</p>
 
</div>
<h3 class="map-title">North Carolina, South Carolina, and Georgia, 1835</h3>
<cite>Young, James Hamilton, "Map of the States of North Carolina, South Carolina, and Georgia" (Philadelphia : Published by S. Augustus Mitchell ; Sold by Mitchell & Hinman, 1835). Oversize Ayer 133 .M678 1835</cite>