<h1 class="gallery-page-title">Airmen’s Silk Chart, Vladivostok and Keijō, 1944</h1>
<h2 class="parent-essay-title">State and Federal Mapping of Infrastructure and Movement</h2>
<div class="main-text">
<p class="main-text-p">Aviation Cartography</p>
<p class="main-text-p">The closing months of the Second World War can only be understood as such in hindsight: As 1945 opened it seemed obvious to many that the Pacific War would continue for some time. One piece of evidence of that is this cloth chart of the Korean Peninsula designed for American pilots who might be shot down behind enemy lines.</p>
<p class="main-text-p">In early 1943 the Army Air Force informed the Army Map Service (AMS) that it would need 75 to 100 maps specifically designed to aid escape and evasion for its crews in the event of a downed plane. After experimenting with several different materials, the AMS began to produce cloth maps in August 1943, through a private printer. By the end of the war, the AMS had produced 1.6 million of these charts for the Army Air Force alone.</p>
<p class="main-text-p">This particular chart is taken from the East Asia series, which began production in early 1944. On one side of the cloth chart is mapped Keijo, while the other centers on Vladivostok, the southeastern edge of the Union of Soviet Socialist Republics, bordering China and just north of Korea. This map was part of the Eastern Asia series from 1944, though a notation in the lower right corner on the Vladivostok side indicates a much later date of April 1945, just four months before the surrender of Japan. At the time this map was issued, then, the US had successfully invaded the Philippines and waged Battle on Iwo Jima. US forces had begun to land on Okinawa with extensive air and naval support.</p>
<p class="main-text-p">Notice the extensive notations on air and sea currents. The sources for the map included US military maps and intelligence as well as Japanese land surveys from the 1930s. The sources for the Vladivostok side of the map are even more extensive. On all the maps, the urgency of up-to-date information is made apparent by the reminder in the lower middle of the map to send corrections and any additional data directly to the Chief of Engineers. Each map includes place names in several languages, and a glossary of terms, presumably to aid American pilots in their efforts to survive and escape. The maps were all designed to include relevant information on both human and natural geography, including various landmarks, towns, railroads, as well as drainage and natural features of the landscape. The legend also includes radio stations, lighthouses, and submarine cables.</p>
 
</div>
<h3 class="map-title">Airmen’s Silk Chart, Vladivostok and Keijō, 1944</h3>
<cite>United States. Army Map Service, "AAF cloth chart : Vladivostok ; AAF cloth chart : Keijō" (Washington, D.C. : Army Map Service, U.S. Army, 1944 [i.e. 1945]). Map4C G7800 svar .U5</cite>