<script>
	import { onMount } from 'svelte';
	import '$src/newberry.scss';
	// import 'carbon-components-svelte/css/g80.css';
	import 'carbon-components-svelte/css/g80.css';
	import Newberry from '$lib/newberry.svelte';
	import Sidebar from '$lib/sidebar.svelte';
	import { pageTitle, top, miradactive } from '$src/stores';
	let shadow = false;
	$top = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 45) {
				shadow = true;
			} else {
				shadow = false;
			}
			if (window.scrollY > 120) {
				$top = true;
			} else {
				$top = false;
			}
		};
	});
</script>

<header class={shadow ? 'shadow' : ''}>
	<div class="logo">
		<Newberry />
	</div>
	{#if $pageTitle[0] !== 'Mapping Movement'}
		<h2 class="right-side-title">Mapping Movement</h2>
	{/if}
</header>

<main>
	<nav>
		<Sidebar />
	</nav>
	<article class={$miradactive ? 'mirador-width' : 'essay-width'}>
		<slot />
	</article>
</main>

<style lang="scss">
	@import '/src/newberry.scss';
	h1,
	h2 {
		color: var(--colorDark);
	}
	.right-side-title {
		z-index: 10000;
	}
	header {
		@include slashy;
		z-index: 3;
		position: fixed;
		top: 0;
		right: 0;
		height: 75px;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		transition-timing-function: ease-out;
		transition: 250ms;
	}
	.shadow {
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2) !important;
	}
	main {
		position: relative;
		margin-top: 75px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
	}
	nav {
		flex-basis: 300px;
		width: 300px;
	}
	.mirador-width {
		width: 100%;
	}
	.essay-width {
		padding: 16px;
		width: 60vw;
	}
	.titlebar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: center;
		margin: auto;
	}
</style>
