<script>
	import Essay from '$lib/essay.svelte';
</script>

<Essay>
	<div slot="title">
		<h1>Maps, Movement, and American Literature</h1>
	</div>
	<div slot="author">
		<p class="author">
			<em> by: </em>
			<span> MARTIN BRÜCKNER </span>
		</p>
	</div>
	<div slot="body">
		<article>
			<section>
				<p class="body-text">
					Mapping movement is a central theme in the texts of canonical as well as lesser known
					works taught today in classes on “American Literature.” From Christopher Columbus’s
					letters reporting on his first voyage (1493) to William Byrd’s History of the Dividing
					Line (ca.1728), from allegorical journey’s such as Mark Twain’s Adventures of Huckleberry
					Finn (1884) to road novels like Jack Kerouac’s On the Road (1957), authors created
					elaborate word maps when tracking personal experiences or fictional characters, settings,
					and spatial actions. In order to make sense of such literary mappings critical studies
					have long pursued micro-analytical approaches delving into word use, etymology, and
					poetics; or, they applied macro-analytical approaches exploring the history of narrative
					form, literary genre, and the role of the literary marketplace. From studies addressing
					matters of geographic and social mobility we have learned over time to think about
					American poems, short stories, plays, and novels as cartographically inflected literary
					proving grounds where American writers explored the trope of the heroic quest, the
					sentimental journey, the utopian/dystopian frontier tale, and the aesthetics as well as
					politics informing the feelings and actions of traveling figures that included the hunter,
					the emigrant, and the runaway slave next to the man or woman of leisure, the working
					fathers and mothers, and the modern figure of the child (Franklin 1979; Lawson-Peebles
					1988; Jehlen 1994; Buell 1995; Hsu 2010).
				</p>
				<p class="body-text">
					In these approaches it is a frequent observation that the representational qualities of
					maps—for example, the Appolonian gaze or “God view,” the scaled symmetry of spatial
					relationships, the rhetorical power of surveillance—have over the centuries informed the
					style of American literature in general and the literary representation of movement in
					particular. It has often been noted that in early American texts cartographic inserts
					served as organizing elements informing contact narratives and colonial histories, such as
					Captain John Smith’s The Generall Historie of Virginia (1624) or Cotton Mather’s
					ecclesiastical tome and hagiography, Magnalia Christi Americana (1702). Or, that maps or
					map-like drawings provided at once the literal and figurative plot for travel accounts
					from The Discoveries of John Lederer (1672), to Andrew Burnaby’s Travels through the
					middle settlements in North-America, in the Year 1759 and 1760 (1775), to Timothy Flint’s
					Recollections of the Last Ten Years, Passed in Occasional Residences and Journeyings in
					the Valley of the Mississippi (1826).
				</p>
				<p class="body-text">
					It has also been frequently noted that between the eighteenth and twentieth centuries many
					United States authors had written their works with a map in hand: James Fenimore Cooper’s
					The Pioneers (1823) and The Chainbearer (1845) abound with references to his father’s
					archive of land surveyor’s plats; Herman Melville’s novels Redburn (1849) or Moby Dick
					(1851) were composed while the author consulted atlas maps and geography handbooks
					published by Jesse Olney; Edgar Allan Poe’s The Narrative of Arthur Gordon Pym (1838)
					provides specific geographical coordinates for navigating the South Pole; and Henry David
					Thoreau’s Walden (1854) offers an intricate metaphor of national identity by meshing
					language, literary form, and the graphic outline of Walden Pond. Similarly, if we
					fast-forward, maps appended works as different as Faulkner’s psychological novel, Absalom,
					Absalom! (1936) or John Steinbeck’s travelogue, Travels with Charley (1962). Maps posed as
					the referential framework in poetry as different as Walt Whitman’s Leaves of Grass (1855)
					and Elizabeth Bishop’s Trial Balances (1935) and Geography III (1976). And last but not
					least, maps were frequently present in the endpapers of American fantasy and action
					novels, such as Frank Baum’s The Wizard of Oz (1900) or Dan Brown’s illustrated edition of
					Angels & Demons (2006).
				</p>
				<p class="body-text">
					As new scholarship in areas ranging from reader response studies to GIS-supported textual
					analysis has shown, the figure of the map—as verbal imitation, direct citation, or
					material insert—had a profound influence on the production and reception of American
					literature. Literary mappings that had been deemed to be metaphorical adaptations in
					American texts turn out to be well-rehearsed transcriptions of particular maps (Padrón
					2004; Brückner 2006). Allusions to map genres, such as New World maps, became a standard
					reference for the way in which early modern authors envisioned unknown lands, processed
					the colonization of a vast continental expanse and numerous peoples, or reconciled
					personal desire for property with communal rules of ownership (Pagden 1994; Buell 1995;
					Newman 2012). Beginning in the late eighteenth-century, the growth of carto-literacy among
					authors and readers aligned even the most casual literary map reference with complex
					discursive patterns of power and reconnaissance, invoking narratological or poetic
					conventions that described, for example, dramatic action, points of view, the geographical
					architecture of settings, and above all the idea of subjective and social mobility
					(Muehrcke 1974; Anderson 1991; Turchi 2007; Padron 2007; Moretti 1995; Cooper and Gregory
					2011; Wilkens 2013).
				</p>
				<p class="body-text">
					Guided by the critical approach of “literary cartography,” this essay examines the factor
					of movement in relation to actual maps that were published along with select prose
					writings that are today considered representative examples of the American literary canon.
					It takes its cue from two developments: first, since the 1980s literary historians have
					increasingly recognized maps as an important paratextual component of American literary
					culture, supplementing not only a wide range of fiction and nonfiction works but the very
					genre of the magisterial literary survey. Second, during the same decades that had
					literary historians debate the definition of the American canon, historians of cartography
					debated conventional map definitions, increasingly accepting maps as a intermedial
					construct tapping graphic, verbal, and performative modes of representation. Today, it is
					fair to say that major anthologies have not only redefined American literature in much
					broader and more inclusionary terms, but have now incorporated the occasional historical
					map along with personal letters, political pamphlets, poems, plays, and novels (Bercovitch
					1994; Lauter 1984; Baym 1989; Jehlen and Warner 1996).
				</p>
				<p class="body-text">
					While map inserts are generally treated as illustrative contexts rather than texts, this
					essay builds on a bibliographic survey of “American” literature published between 1600 and
					2000 which revealed that physical maps were a regular insert in diverse literary genres,
					especially in travel writing, didactic nonfiction (in particular when addressing
					immigrants), and fiction addressing children. Because mobility was central to genres like
					these, the essay explores the trope of movement broadly as an intermedial dialogue between
					literary text and cartographic paratext. To accomplish this, its primary goal is to offer
					a provisional (and thus not comprehensive) survey of nonfiction and fictional prose
					writings that either carried printed maps inside their pages and bindings or that are
					demonstrably informed by a specific map-text nexus. While territoriality, distance
					reading, and spatial thinking ostensibly inform all maps, be they graphic or literary in
					kind, the essay examines patterns of mobility that are mostly located at the intersection
					of a dialogic imagination with the goal of linking the map as the textual tool providing
					orientation and direction to various literary forms and readerly functions.
				</p>
				<p class="body-text">
					Last but not least, in order to describe the relationship between maps and movement as a
					mutually constitutive part of American literary history the essay borrows from
					conventional models of periodization and geography. Three sections track popular literary
					genres across different, at times overlapping, periods defined by popular anthologies of
					American literature published in the English language (Norton; Heath), addressing writings
					that tend to be by and large commensurate with the North American continent, including the
					Caribbean Basin, and the United States territory. The three sections are: “Maps in the
					literature of colonization,” “Maps in the literature of nation formation,” and “Maps in
					the literature of two Gilded Ages, 1900/2000.”
				</p>
			</section>
			<section>
				<h2 class="section-header">Maps in the Literature of Colonization</h2>
				<p class="body-text">
					The history of joining maps to literary efforts intent on parsing the American experience
					as one grounded in movement begins as early as 1493 with the publication of the
					bestselling pamphlet, De Insulis nuper inuentis (1493) containing Christopher Columbus’s
					letter to his patrons, King Ferdinand and Queen Isabella, in which descriptions of his
					experience were supplemented with map-like woodcuts. Within a decade, printers were quick
					to associate maps with travel reports, for example, with the dual publication of Martin
					Waldseemüller’s giant wall map, Universalis Cosmographia Secundum Ptholomaei Traditionem
					et Americi (1507) and Fracanzano da Montalboddo’s volume, Paesi novamente retrovati
					(1507). The Waldseemüller map is today celebrated for inventing “America” because it was
					the first map to name the continent (O’Gorman 1961; Schwartz 2007). Montalboddo’s
					anthology, on the other hand, is credited for publishing the first collection of reports
					detailing journeys to the American continent by, for example, Columbus, Amerigo Vespucci,
					and Gaspar Corte-Real. Within a short period of time, the genre of the travel report not
					only took Europe by storm, but, following the addition of woodcut illustrations by
					enterprising publishers, became associated with maps and the literary trope of mapped
					information, settings, and news events.
				</p>
				<p class="body-text">
					The topics of early modern travel reports revolved around questions of how to make contact
					with America, including tales of reconnaissance, the presence of saleable natural
					resources and commodities, the discovery of unfamiliar fauna and flora, and
					recommendations on how to launch “plantations” or how to negotiate the presence of Native
					Americans, then called “savages.” The language of the early reports shifted back and forth
					between personal diary and encyclopedic histories. Authors frequently struggled for words
					that were capable of reporting unfamiliar plants and objects, thus revealing formal and
					conceptual uncertainties about how to describe the experience of what literary historians
					have dubbed the “marvels” or “wonder” of the New World (Greenblatt 1992; Campbell 1999;
					Bauer 2003). By contrast, the image of maps—even if they were rudimentary, highly
					inaccurate, and frequently imaginary—offered a supposedly more stable and correct view for
					readers interested in tracking travel routes and picturing the geography and biodiversity
					of the new world.
				</p>
				<p class="body-text">
					Illustrated travel reports that included maps and map-like illustrations—from Georg
					Stuchs’s Newe vnbekanthe Landte vnd ein newe Weldte (1513) and Hans Staden’s Warhaftige
					Historia und beschreibung eyner Landtschafft der Wilden Nacketen, Grimmigen
					Menschfresser-Leuthen in der Newenwelt America gelegen (1557) to the bestselling editions
					of Theodor de Bry’s anthology, Newe Welt vnd americanische Historien (c.1650)—which
					included Thomas Hariot’s now canonical work A Briefe and True Report of Virginia
					(1590)—shaped the public imagination in two ways. On one hand, they introduced the myths
					of American cannibalism, the ubiquity of precious metals, and geographical fantasies of
					gaining access to the garden of Eden. On the other hand, they established the tradition
					that writing and reading about journeys to and inside America required maps as much for
					the purpose of navigation as for navigating the text itself. For example, the maps
					appending Captain John Smith’s Generall Historie of Virginia (1624) and John Lederer’s
					Discoveries (1672) contained dotted lines or large inky crosses, offering readers graphic
					signposts that corresponded with the volumes’ table of contents, allowing readers to
					retrace travel routes and encounters with indigenous populations in the Chesapeake Bay
					area and Carolina territory using the two textual landscapes of the map and the printed
					word.
				</p>
				<p class="body-text">
					Smith’s Map of New England (1612) presented a somewhat different narrative model.
					Supplementing the fiercely self-promotional narrative titled Description of New England
					(1612), the map represents a palimpsest mixing authorial and literary ambitions. In the
					narrative, Smith assigns himself controversial powers demanding, under the guise of
					offering practical advice on how to colonize (“plant”) New England properly, the kind of
					trust and authority that is usually reserved for sovereigns and aristocratic government
					agents. In the map, he takes this sense of authority one step further: he not only
					rebaptizes native places with English names, such as “New London,” “The River Charles,” or
					“Oxford,” but inserts the author’s portrait in the margins; accompanied by a laudatory
					poem, Smith’s self-image appears in the symbolic space that mapmakers usually reserved for
					heraldry or other tokens of homage celebrating royalty or high-ranking sponsors supportive
					of risky Atlantic expeditions.
				</p>
				<p class="body-text">
					While in principle the genre of the travel report remains relatively unchanged during the
					sixteenth and seventeenth centuries, the maps that accompanied them suggested a shift in
					compositional direction. The earliest reports were preoccupied with finding America; their
					contents concentrated on the American water/land divide, that is, on the relationship of
					the Atlantic Ocean with the American coast, coastal enclaves, corridors, and possible
					inroads into the continental hinterland (Benton 2010). At the same time, the reports
					experimented with linguistic and literary elements in the effort of rendering the
					unfamiliar in more familiar terms. While early travel accounts introduced to the English
					lexicon neologisms borrowed from European and Native American languages, on the whole (and
					perhaps unsurprisingly) they applied a Euro-centric approach to their literary craft:
					formal travel reports and informal diaries packed the American experience into established
					literary forms that were inflected by the literary protocols of historiography, the
					religious conversion narrative, and the encyclopedic method emerging from the natural
					sciences. Later accounts published during the mid seventeenth century, and thus after
					nearly two centuries of accumulating and mobilizing information, have travel writers
					locate their narratives inside a different hemispheric frame of reference, emphasizing
					(albeit with many overlaps) the Atlantic world and the American continent as one continual
					meta-setting.
				</p>
				<p class="body-text">
					The late seventeenth-century representation of the Atlantic world as a literary setting
					was the product of accounts that conceptualized the new world of America not in
					continental terms but as a watery world defined by the Atlantic Ocean, waterways, and
					islands. Many travel narratives, such as Richard Ligon’s A True and Exact History of the
					Island of Barbados (1657), resembled in narrative structure and content nautical maps like
					those compiled by William Hack’s Waggoner Atlas (1682) and William Blathwayt’s Atlas
					(1675-1685), which merged sea charts with detailed sailing directions in the effort to
					facilitate rapid movement in the Atlantic or Pacific oceans. Ligon’s history illustrates
					how the English-speaking world, driven by its growing focus on the Caribbean sugar and
					slave trade, conceived the experience of America as a succession of movements touching
					ground in unrelated settings between the coasts of Europe, Africa, and American islands.
					In particular Ligon’s spatial conception of the Caribbean strongly resembles the way in
					which early literary and political imaginings conceptualized America in un-continental
					terms.
				</p>
				<p class="body-text">
					Because the geological concept of continents was yet to be fully described and embraced,
					many travel writers and their readers, including members of the British Parliament,
					imagined America as an archipelago of loosely connected islands linked by bodies of water,
					tropical storms, and fantasies of geographic autonomy or nightmares of slave rebellion
					(Lewis and Wigen 1997). In the case of Ligon’s history, the author inserted the map A
					Topographicall Description… of Barbados (1657) in which toponyms and pictorial elements
					anticipate descriptions about land ownership, farming techniques, and slave culture. The
					trope of moving the economically active individual to American islands in the Atlantic
					world was perhaps made most popular by Daniel Defoe’s proto-capitalistic novel, Robinson
					Crusoe (1719), and Jonathan Swift’s satire, Gulliver’s Travels (1726). Other works
					invested in geographic, economic, or spiritual mobility adapted the island theme, such as
					James Grainger’s Georgic poem, The Sugar-Cane (1764); Thomas Paine’s political pamphlet,
					Common Sense (1776); Olaudah Equiano’s autobiography, The Interesting Narrative of the
					Life of Olaudah Equiano (1789), describing his itinerant life as a slave during the 1750s
					and 1770s; and Hector St. Jean Creveceour’s Letters from an American Farmer (1782) in
					which rudimentary maps depicting the islands of Nantucket and Martha’s Vineyard provided
					visual plots for outlining the ideological concept of the “middle state” made popular in
					the now famous “Letter III: What is an American?”
				</p>
				<p class="body-text">
					The focus on Oceanic and Caribbean geographies began to wane as literature devoted to
					travels exploring the space of the continent increased rapidly during the eighteenth
					century. Fueled by the territorial conflicts between France and England, this literature
					included travelogues, natural histories, and geographies, which over the course of the
					decades expanded in geographic reach as well as literary application. While early tours
					like Sarah Kemble Knight’s Diary (1704) of a journey from Boston to Connecticut or
					Alexander Hamilton’s Itinerarium (1744) from Annapolis to Boston served to chart, albeit
					without the use of maps, the narrators’ movements between different local cultures, later
					works that included maps, such as Peter Kalm’s Travels into North America… Enriched with a
					Map (1773) and Jonathan Carver’s Travels Through the Interior Parts of North America
					(1778), turned the localized observations into international bestsellers.
				</p>
				<p class="body-text">
					The land-based continental perspective of movement emerged most fully in writings that
					were based on a handful of maps sponsored by government institutions. For example, John
					Mitchell’s Map of the British and French Dominions in North America (1755) and his
					treatise The Contest in America Between Great Britain and France (1757) not only projected
					a continental extension for most British American colonies but provided language
					reflecting imperial ambitions pursued first by the British Empire and then later by
					American politicians negotiating the territorial claims of the newly formed United States
					of America. A similar impact can be attributed to Lewis Evans’s A General Map of the
					Middle British Colonies (1755), which was published along with his volume, Geographical,
					Historical, Political, Philosophical and Mechanical Essays (1755). Both the Evans map and
					his literary analysis of the mid-Atlantic region propagated the Enlightenment concept
					according to which North America is a pastoral setting capable of accommodating European
					immigrants despite Native American land claims and the increasing dependence on
					slave-based economies (Marx 1964; Franklin 1979; Hallock 2003).
				</p>
				<p class="body-text">
					It is in map accompaniments that readers will find sustained textual examples illustrating
					how maps informed literature of the colonial period and beyond. Combining literary
					conventions pioneered by European travel narratives—emphasizing the experience of the
					traveler/narrator, the careful tally of natural resources, and even the aesthetic
					appreciation of natural phenomena—both the eloquent and the laconic report borrowed amply
					from cartographic elements. Moving from simple inscription to complex imagery, travel
					reports incorporated and/or imitated place names and coordinates, wordy map inserts and
					allegorical cartouche imagery in order to better represent particular spaces, materials,
					and peoples. On occasion the authors’ preoccupation with maps had its pitfalls: For
					example, when European travelers lost their way because they had naively followed Native
					American maps, which, unlike Western cartography, marked places in spatio-temporal terms
					(Warhus 1997; Brückner 2006; Hollis 2011); or, when natural conditions, like shifting
					coastal sands, thwarted the authors’ desire for establishing literal and figurative
					boundaries as described in William Byrd’s History of the Dividing Line (1730; Franklin
					1979); or, when the map as such was deemed to be a tool of representation superior to the
					English language as suggested by Thomas Jefferson’s first two chapters in his Notes on the
					State of Virginia (1784; Brückner 2006). In the examples where colonial authors
					purposefully prepared maps to accompany their writings, their verbal representation
					borrowed the map’s graphic mode of communicating authority by referencing map titles and
					geodetic accuracy, the cartographic lexicon and the supervisory “at a glance” method of
					visualization. Map-based information was presented selectively or generalized, allowing
					writers to name, edit, or omit contested places or unpleasant experiences. While
					references to maps, coordinates, and measurements transformed geographical descriptions
					into literary maps, the same rhetorical ploy frequently served to silence American voices,
					including Native Americans and European minorities, members of the working class and the
					enslaved.
				</p>
			</section>
			<section>
				<h2 class="section-header">Maps in the Literature of Nation Formation</h2>
				<p class="body-text">
					After the Revolution, map-illustrated travel writing evolved into a popular genre,
					allowing several generations of authors to explore the new nation in small or large scale
					accounts as well as experiment with the formal parameters of the travel report (Kolodny
					1984; Lewis 1988; Buell 1995). Sketch maps appended the regional journey documented by
					William Bartram’s Travels through North and South Carolina, Georgia, East and West
					Florida, the Cherokee Country, etc. (1791), which was quickly recognized for its elegiac
					tone and fantastical depiction of the American South. Similarly, Timothy Dwight’s more
					pondering Travels in New England and New York (1823), provided a new generation of writers
					with thick descriptions meshing geography, statistics, and local history. By contrast,
					much more detailed maps accompanied the reports of transcontinental expeditions, such as
					William Clark’s map supplementing Nicholas Biddle’s History of the Expedition under the
					Command of Captains Lewis and Clark (1814); or, Charles Preuss’s maps published in John
					Fremont’s polemical Report of the Exploring Expedition to the Rocky Mountains in the Year
					1842, and to Oregon and North California in the Years 1843-44 (1845) (Allen 1975; Baker
					2006).
				</p>
				<p class="body-text">
					In these writings, even the most rudimentary map—like the one drawn by Bartram—emerged as
					a much-valued reading index for cross-referencing the journeys’ geographical progress with
					musings about the narrator’s psychological state, cultural geography, and the environment.
					Indeed, in the course of the nineteenth-century it could be argued that maps fostered
					literary strategies that turned prosaic descriptions of movement into poetic or
					philosophical masterpieces exploring questions unique to the American experience, in
					particular addressing questions about modern identity in the age of industrial
					mobilization as can be found in the mappings and meditations about life in Concord,
					Massachusetts, and the United States in Henry David Thoreau’s Walden (1854) or his essay
					“Walking” (1862).
				</p>
				<p class="body-text">
					While travel writers used word maps that sketched travel routes charting everything from
					small woods to the whole continent, the perhaps most popular form of experiencing the
					journey through the nation was made available to ordinary people by a burgeoning
					schoolbook industry that incorporated local and national maps into the geography lessons.
					Early slogans, like Noah Webster’s 1788 exhortation that “A tour of the United States
					ought now to be considered as a necessary part of a liberal education” (Webster 1965),
					spurred many authors and readers to consult geography books and their companion atlases as
					the next best alternative for traveling the country without having to leave the comfort
					and safety of the home or classroom. During the era of the early republic, Jedidiah Morse’
					bestselling textbooks, such as Geography Made Easy (1784) shaped the geographical
					imagination of American writers as different as Susanna Rowson and Charles Brockden Brown
					by providing a model in literary mapping according to which fold-out maps—like Amos
					Doolittle’s A Map of the United States of America (1784)—supplemented the textbook’s
					encyclopedic framework intent on inventorying the geography, economy, and cultural customs
					of every state. One feature of Morse’s model and that of a host of other geographers was
					the textbook journey to geographical landmarks, such as the Niagara Falls in upstate New
					York, the Natural Bridge in Virginia, the Mammoth Cave in Kentucky, and so forth. At the
					same time, another feature of early national geography books was the literary construction
					of regionally inflected fictional character types, such as the thrifty New Englander or
					the lazy Virginia Gentleman. While biased and offensive even by contemporaneous standards,
					these place-based stereotypes informed geography lessons that required students to apply
					their textbook knowledge by touring the national map with eyes and fingers in search of
					the places and people that represented the “American character” (Brückner 2006).
				</p>
				<p class="body-text">
					At this point of the survey it is important to note that by the time the War of 1812 had
					ended the widespread inclusion of maps in genres like the travel report and the
					mass-produced textbook had come to define the horizon of literary expectation. At the same
					time, and this coincides roughly with Americans beginning to define literature as
					belletristic writing, the number of “literary” genres anthologized under the rubric of
					“American literature” rarely included a printed map. From the standpoint of the sociology
					and economics of literary production this may come as a surprise because historians of US
					print culture have demonstrated that in the course of the early nineteenth century maps
					were rapidly becoming inexpensive artifacts at the same time when publishers were
					increasingly willing to invest in book illustrations (Brückner 2017; Caspar 2007). From
					the standpoint of literary studies, moreover, the lack of actual maps illustrating
					movement is almost baffling in light of the frequency with which American authors of
					fiction used map references in their creative efforts to convey the American experience in
					thematic terms, for example, when exploring the vagaries of westward migration, class
					mobility, and the journeys of ex-slaves.
				</p>
				<p class="body-text">
					Although prose works, from the historical romance to the short story to the biographical
					sketch, lacked the material presence of maps, three types of fiction in particular
					displayed a strong affinity with popular map genres during the long nineteenth-century:
					picaresque narratives and small-scale overview maps; frontier stories and large-scale
					promotional maps; sensational fiction and river maps.
				</p>
				<p class="body-text">
					Especially during the first decades after Independence, American readers would have found
					that small scale maps, like the Doolittle map in Morse’s School Geography, not only showed
					the nation, the continent, and the transatlantic context, but also provided a convenient
					graphic device when following the plot of picaresque stories and novels. Like their
					European counterpart, the American picaresque chronicled the travels and travails of a
					single or a set of characters, usually of low social standing, whose movements ranged
					across the globe and tended to be episodic as well as highly unstructured because their
					progress was randomly subjected to irrational accidents, like storms and pirate attacks,
					rather than rational designs predicated on stationary planning (Davidson 1986).
				</p>
				<p class="body-text">
					In the anonymous novella, The History of Constantius and Pulchera (1795), the heroine or
					“picara” embarks on an improbable tour that takes the reader from Philadelphia to various
					settings along the North Atlantic rim (Essex, Mass.; Bourdeaux, France; Lisbon, Portugal;
					etc.) only to return in the end to the capital of the United States. Similarly, in James
					Butler’s Fortune’s Football (1798) the male protagonist, the “picaro,” occupies in quick
					succession geographic locales that included London, Venice, Malta, Algiers, London,
					Quebec, Florence, Isphahan, Bagdad, Moscow, and again London. While the characters’ rapid
					encounter of randomly placed settings was central to the story, picaresque stories like
					these required readers to consult small-scale maps—that is, maps showing large areas—in
					order to track the stories’ plots. Indeed, the haphazard movement of characters in novels,
					such as Royal Tyler’s The Algerine Captive (1797) or Charles Brockden Brown’s Memoirs of
					Carwin, the Biloquist (1803-05), loosely resembled the design of cartographic board games.
					Board games from Thomas Jefferys’s Royal Geographical Pastime: Exhibiting a Complete Tour
					Round the World (1770) to Milton Bradley’s The Game of Round the World (1873) mimicked the
					journeys of novelistic characters allowing readers to behave like players whose actions
					relied on chance rather than on personal intent or cultural reason (Brückner 2006).
				</p>
				<p class="body-text">
					A similarly calculated suspension of readerly order informed the mapping motifs in the
					kind of fiction that grappled with life on the western frontier. A good example is
					Caroline Kirkland’s fictionalized biography and novel of frontier manners, A New
					Home—Who’ll Follow? or Glimpses of Western life? (1839). It describes the experience of a
					middle-class East Coast family that, having been displaced by the economic crash of 1837,
					travels to southern Michigan following the paths laid out by large-scale promotional maps,
					that is, by maps showing a smaller area, like John Farmer’s An Improved Map of the
					Surveyed Part of The Territories of Michigan and Ouisconsin (1836). Farmer’s map and those
					designed by land speculators depicted a territory that was not only neatly subdivided
					according to the township system decreed by the US Land Ordinance Act of 1785, but that
					contained the core elements of modern infrastructure, including roads, towns, ferries, and
					so forth.
				</p>
				<p class="body-text">
					In the case of Kirkland’s narrative, however, after enduring detours, impassible roads,
					and nonexisting settlements, the characters (and readers) quickly discover that the map
					preceded the territory, that is, that the information on the map were fictional
					projections rather than factual representations of conditions on the ground. Or, as
					Kirkland writes, according to the “chart” advertising Michigan, there were “canals and
					railroads, with boats and cars at full speed. There was a steam-mill, a windmill or two;
					for even a land-shark did not dare to put a stream where there was scarce running water
					for the cattle; and a state road, which had at least been talked of, and a courthouse and
					other county buildings”—to which she added a quip against the way in which land
					speculators tricked prospective settlers: “Besides all this, there was a large and
					elegantly-decorated space for the name of the happy purchaser” (Kirkland 135). Similar
					tales commenting on the way in which maps had bewitched some characters while others
					bemoaned the blind trust in the authority of maps can be found in the sea novels by Herman
					Melville (Mardi 1849; Moby Dick 1851), in gothic tales by Edgar Allan Poe (The Narrative
					of Arthur Gordon Pym [1837] or “The Gold Bug” [1843]), and in Charles Dickens’s American
					novel, The Life and Adventures of Martin Chuzzlewit (1843-44) which includes a testy
					account of how promotional maps made false promises and lured unsuspecting emigrants to
					the American frontier.
				</p>
				<p class="body-text">
					Maps showing the course of the Mississippi River left perhaps the most profound mark on
					prose works during the long nineteenth century. A veritable “Who’s Who” of authors used
					the river as setting in a variety of genres in order to imaginatively illustrate
					geographic, economic, and social mobility. American readers would have found the river map
					reflected in the narrative plots of travel accounts from Frances Milton Trollope’s The
					Life and Adventures of Jonathan Jefferson Whitlaw; or Scenes on the Mississippi (1836), to
					Mark Twain’s Life on the Mississippi (1883) to George Byron Merrick’s Old Times on the
					Upper Mississippi: the Recollections of a Steamboat Pilot from 1854 to 1863 (1909); in
					novels such as Mayne Reid’s The Quadroon; or, A Lover’s Adventures in Louisiana (1856),
					Herman Melville’s The Confidence-Man: His Masquerade (1857), and George Washington Cable’s
					Gideon’s Band; a Tale of the Mississippi (1914); and in young adult sensational tales from
					Friedrich Gerstäcker’s The River Pirates of the Mississippi (c.1848, 1900) and Edward
					Stratemeyer’s The Rover Boys in Southern Waters; or, The Deserted Steam Yacht (1907).
				</p>
				<p class="body-text">
					Two classic American novels in particular are closely associated with literary
					cartography, linking the delineation of movement to the readerly habit of tracing stories
					with map in hand: Harriet Beecher Stowe’s Uncle Tom’s Cabin (1852) and Mark Twain’s The
					Adventures of Huckleberry Finn (1885). In the case of Stowe’s abolitionist novel, river
					maps—like Norman’s Chart of the Lower Mississippi River (1858)—were at the heart of one of
					the novel’s more poignant scenes of literary mapping. Sitting on the moving deck of a
					riverboat, Tom surveys the southern plantation landscape in the terms of the mapmaker, in
					the process revealing as much as hiding the conditions on land, here how the image of
					neatly surveyed plantations disguised the fact that its picturesque looks were founded
					upon the brutal regime of slavery (Uncle Tom’s Cabin, Ch. 14). Throughout, the novel’s
					plot presupposes a carto-literate audience that is capable of following the fate of the
					principal characters, as they travel southwards on the river from state to state into the
					heart of American slavery and northwards along treacherous roads towards the Canadian
					border and freedom. While Stowe only implies the river map, she offers a more concrete map
					source in an episode reminiscent of the textbook travel lessons discussed above: the New
					England character of Miss Ophelia (and thus Stowe’s implied readership) studies the course
					of the river using “Morse’s Atlas” (Uncle Tom’s Cabin, Ch. 15), thus linking the novel’s
					plot either to Jedidiah Morse’s Modern Atlas Adapted to Morse’s New School Geography
					(1822) or to Morse’s North American Atlas (1845) published by his son Sidney E. Morse.
				</p>
				<p class="body-text">
					River maps loomed even larger in Twain’s famous tale about childhood and rebellion,
					Reconstruction America and the culture of racism. What is well-known today is that as a
					former river pilot Twain used his intimate knowledge of the Mississippi River when
					creating verbal depictions of its meandering course, overgrown banks, and islands, thus
					adding descriptive authenticity to the otherwise fictional construction of the characters’
					vernacular speech and actions. What is perhaps less known is the fact that Twain was
					childhood friends with river pilots who not only helped create actual river maps, here
					Lloyd’s Map of the Lower Mississippi River from St. Louis to the Gulf of Mexico (1862),
					but also served as models for fictional characters like Tom Sawyer (Holland 2008).
				</p>
				<p class="body-text">
					More generally speaking, the river map left its generic mark on the way in which both
					Stowe and Twain structured their narratives. River maps tended to be constructed like
					“strip” or “ribbon” maps, and thus would consist of narrow paper segments showing only the
					land located on the left and right of the river. At the same time, they were often
					assembled as scrolls that were housed in wooden boxes with a display window, allowing
					pilots (and also travelers) to manually turn the ribbon map to match the boat’s position
					on the river. The narrative structures of the two novels behave similarly to these pilot
					maps: characters rarely stray from the river’s course; the omniscient narrators describe
					the hinterland extending beyond the river in mostly superficial terms when compared to the
					interactions with the river and its banks; and the rapid movement of the novel’s scenes,
					which critics today tend to consider as forerunners of a modern “filmic” technique and
					sensibility, resemble the mechanical motion of scrolling through pilot or ribbon maps.
				</p>
			</section>
			<section>
				<h2 class="section-header">Maps in the Literature of two Gilded Ages, 1900/2000</h2>
				<p class="body-text">
					Map inserts representing movement—or for that matter places—remain mostly absent in the
					canon of American fiction during the long twentieth century, despite the fact that many
					authors creatively examined the mobilization of people in relation to modern
					transportation technology and emerging travel opportunities provided by trains, cruise
					ships, bicycles, motorcycles, and of course, the automobile. Bibliographic research
					probing paratextual metadata reveals only a smattering of printed maps supplementing
					novels, poems, and plays. When maps are present, they tend to be added to anniversary
					editions or lesson plans teaching classic works such as Melville’s Moby Dick or F. Scott
					Fitzgerald’s The Great Gatsby (Hopkins and Buscher 1999).
				</p>
				<p class="body-text">
					Yet, cartographic imaginings continued to abound in American prose fiction, in particular
					in novels that were inspired by the rise of the modern city and suburban developments,
					technological change and transnational awareness. In particular authors specializing in
					the genres of “low-brow” fiction, like the penny press Western or detective fiction,
					emulated the graphic code of cartographic representation in order to give depth and
					structure to imaginary landscapes, characters, and actions. For example, Owen Wister’s The
					Virginian (1902) and Zane Grey’s Riders of the Purple Sage (1912) applied the
					representational language of maps in order to better delineate places, in particular when
					creating the illusion of utopian, island-like settings located in the unruly territories
					of the western continent. Conversely, modernist mappings by authors like John Dos Passos
					playfully enlist the reading experience of urban street maps. In the case of Faulkner’s
					conception of “Yoknapatawpha County” a unique insert map appending Absalom, Absalom!
					offers graphic guidance to multiple plot strands and points of view, in short a
					cartographic blueprint for tracking a multitude of objects, emotions, and voices.
				</p>
				<p class="body-text">
					Through the invocation of the visual experience and concept of the map twentieth-century
					literary mappings open up fictive worlds that are multidimensional, and whose spatiality
					is contingent upon a dialectic that pits geographies against ante-geographies according to
					which imaginary places exist not only outside known spaces but appear similar to or
					contiguous with the physical geography of the here and now (Padrón 2007; Turchi 2007,
					Pavlik 2010). Indeed, if we consider American literature as the discourse network
					“1900/2000” (to borrow from Friedrich Kittler’s study Discourse Networks, 1800/1900), thus
					bracketing modern American literary history, we will discover three literary genres
					devoted explicitly to literary cartographies in which maps are joined to literary
					journeys: The grand tour account; journeys to fictional worlds; and the American road
					trip.
				</p>
				<p class="body-text">
					The theme of the mapped “grand tour” entered American fiction during the Antebellum
					decades in the form of fictional or personal travel accounts describing visits to South
					America, the European continent, and the Holy Land for both children and adults. In both
					forms, rudimentary map inserts served the dual didactic purpose of teaching historical and
					national geography while providing blueprints for tracing the movement of fictionalized
					guides in works such as Samuel G. Goodrich’s Peter Parley’s History of the Wanderings of
					Tom Starboard (1834) or John L. Stephens’s Incidents of Travel in Egypt, Arabia Petraea,
					and the Holy Land (1837). After the Civil War, a burgeoning market for young adult fiction
					transformed the grand tour into gender specific genres. Offering geographical
					authentication and readerly guidance, map inserts were thus commonly found in Elizabeth W.
					Champney’s “Vassar girls” adventures (see her Three Vassar girls in South America: a
					holiday trip of three college girls… [1885]) and in Hezekiah Butterworth’s multi-book
					“Zigzag” series for boys. For example, in Butterworth’s Zigzag Journeys in the Western
					States of America; the Atlantic to the Pacific (1884) a foldout map was used to illustrate
					the size of the United States by fitting Europe into the space between California and the
					Mississippi River, while the volume’s endpapers contained map fragments to illustrate
					diverse travel routes next to images showing various modes of transportation. Each of
					these fictional travel accounts, wittingly or not, commented on the travelers’ shifting
					perception of time and space, the impact of speed, or the experience of rapid relocation
					using novel forms of transportation. Inspired by Jules Verne’s novel, Around the World in
					Eighty Days (1873), the American journalist, Nellie Bly, made headlines by embarking on
					the ultimate “grand tour”—later described with a map accompaniment in Nellie Bly’s Book:
					Around the World in 72 Days (1890)—that would have her race around the globe in order to
					break the Verne’s imaginary travel record, with newspaper audiences tracking her progress
					via maps and telegraphed reports (Wong 2007).
				</p>
				<p class="body-text">
					Changes in society and technology resonated strongly in the first American works of
					science fiction and later in the burgeoning genre of fantasy novels. Today, readers are
					perhaps most familiar with maps emphasizing stationary geographies, sweeping vistas of
					countries, continents, or parallel worlds invented in works ranging from extraterrestrial
					canals and waterways in Edgar Rice Burrough’s A Princess on Mars (1912) to the landscapes
					of Middle Earth in J. R. R. Tolkien’s trilogy, Lord of the Rings (1937-1949), from Frank
					Baum’s Wizard of Oz (1900) to Christopher Paolini’s Eragon (2003). Less familiar are the
					fictional maps showing imaginary journeys to unknown continents, the moon, and the deep
					sea that emerged parallel to scientific reconnaissance missions into the heart of Africa
					and Asia, innovations in engineering, and military experiments involving steam ships,
					submarines, balloons, and railroads.
				</p>
				<p class="body-text">
					Popular novels by Jules Verne and his imitators capitalized on what must have been a
					seemingly insatiable appetite for stories that mixed sensational plots and scientific
					theories. The story that caught the attention of American readers for nearly a century
					revolved around the “Hollow Earth” theory. In 1818, and thus long before the publication
					of Verne’s Journey to the Center of the Earth (1864), the American officer, Captain John
					Cleves Symmes, introduced the theory of a hollow earth containing concentric spheres that
					were accessible via large openings (1400 miles across) at both poles. Symmes’s theory
					inspired the anonymous science fiction novel, Symzonia; Voyage of Discovery (1820), in
					which the narrator, after gaining access to the inner surface of the earth at the South
					Pole, discovered a utopian society living deep inside the earth. The hollow earth fantasy
					of finding a parallel universe containing advanced albeit subterranean civilizations
					quickly became a staple of American popular fiction. Besides influencing Poe’s The
					Narrative of Arthur Gordon Pym (1838) and purportedly also Melville’s Moby Dick (1851),
					the hollow earth story had its perhaps greatest following in John Uri Lloyd’s fantasy
					novel Etidorhpa, or, The End of Earth (1895) in which the narrator, upon receiving
					instructions from an underground inhabitant, enters with map in hand the earth’s interior
					continents through a cave in Kentucky. American authors embraced Symmes’s theory far into
					the twentieth century, but none offered as explicit a map as did William Reed’s
					illustrated study of polar expeditions, The Phantom of the Poles (1906) showing the
					“Hollow Earth”).
				</p>
				<p class="body-text">
					The final prominent genre containing the occasional map insert consists of “road” fiction
					and biographies that involved traveling long distances across the United States by car and
					more recently also by motorcycle, bicycle, and even on foot. Since the advent of the
					mass-produced car, the American media, and in particular car advertisements, has coined
					the “road trip” as a fantasy of unfettered geographical and social mobility. Fiction
					writers, many of whom were working freelance for movie and advertising companies,
					developed the theme of road travel into a productive metaphor, plot device, agent of
					action, even character—think Ian Fleming’s Chitty-Chitty-Bang-Bang: The Magical Car (1964)
					or Stephen King’s horror novel Christine (1983)—in order to convey life in a fast-paced
					America that was always on the move.
				</p>
				<p class="body-text">
					Classic modern narratives—from F. Scott Fitzgerald’s The Great Gatsby (1924) and John
					Steinbeck’ Grapes of Wrath (1938) to Jack Kerouac’s On the Road (1957) and Toni Morrison’s
					Song of Solomon (1977)—created elaborate literary maps exploring the exigencies of
					movement in modern American society. But while these novels omitted physical maps,
					autobiographical writings by John Steinbeck and William Least Heat-Moon purposefully
					included maps as part of the literary experience. The endpapers of Steinbeck’s travelogue,
					Travels with Charley (1962), depicted a road trip along the perimeter of the United States
					with the goal to find some answer to the question “What are Americans like today?”
					Heat-Moon’s Blue Highways (1982), whose title is named after the cartographic convention
					of drawing secondary roads in the color blue, allows readers to follow with map in hand
					the author’s adventures and soul-searching meditations compiled during a 13,000-mile
					journey across America and through mostly forgotten small towns.
				</p>

				<p class="periphera">***</p>

				<p class="body-text">
					When searching American literature for the presence of physical maps and the rhetoric of
					mapping in relation to the theme of movement and spatial representation, readers of
					critical studies will quickly discover an impasse formulated best by Henri Lefebvre’s
					somewhat cautionary assertion “that any search for space in literary texts will find it
					everywhere and in every guise” (Lefebvre 1991, 15). But when he asks the question “how
					many maps, in the descriptive or geographical sense, might be needed to deal exhaustively
					with a given space, to code and decode all its meanings and contents?” (85), the answer
					for readers of American literature despite the scarcity of the physical artifact would
					have to be “many.” Inspired by spatial theories like Lefebvre’s recent approaches to
					American literature tend to be informed by critical methodologies whose discussion of maps
					and mapping has provided new perspective and energy to literary criticism more generally
					(Brückner 2016).
				</p>
				<p class="body-text">
					Studies invested in “literary cartography” frequently invoke the terms and protocols
					developed by, for example, Michel de Certeau (maps are “a memorandum prescribing actions”;
					de Certeau 1984, 120), Gilles Deleuze and Felix Guattari (“the map does not reproduce an
					unconscious closed in upon itself; it constructs the unconscious”; Deleuze 1987, 12), or
					Jean Baudrillard (“the map precedes the territory”; Baudrillard 1994, 1). As the discourse
					of maps has come to pervade discussions of literary form and the tools of literary
					analysis, it is only a short leap to align older residual discussions of the factor of
					movement with the new critical terms of a modern mapping function, reconciling the
					classical rhetorical “topos” with the early modern neologism of “plot,” the early modern
					quest or pilgrimage motif with poststructural uses of “narrative,” and modern spatial
					idioms linking “travel” and “exploring” to “colonization” and “decolonization.” Indeed, it
					was the representational power of maps that has by now encouraged literary scholars to
					speculate how maps mobilized American literary culture figuratively and literally. If we
					consider Benedict Anderson’s critique of nationalism in relation to the history of print
					culture and Edward Said’s exploration of culture and imperialism, not to mention more
					recent discussions of transnational literature and identity, the discourse of maps and the
					language of mobility provide a fertile contact zone for addressing movement in a wide
					range of American literatures across time and space (Anderson 1991; Said 1993).
				</p>
				<p class="body-text">
					New editions of The Norton Anthology of American Literature or The Heath Anthology of
					American Literature still include maps in the endpapers (“North America to 1700” in front
					and “The United States: A Literary View” in the back). These maps track the movement of
					texts, characters, and readers in their historical moment spaces, thus suggestively making
					the representation of the map advance as the graphic container of literary history (Baym
					1989; Lauter 2006; Alberti 2006). Indeed, if we accept Franco Moretti’s approach to the
					European novel, the conceptual tools of literary cartography emerge as a productive
					critical tool because only by mapping the text (and Moretti really wants us to use graphic
					maps) will we “bring . . . to light relations that would otherwise remain hidden” (Moretti
					2005, 3). With the aid of the computational powers of “literary GIS” applications, new
					methodological models are now able to recover lost or overlooked map-based movements in
					American literature. Through digitization, both the map insert and the ubiquitous word map
					can easily be transformed into metadata that will allow the next generation of students to
					bridge the gap that has historically separated textual and cartographic representations of
					spaces in order to reclaim and better understand the meaning of movement in American
					literature.
				</p>
			</section>
		</article>
	</div>
</Essay>
