<script lang="ts">
	import type { BiggerPictureInstance } from 'bigger-picture';
	import { Tile } from 'carbon-components-svelte';
	import { onMount } from 'svelte';
	import { loadBp } from '$utils/load-bp';
	import Search from 'carbon-icons-svelte/lib/Search.svelte';
	import ZoomIn from 'carbon-icons-svelte/lib/ZoomIn.svelte';

	import Close from 'carbon-icons-svelte/lib/Close.svelte';
	import CloseFilled from 'carbon-icons-svelte/lib/CloseFilled.svelte';
	import CloseOutline from 'carbon-icons-svelte/lib/CloseOutline.svelte';
	import { PageBreak } from 'carbon-icons-svelte';

	export let item = {};
	let showMiradorCloseButton = false;
	function toggleMiradorCloseButton(x) {
		showMiradorCloseButton = x === 'show' ? true : false;
		// showMiradorCloseButton = x === 'show' ? true : false;
	}

	let bp: BiggerPictureInstance;
	function openBiggerPicture(e: Event) {
		e.preventDefault();
		const target = e.currentTarget as HTMLAnchorElement;
		bp.open({
			items: target.parentElement!.children,
			el: target,
			intro: 'fadeup',
			onOpen: () => toggleMiradorCloseButton('show'),
			onClose: () => toggleMiradorCloseButton('hide')
		});
	}
	onMount(async () => {
		// use onMount to define variable so it runs only in the browser
		console.log(item.iframe);
		bp = await loadBp();
	});
	let buttonType = 'off';
	function closeMirador() {
		bp.close();
		toggleMiradorCloseButton('hide');
	}
	function buttonHover(val) {
		buttonType = val;
	}
</script>

{#if showMiradorCloseButton}
	<div class="close-mirador-button">
		<button
			on:click={() => closeMirador()}
			on:mouseover={() => buttonHover('over')}
			on:mouseenter={() => buttonHover('over')}
			on:focus={() => buttonHover('over')}
			on:mouseleave={() => buttonHover('off')}
		>
			{#if buttonType === 'over'}
				<CloseFilled fill="var(--colorDark)" size="32" />
			{:else}
				<CloseOutline fill="var(--colorDark)" size="32" />
			{/if}
		</button>
	</div>
{/if}
<Tile>
	<slot name="title" />
</Tile>
<div class="map-wrpr">
	<div class="bp-box">
		<a
			on:click={openBiggerPicture}
			href={item.href}
			data-thumb="/loading.svg"
			data-alt={item.alt}
			data-iframe={item.iframe}
		>
			<div class="glass-wedge">
				<!-- <Search size={64} fill="var(--colorLight)" /> -->
				<ZoomIn size={64} fill="var(--colorLight)" />
			</div>
			<img src={item.thumb} alt={item.alt} />
		</a>
	</div>
	<Tile>
		<slot name="main-text" />
		<slot name="citation" />
	</Tile>
</div>

<style lang="scss">
	:global(.MuiButtonBase-root, .MuiIconButton-root, .mirador-window-maximize) {
		margin-right: 48px;
	}
	:global(.bp-inner svg) {
		fill: #0000;
		animation-duration: 690ms;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: rotate;
		animation-timing-function: linear;
		width: 5.5rem;
		height: 5.5rem;
	}
	:global(.bp-inner svg circle) {
		stroke: #0f62fe;
		stroke-dashoffset: 52.527552;
		stroke-dasharray: 276.4608 276.4608;
		stroke-linecap: butt;
		stroke-width: 10;
		animation-duration: 10ms;
		animation-name: init-stroke;
		animation-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
	}
	.map-wrpr {
		padding: 16px 64px;
	}
	.bp-box {
		a {
			position: relative;
			display: flex;
			img {
				width: 100%;
				height: 100%;
			}
			.glass-wedge {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				padding: 32px;
				background: linear-gradient(
					30deg,
					rgba(37, 37, 37, 0.5) 0,
					rgba(37, 37, 37, 0.5) 150px,
					rgba(37, 37, 37, 0) 150px,
					rgba(37, 37, 37, 0) 100%
				);
			}
		}
	}
	:global(.bp-if) {
		position: relative !important;
		width: 100% !important;
		height: 100% !important;
	}
	:global(iframe) {
		position: absolute !important;
		left: 256px !important;
		top: 75px !important;
		bottom: 0 !important;
		right: 0 !important;
		width: calc(100% - 256px) !important;
		height: calc(100% - 75px) !important;
		// width: calc(100vw - 256px);
		// height: calc(100vh - 76px);
		// margin-left: 256px;
		// margin-top: 76px;
	}
	.close-mirador-button button {
		z-index: 10000;
		position: absolute;
		right: 10px;
		top: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		cursor: pointer;
		border-radius: 50%;
		border: 0;
		border: 1px solid rgba(0, 0, 0, 0);
		background: rgba(0, 0, 0, 0);
		&:hover {
			background: var(--colorLight);
		}
	}
</style>
