<script>
	import { data } from '$src/stores';
	import { AspectRatio } from 'carbon-components-svelte';
	const imgList = [
		'demo-image-0.jpeg',
		'demo-image-1.jpeg',
		'demo-image-2.jpeg',
		'demo-image-3.jpeg',
		'demo-image-4.jpeg',
		'demo-image-5.jpeg',
		'demo-image-6.jpeg',
		'demo-image-7.jpeg',
		'demo-image-8.jpeg',
		'demo-image-9.jpeg',
		'demo-image-10.jpeg',
		'demo-image-11.jpeg',
		'demo-image-12.jpeg'
	];
	export let idx = Math.floor(Math.random() * $data[1].length);
	let randoImgIdx = $data.length > imgList.length ? $data.length - imgList.length : idx;
</script>

<div class="featured-image">
	<AspectRatio ratio="16x9" class="loading">
		<a href={$data[1][idx][1]}>
			<div
				class="loaing"
				style="background: url('demo-images/demo-image-{randoImgIdx}.jpeg'); background-attachment: fixed; background-size: cover;"
			/>
			<p class="image-caption">
				{$data[1][idx][0]}
			</p>
		</a>
	</AspectRatio>
</div>

<style lang="scss">
	@import '$src/newberry.scss';
	.featured-image {
		// max-width: 75ch;
		margin: 0 64px 32px 64px;
	}
	.loaing {
		height: 100%;
		width: 100%;
	}
	.loading {
		height: 100%;
		width: 100%;
		min-height: 250px;
		min-width: 250px;
		border: 2px solid var(--colorDark);
		// box-shadow: inset 0 0 10px var(--colorLight);
		text-align: center;
		background: var(--colorLight);
		background: repeating-linear-gradient(
			-45deg,
			var(--colorLight),
			var(--colorLight) 20px,
			var(--colorDark) 20px,
			var(--colorDark) 40px
		);
		background-size: 400% 400%;
		animation: gradient 60s linear infinite;
	}
	@keyframes gradient {
		0% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	.image-caption {
		@include fooncy-links;
		text-align: center;
	}
</style>
