<h1 class="gallery-page-title">The Gold and Coal Fields of Alaska, 1898</h1>
<h2 class="parent-essay-title">Maps of Trails and Roads of the Great West</h2>
<div class="main-text">
<p class="main-text-p">Already well established by the end of the nineteenth century, The US Coast and Geodetic Survey (1878) and the US Geological Survey (1879) were civilian governmental successors to the US Army Corps of Topographical Engineers. This Geological Survey map is a close copy of Chart T of the Coast and Geodetic Survey map and accompanying description of Alaska published in 1897 and was prepared in accordance with a resolution of the US Congress of 1898.</p>
</div>
<h3 class="map-title">The Gold and Coal Fields of Alaska, 1898</h3>
<cite>Geological Survey (U.S.), "The Gold and Coal Fields of Alaska : Together with the Principal Steamer Routes and Trails" ([Washington, DC] : U.S. Geological Survey, 1898). Map4C G4371.H1 1898 .U5</cite>