<h1 class="gallery-page-title">Florida and the Apalachee Lands, 1598</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">After consolidating ther hold on the Caribbean, the Spaniards explored the land to the north of the Gulf of Mexico. Alvar Núñez Cabeza de Vaca (c. 1485-c. 1559) led an expedition there between 1528 and 1536, and this was followed by the expedition of Hernando de Soto (1496-1542), which ranged over vast distances between 1539 and 1543. The De Soto expedition generated a particularly full manuscript map of the huge area covered, and this map then became the source for the printed map of the area found in the 1584 edition of Abraham Ortelius’s great atlas, the Theatrum Orbis Terrarum.</p>
<p class="main-text-p">Our map draws from these precursors, as well as others, and is the work of “a public servant with an interest in geography,” as R.A. Skelton puts it. Wytfliet had compiled an atlas of nineteen maps showing various parts of the New World, oddly titling it as an addition to the works of Ptolemy. There is no evidence that Wytfliet had access to any unpublished information; he simply relied on the standard and readily available printed works. His atlas thus resembled other collections of maps and texts of the late sixteenth century by enterprising entrepreneurs like Giovanni Battista Ramusio, Theodor de Bry, and Richard Hakluyt.</p>
<p class="main-text-p">The original manuscript map by Alonso de Santa Cruz had shown a great variety of more or less fanciful rivers emptying into the Gulf of Mexico; it also inserted a large number of indigenous settlements. The printed version by Ortelius and Wytfliet greatly simplified the manuscript map, leaving out many of the settlements and rivers. It nevertheless succeeded in offering a good general impression of the area, complete with figures of latitude and longitude, the latter fairly imprecise.</p>
<p class="main-text-p">Prominent among the rivers flowing into the Gulf is the “R. de S. Spirito,” which from its size and position must surely be an attempt to show the Mississippi River. “Florida” at the time was often shown as occupying the whole southern area of what is now the United States; the prominence of “Apalche” commemorates the ill-known Indian group known as the “Apalachee,” described by Cabeza de Vaca. The careful delineation of Cuba and the Bahama Islands reflects early Spanish knowledge of that area.</p>
 
</div>
<h3 class="map-title">Florida and the Apalachee Lands, 1598</h3>
<cite>Wytfliet, Corneille, "Florida et Apalche" in Descriptionis Ptolemaicae Augmentum : siue Occidentis Notitia Breui Commentario Illustrata ... (Louvain : Gerardus Rivius, 1598), between p. 176-177. VAULT Ayer 6 .P9 W9 1598</cite>