<h1 class="gallery-page-title">The Territory of Montana, 1870</h1>
<h2 class="parent-essay-title">Maps of Trails and Roads of the Great West</h2>
<div class="main-text">
<p class="main-text-p">Walter Washington De Lacy (1819-1892) was a military engineer and surveyor who compiled and drew this map for the Surveyor General’s Office in Helena, Montana Territory; it was published in New York City by G.W. and C.B. Colton & Co. George Woolworth (1827-1901) and Charles B. Colton (1832-1916) were the sons of Joseph Hutchins Colton (1800-1893) and the inheritors of his publishing business. In addition to being a publisher, G.W. Colton also was a geographer, engraver, and mapmaker, which his father and brother were not. This map is from a wax engraving and is a revised version of one first done in 1865. It is updated with critical information on the country surrounding the headwaters of the Yellowstone River from an expedition to the area in 1869 led by C.W. Cook and David E. Folsom. In the lower left hand corner there also is an inset projecting the route of the Northern Pacific Railroad, which was begun in 1864 but not completed until 1883. The progress of this railroad helped to bring about the end of much of the previous traffic on the northern overland trails.</p>
<p class="main-text-p">J.H. Colton founded his firm in 1831, and in the decades that followed it rose to prominence especially in the publication of atlases, maps, and travel guide books, especially covering the American West. By 1865 when the sons took over the business, J.H. Colton & Co. had contributed greatly to the rise in importance of New York in the map trade and became an important rival of Mitchell & Co. For the next thirty years or so, G.W. and C.B. Colton carried on in the tradition of their father. The Coltons published their last map in 1892.</p>
</div>
<h3 class="map-title">The Territory of Montana, 1870</h3>
<cite>De Lacy, Walter Washington, "Map of the Territory of Montana with Portions of the Adjoining Territories", (New York : G.W. & C.B. Colton & Co., 1870). VAULT drawer Graff 1040</cite>