<h1 class="gallery-page-title">A Wire across the Continent, 1866</h1>
<h2 class="parent-essay-title">Mapping Communication</h2>
<div class="main-text">
<p class="main-text-p">This map shows one section of the first transcontinental telegraph line, which connected the eastern United States to California in 1861. The line was constructed by the Western Union Telegraph Company along with a consortium of California firms that formed the California State Telegraph Company, later the Overland Telegraph Company of California. Western Union’s telegraph to the Pacific followed the eastern portion of the Oregon Trail as far west as Wyoming, then ran southwest to Salt Lake City and across the desert to Carson City and Sacramento. This map shows the route of the telegraph between Salt Lake City and Austin, Nevada, the last portion of the line to be completed and probably the hardest to construct.</p>
<p class="main-text-p">The map gives some sense of the harsh terrain to be traversed: mountain ranges, roads “passable only in summer,” and deserts “destitute of vegetation.” This last notation hints at one of the biggest challenges in building the line: finding trees with which to make telegraph poles. There were no suitable trees in the desert, so construction crews had to scour the mountains for miles around, sometimes hauling poles hundreds of miles to be erected.</p>
<p class="main-text-p">Western Union secured help from the federal government to build this section of the line, along with the cooperation of the Shoshone and Paiute tribes of the Great Basin, and the Church of Latter Day Saints. The Mormons furnished Western Union with timber as well as labor, food, and transportation. Western Union paid the church $11,000 in gold for its aid, along with assistance in constructing a church-owned telegraph linking the main Mormon settlements (Arrington 1951). When the transcontinental line was completed, church leader Brigham Young was the first to send a message from Salt Lake City to San Francisco.</p>
<p class="main-text-p">The telegraph to the Pacific made obsolete the Pony Express, a system of horses, riders, and relay stations established only eighteen months before. The Express could carry letters from Missouri to California in about ten days. In November 1860, its horses and riders broke all previous records when they brought news of Abraham Lincoln’s election to California only seven days and seventeen hours after it left the East Coast. But the telegraph was nearly instantaneous, and the Express lost money on every trip. Two days after the completion of the transcontinental telegraph in October 1861, the Pony Express suspended operations for good.</p>
 
</div>
<h3 class="map-title">A Wire across the Continent, 1866</h3>
<cite>Welton, E. W., "Map of the California State Telegraph, and Overland Mail Road : Austin to Great Salt Lake City : From Actual Survey, Aug., 1866" (manuscript, 1866). VAULT oversize Graff 4589</cite>