<h1 class="gallery-page-title">Variations of the Compass, Atlantic Ocean, 1732</h1>
<h2 class="parent-essay-title">Navigating the Coasts and Seas</h2>
<div class="main-text">
<p class="main-text-p">One of the most important technologies in the history of maritime navigation is the compass, a device based on the fact that the earth has a distinct magnetic field, and that magnetized materials will tend to line up in parallel to the lines of the local magnetic field. Sometime around 1000 CE, magnetic needle compasses that could be used on ships were developed in China, and spread rapidly around the world. From the beginning, it was noted that compass needles pointed only generally north and south, and that the difference in direction, or deviation, of the compass needle changed slowly as one traveled. With further experience with compasses, it was realized that the deviation of a compass that never moved from one spot changed as well, although very slowly.</p>
<p class="main-text-p">In 1701, Edmund Halley synthesized his own observations of the deviation of the compass over the expanse of the South Atlantic ocean, and combined them with the observations of the much more frequently traveled North Atlantic, to create what is in some ways a three-dimensional model of the earth’s magnetic field, in which the major lines of magnetic force above the planet are projected down onto the surface. Halley developed the very first isogonic lines to represent the deviation of the magnetic field from true north-south orientation. The central undulating line represents the thin zone where compass needles actually do point north-south. West of that line, compass needles point east of north, and east of the line compass needles point west of true north. All points along any of Halley’s isogonic lines will have the same deviation from true north-south.</p>
<p class="main-text-p">There are small steady changes in deviation over years everywhere, called secular variation. It is conjectured that the slow circulation of molten metal in the earth’s core and aesthenosphere are the causes of secular variation. Several decades after the publication of his first map, secular variation had changed enough that Halley researched and then published a revised second edition of his map, in 1732.</p>
 
</div>
<h3 class="map-title">Variations of the Compass, Atlantic Ocean, 1732</h3>
<cite>Halley, Edmond, "A New and Correct Chart Shewing the Variations of the Compass in the Western & Southern Oceans" in The English Pilot : the Fourth Book : Describing the West-India Navigation, from Hudson’s-Bay to the River Amazones ... (London : Printed for Thomas Page and William Mount, 1732), plate 1. Baskes oversize G1106.P5 E5 1732</cite>