<script>
    import { page } from '$app/stores'
    import Newberry from '$lib/components/newberry.svelte'
    import {y, h} from '$lib/stores'
    export let title = {
        title: 'Mapping Movement'
    }
</script>

<svelte:window bind:scrollY={$y} bind:innerHeight={$h} />
<header class="wedgie {$y > 45 ? 'shadow' : ''}">
    <div class="logo">
        <Newberry />
    </div>
    <h1>
        {title.title}
    </h1>
    {#if  $page.url.pathname !== '/'}
        <h2 class="backup-title">
            Mapping Movement
        </h2>
    {/if}    
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 100ms;
    }
    .logo, .backup-title {
        position: absolute;
    }
    .logo {
        left: 8px;
    }
    .backup-title {
        right: 8px;
    }
    .shadow {
        box-shadow: var(--shadow-3);
    }
    h1 {
        margin-left: 256px;
    }
</style>
