<h1 class="gallery-page-title">The Seat of War in New England, 1775</h1>
<h2 class="parent-essay-title">Moving Pictures: Maps and Imagination in Eighteenth-Century Anglo-America</h2>
<div class="main-text">
<p class="main-text-p">The map provides no author, saying only that it was the product of “An American Volunteer” presumably present for the attack on Breed’s (Bunker) Hill. Despite its authorship, the map was printed in London in 1775. The map thus obscures authorship but does make sure its readers know that, for example, the map of Boston harbor in the upper right was from “an actual survey.” The map features some impressive artwork, particularly in the dramatic scene of British ships bombarding Charlestown.</p>
</div>
<h3 class="map-title">The Seat of War in New England, 1775</h3>
<cite>"The Seat of War in New England" (London : Robert Sayer & John Bennett, 1775). Ayer 133 .S46 1775</cite>