<h1 class="gallery-page-title">Map of Kentucky, 1784</h1>
<h2 class="parent-essay-title">European Maps for Exploration and Discovery</h2>
<div class="main-text">
<p class="main-text-p">By the 1780s, Europeans had established settlements in many areas of inland north America, as well as along many coasts. Spaniards had long been established on the Rio Grande, as far north as Santa Fe, and there were French settlements along the great arc of inland waterways, from New Orleans to Québec, passing through the Great Lakes. English settlements had pushed westward to the mountain barrier of the Appalachians, though here for the time being they had been halted, both by the terrain and by the disinclination of the British government to allow further westward expansion into lands occupied by indigenous peoples.</p>
<p class="main-text-p">With the conclusion of the Revolutionary War, the British impediment to settlement across the Appalachians was removed, and our map belongs exactly to that period. It was drawn by John Filson (c. 1747-1788), who was himself part of the expansion, having acquired lands in Kentucky about 1783, the year of the Peace of Paris, ending the war between Great Britain and the newly-United States. The very next year, Filson published The Discovery, Settlement and Present State of Kentucke, which was accompanied by this map. This account of frontier possibilities proved extremely popular, appearing in both French (1785) and German (1790) editions. Its tone was set by the appendix describing the adventures of Daniel Boone, the very model of the frontiersman.</p>
<p class="main-text-p">The map also went through several editions. In the center is Lexington, where Filson first settled, and a little south of that is “Coll. Boon’s.” Louisville has emerged to the west, on the Ohio River, and the “explanation” at the top lists the objects of interest in an emergent territory; not only towns and mills, but also “salt springs,” “licks” and “wigwams.” Maps like this were a powerful incentive to draw both residents and immigrants into the process of westward expansion, for they projected the image of a settled country, in which new settlers could easily imagine themselves selecting a promising site. The very style of the map, with its cool elegance, belied the reality on the ground, which was one of wilderness and contention.</p>
 
</div>
<h3 class="map-title">Map of Kentucky, 1784</h3>
<cite>Filson, John, This Map of Kentucke, Drawn from Actual Observations ..." (Philadelphia : Henry D. Pursell and T. Rook, 1784). VAULT oversize Graff 1323 no. 2</cite>